<div class="ad ad--epic ad--desktop" data-ad-text="show">
    <div data-ad-id="{epicAdId}" data-ad-position="desktop" data-ad-refresh="adtop">
        <div id="{epicAdId}" class="ad-{epicAdId} ad-refresh-adbody"></div>
    </div>
</div>
