<li>
    <article class="cd cd--tool cd--tool__outbrain">
        <div class="OB_{widgetid}">
            <div class="OUTBRAIN js-m-outbrain m-outbrain"
                 data-src="{editionizedUrl}"
                 data-widget-id="{widgetid}"
                 data-ob-template="cnn">
             </div>
        </div>
    </article>
</li>
