//  =================================================
//
//  Theme: Light (light-theme)
//
//  Description:
//  Define the SASS Map for the light theme.
//
//  =================================================

@import "_light-theme-zone";
@import "_light-theme-card";
@import "_light-theme-el";
@import "_light-theme-page";

$light-theme: (

    // Zone (zone)
    zone: $light-theme-zone,

    //  Card (card)
    card: $light-theme-card,

    //  Elements (el)
    el: $light-theme-el,

    //  Page (page)
    page: $light-theme-page
);
