$light-theme-el: (
    ad: (
        color: $gray-8
    ),
    ad-sponsored: (
        background-color: $gray-3,
        container-title: (
            background-color: $bgcolor-sponsorHeader,
            color: $white
        )
    ),
    banner: (
        color: $gray-11
    ),
    button: (
        background: $gray-8,
        color: $gray-2,
        hover: (
            background: $gray-8,
            color: $gray-2
        )
    ),
    comments:(
        background: $gray-2,
        color: $gray-10,
        divider: $gray-4
    ),
    container:(
        button: (
            background: $gray-4,
            color: $gray-10
        )
    ),
    editors-notes: (
        color: $gray-8
    ),
    flags: (
        exclusive: (
            color: $cnn-red,
            background: $gray-3
        ),
        developing: (
            color: $gray-1,
            background: $gray-9
        ),
        breaking: (
            color: $gray-1,
            background: $cnn-red
        ),

        // @TODO: Rename and follow proper conventions.
        entertainment_special: (
            color: $gray-1,
            background: $cerulean-m5
        ),
        entertainment_info: (
            color: $cerulean-m5,
            background: $teal-m0
        )
    ),
    follow: (
        color: $gray-12,
        background: none
    ),
    link: (
        color: $blue-dark,
        hover: $cnn-red
    ),
    media-caption: (
        color: $gray-9
    ),
    pinstripes: (
        border-bottom: 4px $gray-4 solid,
        border-top: 4px $gray-4 solid,
        height: 1px
    ),
    share: (
        active: (
            color: $white
        ),
        inactive: (
            background: (
                color: $gray-4
            ),
            color: $gray-6
        ),
        email: (
            background: (
                color: $bgcolor-email
            )
        ),
        facebook: (
            background: (
                color: $bgcolor-facebook
            )
        ),
        twitter: (
            background: (
                color: $bgcolor-twitter
            )
        ),
        whatsapp: (
            background: (
                color: $bgcolor-whatsapp
            )
        ),
        messenger: (
            background: (
                color: $bgcolor-messenger
            )
        ),
        share: (
            background: (
                color: $bgcolor-ellipse
            )
        )
    ),
    signin: (
        color: $gray-11,
        hover: $cnn-red
    ),
    story-highlights: (
        before: $red-2,
        border: $gray-4,
        color: $gray-11
    ),
    weather: (
        submit: (
            background: $gray-3,
            color: $gray-8,
            disabled: (
                background: $gray-3,
                color: $gray-8
            )
        ),
        toggle: (
            background: $gray-2,
            color: $gray-8,
            active: (
                background: $gray-6,
                color: $gray-14
            )
        ),
        query: (
            background: $gray-14,
            border-color: $gray-4,
            color: $gray-8,
            error: (
                background: $gray-14,
                border-color: $red-1,
                color: $red-1
            )
        ),
        dropdown: (
            background: $gray-3,
            border-color: $gray-4,
            color: $gray-8,
            hover: (
                background: $gray-14,
                color: $link-blue
            )
        ),
        header: (
            color: $gray-11
        ),
        icon: (
            color: $gray-6
        ),
        close: (
            color: $gray-6
        ),
        location: (
            color: $gray-11
        ),
        current: (
            color: $gray-6
        )
    ),
    markets: (
        item: (
            color: $gray-12
        ),
        quote: (
            background-color: $gray-3,
            color: $gray-8,
            hover: (
                background-color: $gray-2
            )
        ),
        dropdown: (
            background-color: $gray-3,
            color: $gray-8,
            hover: (
                background-color: $gray-1
            )
        ),
        tabs: (
            color: $gray-12,
            background: $gray-1
        )
    )
);
