$light-theme-page: (
    body: (
        background: $gray-1,
        gradients: (
            upper: (
                end: transparent,
                height: 0%,
                start: (
                    alpha: 0,
                    color: transparent
                )
            ),
            lower: (
                end: $gray-1 75%,
                height: 100%,
                start: (
                    alpha: 0,
                    color: transparent
                )
            )
        )
    ),
    branding: (
        text: (
            color: $gray-8
        )
    ),
    copy: (
        color: $gray-11
    ),
    headline: (
        color: $gray-12
    ),
    metadata: (
        color: $gray-8,
        secondary-color: $gray-8
    )
);
