$light-theme-zone: (
    background: $gray-1,
    color: $gray-11,
    stripes: (
        border-bottom: 4px $gray-4 solid,
        border-top: 4px $gray-4 solid,
        height: 1px
    ),
    gradients: (
        upper: (
            end: transparent,
            height: 0%,
            start: (
                alpha: 0,
                color: transparent
            )
        ),
        lower: (
            end: $gray-1 75%,
            height: 100px,
            start: (
                alpha: 0,
                color: transparent
            )
        )
    )
);
