$light-theme-card: (
    background: (
        alpha: .75,
        color: transparent,
        jumbotron: transparent,
        overlay: rgba($gray-14, .85)
    ),
    carousel: (
        controls: (
            color: $gray-1
        ),
        dots: (
            active: $gray-10,
            inactive: $gray-5
        )
    ),
    copy: (
        highlight: (
            color: $red-1
        ),
        inactive: (
            color: $gray-7
        ),
        meta: (
            color: $gray-8
        ),
        standard: (
            color: $gray-11
        ),
        jumbotron: (
            primarycolor: $gray-11,
            secondarycolor: $gray-10
        )
    ),
    title: (
        standard: (
            background-color: $gray-2,
            link-color: $gray-3,
            color: $gray-10,
            hover: (
                background-color: $gray-3,
                link-color: $gray-5
            )
        ),
        pg-rail: (
            background-color: $gray-2,
            color: $gray-10,
            hover: (
                background-color: $gray-3,
            )
        )
    ),
    story-icon: (
        color: $gray-6
    ),
    divider: (
        border-bottom: 1px $gray-4 solid,
        color: $gray-4
    ),
    social: (
        background: $gray-4,
        icon: $gray-6,
        hover: (
            background: $gray-4,
            icon: $gray-6
        )
    )
);
