//
// follow button
//
// file: loud/elements/buttons/_follow.scss
//
// description:
// Follow modifier for global button element
//
// note:
// Should be used in conjunction with `.el-button` class.
// See loud/elements/_buttons.scss
//
// -----------------------------------------------------------------------------


.el-button--follow {
    &:before {
        margin-right: 5px;
        position: relative;
        @include font-size(32);
        @include icon($icon--follow);
    }

    &.el-button {
        border: 0;
        float: left;
        font-weight: $medium;
        margin-left: 10px;
        padding: 0;

        @include theme(color, el follow color);
        @include theme(background, el follow background);

        .el-action-bar &{
            margin-left: 0;
            margin-top: -15px;
            @include font-size(18);
        }

        &,
        &:hover {
            .pg & {
                background: none;
            }
        }

        &:hover {
            @include theme(color, el link hover, $force-theming:true);
        }
    }

    &.js-cnn-follow-anonymous:after,
    &.js-cnn-follow-undetermined:after,
    &.js-cnn-follow-not-following:after {
        content: "Follow";
    }

    &.js-cnn-follow-following:after {
        content: "Unfollow";
    }

    &.js-cnn-follow-busy,
    &.js-cnn-follow-undetermined {
        cursor: default;
    }
}
