//
// share button
//
// file: loud/elements/buttons/_share.scss
//
// description:
// Share modifier for global button element
//
// note:
// Should be used in conjunction with `.el-button` class.
// See loud/elements/_buttons.scss
//
// -----------------------------------------------------------------------------

.el-button--share {

    &:before {
        margin-right: 5px;
        position: relative;
        top: -.1em;

        @include font-size(16);
        @include icon($icon--share-arrow);
    }
}

.el-button--share-cnn {
    background: $orange-2;
    background: linear-gradient(to bottom, $orange-2, $orange-3);
    border: 0;
    color: $white;

    &:hover,
    .t-blue-dark &:hover,
    .t-light-leaf &:hover,
    .t-light-landing &:hover {
        background-color: $orange-2;
        background-image: none;
        color: $white;
    }

    &:before {
        margin-right: 5px;
        position: relative;
        top: -.1em;

        @include font-size(16);
    }
}
