//
// upload button
//
// file: loud/elements/buttons/_show-more-vr-videos.scss
//
// description:
// show more vr videos modifier for global button element
//
// note:
// Should be used in conjunction with `.el-button` class.
// See loud/elements/_buttons.scss
//
// -----------------------------------------------------------------------------

.el-button--show-more-vr-videos {
    background: transparent;
    border: solid 4px $gray-1;
    color: $gray-1;
    height: 65px;
    letter-spacing: 0.5px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 220px;

    @include font-size(16);

    &:hover {
        border-color: $gray-8;
    }
}
