//
// upload button
//
// file: loud/elements/buttons/_upload.scss
//
// description:
// upload modifier for global button element
//
// note:
// Should be used in conjunction with `.el-button` class.
// See loud/elements/_buttons.scss
//
// -----------------------------------------------------------------------------

.el-button--upload {

    &:before {
        margin-right: 5px;
        position: relative;
        top: -.1em;
        @include font-size(16);
        @include icon($icon--follow);
    }
}
