//
// watch-cnn button
//
// file: loud/elements/buttons/_watch-cnn.scss
//
// description:
// Share modifier for global button element
//
// note:
// Should be used in conjunction with `.el-button` class.
// See loud/elements/_buttons.scss
//
// -----------------------------------------------------------------------------

.el-button--watch-cnn {
    background: $red-2;
    background: linear-gradient(to bottom, $red-2, $red-3);
    border: 0;
    color: $white;

    &:hover,
    .t-blue-dark &:hover,
    .t-light-leaf &:hover,
    .t-light-medium &:hover,
    .t-breakingnews-red {
        background-color: $red-2;
        background-image: none;
        color: $white;
    }

}
