{!
    The on-demand audio element. Used for displaying play-in-page audio.
!}
{#elementContents}

    {!
        To get content from CMS to the audio API, we're sending objects containing the values we need.These objects will then be registered and sent to the API once the API has finished loading.
    !}

    <div id="js-jquery_jplayer_1" class="jp-jplayer" data-file="{config.runtime.audio.podcastHost}{fileLocation}" data-title="{title}"></div>
    <div id="jp_container_1" class="jp-audio">
        <div class="jp-type-single">
            <div class="jp-gui jp-interface">
                <section class="logo">
                    <img src="{config.cdn.chrome}/.e/img/3.0/global/header/hdr-main.png" alt="CNN">
                </section>
                <ul class="jp-controls">
                    <li>
                        <a href="#" class="jp-play" tabindex="1">
                            <i class="icon-play"></i>
                        </a>
                    <li>
                        <a href="#" class="jp-pause" tabindex="1">
                            <i class="icon-pause"></i>
                        </a>
                    <li>
                        <a href="#" class="jp-stop" tabindex="1">
                            <i class="icon-stop"></i>
                        </a>
                    <li>
                        <a href="#" class="jp-mute" tabindex="1" title="mute">
                            <i class="icon-mute"></i>
                        </a>
                    <li>
                        <a href="#" class="jp-unmute" tabindex="1" title="unmute">
                            <i class="icon-sound"></i>
                        </a>
                    <li>
                        <a href="#" class="jp-volume-max" tabindex="1" title="max volume"></a>
                </ul>
                <div class="jp-time-holder">
                    <div class="jp-current-time"></div>
                    <div class="jp-duration"></div>
                    <ul class="jp-toggles">
                        <li>
                            <a href="#" class="jp-repeat" tabindex="1" title="repeat">
                                <i class="icon-repeat"></i>
                            </a>
                        <li>
                            <a href="#" class="jp-repeat-off" tabindex="1" title="repeat off">
                                <i class="icon-off"></i>
                            </a>
                    </ul>
                </div>
                <div class="jp-progress">
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"></div>
                    </div>
                </div>
                <div class="jp-volume-bar">
                    <div class="jp-volume-bar-value"></div>
                </div>
            </div>
            <div class="jp-no-solution">
                <span class="el__audio__update-message">Update Required.
                To play the media you will need to either update your browser to a recent version or update your <a href="//get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.</span>
            </div>
        </div>
    </div>

    {! Render the string and parse HTML tags !}
    {#description}
        <p class = "el__audio__description">{.|s}</p>
    {/description}

    {#transcript}
        <p class="zn-body__paragraph">{.|s}</p>
    {/transcript}

    <script>
        jQuery.ajax({
            dataType: 'script',
            cache: true,
            url: '{config.cdn.assetHost}{config.cdn.assetPath}/{config.baseVersion}/js/audio-player.min.js'
        })
            .done(function () { CNN.AudioPlayer.init('js-jquery_jplayer_1'); })
            .fail(function () { throw 'Unable to fetch /js/audio-player.min.js'; });
    </script>

{/elementContents}
