{!
    This template is used for a list of text and more specifically the Story Highlights container
!}
{?elementContents}
    <div class="el__storyhighlights_wrapper">
        {#elementContents}
            {?.highlights}
                <div class="el__storyhighlights">
                    <h3 class="el__headline">{title}</h3>
                    <ul class="el__storyhighlights__list">
                        {#.highlights}
                            <li class="el__storyhighlights__item el__storyhighlights--{type}">{.text|s}</li>
                        {/.highlights}
                    </ul>
                </div>
            {/.highlights}
            {> "views/elements/ad" /}
        {/elementContents}
    </div>
{/elementContents}
