{!
    The embed element. This element is used to output an youtube embed.
    Youtube always using Url, irrespective of embedType so 'isOembed' condition checking is not requied
!}
{#elementContents}
    <div class="el-embed-youtube">
        {?.embedUrl}
            <iframe class="el-embed-youtube__content" src="{.embedUrl|s}" allowfullscreen></iframe>
        {:else}
            {?.embedHtml}
                <div class="el-embed-youtube__content">
                    {.embedHtml|s}
                </div>
            {/.embedHtml}
        {/.embedUrl}
    </div>
{/elementContents}
