{!
    This template is for outputting HTML5 video tags for animations; for loading
    the animation bundle; and for generating id specfic inline JS that creates
    and submits animation configuration data to the loaded animation bundle.
!}

{?imageUrl}
    {?cuts}
        {@withUniqueId base="anim"}
            <video poster="{poster}" class="mp4-animations autoplaysinline" id="{._uniqueId}" autoplay muted loop playsinline webkit-playsinline></video>

            <script type="text/javascript">
                (function (animationConfig) {
                    CNN.INJECTOR.executeFeature('animations').then(
                        function loadedAnimationBundleHandler() {
                            CNN.ANIMATIONS.loadAnimation(animationConfig);
                        })
                    }
                )({
                    animationId: '{._uniqueId}',
                    url: '{.imageUrl}',
                    isPageTop: {?isPageTop}true{:else}false{/isPageTop},
                    isBackground: {?backgroundAnimation}true{:else}false{/backgroundAnimation},
                    pageType: '{pageType}',
                    appearance: '{appearance}',
                    targetUrl: '{url}',
                    cuts: {
                        {?.cuts.mini.uri}dataSrcMini: "{.cuts.mini.uri}"{/.cuts.mini.uri},
                        {?.cuts.xsmall.uri}dataSrcXsmall: "{.cuts.xsmall.uri}"{/.cuts.xsmall.uri},
                        {?.cuts.small.uri}dataSrcSmall: "{.cuts.small.uri}"{/.cuts.small.uri},
                        {?.cuts.phonepagetop.uri}dataSrcPhonePageTop: "{.cuts.phonepagetop.uri}"{/.cuts.phonepagetop.uri},
                        {?.cuts.medium.uri}dataSrcMedium: "{.cuts.medium.uri}"{/.cuts.medium.uri},
                        {?.cuts.large.uri}dataSrcLarge: "{.cuts.large.uri}"{/.cuts.large.uri},
                        {?.cuts.full16x9.uri}dataSrcFull16x9: "{.cuts.full16x9.uri}"{/.cuts.full16x9.uri},
                        {?.cuts.mini1x1.uri}dataSrcMini1x1: "{.cuts.mini1x1.uri}"{/.cuts.mini1x1.uri}
                    }
                });
            </script>
        {/withUniqueId}
    {/cuts}
{/imageUrl}
