{!
    This template is for a container titles.

    Usage:
        Use in templates:
        {> "views/global/container-title" /}

        Use in the model json:
        pageContents: [
            {
                "layout": "carousel-large-strip",
                 ...
            },
            ...
        ],
        ...

    @since 0.181.2
!}

{?title}
    {?url}
        <a class="cn__title--link" href="{url}">{+container-banner /}</a>
    {:else}
        {+container-banner /}
    {/url}
{/title}
{^title}
    {+container-banner-notitle /}
{/title}

{!
        1. The breaking news flag can only be applied to the first container hence we check the index
        2. If the title is not specified then we hide the title bar and the anchor tag
        3. If the Breaking news flag is set on the first container we show the breaking news div tag.
!}

{<container-banner}
    <h2 class="cn__title {@eq key=$idx value=0} {@eq key="{$var-has-BN-flag}" value="true"}has-breaking-news{/eq} {/eq}" data-analytics="{title}_{layout}_">{title}</h2>
{/container-banner}

{<container-banner-notitle}
    {@eq key=$idx value=0}
        {@eq key="{$var-has-BN-flag}" value="true"}
            <h2 class="cn__title has-breaking-news-hide"></h2>
        {/eq}
    {/eq}
{/container-banner-notitle}
