{!
    This template is only for outputting an image tag <img /> and possibly an
    additional noscript tag in the case of responsive images.  No other elements
    should be added to this template.
!}
{#.pictureFill[$var-img-tag-format] $var-img-tag-cuts=.cuts}
    <picture>
        {?.hasExtraSources}
            {!
                Wrapping in a video tag is an IE9 hack to get the
                browser to recongnize the source tag. Other IE versions
                are not afflicted by this issue.
            !}
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            {#queries}
                {^.src}
                    {?.srcset}
                        <source
                            {+img-tag-responsive-attributes /}
                        />
                    {/.srcset}
                {/.src}
            {/queries}
            <!--[if IE 9]></video><![endif]-->
        {/.hasExtraSources}

        {#queries}
            {?.src}
                <img
                    {~s}src="{+img-tag-default /}"
                    {+img-tag-responsive-attributes /}
                 />
            {/.src}
        {/queries}
    </picture>
{/.pictureFill[$var-img-tag-format]}

{<img-tag-default}
    {?.src}
        {.src}
    {/.src}
{/img-tag-default}

{<img-tag-responsive-attributes}
   {?.srcset}
        {~s}srcset="
            {#srcset}
                {$var-img-tag-cuts[.].uri} {$var-img-tag-cuts[.].width}w{@sep},{/sep}
            {/srcset}
        "
    {/.srcset}
    {?.mediaSize}
        {~s}sizes="
            {#mediaSize}
                {.}{@sep},{/sep}
            {/mediaSize}
        "
    {/.mediaSize}
    {?.media}
        {~s}media="
            {#media}
                {.}{@sep},{/sep}
            {/media}
        "
    {/.media}
{/img-tag-responsive-attributes}
