//
// action bar
//
// file: loud/elements/_action-bar.scss
//
// description:
// Global action bar element
//
// -----------------------------------------------------------------------------

.el-action-bar {
    display: inline-table;
    position: relative;
    width: 100%;
    @include clearfix;

    .el-timestamp,
    .el-button {
        display: table-cell;
        vertical-align: middle;
    }

    &.el-action-bar--share {
        height: 35px;
        margin: 5px 0 10px;
    }

    .cd--large & {
        margin-top: 0;
    }

    .zn--transparent &,
    .zn--has-background &,
    .zn-right-stack-bg-inline .zn-wrapper__media[data-eq-state$="breakout"] + .zn-containers .cd--large & {
        padding: 5px ($gutter-width / 2);
    }
}

// Added for list full cards
.zn-single-column,
.zn-balanced,
.zn-60-40,
.zn-left-fluid,
.zn-70-30,
.zn-left-fluid-right-stack,
.zn-left-fluid-bg-bleed {
    .cn-list-large-horizontal,
    .cn-stack--large-horizontal {
        .el-action-bar {
            padding: 5px 0 0 10px;
            width: auto;
        }

        @include breakpoint($col-6, $col-7) {
            .el-action-bar {
                padding-left: 3px;

                .gigya-sharebar-element {
                    margin: 0 0 0 10px;
                }
            }
        }
    }
}
