//
// The Ad slide in a gallery
//
// file: loud/elements/_ad-slide.scss
//
// description:
// Styles for the Ad slide which appears after 5 clicks on a page-top gallery
//
// -----------------------------------------------------------------------------

%ad-slide__nav {
    color: $white;
    cursor: pointer;
    cursor: hand;
    user-select: none;

    .no-touchevents & {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    &:after {
        @include font-size(40);
    }

    @include breakpoint($col-10) {
        &:after {
            @include font-size(60);
        }
    }

    @include z-index($overlay-layer, modal-controls);
}

.ad-slide {
    padding-top: $ratio-16x9;
    width: 100%;

    @include stretch(0, false, false, 0);

    [data-cut-format="4:3"] ~ & {
        padding-top: $ratio-4x3;
    }

    .ad.ad--epic {
        background-color: $black;
        overflow: visible;

        @include stretch;

        div iframe {
            max-width: 100%;
        }
    }
}

.ad-slide__prev {
    padding: 0 50px 50px 0;

    @extend %ad-slide__nav;

    &:after {
        @include icon($icon--arrow-left);
    }

    @include stretch(false, false, false, 5px);
}

.ad-slide__next {
    padding: 0 0 50px 50px;

    @extend %ad-slide__nav;

    &:after {
        @include icon($icon--arrow-right);
        width: .55em;
    }

    @include stretch(false, 5px, false, false);
}

.ad-slide--active {
    visibility: visible;
    @include z-index($content-layer, content-masking);
}

.ad-slide--inactive {
    visibility: hidden;
    @include z-index($content-layer, content);
}
