//
// audio
//
// file: loud/elements/_audio.scss
//
// description:
// Styles for audio player
//
// -----------------------------------------------------------------------------

.el__audio__description {
    font-family: $sans-serif;
    font-style: italic;
    font-weight: $normal;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-bottom: 12px;
}

.el__audio__update-message {
    color: $red-2;
    font-weight: $bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.jp-jplayer {
    background-color: transparent;
    height: 0;
    width: 0;
    audio {
        height: 0;
        width: 0;
    }
}

.jp-audio {
    font-family: $sans-serif;
    max-width: 100%;
    margin-top: 8px;
    min-width: $col-3;
    overflow: hidden;
    position: relative;

    @include font-size(14);

    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }

    .jp-interface {
        overflow: hidden;
        padding: 8px 8px 4px;
        .logo {
            width: 40px;
        }
        ul {
            list-style-type: none;
            overflow: hidden;
            padding-left: 8px;
            li {
                float: left;
            }
        }

        a {
            color: $blue-1;
            margin-left: 8px;
        }

        .jp-time-holder {
            color: $gray-6;
            font-weight: $bold;
            margin-left: 12px;
            overflow: hidden;
            padding-top: 4px;
            text-shadow: 0 0 1px rgba($black, 0.5);

            @include font-size(12);

            @include breakpoint($col-3, $col-6) {
                margin-left: 0;

                @include font-size(8);
            }
        }
        .jp-toggles {
            position: absolute;

            @include stretch(false, 4px, false, false);
        }
        .jp-progress {
            background-color: $blue-3;
            height: 7px;
            margin-left: 8px;
            margin-top: 8px;

            &:hover {
                cursor: pointer;
            }
            @include breakpoint($col-3, $col-4) {
                width: 19%;
            }
            @include breakpoint($col-4, $col-5) {
                width: 30%;
            }
            @include breakpoint($col-5, $col-10) {
                width: 46%;
            }
            @include breakpoint($col-10, $col-12) {
                width: 68%;
            }
            @include breakpoint($col-12, $col-14) {
                width: 60%;
            }
            @include breakpoint($col-14) {
                width: 68%;
            }
        }
        .jp-play-bar {
            background: $blue-1;
            height: 7px;
            width: 0;
        }
        .jp-controls, .jp-progress, .jp-volume-bar, .jp-time-holder, .jp-current-time, .jp-duration, .logo {
            float: left;
        }
        .jp-current-time {
            border-right: 3px solid $gray-5;
            padding-right: 6px;
        }
        .jp-duration {
            padding-left: 6px;
        }
    }
}
