//
// buttons
//
// file: loud/elements/_buttons.scss
//
// description:
// Global button element
//
// note:
// See loud/elements/buttons folder for variations.
//
// -----------------------------------------------------------------------------

.el-button {
    border: none;
    border-radius: 3px;
    display: inline-block;
    float: right;
    font-family: $sans-serif;
    font-weight: $bold;
    padding: 0 $gutter-width / 2;
    text-decoration: none;

    @include font-size(11);
    @include line-height(30, 11);
    @include theme(background, el button background);
    @include theme(color, el button color);

    &:focus {
        outline: none;
    }

    &:hover,
    &:active {
        @include theme(background, el button hover background);
        @include theme(color, el button hover color);
    }
}

@import "buttons/_mycnn";
@import "buttons/_share";
@import "buttons/_follow";
@import "buttons/_watch-cnn";
@import "buttons/_upload";
@import "buttons/_show-more-vr-videos";
