// NOTE: THIS STYLESHEET IS A MESS!!!! --- Ticket created here: CCNDB-348
// carousel
//
// file: loud/elements/_carousel.scss
//
// description:
// global carousel styles provided by filamentgroup
// There are two different carousels
//      1. regular carousel
//      2. full carousel (with filmstrip/thumbnail navigation)
//
// -----------------------------------------------------------------------------


//
// Sets image and caption margins within galleries.
// Currently images have a margin bottom of 20px and captions a -20px
// top to force the two elements together. This resets the margins in
// galleries since they do not follow the same DOM strucuture as
// regular image/caption elements.
//
.el-carousel__wrapper {
    position: relative;

    [data-slidename] {
        .media__caption {
            margin: 0;
        }

        .media__image {
            margin-bottom: 0;
        }
    }
}

//
// This is a special case for vertical (9 by 16) galleries.
// Instead of allowing the image to span the full width the
// images can grow until it hits 6 columns in width.
//
.el-carousel__wrapper {
    [data-cut-format="9:16"] {
        .el__resize {
            margin: 0 auto;
            max-width: $col-6 - $gutter-width;
        }
    }
}

.carousel--full {
    margin: 10px auto -1px;
    max-width: 100%;
    overflow: hidden;
    position: relative;

    .carousel__content__item .media__caption {
        background-color: $black;
        color: $gray-5;
        margin: 0;
        padding: 0 10px;
        text-align: left;

        @include font-size(12);

        @include breakpoint($col-5) {
            padding: 15px 20px 0;

            @include font-size(14);
        }

        a {
            color: $blue-5;
        }
    }

    .pg-left-rail-tall__right-side & {
        margin-top: 0;
    }

    & .carousel-img {
        margin: 0;
        padding-top: 69.25%;
        position: relative;

        img {
            height: 100%;
            max-width: 100%;
            width: auto;

            @include stretch(0, false, false, 0);
        }

        p {
            font-family: $serif;
            font-style: italic;
            margin: 0;
            padding: 1em 1em 1em 2em;
            text-align: left;
            @include font-size(14);
        }
    }
}

//** Regular carousel without filmstrip **//

// fixed width carousel items
.cn-grid-add-carousel .carousel--fixed,
.cn-carousel-medium-strip .carousel--fixed,
.cn-carousel-medium-matrix .carousel--fixed {
    //
    // This creates some spacing around the viewport of fixed carousels so
    // that slides that are not in focus can peek on the left and right of
    // the carousel.
    //
    overflow: hidden;

    @include breakpoint($col-6) {
        padding-left: $col-1 / 2;
        padding-right: $col-1 / 2;
    }

    .cd {
        padding-right: $gutter-width / 2;

        @include responsive-rail($col-8, $bypassStop:true) {
            padding-right: $gutter-width;
        }
    }

    .carousel__content__item {
        width: $col-3 - ($gutter-width / 2);

        @include responsive-rail($col-8, $bypassStop:true) {
            width: $col-2;
        }
    }
}
