//
// Companion ad layout
//
// file: loud/elements/_companion.scss
//
// description:
// Companion Ad CSS. Intended to be used in conjunction with
// _epic-ad.scss and adds a new layout type called all for pages only.
//
// -----------------------------------------------------------------------------

.pg-article,
.pg-video {
    [data-ad-position="all"] {
        display: block;
    }
}

//
// So it is unclear as to what element that freewheel adds to the
// span tag which is why the * is used. The > selector is used so
// that only the first child of cn-shingle__ad is selected and not
// any first children that happens to live in the cn-shingle__ad
// div.
//
[data-ad-id="freewheel-rail-placeholder"] .cn-shingle__ad > *:first-child:after {
    content: "Advertisement";
    display: block;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;

    @include copy(11px, 11px);
    @include theme(color, el ad color)
}
