//
// Embed
//
// file: loud/elements/_documentcloud.scss
//
// description:
// Styles for documentcloud
//
// -----------------------------------------------------------------------------

.el-embed-documentcloud
{
    clear: both;
    height: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 100%;
    padding-top: 30px;
    position: relative;
    width: 100%;

    > div {
        top: 0 !important; // override white space at top of embed
    }
}