//
// drop down
//
// file: loud/elements/_drop-down.scss
//
// description:
// Global drop down element
//
// -----------------------------------------------------------------------------

// @import "sprite/*.png";

.el-drop-down {
    cursor: pointer;
    float: left;
    position: relative;

    &:after {
        @include font-size(20);
        @include icon($icon--arrow-down);
    }

    @include breakpoint($col-8) {
        &:after {
            @include font-size(30);
        }
    }

    &__arrow-up:after {
        @include icon($icon--arrow-up);
    }

    &__current {
        margin: 0;

        @include font-size(14);
    }

    &__list {
        border-top: solid;
        border-top-color: $gray-1;
        border-width: 2px 0 0;
        display: none;
        list-style: none;
        min-width: 310px;
        padding: 0;
        width: 100%;

        @include z-index($content-layer, tooltip);
        @include stretch(0, false, false, 0);

        .el-drop-down--light & {
            border-color: $gray-1;
        }

        .el-drop-down--dark & {
            border-color: $gray-1;
        }

        &.el-drop-down__list--open {
            display: block;
        }

        @include breakpoint($col-8) {
            @include stretch(0, false, false, 0);
        }

    }

    &__list__container {
        clear: both;
        position: relative;
    }

    &__list-item {
        background-color: rgba($gray-11, .95);
        border-bottom: 1px solid $gray-10;
        border-top-color: $gray-10;
        color: $gray-5;
        cursor: pointer;
        padding: 10px;
        transition: background .3s;
        width: 100%;

        @include font-size(15);
        @include line-height(20, 14);

        @include breakpoint($col-8) {
            @include font-size(18);
        }

        .pg-header__subsections__link {
            color: $gray-5;
            display: block;
            transition: color .3s;
        }

        .pg-header__subsections__link:hover {
            color: $gray-1;
        }

        &:hover {
            background-color: $gray-9;
            color: $gray-1;

            .pg-header__subsections__link {
                color: $gray-1;
            }
        }

        &--selected {
            color: $gray-1;
            cursor: default;
        }
    }

}
