.el-editorial-source {

    font-family: $sans-serif-interface;
    font-style: normal;
    font-weight: $bold;

    &:after {
        content: " " + $unicode-em-dash + " ";
    }

}

.el-editorial-note {
    display: block;
    font-family: $sans-serif-interface;
    font-style: italic;

    @include copy(14px, 20px);
    @include theme(color, el editors-notes color);

    @include breakpoint($col-6) {
        padding-top: 10px;
    }

    &:before {
        content: "Editor's Note: ";
        font-weight: $bold;
    }

}
