//
// entitlement
//
// file: loud/elements/_entitlement.scss
//
// description:
// container styling plus base styling
//
// -----------------------------------------------------------------------------

.el-entitlement {
    float: right;
}

.pg-header-entitlement {
    float: right;
    padding-top: 10px;
    @include breakpoint($col-4, $col-6) {
        margin-bottom: 10px;
    }
}

.el-entitlement__wrapper {
}

.el-entitlement__footer {
    @include clearfix;
}
