//
// Epic ad
//
// file: loud/elements/_epic-ad.scss
//
// description:
// Epic Ad CSS
//
// -----------------------------------------------------------------------------

$tablet: 768px;
$desktop: 1024px;

.ad.ad--epic {
    display: block;
    overflow: hidden;
}

//
// By default any multiple positional ad placeholders should be inactive.
// This protects against custom positions that could be added to the page
// outside of the standard mobile, tablet, and desktop positions.
//
[data-ad-position] {
    display: none;
}

//
// Sets the "advertisement" text for visible epic ads. The text is added
// to the div that is added to the epic ad slot.
//
// If an ad is filled then the epic ad slot gets a div populated.
//
// If there is not an ad for the ad slot then it is set to be hidden
// using display:none.
//
// If an error occurs then nothing is filled in. In that case we do not
// want to show the "advertisement" text.
//
.ad.ad--epic [id^=ad_].ad-ad_oop_skin_01 > div:first-child  {
    &:after {
        content: "";
    }

    iframe {
        position: absolute;
    }
}
.ad.ad--epic [id^=ad_].ad-ad_oop_float_01 > div:first-child  {
    &:after {
      content: "";
    }

    iframe {
        position: absolute;
    }
}

.ad.ad--epic.ad--all-skin {
    display:none;
}

.ad.ad--epic [id^="ad_"] > div:first-child {
    position: relative;

    &:after {
        content: "Advertisement";
        display: block;
        margin-bottom: 15px;
        padding-top: 5px;
        text-align: center;
        width: 100%;

        @include copy(11px, 11px);
        @include theme(color, el ad color)
    }

    & > div,
    iframe {
        display: inline-block;
    }

    //
    // iframes that come in as the size of 1x2 are not valid ads and
    // need to be hidden. This allows the ads team to suppress the
    // advertisement text with out removing the ad.
    //
    iframe[width="1"][height="2"] {
        display: none;
    }

    //
    // If iframes that come in as the size of 1100x300
    // advertisement text need to be hidden.
    //

    iframe[width="1100"][height="300"] {
        margin-bottom: 10px;
        position: relative;
        @include z-index($content-layer, content);
    }
}

.ad--is-hidden,
[data-ad-position="desktop"],
[data-ad-position="tablet"] {
    display: none;
}

[data-ad-position="mobile"] {
    display: block;
}

@include breakpoint($tablet, $desktop) {
    [data-ad-position="mobile"],
    [data-ad-position="desktop"] {
        display: none;
    }

    [data-ad-position="tablet"] {
        display: block;
    }
}

@include breakpoint($desktop) {
    [data-ad-position="mobile"],
    [data-ad-position="tablet"] {
        display: none;
    }

    [data-ad-position="desktop"] {
        display: block;
    }
}

//
// Centers epic ads
//
.ad--epic iframe {
    margin: 0 auto;
}

//
// Adds 10px padding for top banner ad only. Targeted towards first child instead
// of iframe because some top ads are flash based and adding padding to iframe
// does not work in those situations. This solution will work for all top ads
// regardless if they are flash based or not.
//
// Also, the "Advertisement" text should change to a medium shade of color if a
// background image is present on the page.
//
// Added varying padding due to tabbed logo badge overhangs at different breakpoints.
//
.ad.ad--epic {
    .pg-article .pg-wrapper > & {
        padding-bottom: 10px;
    }

    @include breakpoint(0, $col-6) {
        [id^="ad_"]:not(#ad_bnr_atf_01) > div:first-child { // Excluding ad_bnr_atf_01 as it is not having advertisement text
            height: auto !important; //3rd patry Js appending inline styles so important is required
        }
    }

    .ad-ad_bnr_atf_01 {
        > div:first-child {
            div,
            iframe {
                margin-top: 15px;

                @include breakpoint($col-10) {
                    .pg-article & {
                        margin-top: 20px;
                    }

                    .pg-article .pg-special-article & {
                        margin-top: 0;
                    }
                }
            }
        }

        @include breakpoint($col-10) {
            .pg-article &[id^="ad_"] > div:first-child {
                div,
                iframe {
                    margin-bottom: 10px;
                }
            }

            .pg-article .pg-special-article &[id^="ad_"] > div:first-child {
                div,
                iframe {
                    margin-bottom: 0px;
                }
            }
        }

        // apply gray bg color on article pages
        @include breakpoint($col-8) {
            .pg-article & {
                background-color: $gray-3;

                // we always force display:block on this banner ad (see rule above).
                // because of this, the bg color is still appearing even when
                // js has hidden this ad on mobile, tablet, etc.
                // solution is to apply a rule to remove the bg when ad is in hidden state
                &[style*="display: none"] {
                    background-color: transparent;
                }
            }

            // don't apply bg color when there is a bg image (e.g. when branded) and in special article pages
            .pg-article .pg__background__image &, .pg-article .pg-special-article & {
                background-color: transparent;
            }
        }

        > div:first-child:after {
            content: "";

            .pg-special-article & {
                content: "Advertisement";
            }

            .pg__background__image & {
                color: $gray-5 !important;
            }
        }
    }

    .ad-ad_bnr_atf_02 {
        > div:first-child:after {
            content: "";
        }
    }

    .ad-ad_mod_35731bb1e {
        height: 0;

        > div:first-child:after {
            content: "";
            .pg__background__image & {
                color: $gray-5 !important;
            }
        }
    }
}

.multi-ads--complete [data-ad-position] {
    display: block;
}

//
// If iframes that come in as the size of 300x100 on the homepage
// advertisement text need to be hidden as it is reserved for marketing.
//
.pg {
    &.pg-homepage, &.pg-intl_homepage {
        .ad.ad--epic .ad-ad_nfs_btf_01 > div:first-child {
            iframe[width="300"][height="100"] {
                margin-bottom: 10px;
                position: relative;
                @include z-index($content-layer, content);
            }
        }
    }
}
