//
// Embed
//
// file: loud/elements/_facebook.scss
//
// description:
// Styles for facebook
//
// -----------------------------------------------------------------------------

.el-embed-facebook {
    clear: both;
    margin-bottom: 20px;
    position: relative;
}

.facebook360 {
    .fb-video[fb-xfbml-state="rendered"] + .slate {
        display: none;
    }

    .iemobile &,
    .ios &,
    .android & { // mobile styles

        .fb-video { // - hide facebook360 videos as they do not work on mobile as of june 2016
            display: none;
        }

        .fb-video[fb-xfbml-state="rendered"] + .slate { // - never hide the slate image on mobile as fb360 does not work
            display: block;
        }
    }
}

.fb_iframe_widget {
    background: $white;
}