//
// hashtag
//
// file: loud/elements/_hashtag.scss
//
// description:
// Global hashtag element
//
// -----------------------------------------------------------------------------

.el-hashtag {
    font-family: $sans-serif-interface;
    font-weight: $bold;
    @include font-size(11);
}
