//
// icons
//
// file: loud/elements/_icons.scss
//
// description:
// Global icon classes
//
// note:
// Output icon classes should only be used when the class is dynamically set by
// the the model. Avoid these in favor of icon mixins or placeholder %classes.
// See quiet/utilities/_icon.scss
//
// -----------------------------------------------------------------------------
//
.icon-media-audio {
    &:before {
        @include icon($icon--type-audio);
    }
}

.icon-media-gallery {
    &:before {
        @include icon($icon--type-gallery);
    }
}

.icon-media-games {
    &:before {
        @include icon($icon--games);
    }
}

.icon-media-image {
    &:before {
        @include icon($icon--type-gallery);
    }
}

.icon-media-infographic {
    &:before {
        @include icon($icon--type-chart);
    }
}

.icon-media-map {
    &:before {
        @include icon($icon--type-map);
    }
}

.icon-media-video {
    &:before {
        @include icon($icon--type-video);
    }
}

.icon-media-video360 {
    &:before {
        @include icon($icon--y11-type-video360);
    }
}



// audio icons

.icon-play {
    &:before {
        @include icon($icon--media-play);
    }
}

.icon-pause {
    &:before {
        @include icon($icon--media-pause);
    }
}

.icon-stop {
    &:before {
        @include icon($icon--media-stop);
    }
}

.icon-sound {
    &:before {
        @include icon($icon--media-volume);
    }
}

.icon-pause {
    &:before {
        @include icon($icon--media-pause);
    }
}

.icon-repeat {
    &:before {
        @include icon($icon--media-restart);
    }
}

.icon-off {
    &:before {
        @include icon($icon--media-mute);
    }
}
