//
// global image
//
// file: loud/_image.scss
//
// description:
// Reusable image styles that can be used site-wide
//
// since:
// 0.38.0
//
// -----------------------------------------------------------------------------

.media__caption {
    padding: 10px 0;

    @include copy(12px, 18px);
    @include theme(color, el media-caption color);

    @include breakpoint($col-8, $col-12) {
        @include copy(14px, 20px);
    }

    @include breakpoint($col-12) {
        @include copy(16px, 22px);
    }
}

.media__caption-head {
    font-weight: $bold;
}

.media__image--cut-format {
    .el-carousel__wrapper & {
        height: 100%;
        position: absolute;
        width: 100%;
    }
}
