//
// Embed
//
// file: loud/elements/_infographic.scss
//
// description:
// Styles for Infographic Embed
//
// -----------------------------------------------------------------------------

.el-embed-infographic { 
    clear: both;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}