//
// Embed
//
// file: loud/elements/_instagram.scss
//
// description:
// Styles for instagram embed
//
// -----------------------------------------------------------------------------

.el-embed-instagram {
    clear: both;
    margin-bottom: 20px;
    position: relative;

    blockquote,
    .instagram-media {
    	max-width: none !important;		// Override instagram inline styles.
    }

    @include breakpoint($col-6) {
	    &--aside {
	    	float: left;
	    	margin-right: 20px;
	    	width: 300px;
	    }
	}
}
