.el-embed-locator-map {
    clear: both;
    margin-bottom: 20px;
    position: relative;
    width: 100%;

    &:before {
        content: '';
        display: block;
    }

    * {
        box-sizing: content-box;
    }

    .el-embed-locator-map__content {
        border: 1px solid $gray-3;
        @include stretch;
    }
    .el-embed-locator-minimap__content {
        border: 1px solid $gray-7;
        height: 25%;
        width: 25%;

        @include stretch(2%, 1.125%, false, false);

        .nm_crimg,
        .nm_crnode {
            display: none !important;   // Used to override 3rd party inline styles
        }
    }
    .leaflet-bottom {
        @include z-index($content-layer, content);
    }
}

.leaflet-control-container {
    .leaflet-top.leaflet-left {
        @include z-index($content-layer, content);
    }
    .leaflet-top.leaflet-right {
        @include z-index($content-layer, content);
    }
    .leaflet-bottom.leaflet-left {
        @include z-index($content-layer, content);
    }
    .leaflet-bottom.leaflet-right {
        @include z-index($content-layer, content);
    }
}
