//
// mvpd picker
//
// file: loud/elements/_mvpd-picker.scss
//
// description:
// Styles for the mvpd picker
//
// based on code from:
// https://github.com/TurnerBroadcasting/cnn-go-web-fe/blob/develop/src/styles/vendor/_mvpd-picker.scss
// https://github.com/TurnerBroadcasting/cnn-go-web-fe/blob/develop/src/styles/vendor/_mvpd-picker-overrides.scss
// -----------------------------------------------------------------------------

@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}
#mvpdpicker .remembered,
#mvpdpicker .noprovider,
#mvpdpicker .darkprovider {
    position: relative;
}
#mvpdpicker .rememberedmessage,
#mvpdpicker .noprovidermessage,
#mvpdpicker .darkprovidermessage {
    height: 50%;
    margin: auto 10%;
    overflow: auto;

    @include stretch(0, 0, 0, 0);
}
#mvpdPickerFrame {
    background-color: $black;
    border: 0;
    display: none;
    height: 100%;
    padding: 0;
    left: 0;
    margin: 0;
    opacity: .5;
    position: fixed;
    top: 0;
    width: 100%;

    @include z-index($overlay-layer, overlay-screen);
}
#mvpdPickerFrame.hidden {
    display: none;
    left: -9999px;
    top: -9999px;
}
#mvpdPickerFrame.visible {
    display: block;
    left: 0;
    top: 0;
}
@media only screen and (max-width: 639px),
only screen and (orientation: landscape) and (max-height: 505px) {
    #mvpdPickerFrame.visible {
        display: none;
        left: -9999px;
        top: -9999px;
    }
}
#mvpdpicker {
    background-color: $black;
    background-size: cover;
    box-shadow: 0 8px 8px $black;
    box-sizing: border-box;
    color: $white;
    display: block;
    height: 630px;
    padding: 1px;
    position: absolute;
    transition: width 0.4s, height 0.4s, transform 0.4s;
    width: 800px;

    @include copy(18px, 1.33em, 300);
    @include z-index($overlay-layer, modal);
}
#mvpdpicker.hidden {
    display: none;
    left: -9999px !important;
    top: -9999px !important;
}
#mvpdpicker.visible {
    left: 0;
    top: 0;
}
#mvpdpicker *,
#mvpdpicker *:before,
#mvpdpicker *:after {
    box-sizing: inherit;
}
#mvpdpicker .header {
    background-color: #21282c;
    height: 50px;
    position: relative;
}
#mvpdpicker .close {
    background: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/mvpd-picker/button_close.png") 0 0 no-repeat;
    border: 0;
    cursor: pointer;
    display: block;
    height: 16px;
    margin: 0;
    padding: 0;
    width: 16px;

    @include stretch(15px, 20px, false, false);
}
#mvpdpicker .help {
    border: 0;
    cursor: pointer;
    display: block;
    height: 50px;
    line-height: 50px;
    margin: 0 0 0 20px;
    padding: 0;

    @include stretch(0, false, false, 0);
}
#mvpdpicker .help::after {
    content: "Help";
}
#mvpdpicker .title {
    border: 0;
    display: block;
    height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;

    @include copy(20px, 50px);
}
#mvpdpicker a[href] {
    color: #cc0000;
    font: inherit;
    text-decoration: underline;
}
#mvpdpicker a[href]:visited {
    color: #36526d;
}
#mvpdpicker .steps {
    background: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/mvpd-picker/steps_1.png") bottom center no-repeat;
    border: 0;
    display: block;
    height: 172px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
#mvpdpicker.state-dark .steps,
#mvpdpicker.state-mvpdlogo .steps,
#mvpdpicker.state-mvpdlist .steps,
#mvpdpicker.state-notfound .steps {
    background-image: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/mvpd-picker/steps_1.png");
}
#mvpdpicker.state-remember .steps,
#mvpdpicker.state-signin .steps,
#mvpdpicker.state-error .steps {
    background-image: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/mvpd-picker/steps_2.png");
}
#mvpdpicker.state-success .steps {
    background-image: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/mvpd-picker/steps_3.png");
}
#mvpdpicker.state-welcome .steps {
    display: none;
}
#mvpdpicker.state-dark .steps.expired,
#mvpdpicker.state-mvpdlogo .steps.expired,
#mvpdpicker.state-mvpdlist .steps.expired,
#mvpdpicker.state-notfound .steps.expired {
    background-image: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/mvpd-picker/steps_1_expired.png");
}
#mvpdpicker .slates {
    height: 406px;
    overflow: hidden;
    width: 100%;
}
#mvpdpicker.state-welcome .slates {
    height: 578px;
}
#mvpdpicker.state-remember .remembered,
#mvpdpicker.state-mvpdlogo .pickbylogo,
#mvpdpicker.state-mvpdlist .findbyname,
#mvpdpicker.state-notfound .noprovider,
#mvpdpicker.state-dark .darkprovider,
#mvpdpicker.state-signin .signin,
#mvpdpicker.state-error .error,
#mvpdpicker.state-success .success,
#mvpdpicker.state-welcome .welcome {
    display: block;
}
#mvpdpicker .slate {
    display: none;
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
}
#mvpdpicker button {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
    margin: 0;
    padding: 1em 5em;
}
#mvpdpicker button:hover {
    background-color: #262626;
    border-color: $white;
    box-shadow: 0px 5px 10px 0px $black;
}
#mvpdpicker button:active {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.6);
    box-shadow: none;
}
#mvpdpicker button > span {
    background-color: transparent;
    color: $white;

    @include copy(18px, 1.33em, 300);
}
#mvpdpicker .message {
    line-height: 1.5;
    text-align: center;
}
#mvpdpicker .footer {
    background-color: #2b2b2b;
    border: 0;
    height: 80px;
    margin: 0;
    padding: 14px;
    text-align: center;
    width: 100%;

    @include stretch(false, false, 0, false);
}
#mvpdpicker .footer button + button {
    margin-left: 20px;
}
#mvpdpicker .welcome {
    height: 578px;
}
#mvpdpicker .welcomeloginbutton {
    position: relative;
    top: 450px;
}
#mvpdpicker .rememberedmessage p {
    margin: 0;
}
#mvpdpicker .rememberedmessage .rememberedprovider {
    @include copy(32px, 1.33em, bold);
}
#mvpdpicker .mvpdsbylogo {
    border: 0;
    height: 326px;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 20px 129px 17px;
    text-align: center;
}
#mvpdpicker .mvpdsbylogo li {
    border: 0;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0 4px 8px;
}
#mvpdpicker .mvpdlogo {
    border: 0;
    cursor: pointer;
    height: 74px;
    margin: 0;
    outline: none;
    padding: 0;
    transition: all 0.25s ease-in-out;
    width: 172px;
}
#mvpdpicker .mvpdlogo:active {
    box-shadow: 0 0 18px #cc0000;
    outline: 1px solid rgba(204, 0, 0, 0.5);
}
#mvpdpicker .searchheader {
    background-color: rgba(255, 255, 255, 0.25);
    margin: 0 130px;
}
#mvpdpicker .searchfield {
    background: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/mvpd-picker/search.png") 8px center no-repeat;
    border: 0;
    height: 40px;
    margin: 0;
    text-align: left;
}
#mvpdpicker .mvpdsearch {
    background-color: transparent;
    border: 0;
    color: $white;
    margin: 8px 0 0 40px;
    outline: 0;
    padding: 0;
    text-align: left;
    width: 90%;
    width: calc(100% - 40px);

    @include copy(18px, 24px);
}
#mvpdpicker .searchpane {
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 260px;
    margin: 10px 130px 17px;
    overflow-x: hidden;
    overflow-y: auto;
}
#mvpdpicker .mvpdsbyname {
    border: 0;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
#mvpdpicker .mvpdsbyname li {
    background-color: rgba(38, 38, 38, 0.5);
    cursor: pointer;
    height: 30px;
    margin: 0;
    overflow: hidden;
    padding-left: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include copy(18px, 30px);
}
#mvpdpicker .mvpdsbyname li:nth-child(2n+1) {
    background-color: rgba(26, 26, 26, 0.5);
}
#mvpdpicker .mvpdsbyname li:hover {
    color: #cc0000;
}
#mvpdpicker .noproviderokbutton {
    @include stretch(false, false, 8em, 330px);
}
#mvpdpicker .darkprovidermessage {
    height: 70%;
    line-height: 1.2;
}
#mvpdpicker .darkproviderokbutton {
    @include stretch(false, false, 4em, 330px);
}
#mvpdpicker .signinmessage {
    position: relative;
    top: 33px;
}
#mvpdpicker .spinnerbox {
    margin-top: 100px;
}
@keyframes mvpdspinner {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
#mvpdpicker .spinner {
    background: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/mvpd-picker/spinner.png") center no-repeat;
    display: inline-block;
    height: 103px;
    width: 103px;
}
#mvpdpicker.state-signin .spinner {
    animation: mvpdspinner 12s infinite linear;
}
#mvpdpicker .signincancelbutton {
    margin-top: 80px;
}
#mvpdpicker .errormessage {
    display: none;
}
#mvpdpicker .errorokbutton {
    position: relative;
    top: 283px;
}
#mvpdpicker .successmessage {
    display: none;
}
#mvpdpicker .watchnowbutton {
    position: relative;
    top: 313px;
}
@media only screen and (min-width: 640px) and (max-width: 800px),
only screen and (orientation: landscape) and (min-height: 506px) and (max-height: 633px) {
    #mvpdpicker {
        transform: scale(0.8);
    }
}
@media only screen and (max-width: 639px),
only screen and (orientation: landscape) and (max-height: 505px) {
    #mvpdpicker {
        box-shadow: none;
        display: flex;
        flex-direction: column;
        height: 100%;
        position: fixed;
        transform: scale(1);
        width: 100%;
    }
    #mvpdpicker.visible {
        left: 0 !important;
        top: 0 !important;
    }
    #mvpdpicker .header {
        flex: none;
        width: 100%;
    }
    #mvpdpicker .title > span {
        color: $white;
        display: inline-block;
        text-shadow: -1px -1px $black;

        @include copy(20px, 50px);
    }
    #mvpdpicker .steps {
        background: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/mvpd-picker/mobile_steps_1.png") bottom center no-repeat;
        background-size: contain;
        flex: none;
    }
    #mvpdpicker.state-dark .steps,
    #mvpdpicker.state-mvpdlogo .steps,
    #mvpdpicker.state-mvpdlist .steps,
    #mvpdpicker.state-notfound .steps {
        background-image: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/mvpd-picker/mobile_steps_1.png");
    }
    #mvpdpicker.state-remember .steps,
    #mvpdpicker.state-signin .steps,
    #mvpdpicker.state-error .steps {
        background-image: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/mvpd-picker/mobile_steps_2.png");
    }
    #mvpdpicker.state-success .steps {
        background-image: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/mvpd-picker/mobile_steps_3.png");
    }
}
@media only screen and (max-width: 639px),
only screen and (orientation: landscape) and (max-height: 505px) {
    #mvpdpicker .slates {
        align-items: stretch;
        display: flex;
        flex: auto;
        flex-direction: column;
        height: auto;
        justify-content: space-around;
    }
    #mvpdpicker.state-welcome .slates {
        height: auto;
    }
    #mvpdpicker.state-remember .remembered,
    #mvpdpicker.state-mvpdlogo .pickbylogo,
    #mvpdpicker.state-mvpdlist .findbyname,
    #mvpdpicker.state-notfound .noprovider,
    #mvpdpicker.state-dark .darkprovider,
    #mvpdpicker.state-signin .signin,
    #mvpdpicker.state-error .error,
    #mvpdpicker.state-success .success,
    #mvpdpicker.state-welcome .welcome {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #mvpdpicker .slate {
        flex: auto;
        height: 100%;
    }
    #mvpdpicker button {
        flex: none;
        padding: 1em 2em;
    }
    #mvpdpicker .footer {
        display: flex;
        flex: none;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-around;
        min-height: 80px;
        position: relative;
    }
    #mvpdpicker .footer button {
        flex: none;
    }
    #mvpdpicker .footer button + button {
        margin-left: 0;
    }
    #mvpdpicker .welcome,
    #mvpdpicker .remembered,
    #mvpdpicker .findbyname,
    #mvpdpicker .darkprovider {
        height: auto;
    }
    #mvpdpicker .welcomemessage {
        display: block;
        flex: none;
        overflow: auto;
    }
    #mvpdpicker .welcomeloginbutton,
    #mvpdpicker .rememberedcancelbutton,
    #mvpdpicker .rememberedokbutton,
    #mvpdpicker .viewallbutton,
    #mvpdpicker .viewtopbutton,
    #mvpdpicker .dontseebutton,
    #mvpdpicker .okbutton,
    #mvpdpicker .cancelbutton,
    #mvpdpicker .watchnowbutton {
        width: auto;
        height: auto;
        margin: 2px;
        background: none;
    }
    #mvpdpicker .welcomeloginbutton {
        align-self: center;
        flex: none;
        position: relative;
        top: 0;
    }
    #mvpdpicker .rememberedmessage {
        display: flex;
        flex: auto;
        flex-direction: column;
        height: auto;
        justify-content: center;
        margin: 0 auto;
        overflow: auto;
        position: relative;
        width: 90%;
    }
    #mvpdpicker .mvpdsbylogo {
        flex: auto;
        height: auto;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        padding: 0 10px;
        text-align: center;
    }
    #mvpdpicker .mvpdsbylogo li {
        margin: 1%;
        width: 40%;
    }
    #mvpdpicker .mvpdlogo {
        height: auto;
        margin: 0;
        width: 100%;
    }
    #mvpdpicker .searchheader {
        flex: none;
        margin: 0 10%;
    }
    #mvpdpicker .searchpane {
        flex: auto;
        height: auto;
        margin: 10px 10% 17px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    #mvpdpicker .mvpdsbyname {
        max-height: calc(100vh - 292px);
    }
    #mvpdpicker .noprovidermessage {
        flex: none;
        position: relative;
        width: 90%;
        height: auto;
        margin: 0 auto;
        overflow: auto;
    }
    #mvpdpicker .noproviderokbutton {
        align-self: center;
        flex: none;
        left: 0;
        position: relative;
        top: 0;
    }
    #mvpdpicker .darkprovidermessage {
        flex: none;
        height: auto;
        margin: 0 auto;
        max-height: calc(100vh - 80px - 55px - 50px);
        overflow: auto;
        position: relative;
        width: 90%;
    }
    #mvpdpicker .darkproviderokbutton {
        align-self: center;
        flex: none;
        left: 0;
        position: relative;
        top: 0;
    }
    #mvpdpicker .signinmessage {
        flex: none;
        margin: 0;
        position: relative;
        overflow: auto;
        top: 0;
    }
    #mvpdpicker .spinnerbox {
        flex: none;
        margin-top: 0;
    }
    #mvpdpicker .spinner {
        display: inline-block;
        width: 50px;
        height: 50px;
        background: none;
        border-bottom: 5px solid rgba(128, 128, 128, 0.5);
        border-left: 5px solid rgba(128, 128, 128, 0.5);
        border-radius: 50%;
        border-right: 5px solid rgba(128, 128, 128, 0.5);
        border-top: 5px solid #cc0000;
    }
    #mvpdpicker.state-signin .spinner {
        animation: mvpdspinner 1s infinite linear;
    }
    #mvpdpicker .signincancelbutton {
        align-self: center;
        flex: none;
        margin-top: 0;
    }
    #mvpdpicker .errormessage {
        flex: none;
        height: auto;
        overflow: auto;
        top: 0;
        width: auto;
    }
    #mvpdpicker .errorokbutton {
        align-self: center;
        flex: none;
        position: relative;
        top: 0;
    }
    #mvpdpicker .successmessage {
        display: block;
        flex: none;
        position: relative;
        overflow: auto;
        top: 0;

        @include font-size(24);
    }
    #mvpdpicker .watchnowbutton {
        align-self: center;
        flex: none;
        position: relative;
        top: 0;
    }
    #mvpdpicker .watchnowbutton span {
        font-size: x-large;
    }
}
@media only screen and (max-width: 639px) and (max-width: 300px),
only screen and (orientation: landscape) and (max-height: 505px) and (max-width: 300px) {
    #mvpdpicker .steps {
        background: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/mvpd-picker/mobile_steps_1.png") bottom center no-repeat;
        background-size: 150% auto;
    }
    #mvpdpicker.state-dark .steps,
    #mvpdpicker.state-mvpdlogo .steps,
    #mvpdpicker.state-mvpdlist .steps,
    #mvpdpicker.state-notfound .steps {
        background-image: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/mvpd-picker/mobile_steps_1.png");
    }
    #mvpdpicker.state-remember .steps,
    #mvpdpicker.state-signin .steps,
    #mvpdpicker.state-error .steps {
        background-image: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/mvpd-picker/mobile_steps_2.png");
    }
    #mvpdpicker.state-success .steps {
        background-image: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/mvpd-picker/mobile_steps_3.png");
    }
}
@media only screen and (max-width: 639px) and (max-width: 520px),
only screen and (orientation: landscape) and (max-height: 505px) and (max-width: 520px) {
    #mvpdpicker .findbyname button,
    #mvpdpicker .remembered button {
        padding: 0.5em 1em;
        width: 40%;
    }
}
@media only screen and (max-width: 639px) and (orientation: landscape) and (max-height: 300px),
only screen and (orientation: landscape) and (max-height: 505px) and (orientation: landscape) and (max-height: 300px) {
    #mvpdpicker .spinnerbox {
        display: none;
    }
}
@media only screen and (max-width: 639px) and (max-width: 250px),
only screen and (orientation: landscape) and (max-height: 505px) and (max-width: 250px) {
    #mvpdpicker .mvpdsbylogo li {
        width: 100%;
    }
}
@media only screen and (max-width: 639px) and (min-width: 630px),
only screen and (orientation: landscape) and (max-height: 505px) and (min-width: 630px) {
    #mvpdpicker .mvpdsbylogo li {
        width: 30%;
    }
}
@media only screen and (max-width: 639px) and (min-width: 890px),
only screen and (orientation: landscape) and (max-height: 505px) and (min-width: 890px) {
    #mvpdpicker .mvpdsbylogo li {
        width: 20%;
    }
}
@media only screen and (max-width: 639px) and (min-width: 1260px),
only screen and (orientation: landscape) and (max-height: 505px) and (min-width: 1260px) {
    #mvpdpicker .mvpdsbylogo li {
        width: 10%;
    }
}

// MVPD picker overrides

/* Fixes cut-off button issues with some resolutions */
#mvpdpicker button {
    padding: 0.5em 4em;
}
/* Suggested by Adobe to have cvpXhrFlash lower than AccessEnabler swf to help with hang issues */
#cvpXhrFlash {
    top: 10px !important;
}
/* Corrects img rule that sets display to "block" */
#mvpdpicker .rememberedprovider img {
    display: inline-block;
    width: auto;
}
