//
//   Core Owl Carousel CSS File
//   v1.3.2


//
//  Owl Carousel - Animate Plugin
//
.no-touchevents .owl-carousel {
    .animated {
        -webkit-animation-duration: 1000ms;
        animation-duration: 1000ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .owl-animated-in {
        z-index: 0;
    }

    .owl-animated-out {
        z-index: 1;
    }

    .fadeOut {
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.no-touchevents .owl-height {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

/*
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;
    touch-action: pan-y;
}

.cn-jumbotron-card-details,
.jumbotron-small-carousel,
.owl-carousel,
.video__end-slate__carousel {
    .owl-stage {
        position: relative;
        -ms-touch-action: pan-Y;
    }

    .owl-stage:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    .owl-stage-outer {
        position: relative;
        overflow: hidden;
        /* fix for flashing background */
        .no-touchevents & {
            -webkit-transform: translate3d(0px, 0px, 0px);
        }
    }

    .owl-item {
        position: relative;
        min-height: 1px;
        float: left;

        .no-touchevents & {
            -webkit-backface-visibility: hidden;
            -webkit-tap-highlight-color: transparent;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &:not(.active) {
                opacity: .3;

                .cn-carousel-medium-strip & {
                    opacity: 1;
                }
            }
        }
    }

    .owl-item img {
        display: block;
        width: 100%;

        .no-touchevents & {
            -webkit-transform-style: preserve-3d;
        }
    }

    .owl-nav.disabled,
    .owl-dots.disabled {
        display: none;
    }

    .owl-nav .owl-prev,
    .owl-nav .owl-next,
    .owl-dot {
        cursor: pointer;
        cursor: hand;
        user-select: none;

        .no-touchevents & {
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }
    }

    &.owl-loaded {
        display: block;
    }

    &.owl-loading {
        display: block;
        opacity: 0;
    }

    &.owl-hidden {
        opacity: 0;
    }

    &.owl-refresh .owl-item {
        display: none;
    }

    &.owl-drag .owl-item {
        .no-touchevents & {
            -webkit-user-select: auto;
            -moz-user-select: auto;
            -ms-user-select: auto;
            user-select: auto;
        }
    }

    &.owl-grab {
        cursor: move;
        cursor: -webkit-grab;
        cursor: -o-grab;
        cursor: -ms-grab;
        cursor: grab;
    }

    &.owl-rtl {
        direction: rtl;
    }

    &.owl-rtl .owl-item {
        float: right;
    }
}

/* No Js */
.no-js .owl-carousel {
    display: block;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */

.cn-jumbotron-card-details,
.jumbotron-small-carousel,
.owl-carousel,
.video__end-slate__carousel {
    & .owl-item {
        .owl-lazy {
            opacity: 0;

            .no-touchevents & {
                -webkit-transition: opacity 400ms ease;
                -moz-transition: opacity 400ms ease;
                -ms-transition: opacity 400ms ease;
                -o-transition: opacity 400ms ease;
                transition: opacity 400ms ease;
            }
        }

        img {
            .no-touchevents & {
                transform-style: preserve-3d;
            }
        }
    }
}

/*
 * 	Owl Carousel - Video Plugin
 */

.owl-carousel {
    .owl-video-wrapper {
        position: relative;
        height: 100%;
        background: #000;
    }

    .owl-video-play-icon {
        position: absolute;
        height: 80px;
        width: 80px;
        left: 50%;
        top: 50%;
        margin-left: -40px;
        margin-top: -40px;
        cursor: pointer;
        z-index: 1;

        .no-touchevents & {
            -webkit-backface-visibility: hidden;
            -webkit-transition: scale 100ms ease;
            -moz-transition: scale 100ms ease;
            -ms-transition: scale 100ms ease;
            -o-transition: scale 100ms ease;
            transition: scale 100ms ease;
        }
    }

    .no-touchevents .owl-video-play-icon:hover {
        -webkit-transition: scale(1.3, 1.3);
        -moz-transition: scale(1.3, 1.3);
        -ms-transition: scale(1.3, 1.3);
        -o-transition: scale(1.3, 1.3);
        transition: scale(1.3, 1.3);
    }

    .owl-video-playing .owl-video-tn,
    .owl-video-playing .owl-video-play-icon {
        display: none;
    }

    .owl-video-tn {
        opacity: 0;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;

        .no-touchevents & {
            -webkit-transition: opacity 400ms ease;
            -moz-transition: opacity 400ms ease;
            -ms-transition: opacity 400ms ease;
            -o-transition: opacity 400ms ease;
            transition: opacity 400ms ease;
        }
    }

    .owl-video-frame {
        position: relative;
        z-index: 1;
        height: 100%;
        width: 100%;
    }
}


//------------------------------------------//
//----- Turner Customization
//* Styling Next and Prev buttons */

//
// _carousel-gradient
// Private Mixin
//
// file: pattern-library/loud/elements/_owl.scss
//
// description:
// Creates CSS values for IE8 and modern browsers.
//
// example:
// @include _carousel-gradient(right, $black, rgba($black, 0));
//
// -----------------------------------------------------------------------------

@mixin _carousel-gradient($direction, $startColor, $stopColor) {
    background: $startColor;
    background: linear-gradient($direction, $startColor, $stopColor);
}

//
// carousel-feather
//
// file: pattern-library/loud/elements/_owl.scss
//
// description:
// Since the only difference between carousel arrows is the direction of the
// gradient, this mixin will consolidate the ugly bulk of the code and allow for
// much easier maintenence.
//
// example:
// @include carousel-feather(right);
//
// -----------------------------------------------------------------------------

@mixin carousel-feather($direction:left) {
    @each $theme-id in map-keys($themes) {
        @if map-fetch($themes, $theme-id zone background) {
            .t-#{$theme-id} &,
            .pg .t-#{$theme-id} & {
                @include _carousel-gradient($direction, map-fetch($themes, $theme-id zone background), safe-rgba(map-fetch($themes, $theme-id zone background), 0));
            }
        }
    }
}

//
// Owl Next and Previous Buttons.
//
// -----------------------------------------------------------------------------

.cn.cn-jumbotron-container {
    .cn-jumbotron-card-details .owl-nav,
    .jumbotron-small-carousel .owl-nav {
        & .owl-prev,
        & .owl-next {
            &:before {
                top: 50%;
            }
        }
    }
}

.owl-carousel {
    .cn-carousel-large-strip & .cd {
        left: auto;
    }

    /* Added this to correctly position arrows */
    & .owl-nav {
        & .owl-prev:before,
        & .owl-next:before {
            top: 50%;
        }
    }
}

.owl-theme {
    .owl-nav {
        margin: 0;
    }
}

// Previous and Next buttons, scoped to override Owl defaults.

// This is a force override when Owl decides that we don't need navigation arrows,
// we still want them, but want them grayed out.

.owl-nav {
    width: 100%;
}

.owl-nav[style="display: none;"] {
    display: block !important;
    opacity: .25;
}

// This is a force override to give galleries light arrows.
[class*="el__gallery"] .el-carousel__wrapper .owl-carousel.carousel--full .owl-nav div {
    color: $gray-1;

    .pg.t-light & {
        color: $gray-9;
    }

    &:before {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
    }
}

.cn-jumbotron-card-details,
.jumbotron-small-carousel,
.owl-carousel,
.video__end-slate__carousel {
    & .owl-nav div {
        color: $gray-1;
        opacity: 1;
        overflow: hidden;
        padding: 5px;
        text-align: left;
        text-indent: -120000px;  // (approx -9999em * (12px / 1em))
        width: $gutter-width;

        @include stretch(0, false, 0, false);
        @include z-index($content-layer, interactive);

        @include breakpoint($col-6) {
            width: 50px;

            @include theme(color, card copy standard color);

            .t-light &:before {
                text-shadow: none;
            }
        }

        &:before {
            display: block;
            padding: 0 5px;
            position: absolute;
            text-indent: 0;

            .no-touchevents & {
                text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
                transform: translate(0, -50%);
            }

            @include font-size(27);

            @include breakpoint($col-8) {
                @include font-size(35);
            }

            .cn-carousel-large-strip & {
                @include font-size(28);

                @include breakpoint($col-6) {
                    @include font-size(54);
                }

                @include breakpoint($col-10) {
                    @include font-size(60);
                }
            }

            .el__gallery &,
            .el__gallery--fullstandardwidth &,
            .el__gallery--expandfull & {
                @include font-size(40);

                @include breakpoint($col-10) {
                    @include font-size(60);
                }
            }

        }

        // Disabled Arrows
        &.disabled {
            cursor: default;
            opacity: .5;

            &:before {
                opacity: .1;
            }
        }
    }
}

.owl-carousel .owl-dots {

    .owl-dot {
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        display: inline-block;
        height: 12px;
        margin: 5px 7px;
        opacity: .5;
        width: 12px;

        @include theme(background, card carousel dots inactive);

        .no-touchevents & {
            transition: background .3s;
        }

        &.active,
        &:hover {
            @include theme(background, card carousel dots active);
        }
    }
}

.owl-prev {
    left: 0;

    &:before {
        left: 0;
        width: 0.55em;

        @include icon($icon--arrow-left);
    }
}

.owl-next {
    right: 0;

    &:before {
        right: 0;
        width: 0.55em;

        @include icon($icon--arrow-right);
    }
}

//
// Owl Filmstrip
//
// -----------------------------------------------------------------------------

.owl-carousel.owl-filmstrip {
    .owl-item img {
        margin-right: 10px;
        width: 60px;
    }

    .owl-next:before {
        text-align: right;
    }

    .owl-nav {
        .owl-prev,
        .owl-next {
            &:before {
                @include font-size(25);
                @include line-height(0, 25)
            }

            .no-textshadow & {
                &:after {
                    display: none; // remove new nav arrow from thumbnail/filmstrip
                }
            }
        }
    }

    .owl-item {
        &:hover {
            opacity: 1;
        }

        &.synced {
            opacity: 1;

            .media__image {
                border-bottom: 4px solid $orange-2;
            }
        }

        &:not(.synced) {
            opacity: .8;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.owl-item {
    .no-touchevents & {
        transition: opacity .2s;
    }
}

.ios .owl-carousel .media__video {
    padding: 0 3.75rem;
}

.video__end-slate__carousel {

    .owl-item:not(.active) {
        opacity: .8;

        &:hover {
            opacity: 1;
        }
    }
}
