//
// Embed
//
// file: loud/elements/_poptip.scss
//
// description:
// Styles for poptip
//
// -----------------------------------------------------------------------------

.el-embed-poptip {
    clear: both;
    margin-bottom: 20px;
    position:relative;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;  /* iframe scrolling for ipad and iphone */

    .el-embed-poptip__content {
        height: 100%;
        width: 100%;
        @include stretch(0, false, false, 0);
    }

    .section {
        height: 100%;
        width: 100%;
    }
}

.el-pop { 
    padding-bottom: 280%; 

    @include breakpoint($col-4,$col-6) {
        padding-bottom: 250%; 
    }

    @include breakpoint($col-6, $col-7) {
        padding-bottom: 190%; 
    }

    @include breakpoint($col-7, $col-8) {
        padding-bottom: 175%; 
    }

    @include breakpoint($col-8, $col-10) {
        padding-bottom: 157%; 
    }

    @include breakpoint($col-10, $col-12) {
        padding-bottom: 148%; 
    }

    @include breakpoint($col-12,$col-14) {
        padding-bottom: 160%; 
    }

    @include breakpoint($col-14) {
        padding-bottom: 150%; 
    }
}