//
// pull quote
//
// file: loud/elements/_pullquote.scss
//
// description:
// global pull quote styles
//
// -----------------------------------------------------------------------------

.pullquote {

    float: right;
    margin-bottom: 15px;
	
    @include theme(color, page copy color);

    @include breakpoint($col-8) {
        margin-left: $gutter-width;
        width: $col-4 - $gutter-width;
    }
    
    & > blockquote {
    	margin: 0;
    	&:before {
            display: block;
            height: 35px;
            line-height: .8;
            @include icon($icon--quote);
            @include font-size(36px);
            @include breakpoint($col-8) {
                height: 40px;
                line-height: .5;
                @include font-size(52px);
            }
        }
    }

    &__quote {

        font-style: italic;

        @include copy(18px, 24px, $light);

        @include breakpoint($col-8) {
            @include copy(20px, 26px, $light);
        }
    }

    &__author {
        @include copy(14px, 20px, $bold);

        @include breakpoint($col-8) {
            @include copy(18px, 24px, $bold);
        }
    }
}
