//
// Embed
//
// file: loud/elements/_rebelmouse.scss
//
// description:
// Styles for rebelmouse
//
// -----------------------------------------------------------------------------

.el-embed-rebelmouse {
    clear: both;
    margin-bottom: 20px;
    width: 97.5%;
}