//
// Embed
//
// file: loud/elements/_spreecast.scss
//
// description:
// Styles for spreecast
//
// -----------------------------------------------------------------------------

.el-embed-spreecast {
    clear: both;
    position: relative;

    .el-embed-spreecast__content {
        position: absolute;
        width: 100%;
        height: 100%;
    } 
}

//height for medium and large size
.el-embed-spreecast__pad { 
    height: 490px;
 
    // height for small size
    @include breakpoint($col-5, $col-7) {
        height: 320px;
    }

    // alignment for 320-335 width and height
    @include breakpoint($col-4, $col-5) {
        height: 320px;
        margin-left: -5%;
        margin-right: -5%;
    }
}