//
// story elements
//
// file: loud/elements/_storyelement.scss
//
// description:
// Global storyelement
//
// -----------------------------------------------------------------------------

@mixin top-line($color: $gray-4, $margin: 20px, $width: 80px) {
    margin-top: $margin * 3;
    position: relative;

    &:before {
        @include breakpoint($col-8) {
            border-top: 1px solid $color;
            bottom: 100%;
            content: '';
            display: block;
            height: 1px;
            margin-top: $margin;
            margin-bottom: $margin;
            position: absolute;
            width: $width;
        }
    }
}

.el__embedded {
    position: relative;
    width: 100%;
    @include z-index($content-layer);
}

// -------------------------------------------------------- GENERAL STYLES FOR ALL ELEMENTS

.el__image__close--expandable,
.el__video__close--standard,
.el__video__close--expandable,
.el__gallery__close--standard,
.el__gallery__close--expandable,
.el__video__collection__close--expandable {
    bottom: 100%;
    cursor: pointer;
    height: 36px;
    opacity: 0;
    overflow: hidden;
    padding: 2px;
    position: absolute;
    left: 0;
    width: 100%;

    .el__embedded--open & {
        opacity: 1;
        transition: opacity .7s;
    }
}

.el__image__close--expandable {
    bottom: auto;
    bottom: initial;
    display: none;
    top: 0;
}

.el__video__close--expandable {
    display: none;
}

.el__gallery__expand--standard,
.el__gallery__expand--expandable {
    color: $gray-8;
}

.el__image__expand--expandable,
.el__video__expand--standard,
.el__video__expand--expandable {
    color: $gray-8;
}

.el__image--expandable,
.el__video--standard,
.el__video--expandable,
.el__gallery--standard,
.el__gallery--expandable {
    .media__caption {
        padding-top: 0;
    }
}

.el__image--expandfull,
.el__video--expandfull {
    clear: both;
    margin-bottom: 10px;
    position: relative;
    width: 100%;

    .pg-rail--align-left & {
        float: right;
    }

    .pg-rail--align-right & {
        float: left;
    }
}

.el__gallery--expandfull {
    clear: both;
    margin-bottom: 10px;
    position: relative;
    width: 100%;

    .pg-rail--align-left & {
        float: right;
    }

    .pg-rail--align-right & {
        float: left;
    }

    .el__gallery--teaseimage {
        display: block;
    }
    .owl-filmstrip {
        padding: 15px 10px;
    }

    .owl-theme .owl-controls .owl-buttons div {
        opacity: .5;

        &:before {
            text-shadow: 0 1px 4px rgba(0, 0, 0, .8);
        }
    }

    .owl-theme .owl-controls .owl-buttons div:hover {
        opacity: 1;
    }

    .owl-item.synced .media__image {
        height: 60px;
    }
}

.el__storyelements--close,
.el__video_collection--close {
    padding: 2px 0;

    &:before {
        color: $gray-7;
        float: right;
        position: relative;
        width: 30px;

        @include font-size(34);
        @include icon($icon--close);
    }

    &:hover:before {
        color: $blue;
    }
}

.page-logo {
    float: left;
    height: 40px;
    margin: 10px 10px 30px 0px;
    width: 100px;

    @include breakpoint($col-12) {
        float: left;
        height: 60px;
        margin: 20px 20px 20px 0px;
        width: 120px;
    }

    @include breakpoint($col-14) {
        float: left;
        height: 80px;
        margin: 20px 0px 20px 0px;
        width: 142px;
    }
}

.el__gallery-showhide {
    font-family: $sans-serif;
    font-weight: $medium;
    height: 35px;
    padding: 10px 0;
    position: relative;
    transform: translateZ(1px);

    @include font-size(12);
    @include line-height(16, 12);

    .pg.t-dark & {
        color: $gray-5;
    }
}

.el__gallery-caption {
    cursor: pointer;
    float: right;

    &:hover {
        color: $blue;
    }

    &:after {
        margin-left: 10px;

        @include font-size(18);
        @include icon($icon--arrow-up);
    }

    &--closed:after {
        @include icon($icon--arrow-down);
    }
}

.el__show--embed,
.el__special--embed,
.el__article--embed {
    float: left;

    @include breakpoint(0, $col-6) {
        float: none;

        &.el__storyelement--fullstandardwidth {
            .el__storyelement__header a {
                display: block;
            }
        }
    }

    @include breakpoint($col-6) {
        margin-right: 30px;
    }

    .el__storyelement__title {
        margin: 0;
        padding: 0;

        a {
            color: $gray-9;

            &:hover {
                color: $link-blue;
            }

            &:before {
                font-weight: $medium;
            }
        }
    }
}

.el__storyelement__title {

    .el__article--embed & {
        a:before {
            content: 'Related Article: ';
        }
    }

    .el__special--embed & {
        a:before {
            content: 'Related Content: ';
        }
    }

    .el__show--embed & {
        a:before {
            content: 'Related Show: ';
        }
    }

}

.el__storyelement--standard,
.el__storyelement--expandable,
.el__image--standard,
.el__image--expandable,
.el__video--standard,
.el__video--expandable,
.el__gallery--standard,
.el__gallery--expandable {
    clear: both;
    cursor: default;
    margin-bottom: 10px;
    width: 100%;

    .pg-rail--align-left & {
        float: right;
    }

    .pg-rail--align-right & {
        float: left;
    }

    @include breakpoint($col-6) {
        margin-top: $gutter-width / 2;
        margin-bottom: $gutter-width * 1.5;
        width: $col-4 - $gutter-width;

        .pg-rail--align-left & {
            margin-left: $gutter-width * 1.5;
        }

        .pg-rail--align-right & {
            margin-right: $gutter-width * 1.5;
        }
    }

    .el__gallery--teaseimage {
        display: none;

        @include breakpoint($col-6) {
            display: block;
        }
    }

    .el-carousel__wrapper {
        display: block;

        @include breakpoint($col-6) {
            visibility: hidden;
        }
    }

    .media__icon {
        display: none;

        @include breakpoint($col-6) {
            display: block;
        }
    }
}



// -------------------------------------------------------- SPECIFIC STYLES

.el__image--expandable,
.el__video--standard,
.el__video--expandable,
.el__gallery--standard,
.el__gallery--expandable {
    cursor: pointer;
}

.el__embedded {

    .carousel--full {
        margin-top: 0;
    }

    .el__gallery--standard {
        .el__gallery--teaseimage {
            transition: none;
        }
    }

    .el__gallery--teaseimage {
        .media__icon {
            bottom: 0;
            left: 0;
            position: absolute;
        }
    }

    &.el__embedded--open {

        .el__gallery--teaseimage {
            opacity: 0;
            position: absolute;
            width: 100%;
            z-index: -1;

            transition: opacity 0s linear 1s;

            .media__caption {
                opacity: 0;
            }
        }
    }

    .el__gallery--standard,
    .el__gallery--expandable {
        position: relative;
    }

    .el__gallery--expandfull {
        transition: max-height .7s;
    }

    &:not(.el__embedded--fullstandardwidth) .el-carousel__wrapper {
        position: absolute;
        width: 100%;
        z-index: -1;

        .owl-height {
            transition: none;
        }
    }

    .el__gallery--expandfull {
        .el__storyelements--close {
            display: block;
        }

        .el__gallery__expand--standard {
            display: none;
        }
    }

    .zn-body & {
        .el__gallery--standard,
        .el__gallery--expandable,
        .el__gallery--expandfull,
        .el__gallery--fullstandardwidth,
        .el__video--expandfull,
        .el__video--fullstandardwidth {
            .media__caption {
                .el__storyelement__gray,
                .el__storyelement__header {
                    display: inline;
                }

                .el__storyelement__header {
                    font-weight: $medium;
                }
            }
        }

        .el__video--standard,
        .el__video--expandable {
            .media__caption {
                .el__storyelement__gray,
                .el__storyelement__header {
                    display: inline;
                }

                .el__storyelement__header {
                    font-weight: $light;
                }
            }
        }
    }
}

//* on hover styles */

.el__image--expandable {

    html.no-touchevents &:hover {
        .el__image__expand--expandable {
            color: $blue;
        }
    }
}

.el__video--standard,
.el__video--expandable {

    html.no-touchevents &:hover {
        .el__video__expand--expandable {
            color: $blue;
        }

        .el__video__expand--standard {
            color: $blue;
        }

        .media__video--demand {
            color: $blue;
        }
    }
}

.el__gallery--standard,
.el__gallery--expandable {
    position: relative;

    html.no-touchevents &:hover {
        .el__gallery__expand--expandable {
            color: $blue;
        }

        .el__gallery__expand--standard {
            color: $blue;
        }

        .media__icon {
            color: $blue;
        }
    }

    .media__icon {
        color: $gray-1;
        padding: 7px;
        background: rgba($gray-11, .3)
    }

    .icon-media-gallery {
        &:before {
            @include font-size(18);
        }
    }
}

//* On hover styles for touch devices */

html.touchevents .el__image--touchhover {
    color: $blue;
}

html.touchevents .el__video--touchhover {
    .el__video__expand--expandable {
        color: $blue;
    }

    .el__video__expand--standard {
        color: $blue;
    }

    .media__video--demand {
        color: $blue;
    }
}

html.touchevents .el__gallery--touchhover {
    .el__gallery__expand--expandable {
        color: $blue;
    }

    .el__gallery__expand--standard {
        color: $blue;
    }

    .media__icon {
        color: $blue;
    }
}

body .zn.zn-body-text {
    .el__storyelement--fullwidth,
    .el__image--fullwidth,
    .el__video--fullwidth,
    .el__gallery--fullwidth,
    .el__gallery--fullstandardwidth,
    .el__video--fullwidth  {
        clear: both;
        margin-bottom: $gutter-width;
        margin-top: $gutter-width;
        width: 100%;
    }
}

.el__storyheader {
    padding: 10px 0;
}

.el__correction--title,
.el__factbox--title {
    @include copy(16px, 20px, $medium);
    @include theme(color, page copy color);

    @include breakpoint($col-6, $col-13) {
        @include copy(18px, 24px, $medium);
    }

    @include breakpoint($col-13) {
        @include copy(20px, 24px, $medium);
    }
}

.el__storycontent,
.el__storycontent--standard,
.el__storycontent--expandable {
    border-top: 1px solid;
    padding: 10px 0;

    @include copy(14px, 20px);
    @include theme(border-color, card divider color);
    @include theme(color, page copy color);
}

// padding for full width appearance
.el__storycontent--fullwidth {
    padding-right: 10%;
}

.el__video--standard,
.el__video--expandable {
    .media__video--thumbnail-wrapper {
        position: relative;
    }

    .media__video--demand {
        color: $white;
        cursor: pointer;
        display: none;
        height: 40px;
        position: absolute;
        text-align: center;
        transform: translate(-50%, -50%);
        width: 50px;

        @include stretch(50%, 50%, 50%, 50%);

        &:before {
            @include font-size(40);
            @include icon($icon--type-video-large);

            @include breakpoint($col-4, $col-6) {
                margin-left: -45px;
                margin-top: -45px;

                @include font-size(90);
                @include stretch(50%, false, false, 50%);
            }
        }

        &:hover {
            color: $blue;
        }

        @include breakpoint($col-6) {
            display: block;
        }
    }
    
    .media__video--demand.media__video--360 {
        &:before {
            @include icon($icon--y11-type-video360);
        }
    }

    .el__video__play-button-wrapper {
        @include breakpoint($col-6) {
            display: none;
        }
    }

    .metadata {
        margin-bottom: 0;
    }
}


.zn[data-eq-state$="small"],
.zn[data-eq-state$="xsmall"] {

    .el__storyelements--expand {
        display: none;
    }
}


.el__video--standard,
.el__video--expandable,
.el__video--fullwidth {
    .el__video__play-button {
        margin: 16% 37% 0;

        @include breakpoint($col-6) {
            margin: 25% auto 0;
        }
    }
}

.el__video--standard,
.el__video--expandable {
    .el__storyelement__header:before {
        content: 'Related Video: ';
        font-weight: $medium;
    }
}

[class*="el__video"] .media__video {
    background: transparent;

    .metadata {
        background: transparent;

        .metadata__source {
            font-style: italic;

            @include copy(12px, 14px, $normal);
            @include theme(color, card copy meta color)
        }
    }
}

//* standard width caption */
.el__image--standard,
.el__image--expandable {
    .media__caption {
        font-family: $sans-serif;

        @include copy(16px, 24px);

        .el__storyelement__gray {
            color: $gray-9;
        }
    }
}

.zn-body .el__embedded {
    .el__image--standard,
    .el__image--expandable,
    .el__image--fullwidth,
    .el__image--expandfull,
    .el__gallery--standard,
    .el__gallery--expandable,
    .el__video--standard,
    .el__video--expandable,
    .el__show--embed,
    .el__article--embed,
    .el__special--embed {
        .media__caption {
            color: $gray-9;

            @include top-line($gray-4, 10px);

            & + .media__caption:before {
                border: 0;
                display: none;
            }
        }
    }
}



.zn-body {
    .el__image--standard,
    .el__image--expandable,
    .el__image--fullwidth,
    .el__image--expandfull,
    .el__gallery--standard,
    .el__gallery--expandable,
    .el__gallery--fullwidth,
    .el__gallery--expandfull,
    .el__gallery--fullstandardwidth,
    .el__leafmedia--gallery-full {
        .media__caption {
            margin: 0;
        }

        .owl-filmstrip {
            border-top: 1px solid $gray-4;
            padding: 10px 20px;

            @include breakpoint($col-6) {
                height: 85px;
            }

            .pg.t-dark & {
                border-color: $gray-10;
            }

            .owl-item {
                cursor: pointer;
            }

            .owl-item.synced .media__image {
                border-bottom: 3px solid $cnn-red;
            }

            .owl-stage-outer,
            .owl-nav {
                @include breakpoint(0, $col-6) {
                    display: none;
                }
            }
        }
    }
}

.zn-body .el__image--fullwidth,
.zn-body .el__image--expandfull,
.zn-body .el__image--standard,
.zn-body .el__image--expandable {
    .media__caption {
        color: $gray-9;
        padding: 0 5px 5px;

        @include copy(16px, 24px);

        .el__storyelement__gray {
            color: $gray-7;
            display: block;

            @include copy(16, 24, $light);
        }
    }
}

.el__video--standard,
.el__video--expandable,
.el__video--fullwidth,
.el__video--expandfull,
.el__leafmedia--gallery-full {
    .zn-body & .media__caption {
        padding: 0;
    }
}

.el__gallery--standard,
.el__gallery--expandable,
.el__gallery--fullwidth,
.el__gallery--expandfull,
.el__gallery--fullstandardwidth,
.el__video--standard,
.el__video--expandable,
.el__video--fullwidth,
.el__video--expandfull,
.el__show--embed,
.el__article--embed,
.el__special--embed,
.el__leafmedia--gallery-full {
    .el__storyelement__gray {
        color: $gray-7;
        font-style: normal;

        @include copy(16px, 24px);
    }

    .zn-body & .media__caption {
        font-family: $sans-serif;
        margin: 0;

        .zn-body & {
            margin: 0;
        }

        .el__storyelement__header {
            display: block;

            @include copy(16, 24, $light);
            @include theme(color, el media-caption color);

            .pg.t-dark & {
                color: $gray-1;
            }

            @include breakpoint($col-1, $col-8) {
                @include copy(16px, 20px, $light);
            }
        }
    }

    .zn-body & .media__video .metadata {
        margin: 0;
    }

    .el__storyelement__title {
        padding-bottom: 0px;

        .el__storyelement__gray {
            display: block;

            @include copy(16, 24, $light);
            @include theme(color, el media-caption color);

            @include breakpoint($col-1, $col-8) {
                @include copy(16px, 20px, $light);
            }
        }
    }
}

.zn-body.zn.zn-large-media,
.zn-body.zn-body-text .owl-carousel,
.zn-body.zn-body-text .el__video--expandfull,
.zn-body.zn-body-text .el__video--fullwidth  {
    .media__caption {
        padding-top: 10px;

        .el__storyelement__header {
            display: inline;
            padding: 0 0 15px;

            @include copy(16px, 24px, $medium);
            @include theme(color, el media-caption color);
        }

        .el__storyelement__gray {
            display: inline;

            @include copy(16px, 24px, $light);
            @include theme(color, el media-caption color);
        }
    }
}

// full width or expanded media within the body text zone
.zn-body {
    .el__gallery--fullwidth,
    .el__gallery--expandfull,
    .el__video--fullwidth,
    .el__video--expandfull {
        .media__caption {
            .el__storyelement__header {
                padding: 0 0 15px;
            }
        }
    }
}

//* gallery title */
.el__gallery--standard,
.el__gallery--fullwidth,
.el__gallery--expandable,
.el__gallery--expandfull,
.el__gallery--fullstandardwidth,
.el__leafmedia--gallery-full {
    .carousel--full {
        overflow: hidden;
        .owl-nav div {
            height: 70px;
            padding: 5px;
            width: 6%;
            @include breakpoint($col-13) {
                height: 60px;
                padding: 0 7px;
            }

            // size these buttons for a 16:9 gallery image
            &:before {
                .touchevents & {
                    padding: 0 5px;
                    top: 0;
                }

                opacity: .9;
            }

            &:hover::before {
                opacity: 1;
            }
        }
    }

    .el__gallery-showhide {
        @include theme(color, el media-caption color)
    }

    .el__gallery_image-title {
        padding-top: 0;
    }

    .ad-slide {
        .ad-slide__prev {
            padding: 5px 50px 50px 0;

            @include breakpoint($col-13) {
                padding: 0 50px 50px 0;
            }
        }

        .ad-slide__next {
            padding: 5px 0 50px 50px;

            @include breakpoint($col-13) {
                padding: 0 0 50px 50px;
            }
        }
    }

    .owl-filmstrip .owl-nav div {
        display: block;
        text-shadow: none;
        width: 20px;

        @include font-size(25);
        @include theme(color, el media-caption color);

        .pg.t-dark & {
            color: $gray-4;
        }

        &:before {
            display: block;
            opacity: .8;
            padding: 0;
            text-indent: 0;
            text-shadow: none;

            @include font-size(25);
            @include stretch(false, false, 48%, false);
        }
    }

    .owl-filmstrip .owl-nav {
        .owl-prev,
        .owl-next {
            .no-textshadow & {
                &:after {
                    display: none;
                }
            }
        }
    }

    .media__caption {
        margin: 0;
    }

    .metadata {
        margin: 0;
    }
}


//* relative position */
.el__position {
    position: relative;
}

.el__embedded--open {
    clear: left;
}
