.el__storyhighlights_wrapper {
    width: 100%;

    .pg-rail--align-left & {
        float: right;
    }

    .pg-rail--align-right & {
        float: left;
    }

    @include clearfix;

    @include breakpoint($col-6) {
        width: $col-4 - $gutter-width;

        .pg-rail--align-left & {
            margin-left: $gutter-width;
        }

        .pg-rail--align-right & {
            margin-right: $gutter-width;
        }
    }
}

.el__storyhighlights {
    font-family: $sans-serif-interface;
    margin-bottom: $gutter-width;
    width: 100%;

    @include theme(color, el story-highlights color);

    .el__headline {
        letter-spacing: 0;
        padding: 10px 0;

        @include copy(16px, 20px, $medium);

        @include breakpoint($col-6, $col-13) {
            @include copy(18px, 24px, $medium);
        }

        @include breakpoint($col-13) {
            @include copy(20px, 24px, $medium);
        }

    }

    &__list {
        @extend %unstyled-list;
    }

    &__item {
        border-top: 1px solid;
        font-weight: $normal;
        padding: 10px 0;

        @include copy(14px, 20px);
        @include theme(border-color, card divider color);
    }

    &--new:before {
        content: "NEW:";
        font-weight: $bold;

        @include theme(color, el story-highlights before);
    }
}
