//
// timestamp
//
// file: loud/elements/_timestamp.scss
//
// description:
// Global timestamp element
//
// -----------------------------------------------------------------------------

.el-timestamp {
    font-family: $sans-serif-interface;
    font-weight: $bold;
    @include font-size(11);

    &:before {
        margin-right: 5px;
        @include icon($icon--timestamp);
    }
}
