.m-truste {

    &__icon {
        cursor: pointer;
        width: auto;
        @include stretch(0, 0, false, false);
    }
}

// Styling associated with box overlay modal that AdChoices uses
// Vendor lib applies this inline so we must overrule it here
.overlay {
    z-index: 10001 !important;
}
.box_overlay {
    position: fixed !important;
    z-index: 10002 !important;

    * {
       box-sizing: content-box;
    }
}

// Adds AdChoices logo next to text in footer links
.m-legal .m-legal__links[data-analytics="footer_adchoices"] {
    padding-right: 20px;
    position: relative;

    &:after {
        margin-top: -($logo-adchoices-footer-height / 2);

        @extend %sprite-cnn-defaults;
        @include sprite($logo-adchoices-footer);
        @include stretch(50%, 3px, false, false);
    }
}
