//
// Embed
//
// file: loud/elements/_twitter.scss
//
// description:
// Styles for twitter
//
// -----------------------------------------------------------------------------

.el-embed-twitter {
    clear: both;
    margin-bottom: 20px;
    position: relative;

    @include z-index($content-layer);
}

.twitter-tweet {
    width: 100% !important; // !important required to override instagram embed styles.
}
