//
// video
//
// file: loud/elements/_video.scss
//
// description:
// Styles for videos
//
// -----------------------------------------------------------------------------

$muted-player-width: 300px;
$muted-player-height: 169px;


// Mixins
%responsive-video-widescreen {
    height: 0;
    overflow: hidden;
    padding-bottom: $ratio-16x9;
    position: relative;
}

// Styles
.media__video {
    background: $near-black;
    position: relative;

    object {
        display: block;
        margin: 0 auto;
    }
}

//  .media__video-description rules have been moved from this file (_video.scss) to _video-global.scss

.media__video--responsive {
    @extend %responsive-video-widescreen;

    object {
        position: absolute;

        @include z-index($content-layer, content);
    }
}

.media__video--thumbnail {
    position: absolute;
    width: 100%;
}

.media__video--jumbotron {
    position: absolute;
    top: 0;
    width: 100%;
}

.el__video__player-wrapper {
    height: 100%;
    position: absolute;
    top: 0;

    // This is needed for iOS and Android
    .media__video--responsive & {
        @extend %responsive-video-widescreen;
    }

    embed,
    iframe,
    img,
    object {
        width: 100%;
    }

    video {
        position: absolute;
        width: 100%;

        &[preload="metadata"] {
            background-color: $black;
        }
    }
}

.el__video__ad-countdown {
    margin: 3px 25px 0 5px;

    @include stretch(false, 0, false, false);
}

.el__video__play-button-wrapper  {
    width: 100%;

    @include stretch(0, 0, 0, 0);
}

.el__video__play-button {

    color: $near-white;
    cursor: pointer;
    height: 100%;
    width: 100%;

    &:hover:before,
    &:before {
        $height: 90px;
        $width: $height;

        display: inline-block;
        height: $height;
        margin-left: - $width / 2;
        margin-top: - $height / 2;
        text-align: center;
        width: $width;

        @include font-size(90);
        @include icon($icon--type-video-large);
        @include stretch(50%, false, false, 50%);
    }

    &:hover:before {
        color: $link-hover;
    }

    .el__video__play-button--live &{

        &:before {
            $height: 80px;
            $width: $height;

            background: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/video_watch_cnnlive.png") no-repeat 0 0;
            background-size: auto 80px;
            content: "";
            cursor: pointer;
            display: inline-block;
            height: $height;
            margin-left: - $width / 2;
            margin-top: - $height / 2;
            opacity: .6;
            text-align: center;
            width: $width;

            @include stretch(50%, false, false, 50%);
        }

        &:hover:before {
            color: $white;
            opacity: 1;
        }
    }
}

.video__unmute {

    color: $white;
    cursor: pointer;
    height: 70px;
    width: 70px;

    @include stretch(0, false, false, 0);
}

.video__unmute__button {
    background: url('@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/mute-wht-24.png') no-repeat 0 0;
    background-size: contain;
    height: 24px;
    opacity: 0.9;
    width: 24px;

    &:hover {
        opacity: 1;
    }

    @include breakpoint($col-10) {
        background: url('@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/mute-32.png') no-repeat 0 0;
        height: 36px;
        width: 36px;
    }

    @include stretch(20px, false, false, 20px);
}

.video__unmute--active {
    display: inline-block;
    @include z-index($overlay-layer, modal-controls);
}

.video__unmute--inactive {
    display: none;
    @include z-index($content-layer, content);
}

.media__video--live {
    height: $muted-player-height;
    margin: 0 auto;
    width: $muted-player-width;
}

//
// Featured video collection player element used on the video landing
// page, video leaf pages and leaf pages.
//
.pg {
    .media__video {
        margin: 0 0 10px;
    }

    .video__description {
        display: none; // hide on mobile view

        @include copy(12px, 18px);

        @include breakpoint($col-6, $col-10) {
            @include copy(14px, 20px);
        }

        @include breakpoint($col-8) {
            display: block;
        }

        @include breakpoint($col-10) {
            @include copy(16px, 22px);
        }
    }

    @at-root .video__description {
        @include theme(color, page metadata color, $page-class:pg-videos);
    }

    .video__description-sharebar {
        // sharebar for video description on mobile feature need to have smaller padding
        @include breakpoint($col-4) {
            .gigya-sharebar-element,
            .sharebar-video-embed-element {
                float: left;
                margin: 0 0 0 5px;
            }
        }

        .m-share__bar {
            margin-top: 20px;
        }
    }

    .video__description-toggle {
        float: right;

        @include breakpoint($col-8) {
            display: none;
        }

        &:before {
            margin-right: 5px;

            @include icon($icon--arrow-down);
        }

        &.hide-desc {
            &:before {
                @include icon($icon--arrow-up);
            }
        }
    }

    .video__title {
        margin: 0 0 10px;

        @include copy(20px, 26px, $bold);
    }

    .video__duration {
        font-weight: $light;
        padding-left: 10px;
    }

    // On video page, hide the title, trt, and description from the large video up top
    &.pg-videos {

        //reset for that 72px font size inheritance
        .zn--idx-0 {
            @include copy(14px, 14px, $normal);
        }

        .video__description-sharebar {
            .m-share__bar {
                margin: 0 0 10px;
            }
        }

        .video__share {
            .m-share__bar {
                float: left;
            }
        }

        @include breakpoint($col-8) {
            //scope these changes to the featured video player specifically
            .el__leafmedia--featured-video-player,
            .cn-collection-player {
                .video__title,
                .video__duration,
                .video__description {
                    display: none;
                }

                .video__source {
                    float: left;
                    height: 0;
                    margin: 0;
                    overflow: visible;
                    position: relative;
                    top: 30px;

                }

                .video__description-sharebar {
                    .m-share__bar {
                        float: right;
                        margin: 0 0 10px;
                    }
                }
            }
        }
    }

    @at-root .video__duration {
        @include theme(color, page metadata secondary-color, $page-class:pg-videos);
    }

    .video__metadata__source-name {

        font-weight: medium;

        @include font-size(16);
    }

    .video__source--metadata {
        display: inline;
    }

    .video__source {
        margin: 0 0 10px;

        @include font-size(14);
    }

    @at-root .video__source {
        @include theme(color, page metadata color, $page-class:pg-videos);
    }
}

.video-red-spinner {
    background: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/video_buffer_square_blk.gif") no-repeat 0 0;
    display: none;
    height: 80px;
    left: 50%;
    margin: -45px 0 0 -45px;
    position: absolute;
    top: 50%;
    width: 80px;

    @include z-index($content-layer, content-masking);
}

// Begin Video Pinning

body.videopinning--on .pg-rail-tall__head .el__video .media__image,
body.videopinning--off .pg-rail-tall__head .el__video .media__image {
    background: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/video_pinned_white_bg.jpg") no-repeat 0 0;
}

body.videopinning--on .pg-rail-tall__head .media__video--responsive .el__storyelement__title,
body.videopinning--off .pg-rail-tall__head .media__video--responsive .el__storyelement__title,
body.videopinning--on .pg-rail-tall__head .media__video--responsive object,
body.videopinning--off .pg-rail-tall__head .media__video--responsive object,
body.videopinning--on .pg-rail-tall__head .media__video--responsive div.theoplayer,
body.videopinning--off .pg-rail-tall__head .media__video--responsive div.theoplayer {
    opacity: 0;

    @include z-index($content-layer, interactive-controls);
}

body.videopinning--off .pg-rail-tall__head .media__video--responsive,
body.videopinning--on .pg-rail-tall__head .media__video--responsive {
    overflow: visible;
}

body.videopinning--on .pg-rail-tall__head .media__video {
    margin-bottom: 50px;
}

body.videopinning--on .pg-rail-tall__head .media__video--responsive .el__storyelement__title,
body.videopinning--off .pg-rail-tall__head .media__video--responsive .el__storyelement__title
{
    background: $white;
}

.pinCurrentPlay {
    color: $red-1;
    float: left;
    font-weight: $medium;
    margin-right: 5px;

    @include line-height(24, 16);
}

body.videopinning--on .pg-rail-tall__head .media__video--responsive object.fade-in,
body.videopinning--off .pg-rail-tall__head .media__video--responsive object.fade-in,
body.videopinning--on .pg-rail-tall__head .media__video--responsive div.theoplayer.fade-in,
body.videopinning--off .pg-rail-tall__head .media__video--responsive div.theoplayer.fade-in,
body.videopinning--on .pg-rail-tall__head .media__video--responsive .el__storyelement__title.fade-in,
body.videopinning--off .pg-rail-tall__head .media__video--responsive .el__storyelement__title.fade-in {
    opacity: 1;
}

body.videopinning--on .pg-rail-tall__head .media__video--responsive .media__caption.el__storyelement__title.fade-in:before {
    box-shadow: 0 4px 5px rgba(0,0,0,.2);
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0%;
    width: 100%;
    height: 4%;
}

body.videopinning--on .pg-rail-tall__head .media__video--responsive .media__caption.el__storyelement__title.fade-in {
    height: 30px;
    padding: 5px 0px;
    & .cd__headline-text,
    & .el__storyelement__header {
        float: left;
        max-height: 40px;
        width: 200px;
    }
}

.pg-rail-tall__head .inbetweener-pinner--type1 {
    background: transparent;
    height: 438.75px;
    position: fixed;
    width: 780px;

    @include z-index($background-layer, zone-background);
}

.pg-rail-tall__head .inbetweener-pinner--type2 {
    background: transparent;
    height: 168px;
    position: fixed;
    width: 300px;

    @include z-index($background-layer, zone-background);
}

body.videopinning--on.inbetweener-pinner--type2 .pg-rail-tall__head .inbetweener-pinner--type2 {
    background: $black;
    opacity: 1;
    transition: top .5s ease;

    @include z-index($content-layer, tooltip);

    // Need to remove transition while scrolling pinned player based on footer position
    &.no-transition {
        transition: none;
    }
}

body.videopinning--on.inbetweener-pinner--type1 .pg-rail-tall__head .inbetweener-pinner--type1 {
    background: $black;
    height: 168.75px;
    position: fixed;
    transition: left .5s, width .5s ease, height .5s ease;
    width: 300px;

    @include z-index($content-layer, tooltip);
}

body.videopinning--on.inbetweener-pinner--type1 .pg-rail-tall__head .inbetweener-pinner--type1:before,
body.videopinning--on.inbetweener-pinner--type2 .pg-rail-tall__head .inbetweener-pinner--type2:before {
    display: block;
    background-color: $white;
    content: "";
    width: 100%;
    height: 10px;
}

// In-betweener: container used for transition affect when unpinning
.pg-rail-tall__head .inbetweener-unpinner {
    background: $black;
    height: 438.75px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: top .5s, left .5s, width .5s ease, height .5s ease, opacity ease-in 1s;
    width: 780px;

    @include z-index($content-layer, tooltip);
}

body.videopinning--on .pg-rail-tall__head .inbetweener-unpinner {
    background: transparent;
    height: 168.75px;
    opacity: 1;
    top: 85px;
    transition: none;
    width: 300px;

    @include z-index($background-layer, zone-background);
}
// End Video Pinning

// Start CNNgo Free Preview
.cnngo-free-preview {
    color: $white;
    $transition-time1: .5s;
    $transition-time2: .25s;
    &.media__video {
        margin-bottom: 0;
        .pg-article & {
            background-color: transparent;
        }
    }
    .media__video--thumbnail {
        transition: opacity $transition-time1 ease-in-out;

        .watch-live-tv-cta {
            display: none;
            &.display {
                display: block;
            }
            .el__video__play-button:before {
                transition: opacity $transition-time2 ease-in-out;
            }
        }
    }

    .slates-wrapper {
        background-color: $black;
        min-height: 0;
        min-width: 0;
        opacity: 0;
        visibility: visible;

        @include z-index($background-layer);

        &.use-transitions {
            transition: opacity $transition-time1 ease-in-out, min-height $transition-time1 ease-in-out, min-width $transition-time1 ease-in-out;
        }

        &.minimum-dimensions {
            min-height: 300px;
            min-width: 400px;
        }

        .slate {
            background-color: $black;
            opacity: 0;
            visibility: visible;

            @include z-index($background-layer);

            &.use-transitions {
                transition: opacity $transition-time1 ease-in-out;
            }

            .close-button {
                background-color: transparent;
                cursor: pointer;
                font-size: 1.5rem;
                height: 20px;
                line-height: 0.8;
                width: 20px;

                @include stretch(0, 2px, false, false);
                @include z-index($content-layer, content-masking);

                &:after {
                    @include icon($icon--close);
                }
            }
        }
        .cnngo-loading-slate {
            background: url('@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/cnngo-loading.png') no-repeat 0 0;
            background-size: contain;
            position: absolute;
            width: 100%;
            .spinner {
                $loader-color: $cnn-red;
                $loader-width: .5em;

                animation: spinner 1.1s infinite linear;
                border-top: $loader-width solid rgba($loader-color, 0.2);
                border-right: $loader-width solid rgba($loader-color, 0.2);
                border-bottom: $loader-width solid rgba($loader-color, 0.2);
                border-left: $loader-width solid $loader-color;
            }
            .spinner, .spinner:after {
                $diameter: 5em;
                border-radius: 50%;
                width: $diameter;
                height: $diameter;
                margin-left: - $diameter / 2;

                @include stretch(50%, false, false, 50%);
            }
            @keyframes spinner {
                0% {
                     transform: rotate(0deg);
                }
                100% {
                     transform: rotate(360deg);
                }
            }
        }
        .end-slate {
            text-align: center;

            @include copy(16px);

            .title {
                margin-bottom: 25px;

                @include copy(20px);
            }
            .copy {
                margin-bottom: 25px;

                @include copy(16px, 22px);
            }
            .cta {
                .smart-link {
                    border: 2px solid $white;
                    display: block;
                    margin: 0 auto 20px auto;
                    padding: 10px 0;
                    width: 280px;
                }
            }
            .cnngo-logo {
                background: url('@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/logo-cnngo.png') no-repeat 0 0;
                background-size: contain;
                height: 50px;
                margin: 0 auto;
                width: 99px;
            }
            a {
                color: $white;
            }
            .cd[data-eq-state$="small"] &,
            .pg-article section[data-eq-state$="xsmall"] & {
                @include font-size(13);

                .title {
                    margin-bottom: 15px;

                    @include font-size(17);
                }
                .copy {
                    margin-bottom: 15px;

                    @include font-size(13);
                }
                .cta {
                    .smart-link {
                        margin-bottom: 10px;
                    }
                }
            }
            .cd[data-eq-state$="small"] &,
            .cd[data-eq-state$="xsmall"] & {
                // Small card with tight space
                @include breakpoint($col-12, $col-13) {
                    @include font-size(11);
                    .title {
                        margin-bottom: 5px;

                        @include font-size(15);
                    }
                    .copy {
                        margin-bottom: 5px;

                        @include font-size(11);
                    }
                    .cta {
                        .smart-link {
                            margin-bottom: 5px;
                            padding: 5px 0;
                        }
                    }
                }
            }
            .cd[data-eq-state$="medium"] &,
            .pg-article section[data-eq-state$="medium"] & {
                // Medium card with tight space
                @include breakpoint($col-6, $col-7) {
                    .title {
                        margin-bottom: 20px;
                    }
                    .copy {
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .error-slate {
            text-align: center;

            @include font-size(15);

            div {
                margin-bottom: 20px;
            }
            .close-button {
                margin-bottom: 0;
            }
            .retry {
                border: 1px solid #a6a6a6;
                color: #a6a6a6;
                cursor: pointer;
                display: inline-block;
                padding: 6px 0;
                width: 100px;
            }
            .retry:hover {
                border-color: #f2f2f2;
                color: #f2f2f2;
            }
            .troubleshooting-link {
                color: #006598;
                font-style: italic;
            }
            .troubleshooting-link:hover {
                color: #2483b3;
            }
            .default-error-message, .subscription-error-message {
                display: none;
            }
        }
        .video-slate {
            .close-button {
                opacity: 0;
                right: 0;
                transition: opacity $transition-time2 ease-in-out;
                &:hover {
                    opacity: 1;
                }
            }
            &:hover {
                .close-button {
                    opacity: 1;
                }
            }
            .persistent-cta {
                display: none;
                height: 54px;
                overflow: hidden;
                width: 180px;

                @include font-size(11);
                @include stretch(20px, 30px, false, false);

                .smart-link {
                    background: rgba(0,0,0,0.7);
                    border: 1px solid $white;
                    color: $white;
                    display: block;
                    height: 34px;
                    width: 180px;

                    @include font-size(12);

                    span {
                        float: left;
                        margin-left: 10px;
                    }
                    .text {
                        margin-left: 23px;
                    }
                    .image {
                        background: url('@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/logo-cnngo.png') no-repeat 0 0;
                        background-size: contain;
                        height: 25px;
                        margin-top: 0;
                        width: 49px;
                    }
                    .arrow:after {
                        @include font-size(13);
                        @include icon($icon--arrow-right);
                    }
                }
                .countdown-container, .cobranding-container {
                    display: none;
                    text-align: right;

                    @include font-size(10);

                    span {
                        display: inline-block;
                    }
                }
                .countdown-container span {
                    vertical-align: middle;
                }
                .cobranding-container {
                    margin: 5px 0 0 0;
                    span {
                        vertical-align: top;
                    }
                }
                .countdown, .cobranding {
                    margin: 0 0 0 10px;
                }
                .countdown {
                    @include font-size(14);
                }
                .cobranding {
                    img {
                        max-height: 15px;
                        max-width: 60px;
                    }
                }
            }
            &.visible {
                .persistent-cta {
                    display: block;

                    @include z-index($content-layer, content-masking);
                }
            }
            .free-preview-video-pinning {
                height: 0;
                .persistent-cta {
                    display: none;
                    right: 10px;
                }
            }
            .background-layer-for-internet-explorer {
                object {
                    @include z-index($background-layer);
                }
            }
        }
    }
    .vertical-center {
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }
    body.pg & {
        *.animate-show {
            opacity: 1;
        }
        *.animate-hide {
            opacity: 0;
        }
        *.visible {
            @include z-index($content-layer, content);
        }
    }
    // Start Video Pinning overrides for CNNgo Free Preview
    body.pg.videopinning--off & {
        .slates-wrapper {
            background-color: transparent;
        }
    }
    body.pg.videopinning--on.inbetweener-pinner--type1 & {
        .media__video--thumbnail {
            &.animate-hide {
                opacity: 1;
            }
            .watch-live-tv-cta {
                &.display {
                    display: none;
                }
            }
        }
        .slates-wrapper {
            background-color: transparent;
            z-index: auto;

            .video-slate {
                .free-preview-video-pinning {
                    height: 0;

                    @include z-index($overlay-layer);

                    .persistent-cta {
                        display: block;
                    }
                }
            }
        }
    }
    // End Video Pinning overrides for CNNgo Free Preview
}
// End CNNgo Free Preview

//Begin Video Experience Collection Player
// several Video Experience Collection Player classes are in _video-global
.el__video-collection__meta-wrapper {
    margin: 0 auto $gutter-width;
    overflow: hidden;

    @include breakpoint($col-12) {
        width: 300px;
    }

}

.phone {
    [data-meta="mobile-collection"] {
        .cn__column--2up1 {
            display: none;
        }
    }
}

.cn[data-meta="mobile-collection"] {
    ~ .cn-carousel-medium-strip {
        > h2.cn__title {
            display: none;
        }

        @include breakpoint($col-8) {
            > h2.cn__title {
                display: block;
            }
        }
    }

    .m-share__bar {
        margin-bottom: $gutter-width - 5;
        margin-top: $gutter-width - 5;
    }

    @include breakpoint($col-8) {
        .cn__column--2up0 {
            clear: left;
            padding-right: $gutter-width / 2;
            max-width: 60%;
        }

        .cn__column--2up1 {
            clear: right;
            padding-left: $gutter-width / 2;
            padding-top: $gutter-width / 2;
            max-width: 40%;
        }

        .m-share {
            &.m-share__bar {
                margin-bottom: 0;
                margin-top: 0;
                float: right;
            }
        }
    }
}
//End Video Experience Collection Player

// Begin fix for Zone 4 ad display on tablet
.mobile {
    #recommended-digital-studios {
        @include breakpoint($col-9, $col-12) {
            .column.zn__column--idx-2 {
                margin: auto;
                width: 100%;
            }
        }
    }
}

// End fix for Zone 4 ad display on tablet

// Begin Flash slate for unsupported browser version
.flash-slate {
    background: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/video_flash_slate.png") no-repeat 0 0;
    background-size: contain;
    cursor: pointer;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

// End Flash slate for unsupported browser version

// Override theoplayer play button for Live
.vjs-default-skin,
.vjs-default-skin.fave-mobile,
[data-eq-state$=small] .vjs-default-skin,
body.videopinning--on .pg-rail-tall__head .vjs-default-skin:not(.vjs-fullscreen) {
  .vjs-big-play-button {
    .el__video__play-button--live &{

        &:before {
            $height: 80px;
            $width: $height;

            background: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/video_watch_cnnlive.png") no-repeat 0 0;
            background-size: auto 80px;
            content: "";
            cursor: pointer;
            display: inline-block;
            height: $height;
            opacity: .6;
            width: $width;
        }

        &:hover:before {
            color: $white;
            opacity: 1;
        }
    }
  }
}
