//
// Embed
//
// file: loud/elements/_vimeo.scss
//
// description:
// Styles for vimeo
//
// -----------------------------------------------------------------------------

.el-embed-vimeo {
    clear: both;
    margin-bottom: 20px;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: $ratio-16x9;
    position: relative;

    .el-embed-vimeo__video {
        height: 100%;
        width: 100%;
        @include stretch(0, false, false, 0);
    }
}
