//
// Embed
//
// file: loud/elements/_vine.scss
//
// description:
// Styles for vine
//
// -----------------------------------------------------------------------------

.el-embed-vine {
    clear: both;
    height: 0;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    padding-bottom: 100%;

    .el-embed-vine__content {
        height: 100%;
        width: 100%;
        @include stretch(0, false, false, 0);
    }
}
