//
// Embed
//
// file: loud/elements/_youtube.scss
//
// description:
// Styles for youtube
//
// -----------------------------------------------------------------------------

.el-embed-youtube {
    clear: both;
    margin-bottom: 20px;
    padding-bottom: $ratio-16x9;
    position: relative;

    .el-embed-youtube__content {
        height: 100%;
        width: 100%;
        @include stretch(0, false, false, 0);
    }
}
