@mixin vertical-style-card {
    // Container card styles
    .cd {
        &[data-eq-state$=large],
        &[data-eq-state$=full16x9] {
            padding-bottom: 0;
        }

        .cd__headline {
            font-weight: $light;
        }
    }

    // Main container card styles
    .cn-carousel-small-paginated,
    .cn-carousel-large-strip {

        .cd {
            margin-bottom: $vertical-style-spacing-medium;

            .cd__content {
                margin: 0 $vertical-style-spacing-small;
                padding: 10px 10px 15px;
                position: relative;
                text-align: center;
                width: auto;

                @include breakpoint($col-4, $col-5) {
                    margin: {
                        left: $vertical-style-spacing-medium;
                        right: $vertical-style-spacing-medium;
                    }
                }

                @include breakpoint($col-6) {
                    margin: {
                        left: $vertical-style-spacing-medium;
                        right: $vertical-style-spacing-medium;
                    }
                }
            }

            &__kicker,
            &__auxiliary,
            &__description {
                display: none;
            }

            &__headline {
                line-height: 1.2;
                @include font-size(21);

                &-section-text {
                    color: $gray-7;
                    line-height: 1;
                    margin-bottom: 5px;

                    @include font-size(18);
                    @include vertical-style-font;
                }

                &-text {
                    padding: 0;
                }
            }
        }

        [data-eq-state].cd.cd--has-media .media + .cd__content {
            background-color: $gray-12;
        }

        .cd__headline-icon,
        .media__icon {
            display: none;
        }
    }

    // Specific 16:9 container card styles
    .cn-carousel-large-strip,
    .cn-carousel-small-paginated {
        .media + .cd__content {
            margin-top: -23px;
        }
    }

    &.t-light.pg-special .cn-carousel-small-paginated {
        [data-eq-state].cd.cd--has-media .media+.cd__content {
            background-color: $gray-14;
        }
    }

    // Specific carousel container card styles
    .cn-carousel-small-paginated,
    .cn-carousel-large-strip {
        .media + .cd__content {
            @include breakpoint(0, $col-7) {
                margin: {
                    left: $vertical-style-spacing-small;
                    right: $vertical-style-spacing-small;
                }
            }
        }
    }
    .cn-carousel-small-paginated {
        [data-eq-state$="small"] .cd__headline {
            @include font-size(24);
        }

        [data-eq-state$="medium"],
        [data-eq-state$="large"] {
            .cd__headline {
                @include font-size(30);
            }
        }

        [data-eq-state$="medium"],
        [data-eq-state$="large"] {
            .media + .cd__content {
                bottom: $vertical-style-spacing-small;
                right: 0;
                width: auto;
            }
        }

        @include breakpoint($col-7) {
            [data-eq-state$="medium"],
            [data-eq-state$="large"],
            [data-eq-state$="full16x9"] {
                .media + .cd__content {
                    margin: {
                        left: $vertical-style-spacing-large;
                        right: $vertical-style-spacing-large;
                    }
                }
            }
        }

        @include breakpoint($col-12) {
            [data-eq-state$="large"],
            [data-eq-state$="full16x9"] {
                .media + .cd__content {
                    background-color: rgba($gray-12, 0.9);
                    margin: 0;
                    min-height: 300px;
                    padding: 15px;
                    text-align: left;
                    width: 300px;

                    @include stretch(80px, 80px, auto, auto);
                }

                .cd__headline {
                    @include font-size(37);
                }
            }
        }
    }
    .cn-carousel-large-strip {
        .media + .cd__content {
            @include breakpoint($col-7) {
                margin: {
                    left: auto;
                    right: auto;
                }
                width: 80%;
            }
        }
    }
}
