@mixin vertical-style-carousel {
    // Carousel container styles
    .cn-carousel-small-paginated,
    .cn-carousel-large-strip {
        .owl-nav div {
            width: 55px;

            &.owl-prev:before {
                margin-left: 5px;
                text-indent: -1px;

                @include breakpoint($col-6) {
                    text-indent: -3px;
                }
            }

            &.owl-next:before {
                margin-right: 5px;
                text-indent: 1px;

                @include breakpoint($col-6) {
                    text-indent: 3px;
                }
            }

            &:before {
                background-color: $red-2;
                border: 1px solid $red-2;
                border-radius: 50%;
                color: $white;
                padding: 4px 8px;
                text-shadow: none;

                @include font-size(16);

                @include breakpoint($col-6) {
                    padding: 10px 15px;

                    @include font-size(24);
                }
            }

            &:hover:before {
                background-color: transparent;
                background-color: rgba(0, 0, 0, 0.01);
                color: $red-2;
            }
        }
    }
    .cn-carousel-small-paginated {
        margin-bottom: 0;

        .owl-carousel.carousel--full {
            margin: {
                bottom: 0;
                top: 0;
            }
        }

        .owl-dots {
            margin-top: $ratio-16x9;
            text-align: center;

            @include stretch(-45px, 0, false, 0);

            @include breakpoint($col-6 - 20, $col-12) { 
                top: 5px;
            }

            .owl-dot {
                background-color: $gray-7;
                height: 15px;
                margin: 0 3px;
                opacity: 0.75;
                width: 15px;

                &.active {
                    background-color: $red-2;
                    opacity: 1;
                }
            }
        }
    }

    // Zones conditions that all carousels to bleed
    .zn-single-column,
    .zn-balanced.zn-has-one-container {
        .cn-carousel-small-paginated,
        .cn-carousel-large-strip {
            @include breakpoint(0, $col-14) {
                margin: {
                    left: -$vertical-style-spacing-small;
                    right: -$vertical-style-spacing-small;
                }
            }
        }
    }
}
