@mixin vertical-style-footer {
    // Footer styles
    .l-footer {
        color: $gray-7;
        padding-top: 0;

        &__content {
            margin: 0;
            max-width: 100%;
            padding: 20px 0;

            &,
            .m-footer-nav {
                border-top: 0;
            }
        }
    }

    .m-footer {
        &-nav {
            padding-top: 0;
        }

        &__follow__content {
            @include stretch(0, 0, false, false);

            ul {
                border: 2px solid $vertical-style-gray-2;
                border-width: 0 1px;
                display: none;
                float: left;
                margin-right: 25px;
                overflow: hidden;
                padding: 0 25px;

                @include breakpoint($col-10) {
                    display: block;
                }
            }
        }

        &__follow__link a,
        &__about__link {
            color: $gray-7;
            line-height: 20px;

            &:hover {
                color: $white;
            }
        }

        &__follow__link {
            float: left;
            list-style: none;

            a {
                padding: 0 8px;

                @include font-size(16);
            }

            &--facebook a:before { @include icon($icon--social-facebook); }
            &--twitter a:before { @include icon($icon--social-twitter); }
            &--instagram a:before { @include icon($icon--social-instagram); }
        }

        &__about__link {
            border-left: 2px solid $vertical-style-gray-2;
            float: left;
            font-weight: $medium;
            padding-left: 25px;
            text-transform: uppercase;

            @include breakpoint($col-10) {
                border-left: 0;
                margin-right: 25px;
            }
        }

        &__top__link {
            display: none;
            float: right;

            @include breakpoint($col-10) {
                display: block;
            }

            &:before {
                color: $gray-7;
                transform: rotate(90deg);
                transition: color .2s;

                @include font-size(14);
                @include icon($icon--arrow-navigate-left);
            }

            &:hover:before {
                color: $white;
            }
        }

        &__bucket_group__wrapper,
        &__bottom__text {
            margin: 0 $gutter-width;
            max-width: $grid-width;
            position: relative;

            @include breakpoint($col-14) {
                margin: {
                    left: auto;
                    right: auto;
                }
            }
        }

        &__bucket_group {
            margin-bottom: 0;
            padding-top: 0;
            position: relative;
            z-index: 1;
        }

        &__bucket {
            margin: 0;
            width: 100%;

            @include breakpoint($col-8) {
                padding-right: 220px;
            }

            &__follow {
                float: right;
            }
        }

        &__copyright a,
        &__copyright {
            color: $gray-7;
            font-weight: $light;
            -webkit-font-smoothing: antialiased;
        }

        &__copyright {
            float: left;
            margin-top: 10px;

            @include breakpoint($col-10) {
                clear: both;
            }
        }
    }

    .m-legal {
        float: left;

        &__links {
            color: $gray-7;
            float: left;
            font-weight: $medium;
            margin-right: 25px;
            text-transform: uppercase;
            -webkit-font-smoothing: antialiased;

            &:hover {
                color: $white;
            }
        }


        &__list {
            width: 80%;

            @include breakpoint($col-7) {
                width: 100%;
            }

            &__item:after {
                content: none;
            }
        }
    }
}
