$vertical-style-header-height-small: 55px;
$vertical-style-header-height-medium: 70px;
$vertical-style-header-height-large: 75px;
$vertical-style-header-search-height: 30px;

@mixin vertical-style-header {
    // Header styles
    padding-top: $vertical-style-header-height-large;

    .nav {
        color: $gray-7;
        height: 100%;

        &-header {
            height: $vertical-style-header-height-large;
        }

        .logo {
            background: none;
            height: auto;
            left: 10px;
            top: 10px;
            width: auto;

            &-cnn,
            &-style {
                background: center no-repeat;
                background-size: contain;
                float: left;
            }

            &-cnn {
                background-image: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/logo_cnn.svg");
                height: 54px;
                margin-right: 8px;
                width: 54px;
            }

            &-style {
                background-image: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/logo_style.svg");
                height: 54px;
                width: 90px;
            }
        }

        .social {
            width: auto;
            @include stretch(0, 50px, 0, false);

            &__link {
                float: left;
                line-height: $vertical-style-header-height-large;
                margin-right: 10px;

                a {
                    color: $gray-7;
                    margin-left: 10px;
                    padding: 0;

                    @include font-size(18);

                    &:hover {
                        color: $white;
                    }
                }

                &--facebook a:before { @include icon($icon--social-facebook); }
                &--twitter a:before { @include icon($icon--social-twitter); }
                &--instagram a:before { @include icon($icon--social-instagram); }
            }
        }

        .utilities {
            height: $vertical-style-header-height-large;

            &__search {
                display: none;
            }
        }

        .search {
            &__field,
            &__button {
                background: $gray-13;
            }

            &__field {
                line-height: 1;
                margin: 0 40px 0 60px;
                padding: 0;
                transform: none;
                width: auto;

                @include stretch(10px, 0, false, 0);
            }

            &__button {
                display: block;
                line-height: $vertical-style-header-search-height;
                padding: 0;

                &:hover {
                    color: $white;
                }

                &:before {
                    @include font-size(17);
                }
            }

            &__input-field {
                height: $vertical-style-header-search-height;
                line-height: $vertical-style-header-search-height;
                padding: 0 30px 0 10px;

                @include input-placeholder {
                    color: transparent;
                }
            }
        }

        .menu-collapse {
            height: $vertical-style-header-height-large;
            width: 40px;

            .hamburger {
                margin-top: -1px;

                &,
                &:before,
                &:after {
                    background-color: $gray-7;
                    height: 2px;
                }
            }
        }

        .buckets {
            backface-visibility: hidden;
            background-color: $gray-11;
            margin-top: $vertical-style-header-height-large;
            overflow: auto;
            padding-top: 55px;

            &.drawer > ul {
                height: 305px;
            }
        }

        .bucket {
            > a {
                border-bottom: none;
                color: $gray-7;
                line-height: 1;
                margin: 0 0 20px 50px;
                padding: 0 0 0 10px;
                position: relative;

                @include font-size(20);
                @include vertical-style-font;

                &:before {
                    background: $cnn-red;
                    content: '';
                    height: 0%;
                    width: 2px;

                    @include stretch(50%, false, 0, 0);
                }
            }

            &.selected > a,
            &:hover > a {
                border-bottom: none;
                color: $white;

                &:before {
                    height: 100%;
                    top: 0;
                    transition: height .25s, top .25s;
                }
            }
        }
    }

    .pg-wrapper {
        backface-visibility: hidden;
        transition: transform .4s;
    }

    html:not(.iemobile):not(.ios):not(.android) & {
        @include breakpoint($col-10) {
            .nav {
                &-header.skinny .nav {
                    height: 100%;
                }

                .social {
                    padding: 0 10px;

                    &:before,
                    &:after {
                        background: $gray-11;
                        content: '';
                        height: 20px;
                        margin-top: -10px;
                        width: 1px;

                        @include stretch(50%, false, false, false);
                    }

                    &:before { left: 0; }
                    &:after { right: 0; }

                    &__link > a {
                        @include font-size(15);
                    }
                }

                .utilities {
                    max-height: none;
                    padding-left: 180px;

                    &__search {
                        display: block;
                    }
                }

                .utilities-wrapper,
                .buckets {
                    float: right;
                }

                .search {
                    &__field,
                    &__button {
                        background: none;
                    }

                    &__field {
                        left: auto;
                        margin: 0;
                        overflow: visible;
                        right: 10px;
                        top: 0;
                    }

                    &__button {
                        line-height: $vertical-style-header-height-large;
                        position: relative;

                        &:before {
                            @include font-size(15);
                        }
                    }

                    &__input-field {
                        background: $gray-11;
                        margin-top: -$vertical-style-header-search-height / 2;
                        opacity: 0;
                        transition: width .4s, opacity .3s;
                        width: 40px;

                        @include stretch(50%, 0, false, false);
                    }

                    &:hover .search__input-field {
                        opacity: 1;
                        width: 155px;
                    }
                }

                .buckets {
                    background: none;
                    margin: 0;
                    overflow: visible;
                    padding: 0;
                    position: relative;
                    transform: none;
                    width: auto;

                    > ul {
                        float: right;
                        height: $vertical-style-header-height-large;
                        line-height: $vertical-style-header-height-large;
                        width: auto;
                    }

                    &__search {
                        display: none;
                    }
                }

                .bucket {
                    > a {
                        margin: 0 8px;
                        padding: 0 0 4px;

                        @include font-size(18);

                        &:before {
                            display: none;
                        }

                        &:after {
                            background: $cnn-red;
                            content: '';
                            height: 2px;
                            width: 0%;

                            @include stretch(false, 0, 0, 50%);
                        }
                    }

                    &.selected > a:after,
                    &:hover > a:after {
                        left: 0;
                        transition: left .25s, width .25s;
                        width: 100%;
                    }
                }
            }
        }

        @include breakpoint($col-10, $col-11) {
            padding-top: $vertical-style-header-height-small;

            .nav {
                &-header {
                    height: $vertical-style-header-height-small;
                }

                .logo-cnn {
                    height: 36px;
                    margin-right: 5px;
                    width: 36px;
                }

                .logo-style {
                    height: 36px;
                    width: 61px;
                }

                .social__link,
                .search__button,
                .buckets > ul {
                    line-height: $vertical-style-header-height-small;
                }

                .utilities {
                    height: $vertical-style-header-height-small;
                }

                .bucket > a {
                    margin: 0 4px;

                    @include font-size(14);
                }
            }
        }

        @include breakpoint($col-11, $col-12) {
            padding-top: $vertical-style-header-height-medium;

            .nav {
                &-header {
                    height: $vertical-style-header-height-medium;
                }

                .logo-cnn {
                    height: 50px;
                    margin-right: 7px;
                    width: 50px;
                }

                .logo-style {
                    height: 50px;
                    width: 83px;
                }

                .social__link,
                .search__button,
                .buckets > ul {
                    line-height: $vertical-style-header-height-medium;
                }

                .utilities {
                    height: $vertical-style-header-height-medium;
                }

                .bucket > a {
                    margin: 0 5px;

                    @include font-size(16);
                }
            }
        }

        @include breakpoint($grid-width) {
            .nav {
                .logo {
                    left: 0;
                }

                .social {
                    right: 40px;
                }

                .utilities {
                    padding-left: 170px;
                }

                .search__field {
                    right: 0;
                }
            }
        }
    }

    &.nav-open {
        .nav {
            @include breakpoint(0, $col-10) {
                &-header {
                    height: 100%;
                }
            }

            .menu-collapse {
                background-color: $gray-11;

                .hamburger {
                    background-color: transparent;
                }

                .hamburger:after,
                .hamburger:before {
                    background-color: $gray-1;
                }
            }
        }

        .pg-wrapper {
            @include breakpoint(0, $col-6) {
                transform: translate3d(-100%, 0, 0) !important;
            }

            @include breakpoint($col-6, $col-10) {
                transform: translate3d(-$col-4, 0, 0) !important;
            }
        }
    }

    &.breaking-news--showing .buckets.drawer > ul .bucket:last-of-type {
        padding-bottom: 140px;
    }
}
