@import "_card";
@import "_carousel";

@mixin vertical-style-page {
    // Page and zone styles
    // Override theming to force style colours
    &.pg-section {
        @each $theme-id in map-keys($themes) {
            &.t-#{$theme-id},
            .t-#{$theme-id} {
                &:not(.zn--transparent) {
                    background-color: $gray-13;
                }

                .cd {
                    color: $white;
                }

                .image-gradient__bottom {
                    @include safe-css2-gradient-bg(to bottom, transparent, $gray-13);
                }
            }

            .zn.t-#{$theme-id} {
                &.zn--has-background,
                &.zn--transparent {
                    .cd__wrapper {
                        background: none;
                    }
                }
            }
        }

        // Ensures first zones on sections sit flush with navigation
        .zn--idx-0 {
            padding-top: 0;

            .column:first-child .cn {
                margin-bottom: 0;
            }
        }
    }

    // Allow carousel to bleed over slightly
    .zn__containers {
        overflow: visible;
    }

    // Hide section headers
    .zn-header-wrapper {
        display: none;
    }

    // Style zone labels
    .zn-header {
        &__text {
            padding-bottom: 5px;
            text-align: center;

            @include font-size(24);
            @include vertical-style-font;

            @include breakpoint($col-6) { @include font-size(27); }
            @include breakpoint($col-8) { @include font-size(33); }
            @include breakpoint($col-12) { @include font-size(38); }
        }

        &__stripes {
            display: none;
        }
    }

    // Normalise branding and leaderboard ad spacing as Style doesn't use a lipped badge
    .pg__branding {
        padding: 10px 0;
    }
    .ad.ad--epic .ad-ad_bnr_atf_01 iframe {
        margin-top: 10px;
    }
    &.pg-article .pg-wrapper > .ad.ad--epic {
        margin-top: 0;
        padding-bottom: 0;
    }

    @include vertical-style-card;
    @include vertical-style-carousel;
}
