@import "_header";
@import "_footer";
@import "_page";

$vertical-style-spacing-small: 10px;
$vertical-style-spacing-medium: 30px;
$vertical-style-spacing-large: 70px;
$vertical-style-gray-1: #333;
$vertical-style-gray-2: #282828;
$vertical-style-gray-3: #979797;
$vertical-style-gray-4: #c8c8c8;

// Rules around special font
// Use mixin here as we can't extend placeholders inside media queries
@mixin vertical-style-font {
    font-family: STYLE, 'Helvetica Neue', Helvetica, Arial, Utkal, sans-serif;
    font-feature-settings: "kern";
    font-weight: $normal;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;

    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    -webkit-font-feature-settings: "kern";
}

.pg-vertical {
    &.pg-style,
    &.pg-architecture,
    &.pg-arts,
    &.pg-autos,
    &.pg-design,
    &.pg-fashion,
    &.pg-luxury {
        @if $is-static == 'header' {
            @include vertical-style-header;
        } @else if $is-static == 'footer' {
            @include vertical-style-footer;
        } @else {
            @include vertical-style-header;
            @include vertical-style-footer;
            @include vertical-style-page;
        }
    }
}
