//
// Large Carousel Strip
//
// since: 0.31.0
//
// file: containers/_carousel-large-strip.scss
//
// description:
// Displays a carousel which always shows The first card at a 75% width
// of the viewport. The extra space has peaking on both sides of the card.
//
// -----------------------------------------------------------------------------

.cn-carousel-large-strip {
    @extend %cnn-flex-owl;

    .cd__branding {
        display: none;
    }

    //
    // This creates some spacing around the viewport so that slides that
    // are not in focus can peek on the left and right of the carousel.
    //
    .owl-carousel.carousel--full {
        overflow: hidden;

        .owl-wrapper-outer {
            overflow: visible;

            .owl-item {
                padding: 0 ($gutter-width / 2);
            }
        }
    }
}
