//
// Carousel Medium Matrix
//
// since: 0.34.0
//
// file: containers/_carousel-medium-matrix.scss
//
// description:
// Displays a double decker carousel. Woah.
//
// -----------------------------------------------------------------------------

.cn-carousel-medium-matrix {
    .cd {
        margin-bottom: $gutter-width;
    }

    .cd__branding {
        display: none;
    }
}
