//
// Small Carousel Paginated
//
// since: 1.153.1
//
// file: containers/_carousel-small-paginated.scss
//
// description:
// Displays a paginated carousel (with the dots)
//
// -----------------------------------------------------------------------------

.cn-carousel-small-paginated {

    .disabled {
        display: none;
    }
}
