//
// Carousel Medium Strip
//
// since: 0.152.23
//
// file: containers/_carousel-medium-matrix.scss
//
// description:
// Displays a standard carousel strip.
//
// -----------------------------------------------------------------------------

.cn-carousel-medium-strip {
    @extend %cnn-flex-owl;

    .cd__branding {
        display: none;
    }
}

//Remove the Carousel extra space in IE11 browser when using the Flexbox.
.owl-wrapper .cd__wrapper,
.owl-carousel .cd__wrapper {
    min-height:10px;
}
