//
// container
//
// file: containers/_container.scss
//
// description:
// container styling plus base styling
//
// -----------------------------------------------------------------------------

.cn {
    margin-bottom: 10px;
}

.cn__title {
    padding: 7px;
    position: relative;
    transition: background-color .3s;

    @include copy(16px, 22px, $bold);
    @include theme(background-color, card title standard background-color);
    @include theme(color, card title standard color);

    &.cn__title--muted-player {
        .pg &,
        .pg .zn & {
            background-color: $red-2;
        }
    }

    .el__leafmedia & {
        margin: 0 0 10px;
    }

    .pg-rail & {
        @include theme(background-color, card title pg-rail background-color);
        @include theme(color, card title pg-rail color);
    }

    &.has-breaking-news {
        margin-left: 122px;
    }

    &.has-breaking-news-hide {
        height: 40px;
        visibility: hidden;
    }
}

a.cn__title--link {
    display: block;
    padding-right: 37px;
    position: relative;

    .cd--tool__muted-player & {
        padding-right: 22px;

        &:before {
            background-color: $red-2 !important;
            color: $gray-1 !important;
            padding-left: 0;
        }
    }

    &,
    &:hover {
        // @include theme(color, card title standard color);

        .cn__title.cn__title--muted-player {
            background-color: $red-2 !important;
            border-top: 0 !important;
            color: $gray-1 !important;
            padding: 7px;
        }

        .pg-rail & {
            @include theme(color, card title pg-rail color);
        }
    }

    &:hover {
        .cn__title {
            @include theme(background-color, card title standard hover background-color);
        }

        &:before {
            @include theme(background-color, card title standard hover link-color);
        }
    }

    // Style for when Container Title has target/link
    // Creates arrow at right edge of title denoting title is clickable
    &:before {
        box-sizing: content-box;
        box-sizing: border-box;
        font-weight: $bold;
        height: 100%;
        padding: 8px 14px 0;
        position: absolute;
        right:0;
        transition: background-color .3s;

        @include clearfix;
        @include copy(17px, 22px, $bold);
        @include icon($icon--arrow-right);
        @include theme(background-color, card title standard link-color);
        @include theme(color, card title standard color);
    }
}

.cn-title__bug {
    &:before {
        float: right;
        height: 0;
        margin: 0;
        padding: 0 10px 0 0;
    }

    &--cnn-go:before {
        font-size: 3.8rem;
        position: relative;
        right: 10px;
        top: -10px;
        width: 50px;

        @include icon($icon--cnn-go);
    }
}

.cn--has-shingle {
    background: rgba($white, .25);
    background: linear-gradient(to bottom, rgba($white, .25), rgba($white, 0));
}

@import "_most-popular";
@import "_jumbotron";
@import "_carousel-large-strip";
@import "_carousel-medium-matrix";
@import "_carousel-medium-strip";
@import "_carousel-small-paginated";
@import "_grid";
@import "_grid-medium";
@import "_grid-small";
@import "_list";
@import "_list-hierarchical-xs";
@import "_list-hierarchical-piped";
@import "_list-hierarchical-small-horizontal";
@import "_list-hierarchical-no-leading-headline";
@import "_list-xs";
@import "_section-preview";
@import "_list-small-horizontal";
@import "_list-small-vertical";
@import "_list-large-horizontal";
@import "_list-large-vertical";
@import "_shingle";
@import "_stack";
@import "_stack-medium-horizontal";
@import "_stack-medium-vertical";
@import "_stack-large-horizontal";
@import "_stack-large-vertical";
@import "_video-collection-player";
