//
// Grid Container
//
// file: containers/_grid.scss
//
// description:
// This file contains style definitions common to both grid containers
// (grid-small and grid-medium).
//
// -----------------------------------------------------------------------------

.cn-grid {
    .cn__column {
        float: left;
        width: 100%;
        padding: $gutter-width / 2 0 0;
    }

    .cd__branding {
        display: none;
    }
}

// Grid containers get this class when they should layout cards in TWO columns.
// JavaScript will add/remove this class as the grid grows/shrinks in width.
// See src/js/containers/grid.js.

[data-eq-state$="2-column-grid"] {
    .cn__column {
        width: 50%;

        &--2np0 {
            clear: left;
            padding-right: $gutter-width * .25;
        }

        &--2np1 {
            clear: right;
            padding-left: $gutter-width * .25;
        }
    }
}

// Grid containers get this class when they should layout cards in THREE columns.
// JavaScript will add/remove this class as the grid grows/shrinks in width.
// See src/js/containers/grid.js.

[data-eq-state$="3-column-grid"] {
    .cn__column {
        margin-right: ($gutter-width / 2);
        padding-right: $gutter-width;
        width: 33.33%;

        &--3np0 {
            clear: left;
        }

        &--3np2 {
            clear: right;
            margin-left: -$gutter-width;
            margin-right: 0;
            padding-left: $gutter-width;
            padding-right: 0;
        }
    }
}

// Grid containers get this class when they should layout cards in FOUR columns.
// JavaScript will add/remove this class as the grid grows/shrinks in width.
// See src/js/containers/grid.js.

[data-eq-state$="4-column-grid"] {
    .cn__column {
        margin-right: floor($gutter-width / 3);
        padding-right: $gutter-width;
        width: 25%;

        &--4np0 {
            clear: left;
        }

        &--4np3 {
            clear: right;
            margin-left: -$gutter-width;
            margin-right: 0;
            padding-left: $gutter-width;
            padding-right: 0;
        }
    }
}

.cn-grid {
    @extend %cnn-flex-owl;
}
