//
// Jumbotron
//
//
// file: containers/_jumbotron.scss
//
// description:
// Jumbotron container.padding-bottom: 10px;
//
// -----------------------------------------------------------------------------

$transition-speed: .3s;

// Extends
%content-width {
    width: $col-5;
}

%jumbotron-active-color {
    transition: color $transition-speed;

    @include theme(color, card copy standard color);
}

.cn-jumbotron-container {
    position: relative;

    //********************** ANIMATION STYLES FOR JUMBOTRON (no touch only) ***********************//

    .no-touchevents & {
        &[data-animation]:not(.jumbotron-initialized) {
            .cn-jumbotron-card-details {
                .jumbotron-card-wrapper:first-child {
                    display: block;
                    opacity: 1;
                    position: relative;

                    @include z-index($content-layer, content-masking);
                }
            }
        }

        &[data-animation="none"] {
            .cn-jumbotron-card-details {

                .inactive-card {
                    display: none;
                    opacity: 0;

                    @include z-index($content-layer);
                }

                .active-card {
                    @include z-index($content-layer, content-masking);
                }
            }
        }

        &[data-animation="slide"] {
            .cn-jumbotron-card-details {
                .inactive-card {
                    opacity: 0;
                    position: absolute;
                    visibility: hidden;

                    @include z-index($content-layer);

                    [data-eq-state$="medium"],
                    [data-eq-state$="large"] {
                        .media {
                            transform: translateX(1.5em);
                        }

                        .banner-text {
                            transform: translateX(-1em);
                        }

                        .cd__kicker,
                        .cd__headline,
                        .cd__auxiliary,
                        .cd__description {
                            transform: translateX(2em);
                        }
                    }
                }

                .active-card {
                    opacity: 1;
                    position: relative;
                    transition: opacity .5s linear;
                    visibility: visible;

                    .cd[data-eq-state$="medium"],
                    .cd[data-eq-state$="large"] {
                        .media,
                        .banner-text,
                        .cd__kicker,
                        .cd__headline,
                        .cd__description {
                            transition: transform;
                            transition-duration: .5s;
                            transform: translateX(0);
                        }
                    }

                    .cd[data-eq-state$="medium"] {
                        .cd__headline,
                        .cd__description {
                            transition: transform .5s, max-height .3s ease-in-out .1s, opacity .4s;
                        }

                        &:hover {
                            .cd__auxiliary,
                            .cd__description {
                                max-height: 95px;
                                opacity: 1;
                                transition: transform .5s, max-height .6s, opacity .4s linear .1s;
                            }
                        }
                    }
                }
            }
        }
    }




    //********************** DETAIL CARD STYLES FOR TOUCH DEVICES ***********************//

    .touchevents & .cn-jumbotron-card-details:not(.owl-loaded) {
        .jumbotron-card-wrapper:nth-of-type(n+2) {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            padding-bottom: 0;
            padding-top: 0;

            .cd__headline {
                display: none;
            }
        }
    }

                                                            //******** typography *********//

    .cn-jumbotron-card-details {

        .cd {

            .cd__branding {
                border-bottom: map-fetch($dark-theme, card divider border-bottom);
                color: map-fetch($dark-theme, card copy standard color);
            }

            &--gallery .cd__headline a:after {
                @include icon($icon--type-gallery);
            }

            &--image .cd__headline a:after {
                @include icon($icon--type-gallery);
            }

            &--infographic .cd__headline a:after {
                @include icon($icon--type-chart);
            }

            &--map .cd__headline a:after {
                @include icon($icon--type-map);
            }

            .media__icon {
                display: none;
            }
        }

        .banner-text--natural {
            text-align: center;
            top: -5px;
        }

        .cd__auxiliary,
        .cd__kicker,
        .cd__post-headline {
            @include theme(color, card copy jumbotron secondarycolor);
        }

        .cd__headline,
        .cd__description,
        .cd__description a {
            @include theme(color, card copy jumbotron primarycolor);
        }

        .cd__description a {
            font-weight: $bold;
            &:hover {
                @include theme(color, el link hover, $force-theming:true);
            }
        }

        .cd__headline {
            & a:after {
                display: inline-block;
                margin-top: -1px;

                @include theme(color, card story-icon color);
            }

            &:hover a:after {
                @include theme(color, el link hover, $force-theming:true);
            }

            .cd__headline a {
                padding-right: $gutter-width / 2;
            }

            .media {
                display: none;
            }
        }
    }

    &[data-eq-state$="large"] .cn-jumbotron-card-details {
        .banner-text {
            margin: 0 0 15px;
            font-weight: $light;
        }

        .banner-text--natural {
            @include headline(46px, 50px, $bold);
        }

        .cd__status {
            font-weight: $bold;
            @include font-size(16);
        }

        .cd__headline-text {
            @include headline(28px, 32px, $light);
        }

        .cd__auxiliary {
            @include headline(18px, 22px, $medium);
        }
    }

    &[data-eq-state$="medium"] .cn-jumbotron-card-details {
        .banner-text--natural {
            @include headline(36px, 40px, $bold);
        }

        .cd__status {
            font-weight: $bold;
            @include font-size(14);
        }

        .cd__headline-text {
            @include headline(24px, 28px, $light);
        }

        .cd__auxiliary {
            @include headline(16px, 20px, $medium);
        }
    }

    &[data-eq-state$="medium-small"] .cn-jumbotron-card-details {
        .banner-text--natural {
            @include headline(36px, 40px, $bold);
        }

        .cd__status {
            font-weight: $bold;
            @include font-size(14);
        }

        .cd__headline-text {
            @include headline(24px, 28px, $light);
        }

        .cd__auxiliary {
            @include headline(16px, 20px, $medium);
        }

        .cd__kicker {
            display: none;
        }

        .cd__branding {
            display: none;
        }

        .cd__auxiliary,
        .cd__description {
            display: none;
        }
    }

    &[data-eq-state$="xsmall"] .cn-jumbotron-card-details {
        .banner-text--natural {
            @include headline(26px, 30px, $bold);
        }

        .cd__status {
            font-weight: $bold;
            @include font-size(12);
        }

        .cd__headline-text {
            @include headline(20px, 24px, $light);
        }

        .cd__auxiliary {
            @include headline(14px, 18px, $medium);
        }

    }

    &[data-eq-state$="small"] .cn-jumbotron-card-details {
        .banner-text--natural {
            @include headline(26px, 30px, $bold);
        }

        .cd__status {
            font-weight: $bold;
            @include font-size(12);
        }

        .cd__headline-text {
            @include headline(20px, 24px, $light);
        }

        .cd__auxiliary {
            @include headline(14px, 18px, $medium);
        }

        .cd__kicker {
            display: none;
        }

        .cd__branding {
            display: none;
        }

        .cd__auxiliary,
        .cd__description {
            display: none;
        }
    }

                                                            //******** layout *********//

    &[data-eq-state$="large"] {

        .cn-jumbotron-card-details {
            .media {
                display: table-cell;
            }

            // override card overlay styles from card.scss
            .cd__content {
                position: relative !important;
                background: transparent !important;
            }
        }
        .media {
            vertical-align: top;
            width: 100%;
        }

        &.with-share-buttons {
            .cn-jumbotron-card-details {
                .el-action-bar {
                    display: block;

                    &.hidden {
                        display: none;
                    }
                }

                .cd__content {
                    padding: 15px 20px 55px; // Account for the sharebar overlapping the text;
                }
            }
        }

        .cd__timestamp {
            bottom: 0;
            position: absolute;
            right: $col-5;
            transform: translateX(100%);
        }

        .cn-jumbotron-card-details {
            .cd--time-recent .cd__content {
                padding-bottom: 25px;
            }

            .cd--time-recent .cd__description {
                padding-bottom: 10px;
            }

            .cd__timestamp {
                padding: 10px 20px;
            }

            .cd__headline-icon {
                display: none;
            }

            .cd__status {
                position: relative;
                display: inline-block;
            }

            .cd__content {
                @extend %content-width;
                display: table-cell;
                min-width: $col-5;
                padding: 15px 20px;
                vertical-align: top;
                width: $col-4;
            }

            .cd__status ~ .cd__content {
                padding-top: 40px + 15px; // Height of the banner + 15px, also equal to 55;
            }

            .el-action-bar {
                bottom: 10px;
                display: none;
                margin-right: 10px;
                position: absolute;
                right: 0;
                width: auto;
            }

            .owl-item {
                padding: 0 35px;
            }

            .owl-nav {
                div {
                    width: 35px;

                    &:before {
                        font-size: 2.8rem;
                    }
                }
            }

            .touchevents & {
                .owl-nav div {
                    opacity: 0.9;

                    &:before {
                        // color: #0f0;
                    }
                }
            }

            @each $theme-id in map-keys($themes) {
                @if map-fetch($themes, $theme-id card copy standard color) {
                    .touchevents .t-#{$theme-id} &,
                    .touchevents .pg .t-#{$theme-id} & {
                        .owl-nav div:before {
                            color: map-fetch($themes, $theme-id card copy standard color);
                        }
                    }
                }
            }
        }
    }

    &[data-eq-state$="medium"] {

        &.with-share-buttons {
            .cn-jumbotron-card-details {
                .cd__description {
                    padding-right: 170px;
                }

                .el-action-bar {
                    display: block;

                    &.hidden {
                        display: none;
                    }
                }
            }
        }

        .cd .cd__timestamp {
            bottom: 0;
            left: 0;
            margin-left: 0;
            position: absolute;

            &.hidden {
                display: none;
            }
        }

        .cn-jumbotron-card-details {

            .owl-nav div:before {
                text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
            }

            .cd--time-recent .cd__content {
                padding-bottom: 25px;
            }

            .cd__headline-icon {
                display: none;
            }

            .cd__content {
                bottom: 0;
                left: 0;
                position: absolute;
                width: 100%;

                &.hidden {
                    display: none;
                }

                .cd__headline {
                    margin-bottom: 8px;
                }

                @each $theme-id in map-keys($themes) {
                    .t-#{$theme-id} &,
                    .pg .t-#{$theme-id} & {
                        @include theme(background, card background overlay);
                    }
                }

                .no-touchevents & {
                    .cd__auxiliary,
                    .cd__description {
                        margin: 0;
                        max-height: 0px;
                        opacity: 0;
                        overflow: hidden;
                        transition: max-height .3s ease-in-out .1s, opacity .4s, position 0s linear .4s, margin .3s ease-in-out .1s;
                    }
                }

                .touchevents & {
                    min-height: 100px;
                }
            }

            .el-action-bar {
                bottom: 0;
                display: none;
                margin-bottom: 15px;
                margin-right: 15px;
                position: absolute;
                right: 0;
                width: auto;

                .no-touchevents & {
                    opacity: 0;
                    transition: opacity .4s;
                }
            }

            .touchevents & .cd__description {
                margin: 10px 0;
            }

            &:hover {
                .cd__content {
                    .cd__auxiliary,
                    .cd__description {
                        margin: 10px 0 15px;
                        max-height: 95px;
                        opacity: 1;
                        transition: max-height .6s, opacity .4s linear .1s, margin .4s;
                    }

                    .cd__auxiliary {
                        margin: 0;
                    }
                }

                .el-action-bar {
                    opacity: 1;
                    transition: opacity .4s linear .2s;
                }
            }
        }
    }

    &[data-eq-state$="medium-small"],
    &[data-eq-state$="small"] {
        margin-bottom: 0;

        .owl-nav div {
            display: block;
        }

        .cn-jumbotron-card-details {
            .cd__headline {
                margin-bottom: 5px;
            }

            .owl-nav div:before {
                text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
            }

            .el-action-bar {
                padding: 0;

                .gigya-sharebar-element {
                    margin-left: 5px;
                }

                .pg .zn & .gig-bar-container .gig-button-container .gig-button.gig-share-button {
                    height: 30px;
                    width: 30px;

                    @include font-size(18);

                    &:before {
                        padding: 2px 0 0 1px;
                    }
                }
            }

            .cd__timestamp {
                bottom: 0;
                position: absolute;
                right: 0;
            }

            .el__video__play-button:before,
            .el__video__play-button:hover:before {
                height: 60px;
                margin-left: -30px;
                margin-top: -30px;
                width: 60px;

                @include font-size(60);
            }
        }

    }

                                                                //******** general element styles *********//

    .cn-jumbotron-card-details {
        position: relative;

        .cd .cd__wrapper {
            @include theme(background, card background jumbotron);
        }

        .cn-jumbotron-card-media-overlay {

            .no-touchevents & {
                @include z-index($content-layer);
            }
        }

        .touchevents & .cd__content {
            padding-bottom: 15px;
        }

        .owl-next:before {
            padding-right: 5px;
        }

        .owl-prev:before {
            padding-left: 5px;
        }

        .cd .media > a {
            display: block;
            height: 100%;
            width: 100%;
        }

        .cd__branding {
            display: none;
        }
    }

    .metadata {
        background-color: $black;
        color: $white;
        padding-left: 5px;
    }

    .owl-dots {
        margin-top: 5px;
        text-align: center;

        .no-touchevents & {
            display: none;
        }

        .owl-dot {
            height: 10px;
            margin: 3px;
            width: 10px;
        }
    }

    .owl-carousel .owl-item {
        opacity: 1;
    }

    .cd--large {
        @extend %clearfix;

        .cd__content,
        .cd__timestamp {
            padding: 10px;
        }
    }

    .el-action-bar {
        padding: 0;

        .gigya-sharebar-element {
            margin-left: 5px;
        }

        .pg .zn & .gig-bar-container .gig-button-container .gig-button.gig-share-button {
            background-color: map-fetch($dark-theme, card social background);
            color: map-fetch($dark-theme, card social icon);
        }
    }

    .no-touchevents & .cn-jumbotron-card-details .cd {
        margin: 0 0 10px;
    }

    //Don't show the video icon on video cards
    .icon-media-video,
    .icon-media-video360 {
        display: none;
    }

    .owl-nav {
        div {
            width: 50px;
            .pg .zn.t-light & {
                color: $gray-1;
            }
            &:before {
                font-size: 2.2rem;
                padding: 0 5px;
                text-shadow: none;
            }
        }
    }
}


//********************** FILMSTRIP CAROUSEL STYLES ***********************//

.jumbotron-small-carousel {
    overflow: hidden;
    position: relative;

    .owl-item {
        display: inline-block;
        vertical-align: top;
    }

    .cn-jumbotron-container & {
        padding: 0 30px;

        .owl-stage-outer {
            margin: 0;
        }
    }

    .owl-nav div {
        display: block;
    }

    .cd {
        @extend %clearfix;

        cursor: pointer;
        margin: 0 20px 0 0;
        position: relative;
        width: $col-2;

        &:hover {
            @extend %jumbotron-active-color;
        }

        &.cd--active {
            @extend %jumbotron-active-color;


            .cd__content {
                font-weight: $bold;
            }
        }

        .cd__content {
            @include copy(14, 18, $light);
        }
    }

    .media {
        display: block;
        opacity: 0.7;
        width: 100%;

        img {
            width: 100%;
        }
    }

    .cd:hover .media,
    .cd--active .media {
        opacity: 1;
        transition: opacity $transition-speed;
    }

    .cd__content {
        display: inline-block;
        font-weight: $normal;
        line-height: 1;
        padding: 5px 0;
        width: 100%;
    }

    .owl-nav {
        div:before {
            @include theme(color, card copy standard color);
        }
    }
}

//********************** GENERIC JUMBOTRON STYLES ***********************//

.jumbotron-card-wrapper {
    width: 100%;
}

.cn-jumbotron-video-player {
    background-color: $near-black;
}

.inactive-item {
    display: none;
}

.active-item {
    display: block;
}

.cn-jumbotron-card-media-overlay {
    height: 0;
    padding-top: $ratio-16x9;
    position: absolute;
    width: 100%;

    @include z-index($content-layer, content-masking);
}
