//
// List Small Horizontal Container
//
//
// file: containers/_list-small-horizontal.scss
//
// description:
// Displays a list of small cards in horizontal orientation
//
// -----------------------------------------------------------------------------

.cn-list-small-horizontal {
    @extend %unstyled-list;

    .cd__branding {
        display: none;
    }
}
