// hierarchical list
// since: 0.12.0
//
// file: containers/_list-hierarchical-xs.scss
//
// description:
// Hierarchical list container
//
// -----------------------------------------------------------------------------

.cn-list-hierarchical-xs {
    @extend %unstyled-list;

    .cd__branding {
        display: none;
    }
    .cd--idx-0 .cd__branding {
        display: block;
    }
}
