//
// List Hierarchical Small Horizontal Container
//
// since: 0.12.0
//
// file: containers/_list-hierarchical-small-horizontal.scss
//
// description:
// Displays a list of small cards in horizontal orientation
//
// -----------------------------------------------------------------------------

.cn-list-hierarchical-small-horizontal {
    @extend %unstyled-list;

    .cd__branding {
        display: none;
    }
    .cd--idx-0 .cd__branding {
        display: block;
    }
}
