//
// List Large Vertical Container
//
// since: 0.12.0
//
// file: containers/_list-large-vertical.scss
//
// description:
// Displays a list of large cards in vertical orientation
//
// -----------------------------------------------------------------------------

.cn-list-large-vertical{
    @extend %unstyled-list;

    .cn__listitem {
        margin-bottom: 20px;

        @include breakpoint($col-8) {
            margin-bottom: 30px;
        }
    }
}
