//
// Most Popular Container
//
// description:
// Displays a list of most popular stories powered by Chartbeat API
//
// -----------------------------------------------------------------------------

.pg [class*="cn-chartbeat-most-popular-"] {
    margin-bottom: 17px;

    .cn__title {
        padding: 7px 0 0;
        position: relative;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            background-color: $cnn-red;
            height: 2px;
            overflow: hidden;
            width: 30px;
        }
    }

    li {
        align-items: center;
        counter-increment: step-counter;
        display: flex;
        flex-flow: row no-wrap;
        justify-content: flex-start;
        padding: 10px 0 0;

        &:before {
            background-color: $cnn-red;
            border-radius: 50%;
            color: $white;
            content: counter(step-counter);
            display: block;
            flex: none;
            margin: 0 10px 0 0;
            text-align: center;
            width: 28px;

            @include copy(14px, 28px, $bold);
        }

        .cd--card {
            border: 0px;

            .cd__content {
                padding: 0;
            }
        }
    }
}

// Overrides
 [class*="cn-chartbeat-most-popular-"] {
     .cn__title {
        background-color: transparent !important;
        color: $gray-10 !important;
     }

     .mobile .pg .zn & {
        margin-bottom: 17px !important;
     }
}

