//
// file: containers/_section-preview.scss
//
// description:
// Container with a combination of fixed and fluid containers, and 2 large cards
//
// -----------------------------------------------------------------------------

.cn-section-preview {
    @extend %unstyled-list;
    float: left;

    &.container-left{
        border-top: 0;
        padding: 0;
        width: 25%;
    }

    &.container-separator {
        padding: 0 0 0 (2 *$gutter-width);
        width: 75%;
    }

    &.container-middle {
        @extend %cnn-flex-item;

        border-top: 0;
        padding: 0 0 0 (2 *$gutter-width);
        width: 50%;
    }

    &.container-right {
        clear: none;
        display: inline;
        float: left;
        width: 25%;

        @include clearfix(true);

        & .cd__content{
            width: 100%;
        }
    }

}
.cn-section-preview__item {
    padding: 0 $gutter-width;
    vertical-align: top;

    .media + .cd__content{
        .cd__headline .cd__headline-text{
            font-weight: 300;
            font-size: 1.5rem;
            line-height: 1.16667;
            strong{
                font-weight: 300;
            }
        }
    }
    &.container-middle {
        float: left;
        margin-bottom: 0;
        padding: 0;
        width: 50%;

        @include _display-flex;

        &:first-child {
            padding-right: ($gutter-width / 2);
        }
        &:nth-child(2) {
            padding-left: ($gutter-width / 2);
        }
    }
}
.mega-nav .m-navigation__mega-nav-item {
    .cd__headline .cd__headline-text {
        font-weight: 300;
    }
}

//mega-nav IE9 fix
.mega-nav {
    .cn-section-preview.container-middle {
        .cd--has-banner > a:first-child {
            display: inline;
        }
    }
}

// Mega Nav / Section - Padding to push down ad tool card from other nav content
.m-navigation__mega-nav-item,
.pg-news .zn-body {
    .ad {
        clear: both;
        padding-top: $gutter-width;
        padding-bottom: 0;
    }
}

// Zone title overrides
.m-navigation__mega-nav-item,
.pg-news .zn-body {
    .zn-header__text {
        color: $blue-11;
        text-shadow: none;
    }
}

// News Page override
.pg-news {
    .zn-body {
        .l-container {
            padding: $gutter-width;
        }
    }
}
