// shingle
//
// file: containers/_shingle.scss
//
// description:
// Displays a shingle
//
// -----------------------------------------------------------------------------

.cn-shingle__content {
    float: right;
    font-size: 0;
    line-height: 1;
}

.cn-shingle {
    margin: 0 0 10px;

    @include clearfix;

    .cn.cn--has-shingle & .cn-shingle__ad {
        > span {
            padding: 10px;
        }

        iframe {
            margin: 10px;
        }
    }
}
