//
// Medium Horizontal Stack
//
// since: 0.15.0
//
// file: containers/_stack-medium-horizontal.scss
//
// description:
// Displays a set of cards one on top of the other with spacing
// between each. Each card's orientaion is horizontal and size
// is set to medium.
//
// -----------------------------------------------------------------------------

.cn-stack--medium-horizontal {
    .cd__branding {
        display: none;
    }
}
