//
// Stack
//
// since: 0.9.0
//
// file: containers/_stack.scss
//
// description:
// Displays a set of cards one on top of the other with spacing
// between each card.
//
// -----------------------------------------------------------------------------

$stack-gutter: $gutter-width / 2 !default;

%stack-spacing {
    margin: $stack-gutter 0;
}

.cn-stack {
    @extend %unstyled-list;

    .cn__footer {
        @extend %stack-spacing;
    }
}
