//
// Video Collection Player
//
//
// file: containers/_video-colleciton-player.scss
//
// description:
// Styles for the top of page collection player and collection players (sunrise)
// embedded in article leaf pages
//
// -----------------------------------------------------------------------------

.cn-collection-player,
.el__leafmedia--featured-video-collection,
.el__leafmedia--video-leaf-player,
.el__leafmedia--featured-video-player {
    position: relative;

    .video__title {
        margin: 0;
        min-height: 38px;

        @include copy(12px, 12px, $normal);
        @include clearfix;
    }

    .video__source {
        clear: none;
        float: right;
        font-style: italic;
        margin: {
            bottom: 0;
        }
        padding: {
            bottom: 5px;
            left: 5px;
        }

        @include font-size(14);
        @include theme(color, page metadata color);
    }

    .el-action-bar {
        padding: 0;
    }

    .video__description-toggle {
        display: none;
    }

    .cn-carousel-medium-strip {
        min-height: 100px;

        .owl-carousel {
            @include breakpoint($col-6) {
                padding: 0 30px;
            }
        }

        .cn__title {
            display: none;
        }

        .owl-nav {
            div {
                width: 50px;

                @include breakpoint($col-1, $col-8) {
                    width: 20px;
                }

                &:before {
                    padding: 0;
                }
            }
        }

        .owl-item {
            display: inline-block;
            vertical-align: top;

            .carousel__content__item .cd {
                padding: 0;
            }

            .no-touchevents & {
                &:not(.active) {
                    opacity: 1;
                }
            }
        }

        .cn__column.carousel__content__item {
            width: auto;

            .media__over-text {
                padding: 7px 9px 7px 8px;
            }

            .icon-media-video[data-post-text]:after,
            .icon-media-video360[data-post-text]:after {
                font-weight: $normal;

                @include font-size(12);
            }
        }

        .cd {
            @extend %clearfix;

            cursor: pointer;
            margin: 0 20px 0 0;
            position: relative;
            width: $col-1 * 1.75;

            &:hover {
                @extend %jumbotron-active-color;
            }

            &.cd--active {
                @extend %jumbotron-active-color;

                .cd__headline .cd__headline-text {
                    font-weight: $bold;
                    opacity: 1;
                }
            }

            .cd__headline {
                line-height: 1;
                padding: 0;

                .cd__headline-text {
                    opacity: 0.6;

                    @include copy(14px, 18px);
                }
            }
        }

        .media {
            display: block;
            opacity: 0.6;
            width: 100%;

            img {
                height: 79px;
                width: 100%;
            }
        }

        .cd:not(.cd--active):hover .media,
        .cd--active .media,
        .cd:hover .cd__headline .cd__headline-text {
            opacity: 1;
            transition: opacity $transition-speed;
        }

        .cd--active .media .media__over-text {
            background-color: $red-1;
            opacity: 0.75;

            @include z-index($overlay-layer);
        }


        .cd__content {
            display: inline-block;
            font-weight: $normal;
            line-height: 1;
            padding: 0;
            width: 100%;
        }
    }

    //
    // This is the sunrise effect!
    //
    .el__featured-video--expandable,
    .el__featured-video--standard {
        max-height: 0;
        overflow: hidden;
        position: relative;
        transition: max-height .75s;

        &.el__featured-video--open {
            max-height: 500px;
            .video__title {
                margin: 0;
            }
        }

        .el__video__collection__close--expandable {
            background: none;
            cursor: default;
            display: block;
        }
    }

    .el__video_collection--close {
        bottom: initial;
        display: block;
        float: none;
        left: auto; // for ie
        left: initial;
        opacity: 1;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;

        &:before {
            cursor: pointer;
            width: 30px;
        }
        &:hover:before,
        &:active:before {
            color: $red-2;
        }
    }

    &.el__leafmedia--full .el__video_collection--close,
    &.cn .el__video_collection--close,
    .zn-large-media & .el__video_collection--close {
        display: none;
    }

    &.el__leafmedia--expandable {
        .video__title {
            float:left;
            padding-top: 10px;
        }
        .media__video {
            clear: both;
        }
        .cn-carousel-medium-strip {
            .media,
            .cd .cd__headline .cd__headline-text {
                opacity: 1;
            }
            @include breakpoint($col-8, $col-12) {
               margin-top: 10px;
            }
        }

        &.expandable-opacity {
           .cn-carousel-medium-strip {
                .media,
                .cd .cd__headline .cd__headline-text {
                    opacity: 0.6;
                }
                & .cd.cd--active {
                    .media,
                    .cd__headline .cd__headline-text {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.zn[data-eq-state$="small"],
.zn[data-eq-state$="xsmall"] {

    .el__leafmedia--featured-video-collection,
    .cd--tool__video-collection-player,
    .el__leafmedia--video-leaf-player {
        position: relative;

        .cn-carousel-medium-strip {
            float: none;

            .owl-nav {
                .owl-prev {
                    margin-left: 10px;
                }
                .owl-next {
                    margin-right: 10px;
                }
            }
        }
    }

    .el__leafmedia--expandable {
        .cn-carousel-medium-strip {
            padding-bottom: 0;
        }
    }
}

.cn-collection-player,
.el__leafmedia--featured-video-player {
    .carousel-medium-strip {
        .carousel__content__item {
            .cd__wrapper {
                .cd__content {
                    padding: 0;
                }

                .cd__headline {
                    padding: 0;

                    @include font-size(12);
                }
            }

            .media__over-text {
                padding: 7px 9px 7px 8px;

                @include z-index($overlay-layer);
            }

            .icon-media-video[data-post-text]:after,
            .icon-media-video360[data-post-text]:after {
                font-weight: $normal;

                @include font-size(12);
            }
        }
    }
}

.zn.t-dark {
    .cn-collection-player.cn--has-shingle {
        background: $gray-12;
    }
}


.cn-collection-player,
.el__leafmedia--full,
.el__video--fullwidth,
.el__leafmedia--video-leaf-player,
.el__leafmedia--featured-video-player,
.el__leafmedia--standard,
.el__leafmedia--expandable,
.el__featured-video--expandable {
    margin: 0 auto;
    width: 100%;
    &.el__videoexperience__collection {
        margin: auto;
        width: auto;
        .el__video-collection__main-wrapper {
            width: 100%;
            html.phone & {
                padding-bottom: 12px;
                position: relative;

                .owl-carousel {
                    display: block;

                    .carousel__content__item {
                        display: none;
                    }

                    .cd.cd--vertical[data-eq-state*="xsmall"],
                    .cd.cd--vertical[data-eq-state*="small"],
                    .cd.cd--vertical[data-eq-state*="medium"] {
                        border-bottom: 1px solid $gray-4;
                        padding: 18px 0;
                        width: 100%;

                        .media {
                            opacity: 1;
                            padding-left: 0;
                            width: 140px;

                            .media__icon.icon-media-video,
                            .media__icon.icon-media-video360 {
                                display: block;
                            }
                        }

                        &.cd--active .media {
                            margin-left: 3px;
                            outline: 3px solid $red-1;
                            width: 134px;

                            .media__over-text {
                                bottom: auto;
                                opacity: 1;
                                top: 0;
                            }
                        }

                        .cd__content {
                            background: none;
                            overflow: hidden;
                            padding-right: 140px;

                            @include stretch(0, false, false, 140px);

                            .cd__headline-icon:before {
                                display: none;
                            }
                        }
                    }

                    .cd.cd--vertical[data-eq-state*="xsmall"],
                    .cd.cd--vertical[data-eq-state*="small"] {
                        .cd__content {
                            padding-left: 20px;
                        }
                    }
                }

                .zn-body__read-more {
                    display: block;
                    text-align: center;
                    width: 100%;

                    @include stretch(false, false, 0, 0);
                    @include z-index($content-layer, header);

                    .read-more-gradient {
                        background: rgba(255, 255, 255, 0);
                        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
                        height: 80px;
                        overflow: hidden;
                    }

                    .read-more-button {
                        background-color: $white;
                        padding: 2px 0 0 0;
                    }

                    .read-more-link {
                        background-color: $white;
                        border: 1px solid $gray-4;
                        color: $gray-6;
                        cursor: pointer;
                        padding: 5px 0;
                        width: 100%;

                        @include copy(14px, 18px, $bold);
                    }
                }
            }
        }
    }
}

.zn[data-eq-state$="full16x9"],
.zn[data-eq-state$="large"],
.pg-rail-short__head .zn-large-media[data-eq-state$="full16x9"] {

    .cn-collection-player .cd[data-eq-state$="large"],
    .cn-collection-player .cd[data-eq-state$="full16x9"],
    .el__leafmedia--full,
    .el__video--fullwidth,
    .el__leafmedia--video-leaf-player,
    .el__leafmedia--featured-video-player {
        margin: 0 auto;

        @include breakpoint($col-12 - ($gutter-width * 2)) {
            width: 896px;
        }

        &.el__videoexperience__collection {
            margin: auto;
            width: auto;
            .el__video-collection__main-wrapper {
                width: 100%;
            }
            .el__video-collection__meta-wrapper {
                .gigya-sharebar {
                    float: left;
                }
                .gigya-sharebar-element,
                .sharebar-video-embed-element {
                    float: left;
                    margin: 0 0 0 15px;
                }
                .gigya-sharebar-element {
                    &:first-child {
                        margin-left: 0;
                    }
                }
                .m-share__bar {
                    float: left;
                    width: 100%;
                    padding-left: 5px;

                    @include breakpoint($col-12) {
                        margin: 35px 0;
                    }
                }
            }
        }
    }
}

.zn[data-eq-state$="large"],
.pg-rail-short__head .zn-large-media[data-eq-state$="large"] {

    .el__leafmedia--standard,
    .el__leafmedia--expandable,
    .el__leafmedia--full,
    .el__video--fullwidth,
    .el__featured-video--expandable {
        margin: 0 auto;

        @include breakpoint($col-12 - ($gutter-width * 2), $col-14) {
            width: 896px;
        }

        @include breakpoint($col-14) {
            width: 768px;
        }
    }
}

.zn.zn-staggered[data-eq-state$="full16x9"] .cn-collection-player .cd[data-eq-state$="large"] {
    width: 100%;
}

.cn-collection-player .cn,
.el__leafmedia--featured-video-collection .cn,
.el__leafmedia--video-leaf-player .cn {
    margin-bottom: 0;
}

.pg-special .cn-collection-player .cd--tool__video-collection-player,
.pg-videos .cn-collection-player .cd--tool__video-collection-player,
.el__leafmedia--video-leaf-player {
    .cn-carousel-medium-strip .cn__title {
        background: none;
        display: block;
        margin: 0 0 10px 0;
        padding: 0;

        @include font-size(14);
    }
}

.pg .video__source.top_source {
    @include copy(12px, 18px);

    @include breakpoint($col-6, $col-10) {
        @include copy(14px, 22px);
    }

    @include breakpoint($col-10) {
        @include copy(16px, 24px);
    }
}

.m-share__rail-top {
    .metadata & {
        clear: both;
        float: left;
    }
}

.loading-video-carousel {
    width: 100%;
    height: 80px;
}
