%el-banner {
    position: relative;
    text-align: center;
    word-spacing: -.05em;

    @include copy(36, 40, $medium);
    @include theme(color, el banner color, $include-transparent-override:true);

    a.link-banner:hover {
        color: $link-hover !important;

        h2 {
            color: inherit !important;
        }
    }

    strong {
        font-weight: $medium;
    }

    a {
        @include unstyled-link;

        &:hover {
            color: $link-hover;
        }
    }
}

// Font sizes for natural banners
%natural-banner--small {
    margin: 0 0 5px;
    @include headline-36;
}

%natural-banner--medium {
    margin: 0 0 10px;
    @include headline-48;
}

%natural-banner--large {
    margin: 0 0 10px;
    @include headline(58px, 60px);
}

@mixin natural-banner--small() {
    &[data-eq-state$="small"] .banner-text--natural {
        @extend %natural-banner--small;
    }
}

@mixin natural-banner--medium() {
    &[data-eq-state$="medium"] .banner-text--natural {
        @extend %natural-banner--medium;
    }
}

@mixin natural-banner--large() {
    &[data-eq-state$="large"] .banner-text--natural {
        @extend %natural-banner--large;
    }

    @include breakpoint($grid-width) {
        padding: 0 0 10px;
        @include headline(72px, 74px);
    }
}

@mixin natural-banner() {
    @include natural-banner--small;
    @include natural-banner--medium;
    @include natural-banner--large;
}

// banner size viewport unit functions and mixins
//
// description:
// For zone banner text font size
//
@function bannerGetVW($target, $maxBreakpoint) {
    // 1 vw is equal to 1% of the viewport width
    $vw-context: (strip-unit($maxBreakpoint) * .01) * 1px; // 1% viewport width

    @return ($target / $vw-context) * 1vw;
}

@function cardBannerRangeModifer($currBannerLength) {
    @if $currBannerLength < 13 {
        @return 20;
    }

    @if $currBannerLength < 36 {
        @return -14;
    }

    @return 0;

}

@mixin bannerVW($desktopSize, $minSize: 22px) {
    $targetSize: bannerGetVW($desktopSize, $col-14);

    $minBreakpoint: floor((strip-unit($minSize) / (.01 * strip-unit($targetSize))) * 1px);

    // Create a stopping point for minimum size that font doesn't get too small on long headlines
    @if $minBreakpoint > 1 {
        @include breakpoint(0, $minBreakpoint) {
            font-size: $minSize;
        }

        @include breakpoint($minBreakpoint, $col-14) {
            font-size: $targetSize;
        }
    } @else {
        @include breakpoint(0, $col-14) {
            font-size: $targetSize;
        }
    }

    // Prevent font-size from getting too big
    @include breakpoint($col-14) {
        font-size: $desktopSize;
    }
}

@mixin cardBannerVW($desktopSize, $minSize: 36px) {
    $viewportCalculatedSize: bannerGetVW($desktopSize, $col-14);

    $minBreakpoint: floor((strip-unit($minSize) / (.01 * strip-unit($viewportCalculatedSize))) * 1px);
    // Create a stopping point for minimum sizes that font doesn't get too small on long headlines
    @include breakpoint(0, $col-10) {
        font-size: bannerGetVW($desktopSize, $col-14);
    }

    @include breakpoint($col-10, $col-14) {
        font-size: $viewportCalculatedSize;

        .zn-left-fluid &,
        .zn-left-fluid-bg-bleed &,
        .zn-left-fluid-right-stack &,
        .zn-balanced &,
        .zn-right-fluid-left-stack &{
            font-size: $viewportCalculatedSize * .75;
        }

    }

    // Prevent font-size from getting too big
    @include breakpoint($col-14) {
        font-size: max($desktopSize, $minSize);

        .zn-left-fluid &,
        .zn-left-fluid-bg-bleed &,
        .zn-left-fluid-right-stack &,
        .zn-balanced &,
        .zn-right-fluid-left-stack & {
            font-size: max($desktopSize * .77, $minSize);
        }
    }

    //tablet sizes for zn-left-fluid-bg-bleed (super hero) + zn-left-fluid (priority+2) goes to 2 columns - this corrects that
    @include breakpoint($col-8, $col-12) {
        .zn-left-fluid &,
        .zn-left-fluid-bg-bleed & {
            font-size: $viewportCalculatedSize * .50;
        }
    }

    //tablet sizes for zn-left-fluid-bg-bleed (super hero) + zn-left-fluid (priority+2) right before going 2 column
    @include breakpoint($col-12, $col-13) {
        .zn-left-fluid &,
        .zn-left-fluid-bg-bleed & {
            font-size: $viewportCalculatedSize * .70;
        }
    }

    //final mobile stopgap that diss-allows a size less than $minSize
    @if $minBreakpoint > 1 {
        @include breakpoint(0, $minBreakpoint) {
            font-size: $minSize !important;
        }
    }
}
