//
// container
//
// file: quiet/elements/_container.scss
//
// description:
// Pattern for centering a full-grid-width wrapping container element
// 
// note:
// Placeholder %classes cannot be used inside of media queries. The mixins
// are provided for use inside of media queries.
//
// -----------------------------------------------------------------------------

@mixin container {
    margin-left: auto;
    margin-right: auto;
    max-width: $grid-width;
}

%container {
    @include container;
}
