//
// copy
//
// file: quiet/elements/_copy.scss
//
// description:
// Patterns for styling all editorial copy HTML elements at different sizes
//
// note:
// Placeholder %classes cannot be used inside of media queries. The mixins
// are provided for use inside of media queries.
//
// -----------------------------------------------------------------------------

// Base styles
// -----------------------------------------------------------------------------

@mixin copy($font-size: 12px, $line-height: 1.33em, $font-weight: $normal) {
    font-family: $sans-serif;
    font-weight: $font-weight;
    -webkit-font-smoothing: antialiased;

    @if(unitless($font-size)) { $font-size : $font-size * 1px; }
    @if(unitless($line-height)) { $line-height : $line-height * 1px; }

    @include font-size($font-size);

    @if(unit($line-height) == "px") {
        @include line-height($line-height, $font-size);
    } @else {
        line-height: $line-height;
    }
}

@mixin headline($font-size: 12px, $line-height: 1.33em, $font-weight: $light) {
    @include copy($font-size, $line-height, $font-weight);
}

//  =====================
//  Headlines
//
//  description
//  Define all headline types
//

@mixin headline-16 {
    @include headline(16px, 22px);
}

@mixin headline-18 {
    @include headline(18px, 24px);
}

@mixin headline-20 {
    @include headline(20px, 26px);
}

@mixin headline-24 {
    @include headline(24px, 30px);
}

@mixin headline-28 {
    @include headline(28px, 34px);
}

@mixin headline-32 {
    @include headline(32px, 36px);
}

@mixin headline-36 {
    @include headline(36px, 40px);
}

@mixin headline-42 {
    @include headline(42px, 46px);
}

@mixin headline-48 {
    @include headline(48px, 50px);
}

@mixin headline-52 {
    @include headline(52px, 56px);
}

@mixin headline-58 {
    @include headline(58px, 60px);
}

@mixin headline-62 {
    @include headline(62px, 66px);
}

@mixin headline-72 {
    @include headline(72px, 76px);
}

//  75 Bold Headlines
@mixin headline-16-bold {
    @include headline(16px, 20px, $bold);
}

@mixin headline-18-bold {
    @include headline(18px, 24px, $bold);
}


@mixin headline-24-bold {
    @include headline(24px, 30px, $bold);
}

@mixin headline-26-bold {
    @include headline(26px, 30px, $bold);
}

@mixin headline-30-bold {
    @include headline(30px, 34px, $bold);
}

@mixin headline-36-bold {
    @include headline(36px, 40px, $bold);
}
