//
// links
//
// file: quiet/elements/_links.scss
//
// description:
// Patterns for styling link HTML elements
//
// note:
// Placeholder %classes cannot be used inside of media queries. The mixins
// are provided for use inside of media queries.
//
// -----------------------------------------------------------------------------

// Render links to look like regular text
@mixin unstyled-link {
    color: inherit;
    text-decoration: none;

    &:visited {
        color: inherit;
    }

    &:hover {
        text-decoration: none;

        @include theme(color, el link hover);
    }
}

%unstyled-link {
    @include unstyled-link;
}


// Set all colors for a link with one mixin
@mixin link-colors($normal, $hover: false, $active: false, $visited: false, $focus: false) {
    color: $normal;
    @if $visited {
        &:visited {
            color: $visited;
        }
    }
    @if $focus {
        &:focus {
            color: $focus;
        }
    }
    @if $hover {
        &:hover {
            color: $hover;
        }
    }
    @if $active {
        &:active {
            color: $active;
        }
    }
}

