//
// lists
//
// file: quiet/elements/_lists.scss
//
// description:
// Patterns for styling list HTML elements
// 
// note:
// Placeholder %classes cannot be used inside of media queries. The mixins
// are provided for use inside of media queries.
//
// -----------------------------------------------------------------------------

// Style with orange bullets

@mixin styled-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        padding-left: 1em;
        text-indent: -.5em;

        &:before {
            content: $unicode-bullet;
            color: $orange-2;
            display: inline-block;
            width: .5em;
        }
    }
}

%styled-list {
    @include styled-list;
}


// Remove default list styling

@mixin unstyled-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

%unstyled-list {
    @include unstyled-list;
}
