//
// _typography
//
// file: quiet/elements/_typography.scss
//
// -----------------------------------------------------------------------------

%auxiliary {
    font-family: $sans-serif;
    font-weight: $bold;

    @each $theme-id in map-keys($themes) {
        @if map-fetch($themes, $theme-id card copy meta color) {
            .t-#{$theme-id} &,
            .pg .t-#{$theme-id} & {
                color: map-fetch($themes, $theme-id card copy meta color);
                color: safe-rgba(map-fetch($themes, $theme-id card copy meta color), .75);
            }
        }
    }
}
