//
// colors
//
// file: quiet/base/_colors.scss
//
// description:
// A collection of color variables. For official list of colors please see:
// http://sketch.turner.com/DXG/Expansion/Web/Elements/Color_palette/092313_colors_dm.jpg
//
// -----------------------------------------------------------------------------

// Main Palette
// -----------------------------------------------------------------------------

// Brand (Red)

$red: #ee373b !default;
$red-1: #e30000 !default;
$red-2: #cc0000 !default;
$red-3: #800002 !default;
$red-4: #591314 !default;
$red-5: #FB1B17 !default;
$red-6: #990000 !default;

// Grays

$gray-1:  #fefefe !default;
$gray-2:  #f2f2f2 !default;
$gray-3:  #e6e6e6 !default;
$gray-4:  #d9d9d9 !default;
$gray-5:  #bfbfbf !default;
$gray-6:  #a6a6a6 !default;
$gray-7:  #8c8c8c !default;
$gray-8:  #737373 !default;
$gray-9:  #595959 !default;
$gray-10: #404040 !default;
$gray-11: #262626 !default;
$gray-12: #1a1a1a !default;
$gray-13: #0c0c0c !default;
$gray-14: #fafafa !default;
$gray-15: #3F4041 !default;

//  Black and White
//  (have your light vs. pigment vs. reflection debates elsewhere)

$white: #fff !default;
$black: #000 !default;


//  Secondary Palette
//
//  Note:   Because 'blue' is an established value in the depreciated colors list
//          these keys do not match the schema. Once the 'blue' values can be
//          removed, these values can become aliases.
//
//  TODO:   $green is not green, needs to be changed to a different hex via DXG guidance

// -----------------------------------------------------------------------------

$blue: #2483b3 !default;
$blue-dark: #006598 !default;
$blue-1: #96c1ff !default;
$blue-2: #5295ff !default;
$blue-3: #c3dcff !default;
$blue-4: #1a6aff !default;
$blue-5: #3061f3 !default;

$green: #6fb22d !default;
$green-dark: #48731d !default;


// -----------------------------------------------------------------------------
// Aliases
// -----------------------------------------------------------------------------

$cnn-red: $red-2;
$cnn-money-blue: $blue;
$dark-red: $red-3;
$near-white: $gray-1;
$near-black: $gray-13;
$link-blue: $blue;
$link-hover: $cnn-red;


// Airport Delays Palette
// -----------------------------------------------------------------------------

$delay-major: $red-3;
$delay-minor: #ff7f00;
$delay-none:  #435914;

// Mailchimp Newsletter Palette
// -----------------------------------------------------------------------------
$newsletter-gray:     #f5f5f5 !default;
$newsletter-gray-1:   #e5e5e5 !default;
$newsletter-gray-2:   #e9e9e9 !default;
$newsletter-gray-3:   #a9a9a9 !default;
$newsletter-gray-4:   #777777 !default;
$newsletter-gray-5:   #333333 !default;
$newsletter-gray-6:   #151515 !default;
$newsletter-gray-7:   #f8f8f8 !default;

$newsletter-yellow:   #fffdf4 !default;
$newsletter-yellow-1: #f5b937 !default;
$newsletter-yellow-2: #f1ab3c !default;

$newsletter-salmon: #fb544c !default;
// Depreciated Secondary Palette
// -----------------------------------------------------------------------------

// Blues (Depreciated)

$blue-1:  #cee6f2 !default;
$blue-2:  #a1cfe6 !default;
$blue-3:  #97c2d8 !default;
$blue-4:  #7ab1cc !default;
$blue-5:  #609fbf !default;
$blue-6:  #4285a6 !default;
$blue-7:  #23698c !default;
$blue-8:  #1a4866 !default;
$blue-9:  #13354d !default;
$blue-10: #0b2b3f !default;
$blue-11: #132633 !default;
$blue-12: #061015 !default;
$blue-13: #103040 !default;
$blue-14: #164359 !default;

// Action (Orange) (Depreciated)

$orange-1: #ff7f00 !default;
$orange-2: #ff5500 !default;
$orange-3: #e83c02 !default;

// Social (Teal) (Depreciated)

$teal-1: #00e6ff !default;
$teal-2: #00d5ed !default;
$teal-3: #249bb3 !default;

// Trending (Green/Yellow) (Depreciated)

$trending-up:   #7f9735;
$trending-down: #feb62a;
$color-whatsapp: #ffffff !default;
$color-messenger: #ffffff !default;

// Social & Sharebar Icon Background Colors
$bgcolor-facebook: #3b5998 !default;
$bgcolor-twitter: #00abec !default;
$bgcolor-googleplus: #e64624 !default;
$bgcolor-linkedin: #1c8fbc !default;
$bgcolor-tumblr: #2c4762 !default;
$bgcolor-instagram: #3f729b !default;
$bgcolor-tvtag: #f24e4e !default;
$bgcolor-pintrest: #cb2027 !default;
$bgcolor-email: #76c155 !default;
$bgcolor-ellipse: #ca1f27 !default;
$bgcolor-whatsapp: #609a4c !default;
$bgcolor-messenger: #0084ff !default;

// Native Sponsor content Background colors
$bgcolor-sponsorHeader: #22A7E9 !default;

// Flag colors
$cerulean-m5: #001a2c !default;
$gold-native: #c3a354 !default;
$teal-m0: #c0e2e6 !default;
