//
// grid
//
// file: quiet/base/_grid.scss
//
// description:
// A collection of grid variables
//
// -----------------------------------------------------------------------------

$gutter-width: 20px !default;
$grid-width: 1100px !default;
$columns: 14 !default;
$col-width: ($grid-width + $gutter-width) / $columns !default;
$aside-width: 300px !default;

$page-background-height: 475px;
$page-background-width: 1600px;
$ratio-4x3: 75%;
$ratio-16x9: 56.25%;


// Pixel values for column widths for @media queries
// See quiet/utilities/_breakpoint.scss
// -----------------------------------------------------------------------------

$col-1:   1 * $col-width !default;
$col-2:   2 * $col-width !default;
$col-3:   3 * $col-width !default;
$col-4:   4 * $col-width !default;
$col-5:   5 * $col-width !default;
$col-6:   6 * $col-width !default;
$col-7:   7 * $col-width !default;
$col-8:   8 * $col-width !default;
$col-9:   9 * $col-width !default;
$col-10: 10 * $col-width !default;
$col-11: 11 * $col-width !default;
$col-12: 12 * $col-width !default;
$col-13: 13 * $col-width !default;
$col-14: 14 * $col-width !default;
