//
// icons
//
// file: quiet/base/_icons.scss
//
// description:
// A collection of icon variables
//
// note:
// See quiet/utilities/_icon.scss for implementation
//
// -----------------------------------------------------------------------------

$unicode-bullet:              '\2022';
$unicode-nbsp:                '\00a0';
$unicode-no-width:            '\200b';
$unicode-em-dash:             '\2014';
