//
// typography
//
// file: quiet/base/_typography.scss
//
// description:
// A collection of type variables and mixins
//
// -----------------------------------------------------------------------------

$sans-serif: CNN, 'Helvetica Neue', Helvetica, Arial, Utkal, sans-serif !default;
$sans-serif-interface: CNN, 'Helvetica Neue', Verdana, Geneva, sans-serif !default;
$sans-serif-display: CNN, 'Helvetica Neue', 'Arial Black', Helvetica, Arial, Utkal, sans-serif !default;
$serif: Georgia, serif !default;

$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

$base-font-size: 15px;
$base-line-height: 24px !default;

$body-text-color: $gray-11 !default;
$link-hover-color: $blue !default;

@mixin vertical-container-font {
    font-family: STYLE, 'Helvetica Neue', Helvetica, Arial, Utkal, sans-serif;
    font-feature-settings: "kern";
    font-weight: $normal;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;

    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    -webkit-font-feature-settings: "kern";
}
