@mixin vertical-vr-card {

    @include force($includeLeafPage: true) {
        .cd__headline a {
            display: inline-block;
        }

        .cd__headline a:before,
        .cd__headline a:hover {
            color: $gray-1 !important;
        }

        .cd__headline-text {
            display: inline-block;
            letter-spacing: 0.5px;
        }
    }

    .cd--vertical .cd__headline {
        display: inline-block;
    }

    .cd.cd--card.cd--large {
        padding-bottom: 0;

        .cd__wrapper,
        .cd__content {
            padding-left: 0;
            background: transparent !important;
        }

        .cd__content:hover {
            .cd__headline-text:after {
                width: 100%;
            }
        }

        .cd__headline {
            font-size: 60px !important;
            letter-spacing: 2.4px;
            line-height: 60px !important;

            @include vertical-vr-font;
            @include vertical-vr-font__DIN;

            @media (min-width: $nav-breakpoint) {
                font-size: 130px !important;
                letter-spacing: 0.5px;
                line-height: 124px !important;
            }
        }

        .cd__headline-text:before,
        .cd__headline-text:hover {
            color: $gray-1 !important;
        }

        .cd__headline-text:after{
            background: $gray-1;
            bottom: 0px;
            content: "";
            display: block;
            height: 5px;
            position: relative;
            top: -10px;
            transition: width 250ms ease-in-out 100ms;
            width: 0%;
        }

        .cd__auxiliary {
            color: $gray-1;
            font-style: italic;
            font-weight: $medium;
            letter-spacing: .6px;
            margin: 0;

            @include font-size(18);

            @media (min-width: $nav-breakpoint) {
                letter-spacing: 1px;

                @include font-size(28);
            }
        }

        .cd__description {
            font-style: italic;
            letter-spacing: 0.9px;
            line-height: 24px;
            margin-top: 15px;
            width: 290px;

            @include font-size(14);

            @media (min-width: $nav-breakpoint) {
                letter-spacing: .9px;
                line-height: 38px;
                width: 484px;

                @include font-size(18);
            }
        }
    }

    // Archive zone

    .zn.zn-balanced .cd {
        .media {
            height: 126px;
            margin-bottom: 18px;
            width: auto;

            @media (min-width: $col-8) {
                height: 143px;
                margin-bottom: 35px;
                width: 193px;
            }
        }
    }
    
    .zn.zn-balanced .cd.cd--article {
        overflow: hidden;
    }
    
    .zn.zn-balanced .cd.cd--small {
        .cd__wrapper {
            margin-bottom: 50px;
        }

        // center image within the resized container
        .cd__wrapper img {
            height: auto;
            left: -50px;
            min-height: 143px;
            position: absolute;
            top: -13px;
            width: auto;
        }
        .cd__headline {
            display: block;
            max-width: 190px;
            position: relative;
        }
        .cd__headline a {
            color: $gray-1;
            padding-bottom: .65em;

            &:hover {
                color: $gray-1;
            }
        }

        .cd__headline a:before {
            background: $gray-1;
            bottom: 0;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            transition: width .2s ease-in-out;
            width: 32%;
        }

        .cd__wrapper:hover .cd__headline a:before {
            height: 2px;
            width: 100%;
        }

        .cd__headline-text {
            color: $gray-1;
            display: inline-block;
            letter-spacing: .5px;
            max-width: 190px;
            opacity: .8;
            text-transform: uppercase;

            @include font-size(18);
            @include vertical-vr-font;
            @include vertical-vr-font__DIN;

            @media (min-width: $nav-breakpoint) {
                @include font-size(20);
            }
        }

        .cd__headline-text a:before {
            display: inline-block;
        }

        .cd__headline-text:before,
        .cd__headline-text:hover {
            color: $gray-1 !important;
            display: inline-block;
        }

        .cd__description {
            font-style: italic;
            letter-spacing: 0.5px;
            margin-top: 10px;
            max-width: 190px;
            opacity: .8;

            @include font-size(14);
        }
    }

    .zn.zn-balanced .column .cn__column {
        padding: 0 10px;
    }

    &.pg-vertical--vr.pg-leaf .pg-special-article {
        .cd--tool__outbrain {
            display: none;
        }
    }

    &.pg-vertical--vr.pg-special .cd__wrapper {
        .cd__headline a:before,
        .cd__headline a:hover {
            color: $gray-1 !important;
            display: inline-block;
        }
    }

    // Top web tag zone
    .zn.zn-vr-zone-1 {
        .vr_overlay .cd__content {
            display: none !important;
        }

        .cd__content {
            padding-left: 0;
        }

        .l-container {
            bottom: 100px;
            display: block !important;
            position: absolute;

            @include z-index($content-layer, content-masking);
        }
    }

}
