@mixin vertical-vr-footer {

    .el-button--show-more-vr-videos {
        background: $gray-12;
        float: left;
        height: 61px;

        @include vertical-vr-font;
        @include vertical-vr-font__CNNSans;
    }

    .el-button--show-more-vr-videos:hover {
        background: $gray-12;
        color: $gray-8;
    }

    .l-footer {
    	background: $gray-12;

        @include vertical-vr-font;
        @include vertical-vr-font__CNNSans-light;
    }

    .home-link {
        font-weight: $bold;
        float: left;
        margin-top: 50px;

        @media (min-width: $col-8) and (max-width: $nav-breakpoint) {
            float: right;
            margin-top: -55px;
        }

        @media (min-height: 425px) and (min-width: $nav-breakpoint) {
            float: right;
            margin-top: -5px;
        }
    }

    .legal {
        color: $gray-8;
        display: block;
        float: left;
        font-weight: $light;
        margin-top: 50px;
        width: 100%;

        @include font-size(12);

        @media (min-width: $nav-breakpoint) {
            margin-top: 130px;
        }
    }

    .legal a {
        color: $gray-8;
        font-weight: $light;

        &:hover {
            text-decoration: underline;
        }
    }

    .legal__copyright,
    .legal__font-copyright {
        margin: 0;
    }

    .legal__font-copyright {
        display: inline;
    }

    .legal__link-list {
        list-style: none;
        padding: 0;
        display: block;

        @media (min-width: $nav-breakpoint) {
            display: inline;
        }
    }

    .legal__link-list-item {
        display: inline;
    }

    .legal__link-list-item + .legal__link-list-item {
        border-left: solid 1px $gray-8;
        padding-left: .5em;
        margin-left: .5em;
    }

    .legal__link {
        color: $gray-8;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .legal .logo {
        color: $gray-1;
        display: inline-block;
        float: right;
        margin: -1.5em;
        padding-left: 10px;
        transform: scale(.5);

        &:before {
            font-size: 6em;
            font-weight: $light;

            @include icon($icon--cnn);
        }

        &:hover {
            color: $cnn-red;
            text-decoration: none;
        }
    }

    &.pg-vertical--vr.pg-leaf .l-footer .el-button--show-more-vr-videos,
    &.pg-vertical--vr.pg-special .l-footer .el-button--show-more-vr-videos {
        display: none;
    }

}
