@mixin vertical-vr-header {
    .nav-header {
        height: $vr-navigation-height;
        overflow: initial;
    }

    &.nav-open .nav-header {
        height: 100%;
        overflow: scroll;

        @include z-index($overlay-layer);

        @media (min-height: $vr-buckets-vertical-breakpoint) and (max-width: $nav-breakpoint) {
            overflow: initial;
        }

        @media (min-width: $nav-breakpoint) {
            height: auto;
        }
    }

    .nav {
        background: transparent;
        @include vertical-vr-font;
        @include z-index($navigation-layer);

        @include force($includeLeafPage: true) {
            .nav,
            .skinny .nav {
                height: $vr-navigation-height !important;
                position: absolute;

                @media (min-width: $nav-breakpoint) {
                    padding: 0 $vr-navigation-gutter;
                }
            }

            .nav > .container {
                max-width: none;
            }
        }

        @include reset($includeLeafPage: true) {
            .nav,
            .nav > .container {
                position: static;
            }
        }

    }

    &.nav-open .nav {
        @include force {
            &.nav-open .nav,
            &.nav-open .skinny .nav {
                height: 100vh !important;

                @media (min-width: $nav-breakpoint) {
                    height: $vr-navigation-height !important;
                }
            }
        }
    }

    &.pg-vertical--vr.pg-special .nav,
    &.pg-vertical--vr.pg-leaf .nav {
        background: $gray-12;
    }

    .menu-toggle {
        margin-right: 3px;
        width: $vr-navigation-height - 10px;

        @media (min-width: $nav-breakpoint) {
            display: none;
        }
    }

    .menu-toggle-icon {
        height: $vr-navigation-height;
        line-height: $vr-navigation-height;
        text-align: center;
        width: $vr-navigation-height - 10px;
        @include z-index($navigation-layer, navigation-content);

        &:before {
            color: $gray-1;
            @include font-size(25);
            @include icon($icon--menu);
        }

        &:hover:before {
            color: $gray-1;
        }

        @include force($includeLeafPage: true) {
            .nav .menu-toggle .menu-toggle-icon {
                @media (min-width: $col-10) {
                    display: block;
                }
            }
            &.nav-open .nav .menu-collapse {
                background: 0;
            }
        }

        @include reset($includeLeafPage: true) {
            .nav .menu-toggle-icon {
                position: relative;

                @media (min-width: $nav-breakpoint) {
                    cursor: default;
                }
            }
            &.nav-open .nav .menu-toggle-icon {
                background: 0;
            }
        }
    }

    &.nav-open .menu-toggle-icon {
        &:before {
            color: $gray-1;
            @include font-size(32);
            @include icon($icon--close);
        }
    }

    .drawer {
        align-content: space-around;
        align-items: center;
        background: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        left: 0;
        opacity: 0;
        padding-left: 20px;
        padding-top: $vr-navigation-height;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;

        @include vertical-vr-font;
        @include vertical-vr-font__CNNSans;

        @media (min-width: $nav-breakpoint) {
            background: 0;
            flex-direction: row;
            flex-grow: 1;
            height: auto;
            opacity: 1;
            padding: 0;
            pointer-events: all;
            position: static;
            width: auto;
        }
    }

    &.nav-open .drawer {
        background: $gray-12;
        opacity: 1;
        pointer-events: all;
    }

    .buckets {
        align-content: space-around;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;

        @media (min-width: $nav-breakpoint) {
            flex-direction: row;
            flex-grow: 1;
            justify-content: flex-end;
        }

        @include force($includeLeafPage: true) {
            .nav .drawer > ul.buckets {
                height: 75%;

                @media (min-width: $nav-breakpoint) {
                    height: auto;
                }
            }
        }

        @include reset($includeLeafPage: true) {
            .skinny .nav .buckets {
                padding: 0;
                position: static !important;
            }
            &.nav-open .nav .buckets {
                transform: none;
                transition: none;
            }
        }
    }

    &.breaking-news--showing .nav .drawer > ul.buckets {
        margin-top: 140px;

        @media (min-width: $nav-breakpoint) {
            margin-top: 0;
        }
    }

    .bucket {
        display: flex;
        font-weight: 300;
        justify-content: left;
        letter-spacing: .5px;
        line-height: 78px;
        padding: 0 10px;
        text-align: left;
        text-transform: uppercase;

        @include font-size(65);
        @include vertical-vr-font;
        @include vertical-vr-font__Condensed;

        @media (min-width: $nav-breakpoint) {
            justify-content: center;
            line-height: 1;
            text-align: center;

            @include font-size(14);
            @include vertical-vr-font;
            @include vertical-vr-font__Condensed;
        }
    }

    &.nav-open .bucket {
        margin-bottom: 20px;

        @media (min-width: $nav-breakpoint) {
            margin-bottom: 0;
        }
    }

    .bucket a {
        color: $gray-1;
        padding: 10px;
        line-height: 65px;
        position: relative;
        text-decoration: none;
        vertical-align: baseline;

        @include vertical-vr-font__DIN;

        @media (min-width: $nav-breakpoint) {
            box-sizing: border-box;
            color: $gray-1;
            display: block;
            line-height: $vr-navigation-height;
            padding: 0 10px;

            @include vertical-vr-font__Condensed;
        }

        @include force($includeLeafPage: true) {
            @media (min-width: $nav-breakpoint) {
                .skinny .nav .buckets .bucket {
                    line-height: $vr-navigation-height;
                }
            }
        }

        @include reset($includeLeafPage: true) {
            .nav .bucket > a {
                border: 0;
                font-size: inherit;
            }
        }
    }

    .bucket a:before {
        background: $gray-1;
        bottom: .25em;
        content: "";
        height: 4px;
        left: 0;
        margin-left: 10px;
        position: absolute;
        transition: width .2s ease-in-out;
        width: 0;

        @media (min-width: $nav-breakpoint) {
            bottom: 1.3em;
            height: 1px;
        }
    }

    .bucket a:after {
        color: transparent;
        content: attr(title);
        display: block;
        font-weight: 500;
        height: 1px;
        overflow: hidden;
        visibility: hidden;
    }

    .bucket.selected > a {
        color: $gray-10;
        font-weight: 500;
    }

    .bucket.selected > a:hover,
    .bucket a:hover {
        font-weight: 500;
    }

    .bucket.vr-home:not(.selected) a:hover:before {
        width: 77%;

        @media (max-width: $nav-breakpoint) {
            width: 90%;
        }
    }
    .bucket.archives:not(.selected) a:hover:before {
        width: 77%;

        @media (max-width: $nav-breakpoint) {
            width: 90%;
        }
    }
    .bucket.how-to-watch-vr:not(.selected) a:hover:before {
        bottom: .25em;
        height: 4px;
        width: 95%;

        @media (min-width: $nav-breakpoint) {
            bottom: 1.3em;
            height: 1px;
            width: 87%;
        }
    }

    .skinny .nav .bucket > a {
        @media (min-width: $nav-breakpoint) {
            line-height: $vr-navigation-height;
        }
    }

    &.pg-vertical--vr.pg-section .buckets .vr-home,
    &.pg-vertical--vr.pg-section .buckets .archives {
        @media (min-width: $nav-breakpoint) {
            display: none;
        }
    }

    .search-toggle {
        display: none;
        cursor: pointer;
        height: $vr-navigation-height;
        position: relative;
        text-align: center;
        width: $vr-navigation-height - 10px;
        @include z-index($navigation-layer, navigation-content);

        @media (min-width: $nav-breakpoint) {
            cursor: default;
            display: block;
        }

        &:before {
            color: $gray-1;
            line-height: $vr-navigation-height;
            @include font-size(25);
            @include icon($icon--y08-entertainment-search);

            @media (min-width: $nav-breakpoint) {
                line-height: $vr-navigation-height - 3px;
                padding: 3px 0 0;
                width: $vr-navigation-height;
                @include font-size(16);
            }
        }

        &:hover:before {
            color: $gray-8;
        }
    }

    &.nav-open .search-toggle {
        color: $gray-1;
        display: none;
        left: 0;
        padding: 0 40px;
        position: absolute;
        top: 80vh;

        @media (min-width: $nav-breakpoint) {
            display: block;
        }
    }

    .search-wrapper {
        margin: 0 auto;
        max-width: $grid-width;
        width: 100%;
        @include z-index($navigation-layer);

        @media (min-width: $nav-breakpoint) {
            left: 0;
            position: absolute;
            right: 0;
            @include z-index($navigation-layer, navigation-wrapper);
        }
    }

    .utilities__search {
        display: none;

        @media (min-width: $nav-breakpoint) {
            display: block;
            position: fixed;
            right: $vr-navigation-gutter;
            top: 0;
            transform-origin: right center;
            transform: scale(0, 1);
            width: 320px;
        }
    }

    &.nav-open .utilities__search {
        display: none;
        padding: 0 40px;
        position: absolute;
        top: 80vh;
        width: 100%;

        @media (min-width: $nav-breakpoint) {
            display: block;
        }
    }

    .search__field {
        position: relative;

        @include reset($includeLeafPage: true) {
            .search__field {
                background: 0;
                line-height: normal;
                padding: 0;
                top: 0;
                transform: none;
                width: 100%;
            }
            &.search-open .skinny .search__field {
                @media (min-width: 1px) {
                    max-width: 100%;
                    position: static;
                }
            }
        }
    }

    .search__input-field {
        border-radius: 0;
        border: 0;
        box-sizing: border-box;
        height: $vr-navigation-height;
        padding-left: 30px;
        width: 100%;

        @include font-size(14);

        @include placeholder-styles {
            opacity: .4;
        }

        @media (min-width: $nav-breakpoint) {
            background: $gray-1;
            color: $gray-13;
        }
    }

    &.search-open .utilities__search {
        transform: scale(1, 1);
    }

    &.search-open .search-toggle:before {
        @media (min-width: $nav-breakpoint) {
            color: $gray-13;
        }
    }

    &.search-open .search-toggle:hover:before {
        @media (min-width: $nav-breakpoint) {
            color: $gray-13;
        }
    }

    .search__button {
        position: absolute;
        top: -200vh;
    }

    .search__field {
        position: relative;
    }

    &.nav-open .search__input-field {
        background: $gray-12;
        border-bottom: 2px solid;
        color: $gray-1;

        @include placeholder-styles {
            color: $gray-13;
        }

        @media (min-width: $nav-breakpoint) {
            background: $gray-1;
            border: none;
            color: $gray-13;

            @include placeholder-styles {
                color: $gray-13;
            }
        }
    }

    &.pg-vertical--vr.pg-section .search-toggle {
        @media (min-width: $nav-breakpoint) {
            display: none;
        }
    }

    // Flexbox Positioning
    .flex {
        display: flex;
        flex-wrap: wrap;
    }

    .flex--column {
        flex-direction: column;
    }

    .flex-order--drawer {
        order: 6;

        @media (min-width: $nav-breakpoint) {
            order: 2;
        }
    }

    .flex-order--logo {
        order: 0;
    }

    .flex-order--search {
        order: 3;
    }

    .flex-order--search-field {
        order: 5;
    }

    .flex-order--menu-toggle {
        order: 4;
    }
}
