@mixin vertical-vr-logo {
    .logo {
        display: flex;
        flex-grow: 1;
        @include z-index($navigation-layer, navigation-content);

        @media (min-width: $nav-breakpoint) {
           flex-grow: 0;
        }

        @include reset($includeLeafPage: true) {
            .nav .logo {
                background: 0;
                height: auto;
                width: auto;
                position: static;
                transform: none;
            }
        }
    }

    .logo-text {
        line-height: 22px;
    }

    &.nav-open .nav .logo {
        height: $vr-navigation-height;
    }

    .logo-cnn {
        background-image: url('@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/logo_cnn.svg');
        display: block;
        height: $vr-navigation-height;
        width: $vr-navigation-height;
    }

    .logo-vr {
        background: url('@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/logo_vr.svg') no-repeat left 15px;
        display: block;
        width: 50px;

        @media (min-width: $nav-breakpoint) {
            background-position: left 15px;
        }
    }

    &.nav-open .nav .logo-vr {
        background-image: url('@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/logo_vr.svg');
    }

    .logo-vr--header {
        margin-left: 10px;
    }
}
