@import "_card";
@import "_elements";
@import "_logo";
@import "_web-tag";
@import "_zone";

@mixin vertical-vr-page {
    // Page and zone styles
    // Override theming to force style colours
    &.pg-section {
        .zn--idx-0 {
            padding-top: 0;

            .column:first-child .cn {
                margin-bottom: 0;
            }
        }
    }

    .zn-header__text-page_header {
        display: none;
    }

    .pg__background__image {
        position: inherit;
    }

    &.pg-vertical--vr.pg-leaf .nav,
    &.pg-vertical--vr.pg-leaf .l-footer {
        background: $gray-12;
    }

    &.pg-vertical--vr.pg-section:not(.nav-open) {
        padding-top: 50px !important;

        @media (min-width: $nav-breakpoint) {
            padding-top: 120px;
        }        
    }
    
    &.pg-vertical--vr.pg-section .pg-wrapper {
        margin-top: -74px;
    }

    &.pg-vertical--vr.breaking-news--showing.search-open .utilities__search {
        top: 70px;
    }
    
    &.pg-vertical--vr.pg-special .pg-wrapper .metadata-header__title {
        display: none;
    }

    &.pg-vertical--vr.pg-special .zn-header {
        margin-bottom: 25px;
        padding-left: 10px;

        @media (min-width: $nav-breakpoint) {
            margin: 0 40px 40px;
        }
    }

    &.pg-vertical--vr.pg-leaf .pg-special .pg-wrapper,
    &.pg-vertical--vr.pg-leaf .pg-special-article.pg-wrapper {
        background: $gray-12;
        color: $gray-1;
    }

    &.pg-vertical--vr.pg-leaf .pg-special-article .pg-special-article__body {
        .pg-headline {
            color: $gray-1;
            letter-spacing: .5px;
            margin: 50px auto 0;

            @include font-size(60);
            @include vertical-vr-font;
            @include vertical-vr-font__DIN;

            @media (min-width: $nav-breakpoint) {
                @include font-size(130);
            }
        }

        .metadata__byline__author:before,
        .metadata__location__detail:before {
            border: none;
            margin: 0;
        }

        .metadata__byline__author,
        .metadata__location__detail {
            font-style: italic;
            letter-spacing: .6px;
            
            @include font-size(18);
            @include vertical-vr-font;
            @include vertical-vr-font__Condensed;

            @media (min-width: $nav-breakpoint) {
                letter-spacing: 1px;
                @include font-size(28);
            }
        }
        
        .l-container {
            padding: 0 10px;
            text-align: center;
        }
        
        .m-share,
        .update-time,
        .el-editorial-source {
            display: none;
        }
    }

    &.pg-vertical--vr .pg__background__image_wrapper {
        display: none;
    }

    .pg-wrapper {
        @media (min-width: $nav-breakpoint) {
            overflow-x: hidden;
        }
    }

    .l-container {
        max-width: 100%;

        &.zn__background--content-relative {
            max-width: $grid-width;
        }
    }

    &.pg-vertical--vr .breaking-news__background .l-container {
        @media (min-width: $nav-breakpoint) {
            max-width: 97%;
        }
    }

    .cd__auxiliary, .cd__description {
        @include vertical-vr-font;
        @include vertical-vr-font__Condensed;
    }

    .cd--article {
        padding-bottom: 0;

        @media (min-width: $nav-breakpoint) {
            padding-bottom: 64px;
        }
    }

    &.pg-vertical--vr.pg-leaf .pg-special-article .pg-special-article__body {
        .zn-body__paragraph {
            color: $gray-1;
            font-style: italic;
            font-weight: $medium;
            letter-spacing: 1px;
            line-height: 34px;
            text-align: center;

            @include font-size(16);
            @include vertical-vr-font;
            @include vertical-vr-font__Condensed;

            > h3 {
                color: $gray-1;
                font-style: normal;
    
                @include vertical-vr-font;
                @include vertical-vr-font__DIN;

                &:before {
                    width: 0;
                }

                @media (min-width: $nav-breakpoint) {
                    @include font-size(50);
                }
            }
        }
        .zn-body__footer {
            display: none;
        }
    }

    // Hide all ads
    .ym,
    .ad.ad--epic.ad--mobile,
    .ad.ad--epic.ad--all {
        display: none;
    }

    @include vertical-vr-card;
    @include vertical-vr-elements;
    @include vertical-vr-logo;
    @include vertical-vr-web-tag;
    @include vertical-vr-zone;
}