// Mixin to seperate Michonne overrides.
//
// These are a set of helper mixins that gives us two "pegs" to hang
// our styles on. It is possible to turn off each peg using the
// variables $vr-reset-enabled, and $vr-force-enabled.

$vr-reset-enabled: true !default;
$vr-force-enabled: true !default;

$vr-non-leaf-templates: "section", "special";
$vr-leaf-templates: "leaf";
$vr-special-article-templates: "special-article";
$vr-all-templates: append($vr-non-leaf-templates, $vr-leaf-templates, "comma");
$vr-all-templates: append($vr-all-templates, $vr-special-article-templates, "comma");

@mixin _vr-page-classes($list) {
    @each $template in $list {
        .pg-vertical--vr.pg-#{$template} {
            @content;
        }
    }
}

@mixin _vr-special-page-classes($list) {
    @each $template in $list {
        .pg-vertical--vr.pg-leaf .pg-#{$template} {
            @content;
        }
    }
}


@mixin _vr-root-definitions($includeLeafPage) {
    @at-root {
        @if ($includeLeafPage) {
            @include _vr-page-classes($vr-all-templates) { @content };
        } @else {
            @include _vr-page-classes($vr-non-leaf-templates) { @content };
            // check for special article
            @include _vr-special-page-classes($vr-special-article-templates) { @content };
        }
    }
}

@mixin reset($includeLeafPage: false) {
    @if ($vr-reset-enabled) {
        @include _vr-root-definitions ($includeLeafPage) { @content };
    }
}

@mixin force($includeLeafPage: false) {
    @if ($vr-force-enabled) {
        @include _vr-root-definitions ($includeLeafPage) { @content };
    }
}
