@import "_header";
@import "_footer";
@import "_page";
@import "_peg";

$nav-breakpoint: 840px;
$vr-buckets-vertical-breakpoint: 580px;
$vr-navigation-height: 50px;
$vr-navigation-gutter: 48px;
$vr-image-center: -9999px;

$vr-canvas-blur: 15px;

// Rules around special font
// Use mixin here as we can't extend placeholders inside media queries
@mixin vertical-vr-font {
    font-feature-settings: "kern";
    text-rendering: optimizeLegibility;

    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    -webkit-font-feature-settings: "kern";
}

@mixin vertical-vr-font__DIN {
    font-family: 'DIN Condensed', CNN, 'Helvetica Neue', Helvetica, Arial, Utkal, sans-serif;
}

@mixin vertical-vr-font__Condensed {
    font-family: 'CNN Condensed', CNN, 'Helvetica Neue', Helvetica, Arial, Utkal, sans-serif;
}

@mixin vertical-vr-font__CNNSans {
    font-family: 'CNN Sans Condensed', CNN, 'Helvetica Neue', Helvetica, Arial, Utkal, sans-serif;
}

@mixin vertical-vr-font__CNNSans-light {
    font-family: 'CNN Sans Display W04', CNN, 'Helvetica Neue', Helvetica, Arial, Utkal, sans-serif;
}

.pg-vertical--vr.pg-section,
.pg-vertical--vr.pg-special,
.pg-vertical--vr.pg-leaf {
    @if $is-static == 'header' {
        @include vertical-vr-header;
    } @else if $is-static == 'footer' {
        @include vertical-vr-footer;
    } @else {
        @include vertical-vr-header;
        @include vertical-vr-footer;
        @include vertical-vr-page;
    }
}
