// Styles to target web tag that provides 360 video experience on zone 1

@mixin vertical-vr-web-tag {

    .vr_overlay,
    .vr_canvas,
    .vr_fader {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .vr_overlay {
        color: $gray-1;
        display: block !important;

        @include z-index($content-layer, interactive);
    }

    .vr_canvas {
        background-position: center center;
        background-size: cover;

        @include z-index($content-layer, header);
    }

    .vr_canvas.vr_blur {
        -moz-filter: blur($vr-canvas-blur);
        -ms-filter: blur($vr-canvas-blur);
        -o-filter: blur($vr-canvas-blur);
        -webkit-filter: blur($vr-canvas-blur);
        filter: blur($vr-canvas-blur);
    }

    .vr_scroll {
        bottom: 26px;
        left: 50%;
        line-height: 16px;
        margin-left: -100px;
        position: absolute;
        text-align: center;
        width: 200px;

        @include font-size(12px);

        > span {
            @include font-size(17px);
        }
    }

    .vr_loader {
        background-image: url(http://i.cdn.turner.com/cnn/2017/images/03/06/vrloading.svg);
        height: 62px;
        left: 50%;
        margin-left: -31px;
        margin-top: -31px;
        position: absolute;
        top: 50%;
        width: 62px;

        @include z-index($overlay-layer, overlay-screen);
    }

    .vr_fader {
        background: rgba(0,0,0,0.2);

        @include z-index($content-layer, tooltip);
    }
}
