@mixin vertical-vr-zone {
    @include force($includeLeafPage: true) {
    	.zn-left-fluid-bg-bleed.zn--has-background {
            height: 100vh;
            padding-bottom: 0;
            padding-top: 0;
    	}

        .zn-header__text a:before,
        .zn-header__text a:hover {
        	color: $gray-1 !important;
        }
    }

    .zn-left-fluid-bg-bleed.zn--has-background .zn-top__background {
        height: 100%;

        > a {
            cursor: pointer;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    .zn-left-fluid-bg-bleed.zn--has-background .zn-top.zn__show_background {
        height: 100%;
        padding-top: 0;
        position: absolute;
        width: 100%;
    }

    .zn-left-fluid-bg-bleed.zn--has-background .zn-top.zn__show_background .zn__background--img-tag {
        height: 100%
    }

    .zn-left-fluid-bg-bleed.zn--has-background .zn-top.zn__show_background .zn__background img {
        bottom: $vr-image-center;
        height: 100% !important;
        left: $vr-image-center;
        margin: auto;
        position: absolute;
        right: $vr-image-center;
        top: $vr-image-center;
        width: auto;

        @media (min-width: $col-8) and (max-width: $nav-breakpoint) {
            width: 100%;
        }

        @media (min-width: $nav-breakpoint) {
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
        }
    }

    .zn-left-fluid-bg-bleed.zn--has-background .l-container {
        bottom: 70px;
        position: absolute;

        @media (min-width: $nav-breakpoint) {
            bottom: 100px;
        }
    }

    // More videos / Archive zone
    .zn.zn-balanced {
        .l-container {
            padding: 0;

            @media (min-width: $nav-breakpoint) {
                padding: 0 10px;
            }
        }
    }

    // zone header
    .zn.zn-balanced .zn-header .zn-header__stripes {
        display: none;
    }

    &.pg-vertical--vr.pg-section .zn.zn-balanced .zn-header {
        margin: 50px 0 45px;
        padding-left: 10px;

        @media (min-width: $nav-breakpoint) {
            margin: 130px 0 50px 40px;
        }
    }

    .zn.zn-balanced .zn-header .zn-header__text {
        display: inline;
        letter-spacing: .5px;
        text-transform: uppercase;

        @include font-size(32);
        @include vertical-vr-font;
        @include vertical-vr-font__DIN;

        @media (min-width: $nav-breakpoint) {
            @include font-size(50);
        }
	}

    .zn-header__text a {
        color: $gray-1;
        text-decoration: none;
    }

    .zn-header__text a:before {
        background: $gray-1;
        bottom: .3em;
        content: "";
        height: 4px;
        left: 0;
        position: absolute;
        transition: width .2s ease-in-out;
        width: 0;
    }

    .zn-header__text a:hover:before {
    	width: 100%;
    }

    .image-gradient--zone {
        display: none;
    }

    .zn__containers {
        margin-left: 0;

        @media (min-width: $nav-breakpoint) {
            margin-left: 40px;
        }
    }

    .l-container {

        &.zn__background--content-relative {
            max-width: $grid-width;
        }
    }

    .cd__auxiliary, .cd__description {
        @include vertical-vr-font;
        @include vertical-vr-font__Condensed;
    }

    .cd--article {
        padding-bottom: 0;

        @media (min-width: $nav-breakpoint) {
            padding-bottom: 64px;
        }
    }

    &.pg-vertical--vr.pg-leaf .pg-special-article .pg-special-article__body {
    	.zn-body__paragraph {
            color: $gray-1;
            font-style: italic;
            letter-spacing: 1px;
            line-height: 40px;
            text-align: center;

            @include font-size(18);
            @include vertical-vr-font;
            @include vertical-vr-font__Condensed;

			> h3 {
				color: $gray-1;
			}
    	}
    	.zn-body__footer {
    		display: none;
    	}
    }
}
