//
// cnn profiles list
//
// file: _cnn-profiles.scss
//
// description:
// styles for the hotlinks on CNN profiles list page
//

.tv-profiles-hotlinks-container {
    float: right;
    margin: 10px 0;

    .tv-profiles-hotlinks {
        li {
            list-style: none;
            float: left;
            padding-right: 10px;
            color: $gray-6;

            @include copy(16px, 40px, $bold);

            a {
                color: $gray-6;

                &:hover {
                    color: $blue;
                    cursor: pointer;
                }
            }
        }
    }

    .tv-profile-item {
        &:after {
            content: "|";
            padding-left: 10px;
        }
    }
}

.drop-target {
    display: block;
    content: " ";
    margin-top: -90px;
    height: 90px;
    visibility: hidden;
}
