//
// feedback
//
// file: _feedback.scss
//
// description:
// All unique styles for the /feedback page
//

.feedback-form__status {
    font-size: 1em;

    @include breakpoint($col-4) {
        font-size: 1.3em;
    }

    @include breakpoint($col-10) {
        font-size: 2em;
    }
}

.feedback-headline.pg-headline {
    color: $gray-11;
    font-weight: $normal;
    margin: 35px 0 40px 0;
}

.feedback-headline.pg-headline img.cnn10 {
  background-image: url("@@cdn.chrome/.e1mo/img/4.0/logos/cnn_10.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 120px;
  position: relative;
  width: 120px;
}

.feedback-form__fields div {
    margin-bottom: 40px;
}

.feedback-forms form {
    @include font-size(14);

    label {
        color: $gray-11;
        display: block;
        font-family: $sans-serif-display;
        font-size: 1.28571428571429em;
        font-weight: $normal;
        margin-bottom: 10px;
        text-shadow: 0 0 1px rgba(0,0,0,0.2);
        @include line-height(26, 18);
    }

    textarea {
        color: $gray-7;
        font-size: 1.14285714285714em;
        font-weight: $normal;
        height: 120px;
        @include line-height(20, 16);
    }

    input[type=text], input[type=email] {
        height: 40px;
        width: 100%;
        @include breakpoint($col-10) {
            width: 460px;
        }
    }

    input:not([type=radio]), textarea {
        box-shadow: 0 1px 3px rgba(0,0,0, 0.1) inset;
    }

    input, textarea {
        margin-top: 0;

        &:first-child {
            margin-top: 0;
        }

        width: 100%;
        @include breakpoint($col-10) {
            width: 460px;
        }
    }

    .feedback-form-error {
        color: $red-5;
        font-style: italic;
        font-size: 1.14285714285714em;
        margin-top: 5px;
        display: block;
        @include line-height(24, 16);
    }

    .feedback-form-comments-counter {
        color: $gray-7;
        display: block;
        font-size: 1.14285714285714em;
        font-weight: $light;
        text-shadow: 0 0 1px rgba(0,0,0,0.2);
        margin-top: 5px;
        @include line-height(24, 16);
    }

    .feedback-form-comments-limit {
        color: $red-5;
    }

}

.feedback-go {
    margin-top: 30px;
}

.feedback-additionalFields,
.feedback-go-rating {
    ul {
        padding-left: 0;
        margin-top: 5px !important;

        li {
            list-style: none;
            position: relative;
        }

        label {
            margin-left: 20px;
        }

        input[type="radio"] {
            height: 13px;
            margin-left: -20px;
            position: absolute;
            top: 2px;
            width: 13px;
        }
    }
}

.feedback-go-rating {
    margin-top: 10px;
    padding-top: 10px;
    position: relative;

    &:first-child {
        margin-top: 30px;
    }

    + label {
        margin-top: 30px;
    }

    span {position: relative;}

    ul {
        display: inline-block;
        margin-top: 0 !important;
        padding-left: 21px;

        li {
            display: inline-block;
            margin-left: 35px;

            &:first-child {
                margin-left: 0;
            }
        }
    }
    .x-label {
        display: inline-block;
        text-align: right;
        width: 200px;

        &:first-child {
            width: $col-2;
            @include breakpoint($col-1, $col-5) {
                width: $col-1;
            }
        }
    }
    .y-label {
        display: inline-block;
        line-height: 1.7;
        vertical-align: top;
        width: $col-1;
    }
}

.feedback-form__buttons {
    padding: 0 0 1em;
}

#js-feedback-send {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: $gray-10;
    border: 1px solid $gray-4;
    font-color: $gray-1;
    font-size: 1.28571428571429em;
    font-weight: $normal;
    height: 40px;
    width: 220px;
    @include line-height(26, 18);
}
