//
// mycnn
//
// file: _mycnn.scss
//
// description:
// All styles for the MyCNN UI
//
// -----------------------------------------------------------------------------

.pg-mycnn .pg-wrapper {
    .cd--tool__mycnn-body-contents {
        min-height: 300px;

        header {
            @include font-size(28);
        }
    }

    h3 {
        font-weight: $light;

        @include font-size(26);
    }

    h4 {
        margin: .5em 0;

        @include font-size(16);

        @include breakpoint($col-6) {
            @include font-size(18);
        }
    }

    h2.zn-header__text-page_header {
        border-bottom: 1px solid $gray-4;
        padding-bottom: 30px;
        width: 100%;

        @include breakpoint($col-1, $col-10) {
            padding-bottom: 18px;

            @include font-size(45);
        }
    }

    .zn-scripts {
        left: -100000px;
        position: absolute;
        top: -100000px;
        z-index: -1;
    }

    .mycnn__avatar-wrapper {
        display: inline-block;
        max-height: 100px;
        vertical-align: middle;

        @include breakpoint($col-8) {
            max-height: initial;
        }

        .mycnn__avatar-image {
            height: 80px;

            @include breakpoint($col-10) {
                height: auto;
            }

            img {
                height: 100%;
                width: auto;

                @include breakpoint($col-10) {
                    height: auto;
                    width: 100%;
                }
            }
        }
    }

    //Gigya Profile Details
    .gigya-myPhoto-profile-box-wrapper .gigya-myPhoto-status-icon {
        z-index: inherit !important;
    }
    .gigya-screen-caption {
        border: 0px;
        padding-left: 0px;
        width: 100% !important; //override 3rd party

        @include copy(28px);
    }

    .gigya-screen {
        width: 100% !important; //override 3rd party

        &.portrait,
        &.mobile {
            padding-left: 0px;
            padding-right: 0px;
            width: 100% !important; //override 3rd party
        }

        a {
            color: $link-blue;
            text-decoration: none;

            &:link {
                color: $link-blue;
            }

            &:hover {
                color: $link-hover;
            }
        }

        input[type=submit] {
            background-color: $gray-8;

            &:hover {
                background-color: $gray-7;
            }
        }

        input[type=text],
        input[type=password] {
            background: $gray-1;
            border: 1px solid $gray-4;
            border-radius: 0px;
            box-shadow: none;
            color: $gray-8;
            display: block;
            padding: 5px 8px;
            text-indent: 0px;

            @include copy(18px);
        }
    }
}

.mycnn__details-msg {
    color: $cnn-red;
    font-weight: $bold;
    text-align: center;
}

.mycnn-newsletter-container {

    border-bottom: 1px solid $gray-4;
    display: block;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    &:last-of-type {
        border: 0;
    }

    .mycnn-newsletter-name {
        margin-bottom: 0;
    }

    .mycnn-newsletter-frequency {
        color: $gray-6;
        margin-bottom: .2rem;

        @include font-size(14);
    }

    button.button-unsubscribe,
    button.button-unsubscribe:hover {
        background: $gray-6;
        color: $gray-1;
    }

    button.hide {
        display: none;
    }

    button + button.button-unsubscribe {
        margin-left: 0;
    }
}

.mycnn-alerts__images {

    .mycnn-alert__image {
        display: inline-block;
        height: 38px;

        img {
            height: 100%;
            width: auto;
        }
    }
}

.mycnn-avatar-update {
    p {
        padding: 1em 0;
    }

    .mycnn-avatar-image {
        max-height: 300px;

        img {
            height: auto;
            max-height: 100%;
            width: auto;
        }
    }

    #uploadFrame {
        height: 30px;
    }
}

.zn-mycnn {

    padding: 0;

    .cn-stack {
        li {
            display: inline-block;
            vertical-align: middle;

            @include breakpoint($col-10) {
                display: block;
            }
        }
    }

    .cd--tool__mycnn-avatar {
        .zn-header-wrapper {
            width:100%;
        }

        .mycnn__avatar-wrapper {
            padding-top: 20px;
        }
    }

    @include breakpoint($col-10) {
        .cd--tool__mycnn-body-contents {
            margin-top: 50px;

            .mycnn-details-inner-container {
                padding-top: 28px;
            }
        }
    }

    @include breakpoint($col-1, $col-6) {
        .cd--tool__mycnn-left-rail {
            .mycnn__left-rail-wrapper {
                margin-top: 2em;
            }
        }
    }
}

.mycnn__left-rail-wrapper {

    margin-top: 1em;
    max-width: 70%;

    li {
        display: inline-block;
        vertical-align: middle;
    }

    .nav-item {
        border-top: 1px solid $gray-4;
        display: none;
        padding: .5em 0;

        @include breakpoint($col-10) {
            display: block;
        }

        &:first-of-type {
            border: 0;
        }

        a {
            color: $gray-11;

            @include font-size(16);

            &:hover {
                color: $cnn-red;
            }
        }
    }

    .select.mycnn-nav {
        display: inline-block;
        margin: 0 0 -7em -10em;
        vertical-align: middle;

        @include breakpoint($col-10) {
            display: none;
        }
    }
}

.mycnn-stream-container, .mycnn-suggested-topics {

    float: left;
    padding-top: 25px;
    width: 100%;

    ul,
    li {
        list-style: none;
        padding: 0;
    }

    .mycnn-stream-items {
        float: left;
        margin: 10px 10px;
        padding-left: 6px;
        width: 90%;

        .anchor_name {

            bottom: 0;
            color: $white;
            padding: 10px;
            position: absolute;

            @include headline-18;
        }

        @include breakpoint($col-6) {
            width: 40%;
        }
    }

    .mycnn-stream-items--left {
        clear: left;
    }

    .mycnn-stream-item {

        border-top: 1px solid $gray-4;
        margin: .5em 0;
        padding: .5em 0;

        &:first-of-type {
            border-top: 0;
        }

        .mycnn-stream-item-data {
            display: block;
        }

        .mycnn-stream-item-topic {
            display: inline-block;
            vertical-align: baseline;
        }

        .mycnn-stream-item-data--link {
            @include font-size(18);
            @include headline-18;
            @include line-height(24, 18);

            a {
                color: $black;
            }
        }

        .mycnn-stream-item-data--details {
            color: $gray-8;
            padding-left: 1em;
        }
    }

    .el-button {
        @include line-height(26, 15);
    }
}

.mycnn-suggested-topics {

    .mycnn-details-container {
        border-top: 1px solid $gray-4;
        margin: .5em 0;
        padding: .5em 0;

        @include font-size(18);

        &:first-of-type {
            border-top: 0;
        }
    }

}

.mycnn-details-error {
    background-color: $gray-2;
    display: none;
    margin: 10px 0;
    padding: 10px;
    .mycnn-account-error__message {
        color: $red-2;
        font-weight: $bold;
    }
    ul {
        padding: 0;
    }
    .mycnn__error-item {
        list-style-type: none;
    }
}

.mycnn-details-success {
    background-color: $white;
}

.mycnn-social-settings__network {

    .el-button {
        margin-left: 1em;
    }

    .mycnn-social-settings__social-avatar {
        display: inline-block;
        vertical-align: middle;
        width: 60px;
    }

    .mycnn-social-settings__social-name {
        display: inline-block;
        vertical-align: middle;
    }

    .mycnn-social-settings__social-icon {
        @extend %sprite-cnn-defaults;

        display: inline-block;
        height: 25px;
        margin: 0 .5rem;
        position: relative;
        vertical-align: middle;
        width: 25px;
    }

    .mycnn-social-settings__social-icon--cnnid { // REMOVE or UPDATE with new image
        @include sprite($logo-cnn-2up-dark-ticker-separator);

        height: 13px;
        position: relative;
        top: 5px;
        width: 27px;
    }

    .mycnn-social-settings__social-icon--facebook {
        @include sprite($icon-social-facebook);
    }

    .mycnn-social-settings__social-icon--google-plus {
        @include sprite($icon-social-google-plus);
    }

    .mycnn-social-settings__social-icon--linked-in {
        @include sprite($icon-social-linked-in);
    }

    .mycnn-social-settings__social-icon--twitter {
        @include sprite($icon-social-twitter);
    }

}

.mycnn-social-settings__note {
    margin: 1.5em 0;

    @include font-size(14);
}

.mycnn-stream-container, .mycnn-suggested-topics {
    .el-button--follow {
        padding: 5px;
        top: 0;

        &:before {
            @include font-size(15);
        }
    }

    .js-jfy-button {
        display: inline-block;
        position: absolute;
    }
}

.msib-container {
    .social-error {
        background-color: $gray-2;
        display: none;
        margin: 10px 0;
        padding: 10px;

        .social-error__message {
            color: $red-2;
            font-weight: $bold;
        }
        .social-error__error-item {
            list-style-type: none;
            margin-left: -30px;
        }
    }
}
