//
//
// file: pages/_special-article.scss
//
// This are styles for the new single column (no rail) special article template.
// Styles are simple and may override some site globals (article to article nav,
// suppressing ads, etc.).
//
// -----------------------------------------------------------------------------

// Styles for locator maps.
@import "../pattern-library/loud/_maps";

// Mixins
// -----------------------------------------------------------------------------

@mixin top-line($color: $gray-4, $margin: 20px 0, $width: 80px) {
    &:before {
        @include breakpoint($col-8) {
            border-top: 1px solid $color;
            content: '';
            display: block;
            height: 1px;
            margin: $margin;
            width: $width;
         }
    }
}

@mixin max-width($width: 800px, $padding: 0) {
    padding: $padding;

    @include breakpoint($col-8) {
        max-width: $width;
        padding-left: 0;
        padding-right: 0;
    }
}

// Special Article Styles
// -----------------------------------------------------------------------------

// hide article-to-article arrows
.pg-special-article ~ .sibling {
    display: none;
}

.pg-special-article {
    // ----------------------------------------------------------------------------- page overrides

    // hide 'branding' page background (no cnn branding graphics, keep entitlement ad)
    .pg__background__image_wrapper {
        display: none;
    }

    .l-container {
        max-width: 100%;
        padding: 0;
    }

    // ----------------------------------------------------------------------------- entitlements

    .el-entitlement {
        box-sizing: content-box;
        float: none;
        height: 60px;
        margin: 0 auto;
        padding: 20px 0;
        text-align: center;

        @include z-index($content-layer, content);

        @include breakpoint($col-1, $col-6) {
            padding: 5px 0;
        }

        ~ .pg-special-article__head-standard {
            padding-top: 0;
        }
    }

    .marker-fullwidth ~ .el-entitlement {
        position: absolute;
        width: 100%;
    }

    // ----------------------------------------------------------------------------- article head

    &__head {
        text-align: center;

        &-fullwidth {
            max-width: 100%;
            position: relative;
        }

        &-standard {
            margin: 0 auto;
            position: relative;

            @include max-width(930px, 20px 0 0);

            @include breakpoint($col-1, $col-6) {
                padding-top: 0;
            }
        }

        .pg-special-article & .media__caption {
            text-align: left;

            @include breakpoint($col-1, $col-6) {
                padding: 0 10px;
            }
        }

        .pg-special-article & .media__image ~ .media__caption,
        .pg-special-article & .media__image .media__caption {
            bottom: 0;
            color: rgba($gray-11, 0);
            left: 0;
            padding: 12px 45px;
            position: absolute;
            text-align: left;
            transition: background .3s, color .3s;
            width: 100%;

            &.media__caption--open {
                background: rgba($gray-1, .7);
                color: $gray-11;

                &:before {
                    color: $gray-11;
                    margin: 0 0 12px 15px;

                    @include icon($icon--close);
                }
            }

            &:before {
                bottom: 0;
                color: $gray-1;
                cursor: pointer;
                display: inline-block;
                left: 0;
                margin: 0 0 12px 12px;
                position: absolute;

                @include font-size(25);
                @include icon($icon--collection-player-info);
            }
        }

        .el__video_collection--close {
            display: none;
        }

        .el__image--page-width {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100% auto; // fallback for ie
            background-size: cover;     // cover if supported
            padding-bottom: 50%;

            @include breakpoint($col-8) {
                height: 525px;
                padding-bottom: 0;
            }

            img {
                height: 2px;
                opacity: 0;
                width: 2px;
            }
        }

        .el__gallery,
        .el__video {
            margin: 0 auto;

            @include max-width(930px);

            .metadata__source {
                text-align: left;
            }
        }

        video {
            left: 0;
        }
    }

    // ----------------------------------------------------------------------------- share bar

    .m-share {
        margin: 0 auto 15px;
        max-width: 660px;
        padding: 0 10px;
        text-align: center;

        @include z-index($content-layer, interactive-controls);

        .gigya-sharebar-element[data-social-media-name="whatsapp"] {
            display: none !important;
        }

        .gigya-sharebar-element {
            display: inline-block;
            float: none;
        }

        .gig-button-container {
            text-align: center;
        }

        @include breakpoint($col-8) {
            padding: 0;
        }

        html:not(.android):not(.ios):not(.iemobile) & {
            @include breakpoint($col-13) {
                height: 0;
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
                text-align: left;
                transform: translateZ(0px);
                transition: opacity .15s;
                width: 100%;

                @include max-width(930px, 0 10px);

                > [class*='gigya-sharebar'] {
                    margin-left: 35px;
                }

                .gigya-sharebar-element {
                    display: block;
                    float: none;
                    margin: 0;

                    & + .gigya-sharebar-element {
                        margin-top: 10px;
                    }
                }

                > [class*='gigya-sharebar'] {
                    margin-left: -60px;
                    width: 50px;
                }
            }
        }
    }

    // ----------------------------------------------------------------------------- article body

    .special__article--background {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

        @include z-index($background-layer, zone-top);
    }

    .pg-special-article__body {
        background: transparent;
        position: relative;
    }

    .zn-body-text {
        padding-top: 0;
        position: relative;

        @include z-index($content-layer, content);

        h3 {
            clear:both;
            display: block;
            margin-left: auto;
            margin-right: auto;

            @include max-width(660px, 0 10px);

            strong {
                @include copy(32, 40, $light);
            }
        }
    }

    .pg-headline {
        margin: 0 auto 0 auto;
        text-align: center;

        @include max-width(930px, 25px 10px 0);

        @include breakpoint($col-1, $col-6) {
            padding-top: 15px;
        }
    }

    .update-time {
        color: $gray-8;
        float: none;
        margin: 0 auto 1em auto;
        text-align: center;

        @include breakpoint($col-11) {
            margin: 0 auto 2em auto;
        }

        @include max-width(660px, 0 10px);

        @include copy(16, 28, $light);

        &:before {
            content: '';
            display: none;
        }
    }

    .metadata__byline,
    .metadata__location {
        margin-bottom: .5em;
        text-align: center;
    }

    .metadata__byline__author,
    .metadata__location__detail {
        font-weight: $light;

        @include top-line($gray-4, 20px auto);

        strong {
            color: $cnn-red;
            font-weight: $light;
        }
    }

    .el__leafmedia--storyhighlights {
        display: none;
    }

    .zn-body-text .l-container > [class*="el__leafmedia"].el__leafmedia--editorial-note {
        color: $gray-8;
        margin: 0 auto;

        @include max-width(660px, 0 10px);
        @include top-line();

        .zn-body__paragraph {
            padding: 0;
        }

        .el-editorial-note {
            padding: 0;

            @include copy(16, 28, $light);
        }
    }

    .metadata + div .zn:first-child {
        padding-top: 0;
    }

    .zn-body__paragraph {
        margin: 0 auto 15px auto;

        @include max-width(660px, 0 10px);
    }

    .zn-body__footer {
        font-style: normal;
        text-align: center;

        @include top-line($gray-4, 40px auto 20px auto, 660px);

        @include breakpoint($col-1, $col-6) {
            &:before {
                width: 100%;
            }
        }
    }

    // ----------------------------------------------------------------------------- embedded elements

    .el__embedded,
    .zn-body-text .l-container > .el__leafmedia {
        margin: 0 auto;
        transform: translateZ(0);

        @include max-width(800px);

        @include breakpoint($col-6, $col-10) {
            padding-left: $gutter-width / 2;
        }

        &[class*="fullwidth"] {
            @include max-width(930px);
        }

        @include breakpoint($col-1, $col-6) {
            .media__caption {
                padding-left: $gutter-width / 2;
                padding-right: $gutter-width / 2;
            }
        }

        &.el__embedded--open {
            clear: both;
        }
    }

    .el__video--standard,
    .el__video--expandable,
    .el__video--fullwidth,
    .el__video--expandfull,
    .el__leafmedia--gallery-full {
        .zn-body & .media__caption {
            @include breakpoint($col-1, $col-6) {
                padding-left: $gutter-width / 2;
                padding-right: $gutter-width / 2;
            }
        }
    }

    .el__gallery-showhide {
        color: $gray-9;

        @include breakpoint($col-1, $col-6) {
            padding-left: $gutter-width / 2;
            padding-right: $gutter-width / 2;
        }
    }

    .el__storyelement--standard,
    .el__storyelement--expandable,
    .el__image--standard,
    .el__image--expandable,
    .el__video--standard,
    .el__video--expandable,
    .el__gallery--standard,
    .el__gallery--expandable,
    .el__show--embed,
    .el__article--embed,
    .el__special--embed {
        margin-right: $gutter-width * 1.5;
    }


    [class*="el__image"],
    [class*="el__video"],
    [class*="el__gallery"] {
        &[class*="standard"],
        &[class*="expandable"] {
            float: left;

            @include breakpoint($col-12) {
                margin-left: 0;
            }
        }

        &[class*="full"] {
            float: none;
        }
    }

    @include breakpoint($col-1, $col-6) {
        [class*="el__video"] {
            .el__video__play-button-wrapper,
            .el__video__play-button-wrapper {
                display: block;
            }
        }
    }

    [class*="el__leafmedia"] {
        margin: 0 auto;

        @include max-width(930px);
    }

    [class*="el__leafmedia--twitter"] {
        text-align: center;

        .twitter-tweet {
            width: 100% !important;
            margin: 0 auto 20px auto !important;
            max-width: 500px !important;
        }
    }

    .el__leafmedia {
        .el__storyelement--standard {
            float: left;
        }

        &--raw-html {
            > div {
                margin: $gutter-width auto;
            }
        }
    }

    .el__leafmedia--pullquote {
        max-width: 800px;

        .pullquote {
            float: left;
            margin: $gutter-width $gutter-width $gutter-width * 1.5 0;

            @include breakpoint($col-1, $col-6) {
                float: none;
                margin-left: auto;
                margin-right: auto;
                padding-left: $gutter-width / 2;
                padding-right: $gutter-width / 2;
                width: 300px;
            }

            > blockquote {
                color: $gray-7;
                font-weight: $normal;
                position: relative;

                &:before {
                    color: white;
                    text-shadow: 1px 1px 0px $gray-4, -1px -1px 0px $gray-4, 1px -1px 0px $gray-4, -1px 1px 0px $gray-4;
                }
            }

            .pullquote__quote {
                font-style: normal;
                margin-bottom: 1rem;

                @include copy(20, 32, $light);
            }

            .pullquote__author {
                color: $gray-5;
                font-weight: $light;

                @include top-line($gray-5, 10px 0);
            }
        }
    }

    .el__leafmedia--pullquote.el__leafmedia--fullwidth {
        .pullquote {
            display: block;
            float: none;
            width: 100%;
            margin: $gutter-width * 2 auto $gutter-width auto;
            max-width: 480px;

            > blockquote {
                color: $gray-7;
                font-weight: $normal;
                position: relative;

                &:before {
                    margin-right: $gutter-width;
                    position: absolute;
                    right: 100%;

                    @include breakpoint($col-1, $col-6) {
                        margin-right: 0;
                        margin-top: $gutter-width * 1.5;
                        position: relative;
                        right: initial;
                    }
                }
            }

            .pullquote__quote {
                @include copy(24, 36, $light);

                @include breakpoint($col-8) {
                    @include copy(32, 44, $light);
                }
            }
        }
    }

    .el__leafmedia--raw-html > div {
        max-width: 100%;
    }

    .el__leafmedia--factbox {
        .el__storyelement--standard {
            padding: $gutter-width / 2;
        }
    }

    .ad--epic {
        &.ad--desktop,
        &.ad--tablet {
            margin: 0 auto;
            overflow: visible;

            @include max-width(970px);

            @include breakpoint($col-6, $col-10) {
                padding-right: $gutter-width / 2;
            }

            &:after {
                clear: none;
            }
        }

        &.ad--mobile {
            clear: both;
        }

        [id^="ad_"] {
            padding: 10px 0;

            &:empty {
                padding: 0;
            }

            >div:first-child:after {
                margin-bottom: 0;
            }
        }
    }

    .zn {
        .ad--epic {
            [id^="ad_bnr"], [id^="ad_rect"] {
                border-bottom: 1px solid $gray-4;
                border-top: 1px solid $gray-4;

                &:empty {
                    border: none;
                }
            }
        }
    }



    // ----------------------------------------------------------------------------- recirculation modules

    // set the width
    .zn-story-bottom,
    .zn-Related {
        margin: 0 auto;
        max-width: 1100px;
        padding: 0 10px;

        @include breakpoint($col-14) {
            padding: 0;
        }
    }

    // style the container titles
    .zn {
        .cn__title {
            background-color: transparent;
            padding-left: 0px;

            @include copy(26, 32, $light);
        }

        a.cn__title--link {
            &:before {
                display: none;
            }

            &:hover .cn__title {
                background-color: transparent;
            }
        }
    }
    .pg-comments {
        &.pg-special-article--comments {
            float: none;
            margin: 0 auto 150px;
            width: 100%;
            @include max-width(660px, 0 10px);
        }
    }
}
