//
// sponsored header
//
// file: _sponsor-article.scss
//
// description:
// Styles for the sponsor header used for Nativo content and 3rd party sponsored content
//
// -----------------------------------------------------------------------------
.pg-sponsor-article,
.pg-sponsor-summary,
.pg-sponsor-interactive {
    padding-top: 0;

    @include breakpoint($col-10) {
        .iemobile &,
        .android &,
        .ios & {
            padding-top: 0;
        }
    }

    .cnn-js-navigation {
        height: 60px;
        width: 100%;
    }
    .nav.super-skinny {
        background: $black;

        .logo {
            float: left;
            height: 60px;
            width: 60px;
        }

        .logocont {
            color: $gray-8;
            padding-left: 80px;
            padding-top: 15px;

            &:before {
                left: 0;
                margin-top: -2px;
                @include icon($icon--arrow-left);
            }
        }
    }
}
