//
// static
//
// file: pages/_static.scss
//
// description:
// Static rules partial included by static stylesheets.
// This is mainly normalisation rules we want to apply
// without scoping them to the entire third party page,
// which is done using a nested @import.
//
// -----------------------------------------------------------------------------

& {
    font-family: $sans-serif;

    button,
    input,
    select,
    textarea {
        font-family: sans-serif;
        vertical-align: baseline;
    }

    button {
        font-size: 100%;
    }
}

* {
    box-sizing: border-box;
}
