//
// css for gigya login and registration (/login.html)
//
// file: pages/login.scss
//
// -----------------------------------------------------------------------------
@import "../pattern-library/_cnn-pattern-library";

.login__gigya {
    .gigya-screen-caption {
        display: none;
    }

    .gigya-login-provider img {
        display: inline-block;
    }

    .gigya-screen {
        width: 100% !important; //override 3rd party

        &.portrait,
        &.mobile,
        &.landscape {
            padding-left: 0px;
            padding-right: 0px;
            width: 100% !important; //override 3rd party

            .gigya-social-login-container {
                margin: 0px !important;
            }
        }

        a {
            color: $link-blue;
            text-decoration: none;

            &:link {
                color: $link-blue;
            }

            &:hover {
                color: $link-hover;
            }
        }

        input[type=submit] {
            background-color: $gray-8;

            &:hover {
                background-color: $gray-7;
            }
        }

        input[type=text],
        input[type=password] {
            background: $gray-1;
            border: 1px solid $gray-4;
            border-radius: 0px;
            box-shadow: none;
            color: $gray-8;
            display: block;
            padding: 5px 8px;
            text-indent: 0px;

            @include copy(18px);
        }
        .gigya-composite-control-header {
            text-align: left !important;
        }

    }
}
