//
//
// file: pages/page.scss
//
// -----------------------------------------------------------------------------

$background-image-offset: 85px; // zn-header + headline-24 + padding

// Hook for partials to exclude or include certain styles based on
// whether or not the content being requested is for static usage
$is-static: false;

// Sprite assets
// @import "../../assets/sprite/*.png";
// @include all-sprite-sprites;

// CNN Pattern library and toolkit
@import "../pattern-library/_cnn-pattern-library";
@import "../pattern-library/vendor/_use-column-policy";
@import "../cards/_card";
@import "../cards/tools/_tools";
@import "../containers/_container";
@import "../zones/_zones";
@import "common/_breaking-news";
@import "common/_comments";
@import "common/_error";
@import "common/_footer";
@import "common/_header";
@import "common/_nav";
@import "common/_nav-edition-picker";
@import "common/_nav-search";
@import "common/_nav-section-submenu";
@import "common/_nav-hamburger";
@import "common/_edition-picker";
@import "common/_metadata-header";
@import "common/_responsive-images";
@import "common/_search";
@import "common/_search-global";
@import "common/_share";
@import "common/_social-share-rail";
@import "common/_social";
@import "common/_pagebadge";
@import "common/_screaming-banner";
@import "common/_video-end-slate";
@import "_sponsor-header";
@import "common/_sponsor-article";
@import "common/_nativo-social";
@import "common/_sports-ticker";
@import "_mycnn";
@import "common/_user-msg";
@import "_feedback";
@import "common/_navigation-sibling";
@import "_cnn-profiles";
@import "verticals/politics/_politics";
@import "verticals/entertainment/_entertainment";
@import "verticals/style/_style";
@import "verticals/vr/_vr";
@import "common/_byline-images";
@import "_special-article";
@import "verticals/video/_video";

// This chunk is not using the `theme` mixin because the class generation for
// `$flag-id` adds a level of complication. Maybe, one day, it could be done.
// For now, copying and pasting `is-container-override` logic will solve the
// issue.
@each $theme-id in map-keys($themes) {
    @if (map-has-key(map-get($themes, $theme-id), is-container-override) == false) {
        .pg.t-#{$theme-id} {
            background-color: map-fetch($themes, $theme-id page body background);
            color: map-fetch($themes, $theme-id page copy color);
        }
    }
}

html {
    // Remove hover state for iDevices
    //
    // This class should be used as little as possible. We do not want to be
    // basing css styling on whether or not something is an iDevice. The only
    // reason we did things this way is because disabling the hover state for
    // browsers that support touch events would have unintended consequences,
    // like breaking the newest IE versions and certain Android devices.
    //
    // IOS devices are set up to cache the current page before going to the next
    // one, hence, the hover color would still show. This remediates that issue.
    //
    // `-webkit-text-size-adjust: 100%;` fixes an ios bug where the page zoom on
    // orientation change
    &.ios {
        -webkit-text-size-adjust: 100%;

        body {
            -webkit-text-size-adjust: 100%;

            a:hover {
                color: currentColor;
            }
        }
    }
}

html.no-js .pg-hidden {
    display: block;
}

.pg-hidden {
    display: none;
}

.pg-header {
    @include breakpoint($col-12) {
        padding-bottom: 0;
    }
}

.pg-header__bucket-title__stripes-wrapper {
    padding-bottom: 7px;
    width: 100%;

    @include font-size(0);

    .zn-header__text {
        color: $gray-7;
        text-shadow: none;
        text-transform: uppercase;

        @include font-size(12);

        @include breakpoint($col-6) {
            letter-spacing: -1px;

            @include font-size(20);
        }
    }

    .pg-header__bucket-title__stripes {
        // Common Style
        border: 0;
        border-bottom: 6px solid;
        border-top: 6px solid;
        color: $gray-9;
        height: 14px;

        @include breakpoint(0, $col-6) {
            border-bottom: 3px solid;
            border-top: 3px solid;
            height: 8px;
        }
    }
}

.pg-header__page-title {
    color: $gray-1;

    @include headline-24;

    &.pg-title--no-subsections {
        margin-bottom: 10px;
    }

    @include breakpoint($col-8) {
        @include headline-52;
    }
}

.pg-header__subsections {
    background-color: rgba($gray-11, .6);
    clear: left;
    color: $gray-1;
    font-weight: $bold;
    line-height: 1;
    margin-bottom: 10px;

    @include unstyled-list;
    @include font-size(16);

    .pg-header__subsections__li {
        display: inline-block;

        a:hover {
            color: $white;
        }
    }

    .pg-header__subsections__li:hover {
        background-color: $gray-8;
    }

    .pg-header__subsections__link {
        display: block;
        padding: 10px 20px;

        @include unstyled-link;
    }

    .pg-header__subsections__li--selected {
        color: $orange-2;
    }
}


.pg-header__subsections--select {
    position: relative;
}

.pg-header__subnav--picker {
    margin: 23px 0 5px 5px;

    @include breakpoint($col-8) {
        margin-bottom: 10px;
        margin-top: 35px;
    }

    @include breakpoint($col-12) {
        margin-top: 50px;
    }

    .subnav--picker__current {
        font-weight: $bold;

        @include font-size(20);
    }
}

.media__video .metadata {
    background-color: $black;
    color: $white;
    padding-left: 5px;
}

.update-time {
    float: left;
    margin-right: 5px;

    @include breakpoint($col-1, $col-6) {
        margin-bottom: 10px;
    }

    &:before {
        margin-top: -.2em;
        padding-right: .4em;

        @include icon($icon--timestamp);
    }

    + .video__source {
        @include breakpoint($col-6) {
            display: block;
            max-width: 60%;
        }
    }
}


@include breakpoint($col-6) {
    .pg-headline + .metadata {
        min-height: 50px;
    }
}

.metadata {
    @extend %clearfix;

    margin-bottom: 0;
    overflow: hidden;
    position: relative;

    @include copy(12px, 18px);
    @include theme(color, card copy meta color, $limit-theme:page);

    @include breakpoint($col-6, $col-10) {
        @include copy(14px, 22px);
    }

    @include breakpoint($col-10) {
        @include copy(16px, 24px);
    }

    &__byline {
        font-weight: $bold;
    }

    &__embed-video-confirmation {
        background: $gray-11;
        display: block;
        margin-top: 3px;
        position: relative;
        width: $col-4;
    }

    &__embed-video-button {
        position: relative;

        object {
            left: 5px;
            position: absolute;
            top: 0;
        }

    }

    &--partner {
        @include breakpoint($col-8, $col-14) {
            margin-bottom: 25px;
            padding-top: 10px;
        }

        @include breakpoint($col-14) {
            margin-bottom: 0;
            position: relative;
            top: 10px;
        }
    }

    .partner-logo {
        img {
            height: 35px;
            width: auto;
        }

        ~ p {
            clear: none;
            float: none;
            max-width: 100%;
        }

        @include breakpoint($col-8) {
            border-right: 1px solid $gray-3;
            float: left;
            margin: 0 10px 0 0;
            padding: 8px 10px 8px 0;
            position: relative;
            top: -2px;
        }
    }
}

.metadata__info {
    display: inline-block;
    vertical-align: middle;

    @include breakpoint($col-6) {
        max-width: 60%;

        > p {
            margin-bottom: 0;
        }
    }
}

// General Rail Page Styles
// -----------------------------------------------------------------------------

.pg-above-rail,
.pg-side-of-rail,
.pg-rail {
    .l-container {
        padding: 0;
    }
}

.pg-above-rail {
    margin-bottom: 20px;
}

.pg-comments {
    float: right;
    margin-bottom: 20px;
    width: 100%;
}

.mobile {
    .pg-rail-short__rail, .pg-rail-tall__rail {
        .zn {
            padding: 0;
            .cn {
                margin: 0;
            }
        }
        .zn-sponsored-outbrain-1 {
            padding: 15px 0;
        }
    }
}

.tablet {
    .pg-rail-short__rail, .pg-rail-tall__rail {
        .zn-partner-zone {
            padding: 15px 0;
        }
        .zn-sponsored-outbrain-1 {
            padding: 0;
        }
    }
}

// Tall/Short Rail Page Styles
// -----------------------------------------------------------------------------

// Common styles
.pg-wrapper {
    &.pg-left-rail-tall,
    &.pg-left-rail-short,
    &.pg-right-rail,
    &.pg-right-rail-tall,
    &.pg-right-rail-short {
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}

.pg-rail {
    &-tall,
    &-short {
        @include theme(background-color, page body background, $limit-theme:page);

        &__head {
            width: 100%;
        }

        &__body {
            .el-gallery {
                margin-bottom: $gutter-width;
            }

            .media__video .metadata {
                margin-bottom: $gutter-width;
            }
        }

        &__rail {
            @include breakpoint($col-12) {
                @include col(4, $fixed: true, $padding: false);
                @include clearfix;
            }
        }

        &__show {
            font-family: $sans-serif-interface;
            font-weight: $bold;
            margin: 0;

            @include font-size(11);
            @include line-height(18, 11);

            &__name {
                color: $gray-5;
            }
        }

        &__sourceName {
            margin-bottom: 0;

            @include theme(color, page metadata color);
        }

        &__wrapper {
            @include clearfix;
        }
    }

    &-tall {
        &__wrapper {
            position: relative;
        }

        &__side {
            overflow: hidden;

            @include breakpoint($col-12) {
                width: 100%;

                @include clearfix;
            }
        }
    }

    &-short {
        &__body {
            @include breakpoint($col-12) {
                width: 100%;
            }

            @include breakpoint(0, $col-12) {
                padding-bottom: $gutter-width;
            }
        }
    }

}

// Left/Right Rail Page Styles
// -----------------------------------------------------------------------------

.pg-rail-tall__wrapper,
.pg-rail-short__wrapper {
    @include breakpoint($col-12) {
        .pg-rail--align-left & {
            padding-left: $col-4;
        }

        .pg-rail--align-right & {
            padding-right: $col-4;
        }
    }
}

.pg-rail-tall__rail,
.pg-rail-short__rail {
    @include breakpoint($col-12) {
        .pg-rail--align-left & {
            float: left;
            margin-left: -$col-4;
        }

        .pg-rail--align-right & {
            float: right;
            margin-right: -$col-4;
        }
    }
}

.pg-rail-tall__side {
    @include breakpoint($col-12) {
        .pg-rail--align-left & {
            float: right;
        }

        .pg-rail--align-right & {
            float: left;
        }
    }
}

.pg-rail-short__body {
    @include breakpoint($col-12) {
        .pg-rail--align-left & {
            float: right;
        }

        .pg-rail--align-right & {
            float: left;
        }
    }
}

// Right-Rail Only Page Styles
// -----------------------------------------------------------------------------

.pg-wrapper {
    .pg-right-rail {
        @include theme(background-color, page body background, $limit-theme:page);
    }

    &.pg-right-rail {
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}

.pg-right-rail__head {
    width: 100%;
}

.pg-right-rail__byline,
.pg-right-rail__updateTime {
    margin-bottom: 0;
}

.pg-right-rail__wrapper {
    @include breakpoint($col-12) {
        padding-right: $col-4;
    }

    @include clearfix;
}

.pg-right-rail__body {
    @include breakpoint($col-12) {
        float: left;
        width: 100%;
    }

    @include breakpoint(0, $col-12) {
        padding-bottom: $gutter-width;
    }
}

.pg-right-rail__right-rail {
    @include breakpoint($col-12) {
        float: right;
        margin-right: -$col-4;

        @include col(4, $fixed: true, $padding: 0, $left: false);
    }
}

// Headline
// -----------------------------------------------------------------------------

.pg-headline {
    margin: 5px 0;
    padding: 5px 0;

    @include headline-28;

    @include breakpoint($col-6) {
        margin: 10px 0;
        padding: 0;
    }

    @include breakpoint($col-12) {
        @include headline-62;
    }

    .pg__branding + article & {
        margin-top: 0;
    }
}

.pg-video .pg-rail-short {
    .metadata__show {
        margin-top: 20px;
    }

    @include breakpoint($col-8) {
        .pg-headline {
            float: left;
            width: 75%;

            @include font-size(34);
            @include line-height(42, 34);
        }
        .metadata {
            float: right;
            margin-top: 10px;
            width: 25%;
        }
        .pg-rail-short__head {
            clear: both;
        }
    }

    @include breakpoint($col-8, $col-10) {
        .pg-headline {
            width: 68%;
        }
        .metadata {
            width: 32%;
        }
    }
}

.metadata {
    .pg-video .pg__branding + article & {
        margin-top: 0;
    }
}

.pg-description {
    font-family: $sans-serif;
    font-style: italic;
    margin-bottom: 0;

    @include copy(14px, 20px);

    @include breakpoint($col-8) {
        @include copy(16px, 22px);
    }

    @include breakpoint($col-12) {
        @include copy(18px, 24px);
    }
}

.pg-login-stripes {
    // Common Style
    border-bottom: 6px solid;
    border-left: 0;
    border-right: 0;
    border-top: 6px solid;
    color: $gray-4;
    height: 14px;
    margin: -50px 0 10px;
    overflow: hidden;
    position: relative;
    width: 100%;

    @include breakpoint(0, $col-6) {
        border-bottom: 3px solid;
        border-top: 3px solid;
        height: 8px;
    }
}


.pg__branding {
    padding: 15px 0;

    @include breakpoint($col-8) {
        padding-top: 30px;
    }

    .zn-header__text {
        margin: 0 0 -15px;
        padding: 0;
        text-transform: uppercase;

        @include headline(14px, 20px, $bold);
        @include theme(color, page branding text color, $limit-theme:zone);

        @include breakpoint($col-12) {
            @include headline-16;
        }
    }

    .pg__branding-title {
        @include headline-52;
    }

    .pg__branding-logo {
        float: left;
        max-height: 40px;
        max-width: 100%;
        width: auto;

        @include breakpoint($col-8) {
            max-height: 50px;
        }
    }
}

.pg__branding-title {
    margin-bottom: $gutter-width;
}

.pg__branding--background-dark {
    color: $white;
}


.pg__background__image {
    position: relative;

    &_wrapper {
        @include stretch(0, 0, false, 0);
        @include z-index($background-layer, zone-background);
    }

    &.pg-wrapper {
        background: transparent;

        .zn-left-fluid-bg-bleed {
            padding-top: 0;
        }

        // For branding backgrounds
        .pg-rail-tall,
        .pg-rail-short {
            padding-top: 20px;

            @include theme(background-color, page body background, $limit-theme:page);
        }
    }

    // fix for the first zone on a show page covering up the page background (HMRHDS-250)
    .zn-pageTop.zn-right-stack-bg-bleed {
        background: transparent;
    }
}

.pg-preview {
    padding-top: 0;
}

.pg.t-light, .pg {
    .pg__background__image {

        &.pg-wrapper {

            .pg-rail-tall,
            .pg-rail-short {

                &.article--transparent {
                    background: transparent;
                }
            }
        }
    }
}

//Fix for extra space causing from tracking pixel image in page due to global style width:100%
.pg {
  img[width="1"][height="1"]{
    width: 1px;
  }
}


// Read More on Article Leaf (Mobile Web)
// -----------------------------------------------------------------------------

.zn-body__read-more,
.zn-body__read-more-outbrain {
    display: none;
}

//hide legacy trip advisor widgets created with webtags
.cnn-travel-map {
    display: none;
    .el-embed-tripadvisor &{
        display: block;
    }
}

html:not(.no-js) .pg-article:not(.pg-show-read-all) {
    @include breakpoint(0, $col-6) {
        .zn-body-text {
            .l-container {
                position: relative;

                .zn-body__read-all {
                    height: 0;
                    overflow: hidden;
                }

                .zn-body__footer {
                    display: none;
                }

                .zn-body__read-more {
                    bottom: 0px;
                    display: block;
                    left: 0px;
                    position: absolute;
                    text-align: center;
                    width: 100%;

                    .read-more-gradient {
                        background: rgba(255, 255, 255, 0.4);
                        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.95));
                        height: 90px;
                        overflow: hidden;
                    }

                    .read-more-button {
                        background-color: $white;
                        padding: 20px 0 0 0;
                    }

                    .read-more-link {
                        background-color: $white;
                        border: 2px solid $gray-4;
                        color: $gray-8;
                        cursor: pointer;
                        padding: 5px 0;
                        width: 100%;
                    }
                }
            }

            .zn-body__read-more-outbrain {
                display: block;
                padding: 30px 0 0;
            }
        }
    }
}

html:not(.no-js) .pg-article.international {
    @include breakpoint(0, $col-6) {
        .pg-body__social {
            display: none;
        }
    }
}
