//
// header skinny for static files
//
// file: pages/static-header-skinny.scss
//
// -----------------------------------------------------------------------------

$is-static: 'header';

// CNN Pattern library and toolkit
@import "../pattern-library/_cnn-pattern-library";

// @import "common/_header";
@import "common/_header";
@import "common/_nav";
@import "common/_nav-edition-picker";
@import "common/_nav-search";
@import "common/_nav-section-submenu";
@import "common/_nav-hamburger";
@import "common/_breaking-news";
@import "common/_edition-picker";
@import "common/_pagebadge";

.international, .domestic {
    padding-top: 0;

    &.cnn-navigation {
        @import "_static";

        .super-skinny {
            height: auto;
            visibility: visible;
        }
    }
}
