//
// footer for static files
//
// file: pages/static-footer.scss
//
// -----------------------------------------------------------------------------

$is-static: 'footer';

// CNN Pattern library and toolkit
@import "../pattern-library/_cnn-pattern-library";
@import "../pattern-library/loud/elements/_drop-down";
@import "../pattern-library/loud/elements/_truste";

@import "common/_footer";
@import "common/_search-global";

@import "verticals/politics/_politics";
@import "verticals/style/_style";
@import "verticals/entertainment/_entertainment";
@import "verticals/vr/_vr";

.international, .domestic {
    .cmcs-subscription-wrapper {
        display: none;
    }
    .cnn-static-footer {
        @import "_static";

        margin-top: 40px;
    }
}
