//
// header for static files
//
// file: pages/static-header.scss
//
// -----------------------------------------------------------------------------

$is-static: 'header';

// CNN Pattern library and toolkit
@import "../pattern-library/_cnn-pattern-library";
@import "../pattern-library/loud/_layout";

@import "common/_header";
@import "common/_nav";
@import "common/_nav-edition-picker";
@import "common/_nav-section-submenu";
@import "common/_nav-search";
@import "common/_nav-hamburger";
@import "common/_breaking-news";
@import "common/_pagebadge";

@import "verticals/politics/_politics";
@import "verticals/style/_style";
@import "verticals/entertainment/_entertainment";
@import "verticals/vr/_vr";

.international, .domestic {
    .nav--plain-header {
        @import "_static";
        height: auto;
        visibility: visible;
    }
}
