//
// subhub subscription styles
//
// file: subhub.scss
//
// description:
// Styles for the static page, SubHub module
//
// -----------------------------------------------------------------------------
//
//
// Hook for partials to exclude or include certain styles based on
// whether or not the content being requested is for static usage
$is-static: true;
// CNN Pattern library and toolkit
@import "../pattern-library/_cnn-pattern-library";
@import "../pattern-library/loud/_layout";
@import "../pattern-library/quiet/_utilities";
@import "../pattern-library/vendor/_use-column-policy";

@import "../cards/_card";
@import "../cards/tools/_tools";
@import "../containers/_container";
@import "../zones/_zones";
@import "common/_header";
@import "common/_nav";
@import "common/_nav-section-submenu";
@import "common/_nav-search";
@import "common/_nav-hamburger";
@import "common/_breaking-news";
@import "common/_pagebadge";
@import "common/_error";
@import "common/_footer";
@import "common/_edition-picker";
@import "common/_nav-edition-picker";
@import "common/_metadata-header";
@import "common/_responsive-images";
@import "common/_search";
@import "common/_search-global";
@import "common/_share";
@import "common/_social-share-rail";
@import "common/_social";
@import "common/_pagebadge";
@import "common/_user-msg";
@import "_feedback";
@import "../cards/tools/_weather-footer";

$subhub-email-container-bgcolor: #f1f1f1;
$subhub-letter-bgcolor: #2370FD;
$subhub-header-txt-color: #727374;
$subhub-optIntelDeny-color: #FEFEFE;
$subhub-item-bar-blue-color: #5195FF;

.international, .domestic {
    .nav--plain-header {
        @import "_static";

        height: auto;
        visibility: visible;
    }
}

body.pg-subhub-page {
    background-color: $white;
    padding-top: 50px;

    .pg-email {
        .zn-header {
            padding-bottom: 10px;
            width: 100%;
        }

        header {
            float: left;
            padding-bottom: 25px;
            width: 100%;
        }

        .l-container {
            @include breakpoint($col-4, $col-8) {
                padding: 0 20px;
            }

            @include breakpoint($col-8, $col-12) {
                padding: 0 35px;
            }
        }

        .headerInfo {
            color: $gray-11;
            float: left;
            font-size: 20px;
            font-weight: $light;

            @include breakpoint($col-4, $col-8) {
                font-size: 18px;
            }
        }

        .pg-body__social {
            display: block;
            float: right;
        }

        .emailSubscriptions {
            display: flex;
            flex-wrap: wrap;
            margin-left: -10px;
            margin-right: -10px;

            .media {
                border: 1px solid $gray-4;
            }

            .buttonBorder {
                border-left: 1px solid $gray-4;
                border-right: 1px solid $gray-4;
                border-bottom: 1px solid $gray-4;
            }

            li {
                display: flex;
                flex: 0 0 33.3333%;
                list-style: none;
                margin-bottom: 2em;

                .ie.no-flexbox.csstransforms3d & { //ie counts this flex property differently
                    flex: 1 0 33.3333%;
                    -ms-flex: 1 0 33.33%;
                    min-width: 33.33%;
                }

                @include breakpoint($col-4, $col-8) {
                    flex: 0 0 100%;
                }

                @include breakpoint($col-8, $col-12) {
                    flex: 0 0 50%;
                }

                article {
                    display: flex;
                    display: -ms-flexbox;
                    flex-direction: column;
                    margin: 0 1em;
                    width: 100%;

                    .emaildescription {
                        border-left: 1px solid $gray-4;
                        border-right: 1px solid $gray-4;
                        flex: 1 0 auto;
                    }
                }
            }
        }

        .column .cn {
            margin-bottom: 20px;

            @include breakpoint($col-12) {
                margin-bottom: 40px;
                width: 94%;
            }
        }

        article {
            background-color: $white;
        }
    }

    &.complete{
        .signupDisplay {
            display: none;
        }

        .successDisplay {
            display: block;

            .zn-newsletters-hub-success.enabled {
                display: block;
            }
        }
    }

    .successDisplay {
        display: none;
        float: left;
        width: 100%;

        .zn-header-wrapper {
            display: block;

            .zn-header__text-page_header {
                margin-top: 20px;
                padding-bottom: 0px;
            }
        }

        .zn-newsletters-hub-success {
            display: none;
        }

        header {
            background-color: rgb(250,250,250);
            background-image: url('@@chrome/2016/images/04/19/confirmation-background.jpg');
            background-position: left;
            background-repeat: no-repeat;
            padding-bottom: 50px;
            padding-top: 20px;
            text-align: center;
            width: 100%;

            @include breakpoint($col-4, $col-8) {
                padding-left: 20px;
                padding-right: 20px;
            }

            @include breakpoint($col-8, $col-12) {
                padding-left: 35px;
                padding-right: 35px;
            }

            .checkmark {
                display: inline-block;
                left: 0;
                position: relative;
                top: 20px;
                width: auto;
            }

            .headerInfo {
                margin-bottom: 40px;
                max-width: 100%;
                width: 100%;
            }

            .optIntelDeny {
                float: none;
                font-weight: $light;
                width: auto;
            }
        }

        .zn.t-light {
            background-color: $white;
            box-shadow: none;
            padding: 0;
        }

        section {
            float: left;
            width: 100%;

            .content {
                .zn-header__text {
                    border-bottom: 1px solid $subhub-header-txt-color;
                    color: $subhub-header-txt-color;
                    float: left;
                    font-size: 1rem;
                }
            }
        }

        .options {
            text-align: center;

            .optIntelSignup {
                background: none;
                border: none;
                color: $subhub-header-txt-color;
                margin-top: 20px;
                text-decoration: underline;
            }
        }

    }

    .email-container {
        background-color: $subhub-email-container-bgcolor;
        background-image: url("@@chrome/.element/img/4.0/subscription/bottom-background.jpg");
        background-size: cover;
        bottom: 0;
        box-shadow: 0 -32px 46px -26px rgba(0,0,0,0.08);
        height: 100px;
        line-height: 4;
        margin: 0 auto;
        overflow: hidden;
        padding-top: 0;
        position: fixed;
        width: 100%;
        @include z-index($content-layer, content-masking);
        -webkit-overflow-scrolling: touch;

        .emailForm {
            float: left;
            margin: 0 auto;
            position: relative;
            width: 100%;
        }

        .signup-text {
            float: left;
            font-size: 18px;
            height: 35px;
            line-height: 43px;
            padding-right: 10px;
        }

        .selectletter {
            position: absolute;
            right: 0;
            width: 22%;
            @include breakpoint($col-14) {
                width: 28%;
            }
        }

        input:after {
            @include icon($icon--close);
        }

        @include breakpoint($col-12) {
            padding-top: 10px;
        }

        //mobile styles
        @include breakpoint($col-4, $col-10) {
            height: 165px;

            .emailForm {
                margin: 0;
                padding: 0;
            }

            .email-container {
                height: 110px;
            }

            .signup-text {
                height: initial;
                line-height: initial;
                padding: 4px 0;
                width: 100%;
            }

            .email-input {
                width: 100%;
                input[type=text] {
                    font-size: 16px;
                }
            }

            .selectletter {
                bottom: 0;
                margin-top: 10px;
                position: relative;
                width: 100%;
            }

            .privacy {
                margin-top: 4px;
            }
        }
        @include breakpoint($col-4, $col-5) {
            .email-input {
                width: 100%;
            }
        }
        @include breakpoint($col-6, $col-8) {
            .email-input {
                width: 100%;
            }
            .selectletter {
                width: 100%;
            }
        }
        // one additional breakpoint for tablet
        @include breakpoint($col-8, $col-10) {
            .email-input {
                width: 100%;
            }
        }
    }

    .privacy-container {
        background-color: $white;
        background-size: cover;
        bottom: 0;
        box-shadow: 0 -32px 46px -26px rgba(0,0,0,0.08);
        height: 40px;
        line-height: 4;
        margin: 0 auto;
        overflow: hidden;
        padding-top: 0;
        position: fixed;
        width: 100%;
        @include z-index($navigation-layer, navigation);
        -webkit-overflow-scrolling: touch;

        @include breakpoint($col-12) {
            padding-top: 15px;
        }

        //mobile styles
        @include breakpoint($col-4, $col-10) {
            height: 30px;
            padding-top: 5px;
        }

        .privacy a {
            color: $subhub-letter-bgcolor;
        }
    }

    .subTitle {
        border-left: 1px solid $gray-4;
        border-right: 1px solid $gray-4;
        color: $gray-11;
        font-size: 20px;
        font-weight: $medium;
        padding: 25px 25px 0 25px;;
    }

    .emaildescription {
        color: $gray-9;
        font-size: 16px;
        line-height: 24px;
        padding: 25px 25px 15px 25px;
    }

    .privacy {
        color: $gray-9;
        float: left;
        font-size: 16px;
        font-style: italic;
        line-height: 1;
        margin: 0 auto; //consider removing
        text-align: center;
        width: 100%;

        @include breakpoint($col-4, $col-10) {
            font-size: 14px;
        }

        a {
            cursor: pointer;
        }
    }

    .email-input {
        float: left;
        height: 40px;
        margin-right: 10px;
        overflow: hidden;
        position: relative;
        width: 60%;
        -webkit-overflow-scrolling: touch;

        @include breakpoint($col-14) {
            width: 59%;
        }

        @include breakpoint($col-10, $col-12) {
            width: 60%;
        }

        .submitPlace {
            position: relative;
        }

        input[type=text] {
            appearance: none;
            border: 1px solid $gray-4;
            border-radius: 0;
            color: $gray-9;
            display: table-cell;
            float: left;
            font-style: italic;
            height: 40px;
            line-height: normal;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 2px;
            vertical-align: middle;
            width: 100%;

            @include copy(16px);
        }

        .errorSpan {
            display: none;
        }

    }

    #mobile-backdrop {
        bottom: 0;
        background-color: black;
        display: none;
        left: 0;
        opacity: .3;
        position: fixed;
        right: 0;
        top: 0;
        @include z-index($navigation-layer, navigation);
    }

    .modal-email {
        #mobile-backdrop {
            display: block;
        }

        .email-container {
            bottom: initial;
            position: absolute;
            @include z-index($overlay-layer, overlay-screen);
        }

        .privacy-container {
            bottom: initial;
            position: absolute;
            top: 135px;
            @include z-index($overlay-layer, overlay-screen);

            @include breakpoint($col-12) {
                top: 60px;
            }
        }
    }

    .errorDisplay {
        border: 1px solid $red;

        .errorSpan {
            background-color: white;
            color: $red;
            display: block;
            line-height: normal;
            padding: 14px;
            position: absolute;
            right: 0px;
            text-align: right;
            top: 0px;
            bottom: 0;
            width: 100%;

            @include breakpoint($col-4, $col-8) {
                padding: 11px;
                background-color: white;
                font-size: 10px;
            }

        }
    }

    .selectletter, .optIntelDeny {
        background-color: $subhub-letter-bgcolor;
        border: none;
        color: $subhub-optIntelDeny-color;
        float: left;
        font-size: 18px;
        height: 40px;
        padding: 5px 15px;
        text-align: center;

        span {
              @include copy(18);
        }

        &:after {
            margin-left: 10px;
            @include icon($icon--arrow-right);
        }

        &.submitted {
            &:after {
                @include icon($icon--checkmark);
            }
        }

        @include breakpoint($col-4, $col-8) {
            font-size: 1.1rem;
        }
    }

    #oiSubmitBtn {
        &:after {
            margin-left: 10px;
            @include icon($icon--arrow-right);
        }
    }

    .addletter {
        background-color: $subhub-letter-bgcolor;
        border: 1px solid $subhub-letter-bgcolor;
        color: $subhub-optIntelDeny-color;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: $medium;
        line-height: 1.2rem;
        margin: 15px;
        padding: 10px;
        text-align: center;
        user-select: none;

        @include breakpoint($col-4, $col-10) {
            font-size: 1rem;
        }

        &.selectedLetter {
            background-color: $subhub-optIntelDeny-color;
            color: $subhub-letter-bgcolor;

            &:before {
                padding-right: 15px;

                @include copy(25px, 0);
                @include icon($icon--checkmark);
            }
        }
    }

    .progressbar-control {
        bottom: 99px;
        height: 5px;
        margin: 0;
        overflow: visible;
        padding: 0;
        position: fixed;
        width: 0;

        .ios & {
            display: none;
        }
    }

    .progressbar-control .item-bar.blue {
        background-color: $subhub-item-bar-blue-color;
    }

    .progressbar-control .item-bar {
        height: 100%;
        margin: -1px;
        padding: 0;
        top: 0;
        width: 100%;
    }

    footer {
        padding-bottom: 90px;
        width: 100%;
    }

    .zn.t-light {
        background-color: $gray-1;
        box-shadow: 0 32px 46px -26px rgba(217,217,217,0.96) true;

        .zn-header__text {
            font-weight: $normal;
            padding: 0 0 10px;
        }

        @include breakpoint($col-4, $col-8) {
            padding-top: 25px;
        }
    }

    .zn-newsletters-hub {
        padding: 20px 0;
    }

    //browsers without flex-box will display subscriptions thusly
    .no-flexbox.no-csstransforms3d & {

        .emailSubscriptions {
            float: left;
            margin: 10px -10px;

            li {
                float: left;
                min-height: 500px;
                width: 33.33333%;

                @include breakpoint($col-4, $col-8) {
                    width: 100%;
                }

                @include breakpoint($col-8, $col-12) {
                    width: 50%;
                }

                article {
                    float: left;
                }
            }
        }

    }

    //styling for opt-intelligence offers on the thank you page
    #oi_main_div {
        display: block;
        float: left;
        width: 100%;
    }

}  // styling for email subscription page - End
