{> "views/pages/common/default-navigation-header" $var-enable-skinny="true" /}

{<navigation-header-menu}
    <div class="flex nav__flex-container">
        <nav class="logo flex-order--logo">
            <a class="logo-cnn" href="/" data-analytics="header_logo" title="CNN Homepage"></a>
            <a class="logo-entertainment logo-entertainment--header" href="{#. $var-url="/entertainment"}{+nav-render-url /}{/.}" data-analytics="header_logo" title="Entertainment Section Front"></a>
        </nav>

        <div class="search-toggle flex-order--search js-search-toggle" role="button" aria-expanded="false" aria-controls="entertainment-search" aria-label="search toggle"></div>

        <div class="search-wrapper flex-order--search-field">
            <div id="entertainment-search" class="utilities__search" tabindex="-1" aria-hidden="true">
                {> "views/pages/common/navigation-header-search" /}
            </div>
        </div>

        <div class="menu-toggle flex-order--menu-toggle">
            <i class="menu-toggle-icon menu-collapse js-navigation-hamburger" role="button" aria-expanded="false" aria-controls="entertainment-drawer" aria-label="navigation toggle"></i>
        </div>
        <div id="entertainment-drawer" class="drawer flex-order--drawer">
            <div class="drawer__wrapper">
                <ul class="buckets" role="navigation">
                    {#nav.buckets.subs}
                        {?.url}
                            <li class="bucket {.name} {+is-selected /} {+is-open /}">
                                <a href="{#. $var-url=.url}{+nav-render-url /}{/.}" data-analytics="header_{.name}" title="{.label}">
                                    {.label}
                                </a>
                            </li>
                        {/.url}
                    {/nav.buckets.subs}
                </ul>

                <ul class="social">
                    <li class="social__link social__link--facebook">
                        <a href="http://facebook.com/CNNent" target="_blank"></a>
                    </li>
                    <li class="social__link social__link--twitter">
                        <a href="http://twitter.com/CNNent" target="_blank"></a>
                    </li>
                    <li class="social__link social__link--instagram">
                        <a href="http://instagram.com/cnnentertainment" target="_blank"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{/navigation-header-menu}
