//  =================================================
//
//  Theme: Dark (dark)
//
//  Description:
//  Define the SASS Map for the dark theme.
//
//  =================================================

@import "_dark-theme-zone";
@import "_dark-theme-card";
@import "_dark-theme-el";
@import "_dark-theme-page";

$dark-theme: (

    // Zone (zone)
    zone: $dark-theme-zone,

    // Card (card)
    card: $dark-theme-card,

    //  Elements (el)
    el: $dark-theme-el,

    //  Page (page)
    page: $dark-theme-page

);
