$dark-theme-card: (
    background: (
        alpha: .75,
        color: transparent,
        jumbotron: $gray-11,
        overlay: rgba($gray-11, .85)
    ),
    carousel: (
        controls: (
            color: $gray-11
        ),
        dots: (
            active: $gray-5,
            inactive: $gray-9
        )
    ),
    copy: (
        highlight: (
            color: $red-1
        ),
        inactive: (
            color: $gray-6
        ),
        meta: (
            color: $gray-5
        ),
        standard: (
            color: $gray-1
        ),
        jumbotron: (
            primarycolor: $gray-1,
            secondarycolor: $gray-5
        )
    ),
    title: (
        standard: (
            background-color: $gray-10,
            link-color: $gray-9,
            color: $gray-1,
            hover: (
                background-color: $gray-9,
                link-color: $gray-8
            )
        ),
        pg-rail: (
            background-color: $gray-10,
            color: $gray-1,
            hover: (
                background-color: $gray-9,
            )
        )
    ),
    story-icon: (
        color: $gray-5
    ),
    divider: (
        border-bottom: 1px $gray-10 solid,
        color: $gray-10
    ),
    social: (
        background: $gray-10,
        icon: $gray-5,
        hover: (
            background: $gray-10,
            icon: $gray-5
        )
    )
);
