$dark-theme-zone: (
    background: $gray-12,
    color: $gray-1,
    stripes: (
        border-bottom: 4px $cnn-red solid,
        border-top: 4px $cnn-red solid,
        height: 1px
    ),
    gradients: (
        upper: (
            end: transparent,
            height: 100px,
            start: (
                alpha: .5,
                color: $gray-13
            )
        ),
        lower: (
            end: $gray-12 75%,
            height: 100px,
            start: (
                alpha: 0,
                color: transparent
            )
        )
    )
);
