$dark-theme-el: (
    ad: (
        color: $gray-5
    ),
    ad-sponsored: (
        background-color: $gray-11,
        container-title: (
            background-color: $bgcolor-sponsorHeader,
            color: $white
        )
    ),
    banner: (
        color: $gray-1
    ),
    button: (
        background: $gray-8,
        color: $gray-12,
        hover: (
            background: $gray-6,
            color: $gray-11
        )
    ),
    comments: (
        background: $gray-11,
        color: $gray-1,
        divider: $gray-10
    ),
    container:(
        button: (
            background: $gray-10,
            color: $gray-1
        )
    ),
    editors-notes: (
        color: $gray-5
    ),
    flags: (
        exclusive: (
            color: $cnn-red,
            background: $gray-1
        ),
        developing: (
            color: $gray-1,
            background: $gray-9
        ),
        breaking: (
            color: $gray-1,
            background: $cnn-red
        ),

        // @TODO: Rename and follow proper conventions.
        entertainment_special: (
            color: $gray-1,
            background: $cerulean-m5
        ),
        entertainment_info: (
            color: $cerulean-m5,
            background: $teal-m0
        )
    ),
    follow: (
        color: $gray-5,
        background: none
    ),
    link: (
        color: $blue,
        hover: $cnn-red
    ),
    media-caption: (
        color: $gray-4
    ),
    pinstripes: (
        border-bottom: 4px $cnn-red solid,
        border-top: 4px $cnn-red solid,
        height: 1px
    ),
    share: (
        active: (
            color: $white
        ),
        inactive: (
            background: (
                color: $gray-10
            ),
            color: $gray-5
        ),
        email: (
            background: (
                color: $bgcolor-email
            )
        ),
        facebook: (
            background: (
                color: $bgcolor-facebook
            )
        ),
        twitter: (
            background: (
                color: $bgcolor-twitter
            )
        ),
        whatsapp: (
            background: (
                color: $bgcolor-whatsapp
            )
        ),
        messenger: (
            background: (
                color: $bgcolor-messenger
            )
        ),
        share: (
            background: (
                color: $bgcolor-ellipse
            )
        )
    ),
    signin: (
        color: $gray-11,
        hover: $cnn-red
    ),
    story-highlights: (
        before: $red-2,
        border: $gray-4,
        color: $gray-1
    ),
    weather: (
        submit: (
            background: $gray-4,
            color: $gray-10,
            disabled: (
                background: $gray-10,
                color: $gray-8
            )
        ),
        toggle: (
            background: $gray-7,
            color: $gray-1,
            active: (
                background: $gray-4,
                color: $gray-10
            )
        ),
        query: (
            background: $gray-9,
            border-color: $gray-8,
            color: $gray-4,
            error: (
                background: $gray-14,
                border-color: $red-1,
                color: $red-1
            )
        ),
        dropdown: (
            background: $gray-10,
            border-color: $gray-8,
            color: $gray-4,
            hover: (
                background: $gray-11,
                color: $gray-4
            )
        ),
        header: (
            color: $gray-4
        ),
        icon: (
            color: $gray-4
        ),
        close: (
            color: $gray-4
        ),
        location: (
            color: $gray-4
        ),
        current: (
            color: $gray-4
        )
    ),
    markets: (
        item: (
            color: $gray-1
        ),
        quote: (
            background-color: $gray-10,
            color: $gray-3,
            hover: (
                background-color: $gray-8
            )
        ),
        dropdown: (
            background-color: $gray-10,
            color: $gray-1,
            hover: (
                background-color: $gray-8
            )
        ),
        tabs: (
            color: $gray-1,
            background: $gray-12
        )
    )
);
