$dark-theme-page: (
    body: (
        background: $gray-12,
        gradients: (
            upper: (
                end: transparent,
                height: 10%,
                start: (
                    alpha: .75,
                    color: $gray-13
                )
            ),
            lower: (
                end: $gray-12 75%,
                height: 20%,
                start: (
                    alpha: 0,
                    color: transparent
                )
            )
        )
    ),
    branding: (
        text: (
            color: $gray-5
        )
    ),
    copy: (
        color: $gray-1
    ),
    headline: (
        color: $gray-1
    ),
    metadata: (
        color: $gray-7,
        secondary-color: $gray-5
    )
);
