{!
    meta tags used with page-level schema.org objects
!}

{?sectionName}
    {@select key=pageType}
        {@eq value="article"}<meta itemprop="articleSection" content="{sectionName}">{/eq}
    {/select}
{/sectionName}
{?firstPublishDate}
    <meta itemprop="dateCreated" content="{firstPublishDate}">
    <meta itemprop="datePublished" content="{firstPublishDate}">
{/firstPublishDate}
{?lastPublishDate}
    <meta itemprop="dateModified" content="{lastPublishDate}">
{/lastPublishDate}
{?canonicalUrl}
    <meta itemprop="url" content="{canonicalUrl}">
{/canonicalUrl}
{?bylineText}
    <meta itemprop="author" content="{bylineText}">
{/bylineText}
{?editorialSource}
    <meta itemprop="sourceOrganization" content="{editorialSource}">
{/editorialSource}
{?seoTitle}
    <meta itemprop="headline" content="{seoTitle}">
{/seoTitle}
{?description}
    <meta itemprop="description" content="{description}">
{/description}
{?metaKeywords}
    <meta itemprop="keywords" content="{metaKeywords}">
{/metaKeywords}
{?metaImage}
    <meta itemprop="image" content="{metaImage}">
    <meta content="{.metaImageWidth}" property="og:image:width">
    <meta content="{.metaImageHeight}" property="og:image:height">
    <meta itemprop="thumbnailUrl" content="{metaImage}">
{/metaImage}
{?title}
    <meta itemprop="alternativeHeadline" content="{title}">
{/title}
{!
<meta itemprop="genre" content="{meta.medium}">
<meta itemprop="inLanguage" content="{meta.inLanguage}">
!}
