<div class="search search__field">
    <form method="get" action="{#. $var-url="{config.searchApp.searchUrl}"}{+nav-render-url /}{/.}" name="headerSearch123">
        {?config.runtime.features.enableSearchBySection}
        	{?vertical}
                <input type="hidden" name="category" value="{vertical}">
                {#. $var-section-name=vertical}{+search-input-render /}{/.}
            {:else}
                {@ne key=sectionName value="homepage"}
                    {@ne key=sectionName value="intl_homepage"}
                        <input type="hidden" name="category" value="{@toLowerCase}{headerLabel}{/toLowerCase}">
                    {/ne}
                {/ne}
                {+search-input-render /}
            {/vertical}
        {:else}
            {+search-input-render /}
        {/config.runtime.features.enableSearchBySection}

        <button class="search__button" type="submit" role="button"><span class="search__button-text">Search</span></button>
    </form>
</div>

{<search-input-render}
    <input class="search__input-field" type="text" placeholder="Search CNN
        {@ne key=sectionName value="homepage"}
            {@ne key=sectionName value="intl_homepage"}
                {?$var-section-name}
                    {~s}{$var-section-name}
                {/$var-section-name}
            {/ne}
        {/ne}
    ..." id="{?$var-bucket-drawer}
                search-input-field-bucket
             {:else}
                search-input-field
             {/$var-bucket-drawer}
    " name="q">
{/search-input-render}
