{!
    ATTENTION!!!

    The files in this file might need to be included in the exact order you
    see below. Please be sure you know what you`re doing before rearranging.

!}

{! The namespace and initial runtime config setup script !}
{>"views/pages/common/scripts-config" /}

{! The site depends primarily on jQuery for lots of things. Include it first. !}
<script src="{config.cdn.assetHost}{config.cdn.assetPath}/bundles/@@GLOBALHEADERNAME"></script>

{! Vendor files common across the site that need to execute FIRST - advertising libs, Modernizr, etc. !}
<script src="{config.cdn.assetHost}{config.cdn.assetPath}/{config.baseVersion}/js/cnn-header-minimal.min.js"></script>

{! Font fallback rule for browsers that don`t support fontface - this is a Dust template because its in a IE conditional comment !}
{>"views/pages/common/fontface-fallback-js" /}

<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
