{!

    usage: {>"views/pages/common/social-comments" /}

!}

{#livefyre}
    <div class="js-livefyre-comments livefyre__comments"
        data-article-id="{id}"
        data-checksum="{collectionMetaChecksum}"
        data-collection-meta="{encodedCollectionMeta}"></div>
    {!
        Hiding the top logo and moving it to the bottom of comments is done as prescribed by livefyre:
        "If your agreement with Livefyre allows, you may remove the Livefyre logo from the top of the Comment stream and move it to the bottom instead."
        via doc: https://github.com/Livefyre/livefyre-docs/wiki/CSS-Customization#moving-the-livefyre-logo
        Quote via Email from Jason Williamson on approval 03/07/2014 : "We just discussed with Tamara (Biz), Cathy, and Josh.
        We don’t mind displaying the logo in the bottom..."
    !}
    <div class="livefyre__logo"><a href="//livefyre.com" target="_blank">Powered by Livefyre</a></div>
{/livefyre}
