{!
    The video end slate which appears when the video playback ends and there is no switch over to the next video.
!}

<div class="video__end-slate--inactive video__end-slate js-video__end-slate" data-eq-pts="xsmall: {config.runtime.containerBreakpoints.xsmall}, small: {config.runtime.containerBreakpoints.small}, medium: {config.runtime.containerBreakpoints.medium}, large: {config.runtime.containerBreakpoints.large}">

    <div class="l-container">

        <div class="video__end-slate__top-wrapper">

            <div class="js-el__video__replayer-wrapper el__video__replayer-wrapper">
                {?imageUrl}
                    <img {?imageAlt}alt="{imageAlt}"{/imageAlt} class="media__image" itemprop="image" src="{imageUrl}">
                {/imageUrl}
                <a class="el__video__replay-button-wrapper" href="javascript:void(0);" title="Click to watch this video">
                    <div class="js-el__video__replay-button el__video__replay-button{?isVr} media__video--360{/isVr}"></div>
                </a>
            </div>

            <div class="video__end-slate__secondary">
                <ul class="cn cn-list-hierarchical-xs cn--idx-0">
                    <h3 class="cd__headline-title">JUST WATCHED</h3>
                    <h2 class="cd__headline">
                        <span class="cd__headline-text js-cd__headline-text">{?.title}{.title|s}{/.title}</span>
                    </h2>
                </ul>
                <div class="video__end-slate__replay">
                    <a class="js-video__end-slate__replay">
                        <div class="video__end-slate__replay-icon"></div>
                    </a>
                </div>
                <div class="video__end-slate__engage__wrapper">
                    <div class="video__end-slate__engage__text">
                        <a class="js-video__end-slate__replay-text video__end-slate__replay-text">Replay</a>
                    </div>
                    <div class="video__end-slate__engage__more">
                        <a href="/videos" class="video__end-slate__replay-text">More Videos ...</a>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="video__end-slate__tertiary-title">MUST WATCH</h4>
        <div class="js-video__end-slate__tertiary video__end-slate__tertiary">
            <div class="js-video__end-slate__carousel video__end-slate__carousel"></div>
        </div>
    </div>
</div>
