{!
    This template is for a medium carousel strip layout. Each card in
    the carousel is of size medium and has an orientation of vertical.

    @param $var-carousel-medium-strip-auto-height - Turns on auto height
        for the carousel. By default this is turned off. If this
        carousel is a gallery then this parameter is ignored.

    Usage:
        Use in templates:
        {> "views/containers/carousel-medium-strip"
            $var-carousel-medium-strip-auto-height="true" <- optional
        /}

        Use in the model json:
        pageContents: [
            {
                "layout": "carousel-medium-strip",
                 ...
            },
            ...
        ],
        ...

    @since 0.31.0
    @uses views/global/carousel.dust
    @uses views/global/container-title.dust
    @uses views/containers/common/container-attributes.dust
!}

{> "views/cards/tool/ad" /}

<div id="cn-{id}" {> "views/containers/common/container-attributes" /}>

    {> "views/global/container-title" /}

    <div class="loading-video-carousel"></div>
    {> "views/global/carousel" $var-carousel-items=containerContents
                               $var-carousel-type="fixed"
                               $var-carousel-descriptor="{layout}"
                               $var-carousel-auto-height=$var-carousel-medium-strip-auto-height
                               /}

    {> "views/elements/shingle" /}
</div>

{<carousel-item}
    <div class="cn__column carousel__content__item">
        {> "views/cards/{type}" $var-size="medium" $var-card-orientation="vertical" /}
    </div>
{/carousel-item}
