{!
    This template is for a small grid layout. Each card in
    the layout is of size small and has an orientation of horizontal.

    Usage:
        Use in templates:
        {> "views/containers/grid-small" /}

        Use in the model json:
        pageContents: [
            {
                "layout": "grid-small",
                 ...
            },
            ...
        ],
        ...

    @since 0.35.0
    @uses views/global/carousel.dust
    @uses views/global/container-title.dust
    @uses views/containers/common/container-attributes.dust
!}

{> "views/cards/tool/ad" /}

<div {> "views/containers/common/container-attributes" $var-custom-container-classes="cn-grid cn-grid--small" /}
    {~s}data-eq-pts="2-column-grid: 0, 3-column-grid: 720, 4-column-grid: 960"
    data-bundle="grid_resize">

    {> "views/global/container-title" /}

    {#containerContents}

    <div class="
        cn__column{~s}
        cn__column--2np{@math key="{$idx}" method="mod" operand="2" /}{~s}
        cn__column--3np{@math key="{$idx}" method="mod" operand="3" /}{~s}
        cn__column--4np{@math key="{$idx}" method="mod" operand="4" /}{~s}
    ">
        {> "views/cards/{type}" $var-size="small" $var-card-orientation="vertical" /}
    </div>

    {/containerContents}

    {> "views/elements/shingle" /}

</div>
