//
// breakpoint
//
// file: quiet/utilties/_breakpoint.scss
//
// description:
// Mixin for building Media Queries
//
// params:
// $start: min-width in pixels
// $end: max-width in pixels (optional)
//
// usage:
// @include breakpoint($col-8)
//     --> @media (min-width: 640px)
//
// @include breakpoint($col-5, $col-8)
//     --> @media (min-width: 400px) and (max-width: 640px)
//
// notes:
// Avoid passing hard-coded pixel values in favor of $col-x variables.
// See quiet/base/_grid.scss
//
// -----------------------------------------------------------------------------

@mixin breakpoint ($start, $end: null) {
    @if $end != null {
        @media (min-width: $start + 0px) and (max-width: $end - 1px) {
            @content;
        }
    }
    @else {
        @media (min-width: $start + 0px) {
            @content;
        }
    }
}
