//
// clearfix
//
// file: quiet/utilties/_clearfix.scss
//
// description:
// Shortcut for making a self-clearing container
//
// note:
// Placeholder %classes cannot be used inside of media queries. The mixin
// is provided for use inside of media queries.
//
// -----------------------------------------------------------------------------

@mixin clearfix($useOverflow: false) {
    @if($useOverflow==false) {
        &:after {
            clear: both;
            content: '';
            display: table;
        }
    } @else {
        display: block;
        overflow: auto;
    }
}

%clearfix {
    @include clearfix;
}
