//
// col
// fluidFixedCol
//
// file: quiet/utilties/_col.scss
//
// description:
// Mixin for creating a grid column
//
// params:
// $i: number of columns
// $total: total number columns relative to $i (optional; default: $columns)
// $padding: add in right padding. Set this to false if using for the last column (optional; default: $true)
// $fixed: boolean to determine if the column if fixed or fluid (optional; default: false)
// $pos: 0-based visual position of column groups. [group 0 may be a collection of 6 columns, group 1 may be a collection of 4 columns] (optional; default: 0)
// $left: sets the absolute left position. (optional; default: false)
//
// usage:
// @include col(7)
//     --> 7 / 14 = 50% column width using default $total
// @include col(3, 4)
//     --> 3 / 4  = 75% column width using specified $total
// @include col(4, $fixed: true, $pos: 1)
//     --> 4 / 14  = 320px fixed column width. Also, the second visual column.
// @include col(4, $fixed: true, $pos: 2)
//     --> 4 / 14  = 320px fixed column width. Also, the third visual column.
// @include col(4, $fixed: true, $pos: 1, $left: true)
//     --> 4 / 14  = 320px fixed column width, absolutely positioned right.
//
// note:
// Gutter padding is already included.
//
// -----------------------------------------------------------------------------

// Create a grid column
@mixin col($i, $total: $columns, $padding: true, $fixed: false, $pos: 0, $left: false) {
    // if it's not fixed, it's fluid.
    @if ($padding == true) {
        padding-right: $gutter-width;
    }

    @if ($fixed == false) {
        float: left;
        width: $i / $total * 100%;
    }
    @else {
        width: ($i * $col-width) - 20px;

        @if ($left == true) {
            @include stretch(0, false, false, 0);
        }
        @if ($pos == 1) {
            margin-left: 100%;
            position: relative;
        }
        @elseif ($pos == 2) {
            @include stretch(0, 0, false, false);
        }
    }
}


// params:
// $i: used to calculate fixed column widths.
// $padding: add in right padding. Set this to false if using for the last fixed column and the padding will be subtracted from the width (optional; default: $true)
// $fixed: boolean to determine if the column if fixed or fluid (optional; default: false)
//
// usage:
// @include fluidFixedCol()
//     --> 100% width column
// @include fluidFixedCol(4, $fixed: true)
//     --> 320px fix column width
// @include fluidFixedCol(4, $padding: false, $fixed: true)
//     --> 300px fixed column width intended to be the last visual column
//
// note:
// For this to work, a wrapper needs to be set with `display: table`;
//
// -----------------------------------------------------------------------------

@mixin fluidFixedCol($i:0, $padding: true, $fixed: false) {
    display: table-cell;
    vertical-align: top;

    @if ($padding == true) {
        padding-right: $gutter-width;
    }

    // if it's not fixed, it's fluid.
    @if ($fixed == false) {
        width: 100%;
    }
    @else {
        @if ($padding == true) {
            max-width: $i * $col-width;
            min-width: $i * $col-width;
            width:     $i * $col-width;
        }
        @else {
            max-width: $i * $col-width - $gutter-width + 0px;
            min-width: $i * $col-width - $gutter-width + 0px;
            width:     $i * $col-width - $gutter-width + 0px;
        }
    }
}

%col-3  { @include col(3);  }
%col-4  { @include col(4);  }
%col-5  { @include col(5);  }
%col-6  { @include col(6);  }
%col-7  { @include col(7);  }
%col-8  { @include col(8);  }
%col-9  { @include col(9);  }
%col-10 { @include col(10); }
%col-11 { @include col(11); }
%col-12 { @include col(12); }
