//
// display-flex
//
// file: quiet/utilties/_display-flex.scss
//
// description:
// Shortcut for setting `display:flex` in webkit browsers
//
// note:
// Placeholder %classes cannot be used inside of media queries. The mixin
// is provided for use inside of media queries.
//
// -----------------------------------------------------------------------------

@mixin _display-flex {
    display: -webkit-flex;
    display: flex;
}

%display-flex {
    @include _display-flex;
}

//
// cnn-flex-item
//
// file: quiet/utilties/_display-flex.scss
//
// description:
// Sets `flex` properties for cards in columns.
//
// note:
// Placeholder %classes cannot be used inside of media queries. The mixin
// is provided for use inside of media queries.
//
// -----------------------------------------------------------------------------

@mixin cnn-flex-item {
    & {
        @extend %display-flex;
    }

    .cn__column {
        //colums have their own width
        @extend %display-flex;
    }

    .cd {
        @extend %display-flex;
        -webkit-flex-direction: column;
                flex-direction: column;
        width: 100%;
    }

    .cd__wrapper {
        @extend %display-flex;
        -webkit-flex-direction: column;
                flex-direction: column;
        -webkit-flex-grow: 1;
                flex-grow: 1;
        -webkit-justify-content: space-between;
                justify-content: space-between;
        width: 100%;
    }
    .cd__content {
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
    }
}

%cnn-flex-item {
    @include cnn-flex-item;
}


//
// cnn-flex-owl
//
// file: quiet/utilties/_display-flex.scss
//
// description:
// Public mixin that should be used for setting `flex` cards in owl carousels.
//
// example:
// .cn-class { %extend cnn-flex-owl };
//
// note:
// Placeholder %classes cannot be used inside of media queries. The mixin
// is provided for use inside of media queries.
//
// -----------------------------------------------------------------------------

@mixin cnn-flex-owl {
    .flexbox & .owl-wrapper {
        @extend %cnn-flex-item;

        .owl-item,
        .owl-item > [data-slidename] {
            @extend %display-flex;
            -webkit-flex-shrink: 0;
                    flex-shrink: 0;
            width: 100%;
        }
    }
}

%cnn-flex-owl {
    @include cnn-flex-owl;
}
