//
// fixed-col-container
//
// file: quiet/utilties/_fixed-column-container.scss
//
// description:
// Mixin for creating a semi-fluid, semi-fixed column container
//
// params:
// $fixedColumnCount: number of columns
//
// usage:
// @include fixed-col-container(8)
//     --> 8 fixed columns from the right side
//
// note:
// Gutter padding is already included.
//
// -----------------------------------------------------------------------------

// Create a semi-fluid, semi-fixed column container
@mixin fixed-col-container($fixedColumnCount, $left: false) {
	@if ($left == false) {
		padding-right: ($fixedColumnCount * $col-width - $gutter-width) + 0px;
	}
	@else {
		padding-left: ($fixedColumnCount * $col-width) + 0px;
	}
	position: relative;
	@include clearfix();
}
