// # map-fetch
//
// Location: quiet/utilities/_fn-map-fetch.scss
//
//
// ## Description:
//
// Function for crawling through a sass-map and returning the final value.
//
// | Parameters | Description                                                                                               |
// |--------------|-----------------------------------------------------------------------------------------------------------|
// | $map       | The name of the map to crawl.                                                                             |
// | $keys      | Space-separated list of keys as mapped out in the theme files.                                            |
// | $default   | *Optional* null. The default falsy value if $value is null. Used for functions that expect `0` or `false` |
//
//
// ## Usage
//
// ```
// map-fetch($themes, dark card background color)
// ```
//
//
// ### Example
//
// Example of a SASS map
//
// ```
// $map: (
//     dark: (
//         card: (
//             background-color: #fff,
//             color: #000
//         ),
//         font-family: serif,
//         opacity: 1,
//         zone: (
//             background-color: #000,
//             color: #fff
//         )
//     ),
//     light: (
//         card: (
//             background-color: #fff,
//             color: #000
//         ),
//         font-family: sans-serif,
//         opacity: 1,
//         zone: (
//             background-color: #fff,
//             color: #000
//         )
//     ),
//     neutral: (
//          is-container-override: true,
//          card: (
//              background-color: #ccc
//          )
//     )
// );
// ```
//
// Example of how to use.
// ```
// .class {
//     // Wouldn't use like this, but it's possible.
//     color: map-fetch($themes, dark card divider border-bottom);
//
//     // Great for looping
//     @each $theme-id in map-keys($themes) {
//         .t-#{$theme-id} &,
//         .pg .t-#{$theme-id} & {
//             background: map-fetch($themes, $theme-id card background-color);
//
//             // Note, neutral will not have a color output since it doesn't
//             // exist in the map.
//             color: map-fetch($themes, $theme-id card color);
//         }
//     }
// }
//
// ```
//
// #### Output
//
// ```
// .class { border-bottom: 1px #ccc solid }
// .t-dark .class, .pg .t-dark .class { background: #000; color: #000 };
// .t-light .class, .pg .t-light .class { background: $fff; color: #000 };
// .t-neutral .class, .pg .t-neutral .class { background: $ccc };
// ```
//
// -----------------------------------------------------------------------------

@function map-fetch($map, $keys) {
    $key: nth($keys, 1);
    $length: length($keys);
    $value: map-get($map, $key);

    @if ($length > 1 and $value != null) {
        $rest: ();

        @for $i from 2 through $length {
            $rest: append($rest, nth($keys, $i));
        }

        @return map-fetch($value, $rest);
    }

    @return $value;
}

@function safe-rgba($color, $alpha) {
    @if ($color != null) {
        @return rgba($color, $alpha);
    }

    @return null;
}

@mixin safe-css2-gradient-bg($direction:to bottom, $gradient:null, $fallback:null) {
    @if ($gradient != null) {
        @if ($fallback != null) {
            background: $fallback;
        }
        background: linear-gradient($direction, $gradient, $fallback);
    }
}
