//
// font-size
//
// file: quiet/utilties/_font-size.scss
//
// description:
// Mixin for converting a font size from px to rem
//
// params:
// $int: A unitless number representing the desired pixel value
//
// usage:
// @include font-size(14);
//
// -----------------------------------------------------------------------------

@mixin font-size($int, $extra-content:null) {
    @if $extra-content != null {
        font-size: $int + 0px $extra-content;
        font-size: ($int + 0px) / $base-font-size + 0rem $extra-content;
    } @else {
        font-size: $int + 0px;
        font-size: ($int + 0px) / $base-font-size + 0rem;
    }
}
