
//
// line-height
//
// file: quiet/utilties/_line-height.scss
//
// description:
// Mixin for converting a line-height from px to unitless
//
// params:
// $int: A unitless number representing the desired pixel value
// $base: A unitless number representing the font-size in pixels
//
// usage:
// @include line-height(18, 12) --> line-height: 1.5
// @include line-height(18) --> line-height: 1.125 (if $base value is 16)
//
// -----------------------------------------------------------------------------
//
//
// #strip-unit
//
// description:
// Function to remove unit from the value
//
// @param {Number} $value - The target value to strip the unit
// @return {Number}
//
// usage:
// strip-unit(16px) --> 16
// strip-unit(16) --> 16
//
// -----------------------------------------------------------------------------

@function strip-unit($value) {
  @if type-of($value) == 'number' and not unitless($value) {
    @return $value / ($value * 0 + 1);
  }

  @return $value;
}

@mixin line-height($int, $base:$base-font-size) {
    line-height: strip-unit($int) / strip-unit($base);
}
