//
// responsive-rail
//
// file: src/sass/pattern-library/quiet/utilities/_respnsive-rail.scss
//
// DESCRIPTION:
// SCSS mixin for styling breakpoints relative to the parent if there is a rail
// on the page.
//
// If the target element is not in `.pg-side-of-rail`, it will receive default
// mobile-first (1 up, 4-col) styling.
//
// If the target element is is `.pg-side-of-rail`, it will receive styles up to
// maximum column width of the zone.
//
//
// REQUIREMENTS:
// * src/sass/pattern-library/quiet/utilities/_breakpoint.scss
//
// * In order for this mixin to work, the targeted element must be a child of
//   any of the following classes:
//      .pg-above-rail
//      .pg below-rail
//      .pg-no-rail
//
// * The target element must also be a child of one the following regional
//   class.
//      .pg-side-of-rail
//
//
// EXAMPLE:
// .class {
//     @include responsive-rail($col-4, $col-14) {
//         // Styles for 1up and 2up layouts when full-width.
//         // Styles for 1up, 2up, and 3up layouts when beside a rail.
//     }
//
//     @include responsive-rail($col-14) {
//         // Styles for 3 up layouts when full-width.
//     }
// }
//
// .class {
//     @include responsive-rail($col-10, $bypassStop:true) {
//         // styles for $col-10 and above when full width and beside a rail.
//
//         // Passing `$bypassStop:true` will set the target element in
//         // .side-of-rail to have maximum breakpoint that is the size of
//         // the grid + the width of the last gutter.
//     }
// }
//
//
// since: 0.98.0
// -----------------------------------------------------------------------------

@function parse-start($start, $bypassStop) {
    @if $bypassStop == true {
        @return $grid-width + $gutter-width;
    }
    @else {
        @return $start;
    }
}

@mixin responsive-rail($start:null, $stop:null, $bypassStop:false, $drop-rail:$col-12) {
    .pg-no-rail &,         /* selector for all zones in the no-rail page layout, which are all viewport-width */
    .pg-above-rail &,      /* selector for all zones above the rail when rail is on the side of the page (not reflowed to bottom) */
    .pg-below-rail &       /* selector for all zones below the rail when rail is on the side of the page (not reflowed to bottom) */
    {
        @include breakpoint($start, $stop) {
            @content;
        }
    }

    @if $stop != null or $bypassStop == true {
        @include breakpoint($start, $drop-rail) {
            @content;
        }

        .pg-side-of-rail & {
            @include breakpoint(parse-start($start, $bypassStop)) {
                @content;
            }
        }
    }
}
