// # safe-css2-gradient-bg
//
// Location: quiet/utilities/_safe-css2-gradient-bg.scss
//
//
// ## Description:
//
// Function to protect against null gradient color stops.
//
// | Parameters | Description                                                     |
// |------------|-----------------------------------------------------------------|
// | $direciton | Direction as outlined in compass's linear-gradient function     |
// | $gradient  | Gradient / Backgground value                                    |
// | $fallback  | *Optional* Fallback value. Defualts to furst color in $gradient |
//
//
// ### Compass documentation
//
// http://compass-style.org/reference/compass/css3/images/#function-linear-gradient
//
//
// ## Usage
//
// ```
// @include safe-css2-gradient-bg(to left, #000, #fff);
// ```
//
//
// ### Example
//
// Example of how to use. Note, gradients don't have to be supplied.
//
// ```
// .class {
//     @include safe-css2-gradient-bg(to left, #000);
// }
//
// .class-with-fallback {
//     @include safe-css2-gradient-bg(to left, #000, #fff);
// }
//
// ```
//
// #### Output
//
// ```
// .class { background: #000; background: to left, #000; }
// .class-with-fallback { background: #fff; background: to left, #000, #fff; }
// ```
//
// -----------------------------------------------------------------------------

@mixin safe-css2-gradient-bg($direction:to bottom, $gradient:null, $fallback:null) {
    @if ($gradient != null) {
        @if ($fallback != null) {
            background: $fallback;
        }
        background: linear-gradient($direction, $gradient, $fallback);
    }
};
