//
// sprites
//
// file: quiet/utilities/_sprite.scss
//
// description:
// holds the default styles for a sprited element
//------------------------------------------------------------------------------

@import "_sprite-chrome";
@import "_sprite-financial";

%sprite-cnn-defaults {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
}

