//
// stretch
//
// file: quiet/utilties/_stretch.scss
//
// description:
// Shortcut for making absolutely positioned elements that stretch to fill
// their parent.
//
//
// -----------------------------------------------------------------------------

@mixin stretch($offset-top: 0, $offset-right: 0, $offset-bottom: 0, $offset-left: 0) {
    position: absolute;
    @if $offset-top {
        top: $offset-top;
    }
    @if $offset-bottom {
        bottom: $offset-bottom;
    }
    @if $offset-left {
        left: $offset-left;
    }
    @if $offset-right {
        right: $offset-right;
    }
}

