//
// svg
//
// file: quiet/utilities/_svg.scss
//
// description:
// holds the default styles for a svg element
//------------------------------------------------------------------------------

%svg-cnn-defaults {
    content: "";
    display: block;
    margin: 0;
    padding: 0;
}
