// # _do-all-values-match
//
// Location: quiet/utilities/_theming.scss
//
//
// ## Description
// Simple private function for comparing an infinite list of values.
//
// Returns true if all values match.
//
// | Parameter | Description                                |
// |-----------|--------------------------------------------|
// | $values   | space-separated list of values to compare. |
//
// -----------------------------------------------------------------------------

@function _do-all-values-match($values) {
    @for $i from 2 through length($values) {
        @if (nth($values, $i) != nth($values, $i - 1)) {
            @return false;
        }
    }

    @return true;
}

//
// # _generate-selectors
//
// Location: quiet/utilites/_theming.scss
//
//
// ## Description
//
// Funciton for outputting selectors.
//
// | Parameter    | Description                                                                 |
// | ------------ | --------------------------------------------------------------------------- |
// | $page-class  | Class of the page                                                           |
// | $theme-id    | Theme ID to use                                                             |
// | $limit-theme | **optional**:`null` Parameter to add styles only to the page, not the zone. |
//
// -----------------------------------------------------------------------------

@function _generate-selectors($page-class, $theme-id, $limit-theme:null) {
    $page-selector: ".#{$page-class}.t-#{$theme-id} &";
    $zone-selector: ".#{$page-class} .zn.t-#{$theme-id} &";

    @if ($limit-theme == page) {
        @return $page-selector;
    } @elseif ($limit-theme == zone) {
        @return $zone-selector;
    } @elseif ($limit-theme == container) {
        @return $container-selector;
    }

    // Default is to return selectors for both page and zone.
    @return $page-selector + ", " + $zone-selector;
}

//
// # theme
//
// Location: quiet/utilities/_theming.scss
//
//
// ## Description
//
// Mixin to simplify theming on a per-property basis. This will call a mixture
// of private functions to determine if theme-specific classes are required, or
// if it's okay to return a generic statement.
//
// This will prevent issues with unneccesary specificity.
//
// This mixin will pull values from the `$themes` SASS Map.
//
// Please note, this function will become inefficient if our zones/page themes
// are no longer 1:1. At that point, there'll need to some way to run through
// page-specific SASS maps and then zone-specific SASS maps.
//
//
// | Parameter                     | Description                                                                                                                    |
// |-------------------------------|--------------------------------------------------------------------------------------------------------------------------------|
// | $property                     | the css property being themed as typically entered in CSS                                                                      |
// | $keys                         | space-separated list of keys as mapped out in the theme files.                                                                 |
// | $include-transparent-override | **optional**:`false` boolean to allow a rule for transparent zones to inherit from page themes.                                |
// | $force-theming                | **optional**:`false` boolean to force theming values. For example, hover states that need to forcibly override inactive states.|
// | $limit-theme                  | **optional**:`null` Accepts `page` or `zone`. options to output specific theming for only pages or zones.                      |
// | $sass-map                     | **optional**:`$themes` Slightly future-proofing this function, but for now it'll just need to accept `$themes`                 |
// | $page-class                   | **optional**:`pg` Set the parent/page/top-level theme. For example, `pg-videos`                                                |
//
//
// ## Usage
//
// ```
// @include theme(background-color, zone background color [, $include-transparent-override:true] [, $force-theming:true] [, $limit-theme:page|zone] [, $sass-map:$other-themes-map] [, $page-class:pg-videos]);
// ```
//
//
// ### Ouptuts
//
// ```
// // If all themes match:
// { background-color: #000; }
//
// // or if themes are required/forced:
// .pg.t-dark, .pg .t-dark { background-color: #000; }
//
// // or if required/forced and scoped to just pages
// .pg.t-dark { background-color: #000 }
//
// // or if required/forced and scoped to just zones
// .pg .t-dark { background-color: #000 }
//
// // or if required/forced with transparent override:
// .pg.t-dark, .pg .t-dark, .pg.t-dark .zn--transparent { background-color #000; }
//
// // or if a page class is passed:
// .pg-videos.t-dark, .pg-videos .t-dark { background-color: #000; }
// ```
//
//
// ### Example
//
// ```
// .class {
//     display: block;
//
//     @include theme(background-color, zone background color);
//     @include theme(border-color, zone border color);
// }
// ```
//
//
// #### SASS Output:
//
// ```
// .class { display: block; }
// .t .class { background-color: #000; }
// .t .class { border-color: #333; }
// ```
//
//
// #### Note
//
// Somewhere in our process (probably minification), the output will be
// compressed into as few blocks as necessary.
// ```
// .class { display: block; }
// .t .class { background-color: #000; border-color: #333; }
// ```
// -----------------------------------------------------------------------------

@mixin theme($property, $keys, $include-transparent-override:false, $force-theming:false, $limit-theme:null, $sass-map:$themes, $page-class:"pg") {
    $values: () !default;

    // Create an space-separated list of values
    @each $theme-id in map-keys($sass-map) {
        $values: append($values, map-fetch($sass-map, join($theme-id, $keys)), space);
    }

    // If themes do not use the same value
    @if ($force-theming == true or _do-all-values-match($values) != true) {
        @each $theme-id in map-keys($sass-map) {
            @if map-fetch($sass-map, join($theme-id, $keys)) {
                #{_generate-selectors($page-class, $theme-id, $limit-theme)} {
                    #{$property}: map-fetch($sass-map, join($theme-id, $keys));
                }
            }

            @if ($include-transparent-override) {
                @if map-fetch($sass-map, join($theme-id, $keys)) {
                    .#{$page-class}.t-#{$theme-id} .zn.zn--transparent & {
                        #{$property}: map-fetch($sass-map, join($theme-id, $keys));
                    }
                }
            }

            @if (map-has-key(map-get($sass-map, $theme-id), is-container-override)) {
                @if map-fetch($sass-map, join($theme-id, $keys)) {
                    .#{$page-class} .zn .cn.t-#{$theme-id} & {
                        #{$property}: map-fetch($sass-map, join($theme-id, $keys));
                    }
                }
            }

        }
    } @else {
        #{$property}: nth($values, 1);
    }
}
