/* Z-index variables */
$background-layer: zone-background, zone-top;
$content-layer: content, header, tooltip, interactive, interactive-controls, content-masking;
$navigation-layer: navigation, navigation-dropdown-container, navigation-container, navigation-wrapper, navigation-content, logo-container, logo;
$overlay-layer: overlay-screen, modal, modal-controls;
//If it needs to ALWAYS be on top, this is the largest value for 32bit systems
$absolute-z-index: 2147483647;

//
// _calculate-base-index
//
// Usage:
// $use-for-other-calculations: _calculate-base-index($background-layer);
//
// @param $layer - SASS Variable name defined above
// @returns $base-index
// @access private

@function _calculate-base-index($layer) {
  // Default content-layer
  $base-index: 0;

  @if $layer == $background-layer {
    $base-index: -20 - length($background-layer);
  } @else if $layer == $navigation-layer {
    $base-index: 20 + length($content-layer);
  } @else if $layer == $overlay-layer {
    $base-index: 40 + length($content-layer) + length($navigation-layer);
  }

  @return $base-index;
}

//
// z-index
//
// Usage:
// @include z-index($background-layer, zone-background); --> z-index: -18;
//
// @param $layer         - SASS Variable name defined above.
// @param $index-element - Member of the corresponding $layer parameter.
// @access private
// Test Examples
//
//.background {
//  @include z-index($background-layer, zone-top);
//}
//
//.content {
//  @include z-index($content-layer, content-masking);
//}
//
//.navigation {
//  @include z-index($navigation-layer, navigation-container)
//}
//
//.overlay {
//  @include z-index($overlay-layer, modal-controls);
//}

@mixin z-index($layer, $index-element:null, $extra-content:null) {
    $the-z: _calculate-base-index($layer);
    @if $index-element != null {
        // Indexes start with 1, so subtract 1.
        $the-z: $the-z + index($layer, $index-element) - 1;
    }
    @if $extra-content != null {
        z-index: $the-z $extra-content;
    } @else {
        z-index: $the-z;
    }
}
