//
// ad
//
// file: cards/tools/_ad.scss
//
// description:
// Advertising specific styles.
//
// -----------------------------------------------------------------------------

.ad {
    text-align: center;

    iframe {
        display: block;
    }

    // If ad precedes a themed zone then match that zones background color
    @each $theme-id in map-keys($themes) {
        @if map-fetch($themes, $theme-id zone background) {
            &.t-#{$theme-id},
            .t-#{$theme-id} + &,
            .t-#{$theme-id} + & ~ & {
                background-color: map-fetch($themes, $theme-id zone background);
            }
        }
    }
}

.ad--mobile {
    div[data-ad-position=mobile] div:nth-child(1) div {
        // height: auto !important; // 3rd party script injecting inline height values so !important is required
        height: auto; // 3rd party script injecting inline height values so !important is required
                      // but the Ads team has decided that certain mobile ads need to be able to do this even
                      // though it can break the site layout.  Please see tickets CNN-22489 and CNN-21965.
    }

    .zn-body & {
        padding-bottom: 0;

        @include breakpoint($col-9) {
            display: none;
        }
    }
}

.ad--tablet,
.ad--desktop {
    @include clearfix;
    display: none;
    padding-bottom: 0;
}

.ad--tablet {
    @include breakpoint($col-8, $col-12) {
        display: inherit;
    }
}

.ad--desktop {
    @include breakpoint($col-12) {
        display: inherit;
    }
}

//
// This is advertisement text for the companion ads. If they fill their
// content then the text shows up otherwise the text is unseen.
//

[data-ad-text=show].ad--companion {
   &.ad--desktop,
   &.ad--mobile,
   &.ad--tablet {
        position: relative;
        overflow: hidden;

        &:after {
            bottom: 10px;
            margin-bottom: 0;
            position: absolute;
        }

        //
        // This is a class name specific to companion ads. Was not too sure about what content might be filled.
        // Update with other types of tags as needed.
        //
        ._fwac > div,
        ._fwac > iframe,
        ._fwac > span, {
            display: inline-block;
            margin-bottom: 25px;
        }
    }
}

.ad-no-spacing {
    iframe {
        margin-bottom: 0;
    }
}
