//
// appia
//
// file: cards/tools/_appia.scss
//
// description:
// Appia module
//
// -----------------------------------------------------------------------------

.appia-container.adfuel-rendered {
	margin: 0 -10px;
	padding: 20px 0;
	text-align: center;
}
