//
// feed card
//
// file: loud/elements/_feedcard.scss
//
// description:
// global feed card styles
//
// -----------------------------------------------------------------------------

.cd--tool__feed {
    .cn__title {
        @include clearfix;
    }

    .el-action-bar {
        background-color: transparent;
        border-top: none;

        &:before {
            background-color: transparent;
        }
    }

    .cd-feed__content {
        @extend .cd__content;
    }

    .cd-feed__logo {
        float: right;
        margin: 0 0 0 $gutter-width / 2;
        @include line-height(0, 1);
    }

    .cd-feed__logo-image {
        display: inline;
        height: 40px;
        width: auto;
    }

    .cd__description img {
        width: auto;
    }
}
