//
// financial currencies
//
// file: cards/tools/_financial-currencies.scss
//
// description:
// Currencies module
//
// -----------------------------------------------------------------------------

.m-currencies__wrapper {
    .m-currencies__table {
        font-weight: $bold;

        @include font-size(11);

        .m-currencies__table-row {
            border-top: 1px solid $gray-4;
            height: 38px;
            overflow: hidden;
            position: relative;

            @include line-height(38, 11);

            &:before {
                border-top: 1px solid $white;
                content: '';

                @include stretch;
            }
            &:first-child {
                border-top: 0;

                &:before {
                    display: none;
                }
            }
        }
        .m-currencies__table-cell {
            color: $gray-10;
            float: left;
            padding: 0 2.5%;
            text-align: right;
            white-space: nowrap;
            width: 20%;

            &.m-currencies__table-cell--static {
                color: $gray-6;
            }
            &.m-currencies__table-heading {
                text-align: left;
            }
        }

        .m-currencies__table-heading {
            background-color: $gray-3;
            color: $gray-11;
            font-family: $sans-serif-display;

            @include font-size(13);

            &.m-currencies__table-row {
                height: 30px;

                @include line-height(30, 13);
            }

            .m-currencies__table-cell {
                color: $gray-11;
                float: right;
            }
        }
    }

    .m-currencies__converter {
        border-top: 1px solid $gray-4;
        padding: 20px 10px;

        .m-financial__field-item,
        .m-financial__field-list-wrapper {
            color: $gray-10;
            width: 75%;

            @include font-size(14);
        }
    }
}
