//
// financial markets
//
// file: cards/tools/_financial-markets.scss
//
// description:
// Markets module
//
// -----------------------------------------------------------------------------

.m-markets__wrapper,
.m-markets-basic__wrapper {
    .m-markets__quote-bar {
        .m-financial__field-item {
            color: $gray-5;

            @include font-size(11);
        }

        .el-button {
            border-radius: 0;
            cursor: pointer;
            font-weight: $light;
            line-height: 1;
            padding: 10px 15px;
            text-align: center;

            @include font-size(15);
            @include stretch(0, 0, false, false);
            @include theme(background-color, el markets quote background-color);
            @include theme(color, el markets quote color);

            &:hover {
                @include theme(background-color, el markets quote hover background-color, $force-theming:true);
            }
        }

        .twitter-typeahead,
        .tt-dropdown-menu  {
            padding-right: 110px;
            width: 100%;
        }

        .twitter-typeahead, .js-market-quote .m-financial__field {
            @include font-size(12);

            input {
                background: transparent;
                border: 1px solid;
                font-family: $sans-serif-interface;
                font-weight: $light;
                height: 35px;
                padding: 0;
                text-indent: 10px;
                width: 100%;

                @include font-size(15);
                @include line-height(35, 15);
                @include theme(border-color, el markets dropdown background-color);
                @include theme(color, el markets dropdown color);

                @include input-placeholder {
                    color: $gray-6;
                }
            }

            .tt-dataset-user-quote {
                @include theme(background-color, el markets dropdown background-color);
                @include theme(color, el markets dropdown color);

                .tt-suggestion {
                    cursor: pointer;
                    line-height: 1;
                    padding: 15px 10px;

                    &:hover,
                    &.tt-cursor {
                        @include theme(background-color, el markets dropdown hover background-color, $force-theming:true);
                    }
                }
            }
        }
    }

    .el-action-bar {
        .el-timestamp {
            color: $gray-6;
            float: right;
            font-weight: $light;
            line-height: 1;
            margin: 15px 0 10px;

            @include font-size(13);

            &:before {
                display: none;
            }
        }
    }
}

.js-market-quote {
   .m-financial__field {
        padding-right:110px;

        .twitter-typeahead {
            padding-right:0px;

            .tt-dropdown-menu {
                padding-right:0px;
            }
        }
    }
}
