//
// financial base
//
// file: tools/_financial-base.scss
//
// description:
// Financial tool card base styling for use by markets, commodities and currencies cards
//
// -----------------------------------------------------------------------------

// @import "sprite-financial/*.png";

.m-financial__wrapper {
    font-family: $sans-serif-interface;
    font-weight: $light;

    .m-financial__tabs {
        background-color: $gray-3;
        list-style: none;
        overflow: hidden;
        padding: 0;
        position: relative;

        .m-financial__tabs-item {
            color: $gray-8;
            cursor: pointer;
            float: left;
            font-weight: $light;
            padding: 0 15px;
            position: relative;

            @include font-size(17);
            @include line-height(30, 17);
        }

        .m-financial__tabs-item--active {
            @include theme(background, el markets tabs background);
            @include theme(color, el markets tabs color);
        }
    }

    .m-financial__field {
        position: relative;

        .m-financial__field-item,
        .m-financial__field-list-wrapper {
            background: $white;
            border-radius: 3px;
            float: left;
            height: 100%;
            position: relative;
        }
        .m-financial__field-item {
            font-family: $sans-serif;
            font-weight: $bold;
            text-indent: 10px;
        }
        .m-financial__field-label {
            float: left;
            font-weight: $bold;
            width: 25%;

            @include font-size(12);
            @include theme(color, card copy standard color);
        }
        .m-financial__field-button {
            float: right;
        }
        .m-financial__field-list {
            cursor: pointer;
            padding: 5px 0 5px 10px;
            text-indent: 0px;
        }
        .m-financial__field-item--read-only {
            background: $gray-2;
            color: $gray-9;
            font-family: $sans-serif-display;

            @include font-size(18);
        }
        .m-financial__field-icon {
            background-color: $white;
            border-left: 1px solid $gray-4;
            cursor: pointer;
            width: 35px;

            @include stretch(0, 1px, 0, false);

            &:after {
                @extend %sprite-cnn-defaults;
                @include stretch(50%, false, false, 50%);
            }
            &.m-financial__field-icon-flip {
                border-radius: 0 3px 3px 0;
                margin: 1px 0;

                &:after {
                    margin: {
                        left: -($icon-currencies-flip-width / 2);
                        top: -($icon-currencies-flip-height / 2);
                    }

                    @include sprite($icon-currencies-flip);
                }
            }
            &.m-financial__field-icon-arrow:after {
                margin: {
                    left: -($icon-currencies-down-arrow-width / 2);
                    top: -($icon-currencies-down-arrow-height / 2);
                }

                @include sprite($icon-currencies-down-arrow);
            }
        }
        .m-financial__field-list-wrapper {
            overflow: hidden;

            .m-financial__field-list {
                appearance: none;
                background: transparent;
                border: 0;
                width: 115%;
            }
        }
    }

    .m-financial__header-wrapper {
        position: relative;

        .m-financial__header-content {
            display: none;

            &:first-child {
                display: block;
            }
        }

        .m-financial__header-item {
            background-color: $cnn-money-blue;
            color: $gray-1;
            height: 110px;
            line-height: 1.1;
            padding: 15px;
            position: relative;

            .m-financial__quote-title {
                @include font-size(18);
            }
            .m-financial__quote-value-change {
                @include font-size(36);
            }
            .m-financial__header-bottom {
                @include font-size(16);
            }
        }
    }

    .m-financial__quote-content {
        display: none;
        min-height: 3px;

        &.m-financial__quote-content--active {
            display: block;
        }
        &.m-financial__quote-content--interactive .m-financial__quote-item {
            cursor: pointer;
        }
    }

    .m-financial__quote-item {
        overflow: hidden;
        display: block;
        position: relative;

        @include font-size(17);
        @include line-height(40, 17);
        @include theme(color, el markets item color);

        &.m-financial__quote-item--up .m-financial__quote-icon:after {
            color: $green;

            @include icon($icon--arrow-line-up);
        }
        &.m-financial__quote-item--down .m-financial__quote-icon:after {
            color: $red;

            @include icon($icon--arrow-line-down);
        }

        .m-financial__quote-icon,
        .m-financial__quote-value,
        .m-financial__quote-title,
        .m-financial__quote-value-change {
            float: left;
        }
        .m-financial__quote-title,
        .m-financial__quote-value {
            width: 33.333%;
        }
        .m-financial__quote-icon {
            font-weight: $bold;
            margin: -3px 0 0 20px;
        }
        .m-financial__quote-value-change {
            margin-left: 10px;
        }
    }
}
