//
// IFrame
//
// file: cards/tools/_iframe.scss
//
// description:
// IFrame Fitframe
//
// -----------------------------------------------------------------------------

.iframe-container {
  height: 100%;
  padding: 2em;
  text-align: center;
}

.fitframe-wrap {
  padding-bottom: $ratio-16x9;
  position: relative;
  height: 0;
  overflow: hidden;

  iframe {
      @include stretch();
  }

}
