//
// ireport
//
// file: tools/_ireport.scss
//
// description:
// ireport styles
//
// -----------------------------------------------------------------------------

.el__ireport {
    margin: {
        bottom: $gutter-width;
        top: $gutter-width;
    }

    @include breakpoint($col-8) {
        clear: right;
        float: right;
        padding-left: $gutter-width;
        width: $col-4;

        @include clearfix;
    }
}
