//
// links
//
// file: cards/tools/_links.scss
//
// description:
// Displays a list of links
//
// -----------------------------------------------------------------------------

.links_wrapper {
    line-height: 1.8;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    text-align: left;
    @include breakpoint($col-13) {
        padding-left: ($gutter-width * 2);
    }
}

.links_wrapper__link{
    border-right: 0;
    color: $gray-11;
    font-family: $sans-serif-display;
    font-weight: $bold;
    padding-left: 0;
    text-decoration: none;
    @include font-size(20);
    @include breakpoint($col-13) {
        @include font-size(16);
        font-weight: normal;
    }
}

.links_wrapper__link:hover{
    color: $blue;
}

.cd.cd--tool > .cd__wrapper.links_wrapper{
    background-color: $gray-1;
}

.cd__wrapper.links_wrapper{
    border: 0;
    padding-left: 0;
}
