//
// live player
//
// file: cards/tools/_live_player.scss
//
// description:
// CSS related to live player
//
// -----------------------------------------------------------------------------

$blank-red-button-width: 244px;
$blank-red-button-height: 73px;

.cd.cd--tool {
    &.cd--tool__live-switcher,
    &.cd--tool__auth-switcher {
        @include theme(background, card background color);
    }
}

.el__tve-player {
    display: none;

    .cd__kicker a {
        @include theme(color, card copy meta color);

        &:hover {
            @include theme(color, el link hover);
        }
    }
}

.el__tve-player__header {
    margin-bottom: $gutter-width;

    @include clearfix;
}

.authstream__title {
    float: left;
}

.el__tve-player__timestamp {
    color: $gray-4;
    height: 19px;
    margin-top: $gutter-width / 2;
    padding-left: ($gutter-width + 5);

    @include font-size(12);
}

.el__tve-player__loading {
    color: $white;
    text-align: center;
}

.el__tve-player__download__button {
    background: url('@@cdn.chrome/about/tv/img/start_watching_button_blank.png') no-repeat;
    height: $blank-red-button-height;
    margin: 0 auto;
    width: $blank-red-button-width;

    @include line-height(70, 18);

    a {
        color: $white;
        display: block;
        font-family: $sans-serif-display;
        font-weight: $bold;
        text-align: center;

        @include font-size(18);
    }
}

.zn-body {
    .cd--tool__auth-player {
        .media__caption {
            margin: ($gutter-width / 2) 0 ($gutter-width / 2);
        }
    }
}

.el__tve-player__mobile {
    display: none;
}
