//
// livefyre blogs
//
// file: cards/tools/_livefyre-blog.scss
//
// description:
// Tool Card for the Livefyre Blog
//
// Most of the styling will come from the Livefyre. This will just override
// certain properties to match up with CNN styles and themes
//
// -----------------------------------------------------------------------------

body.pg-article {

    #body-text .lf-app-embed {

        .s-liveblog {
            .super-header {
                .s-secondary-header {
                    .s-engagement-display {
                        float: right;
                        color: $gray-6 !important;
                        font-weight: $light !important;

                        .s-share-button {
                            .button-text,
                            .storifycon-share {
                                color: $gray-6 !important;
                                font-weight: $light !important;
                            }
                        }
                    }
                }
                .s-sort-order {
                    .s-dropdown {
                        color: $gray-6 !important;
                        font-weight: $light !important;
                    }
                }
            }

            .s-post {
                border: 0;
                border-bottom: 1px solid $gray-5;
                border-radius: 0;
                padding: 0;
                width: 100% !important;
            }

            .s-post-header, .s-element-content {
                padding: 0;

                .s-timestamp {
                    color: $gray-8;

                    @include copy(14, 22, $light);

                    @include breakpoint($col-8) {
                        margin-left: 40px;

                        @include copy(14, 28, $light);
                    }
                }

                .s-author-avatar {
                    height: 35px;
                    width: 35px;

                    .s-img, .s-author-initials {
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                    }
                }

                .s-username, .s-author-name {
                    color: $gray-9;

                    @include copy(16, 16, $medium);
                }

                .s-username {
                    left: 0;
                    margin-left: 42px;
                    position: absolute;
                    top: 0;
                }

                .s-author-name {
                    margin-bottom: 5px;
                }
            }

            .s-post-header {
                .s-timestamp {
                    margin: 0;
                    position: relative;
                    top: 10px;
                }
                .s-post-pin {
                    position: absolute;
                    right: 20px;
                }
            }

            .s-post-footer {
                display: block;
                width: 100%;

                .s-footer-left {
                    float: left;

                    .s-like {
                        display: inline-block;
                        color: $gray-11;

                        .storifycon-like::before {
                            font-family: 'cnn-icons' !important;
                            content: $icon--y01-star-outline;
                        }

                        &.liked {
                            .storifycon-like::before {
                                content: $icon--y02-star-solid;
                            }
                        }
                    }

                    .s-sidenotes {
                        display: inline-block;

                        span {
                            &.lf-mobile-thread-btn {
                                display: block;
                            }
                        }
                    }
                }

                .s-footer-right {
                    float: right;
                }

                .s-share-button {
                    margin-right: 0;

                    .button-text {
                        color: $gray-15;
                        text-transform: uppercase;

                        @include copy(14, 22, $medium);
                    }
                }
            }

            .s-link-body {
                .s-link-image-wrapper {
                    display: inline-block !important;
                    margin: 0 !important;
                    width: 100% !important;
                 }
            }

            .s-element-content {
                border: none;
                border-radius: 0;
                box-shadow: none;
                max-width: 100%;

                .s-link-title {
                    color: $gray-9;
                    @include copy(16, 24, $light);
                }

                .s-link-description {
                    color: $gray-8;
                    @include copy(14, 22, $light);

                    @include breakpoint($col-8) {
                        @include copy(14, 28, $light);
                    }
                }

                &.s-element-text, .s-quote-content {
                    margin: 0;
                    max-width: initial;
                    padding: 0 10px;

                    p, .s-quote-text {
                        color: $gray-10;

                        @include copy(18, 28, $light);

                        @include breakpoint($col-8) {
                            @include copy(18, 30, $light);
                        }

                    }
                }

                .s-image-content {
                    box-shadow: none;
                    max-width: 100%;

                    .s-image-info {
                        background: rgba(0, 0, 0, 0.4);
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.95));

                        @include copy(18, 28, $light);
                    }
                }

                h2 {
                    color: $gray-10;

                    @include copy(26, 32, $light);

                    @include breakpoint($col-8) {
                        @include copy(36, 40, $light);
                    }

                    b {
                        color: $gray-10;

                        @include copy(26, 32, $light);

                        @include breakpoint($col-8) {
                            color: $gray-10;

                            @include copy(36, 40, $light);
                        }
                    }

                    i, strike {
                        color: $gray-10;
                    }
                }

                @include breakpoint($col-4, $col-8) {
                    margin: 0;
                    max-width: 400px;
                }

                li {
                    color: $gray-11;

                    @include copy(18, 30, $light);
                }

                ul {
                    li {
                        padding-left: 15px;
                        margin-left: 15px;
                    }
                }
            }

            .s-share-button {
                .storifycon-share {
                    &:before {
                        content: $icon--share-arrow;
                        font-family: "cnn-icons" !important;
                        vertical-align: middle;
                    }
                }
            }
        }

        p {
            i, strike, b {
                color: $gray-11;
            }
        }

        .s-upload-image-caption {
            p {
                color: $gray-9;
                @include copy(14, 23, $light);

                i, u, b, strike{
                    color: $gray-9;
                    @include copy(14, 23, $light);
                }

                b {
                    font-weight: $bold;
                }
            }
        }

        blockquote {
            color: $gray-11;
            font-style: italic;

            @include copy(20, 26, $light);
        }
    }
}
