//
// livefyre polls
//
// file: cards/tools/_livefyre-poll.scss
//
// description:
// Tool Card for the Livefyre Poll
//
// Most of the styling will come from the Livefyre. This will just override
// certain properties to match up with CNN styles and themes
//
// -----------------------------------------------------------------------------

.lf-poll {

    // Override Livefyre styling
    border: none !important;
    font-family: $sans-serif !important;

    &,
    a {
        @include theme(color, card copy standard color);
    }

    a:hover {
        @include theme(color, el link hover);
    }

    // To match the headlines
    h2 {
        font-style: normal;
        -webkit-font-smoothing: antialiased;
    }

    .lf-poll-disclaimer,
    .lf-poll-result-votes {
        @include theme(color, card copy meta color);
    }

    // Use CNN red
    .lf-poll-btn,
    .lf-poll-result-chart span {
        background: $cnn-red !important;
    }

    // Embed inside an article
    .zn-body & {
        margin-bottom: 20px;
    }
}

