$pkg: 'cmcs-subscription-wrapper';

%pkg-button {
    background-position: 108px center;
    background-repeat: no-repeat;
    border: 0 none;
    color: $white;
    margin-top: $gutter-width / 2;
    padding: 8px;
    text-align: left;
    width: 145px;

    @include breakpoint($col-8) {
        margin-top: 0;
    }
}

%pkg-input {
    border: 1px solid $gray-2;
    color: $black;
    font-family: $sans-serif-display;

    @include line-height(21, 14);
}

%pkg-text {
    color: $newsletter-gray-4;
    margin-bottom: $gutter-width;
    margin-top: $gutter-width;
}

%pkg-text-footer-override {
    color: $gray-7;
    font-weight: $light;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: $gutter-width;
    padding-top: $gutter-width;

    @include breakpoint($col-9) {
        display: table-cell;
        vertical-align: middle;
        width: 35%;
    }

    @include breakpoint($col-11) {
        width: 50%;
    }
}

%pkg-spacing {
    padding: $gutter-width;
    padding-top: 0;
}

%nightcap-button {
    background-color: $blue-4;
    background-image: url("@@cdn.chrome/images/bulletin/arrow.png");
    font-weight: $light;
    padding: 13px;

    @include font-size(18);
}

%nightcap-input {
    background: $newsletter-gray-1;
    font-weight: $light;
    padding: .5em 12px .6em;

    @include font-size(20);
}

%nightcap-module {
    background: $newsletter-gray;
}

%coverline-module {
    background: $newsletter-gray-7;
    border: 1px solid $gray-3;
}

%coverline-button {
    background-color: $newsletter-salmon;
    background-image: url("@@cdn.chrome/images/bulletin/arrow.png");
    font-weight: $light;
    padding: 13px;

    @include font-size(18);
}

%coverline-input {
    background: $newsletter-gray-1;
    font-weight: $light;
    padding: .5em 12px .6em;

    @include font-size(20);
}

%five-things-button {
    background-color: $newsletter-yellow-2;
    background-image: url("@@cdn.chrome/images/bulletin/arrow-small.png");
    background-position: 71px center;
    color: $white;
    font-weight: $bold;
    width: 108px;
}

%five-things-module {
    background: $newsletter-yellow;
    border: 1px solid $gray-2;
}

.#{$pkg} {
    &:root {
        @include font-size(14);
    }
    // sets default spacing
    .js-cmcs-subscription-form {
        @extend %pkg-spacing;
    }
}

// toggles the footer
.#{$pkg}.l-footer {
    display: none;
    padding: 0;

    &.cmcs-footer-active {
        display: block;
    }
}

// toggles success state
.#{$pkg} form.submit-success {

    &.cmcs-embedded .subscription-brand,
    .state-default {
        display: none;
    }

    .state-success {
        display: block;

        .submission-success-header {
            &:before {
                border: 0 none;
                margin: 0;
            }
        }
    }
}

.#{$pkg} .state-default {
    overflow: hidden;
    position: relative;

    .subscribe-intro-text {
        @extend %pkg-text;
    }
}

.#{$pkg} .cmcs-embedded {

    input[type=submit] {
        margin-top: 0;
    }

    .state-default  {
        @include breakpoint($col-9) {
            display: table-cell;
            padding-left: $gutter-width;
            width: 60%;
        }
    }
}

.l-footer__content .state-default {
    .subscribe-intro-text {
        @extend %pkg-text-footer-override;
    }
}

.#{$pkg} .state-success {
    display: none;
    text-align: center;
    padding-bottom: $gutter-width;

    .submission-success-header {
        border-top: 1px solid $newsletter-gray-2;
        color: $newsletter-gray-4;
        padding-top: $gutter-width;
        margin-top: $gutter-width;

        @include font-size(21);
    }

    .js-cnn-news-ok {
        @extend %pkg-text;
        margin: $gutter-width 0;
    }

    .js-cnn-sub-ok {
        @extend %pkg-button;
        background-position: 72px center;
        margin: 0 auto;
        width: 108px;

        &:hover {
            cursor: pointer;
        }
    }
}

.#{$pkg} .js-subscribe-error {
    color: $red;
    display: inline-block;
    padding-top: 0.357em;

    @include breakpoint($col-6) {
        padding-bottom: 0.357em;
    }
}

.#{$pkg} form {
    input {
        @extend %pkg-input;

        &:focus {
            outline: none;
        }

        @include breakpoint($col-6) {
            display: inline-block;
        }

        &[type=submit] {
            @extend %pkg-button;
        }
    }
}

.#{$pkg} .l-footer__content {
    border-top: 0 none;
    margin: 0 auto;
    padding-bottom: 0;
    padding-top: 0;

    .state-default {
        display: table;
        width: 100%;
    }

    .js-cmcs-subscription-form {
        background-color: transparent;
        border: 0 none;
        padding-top: $gutter-width;

        @include breakpoint($col-14) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .cd__headline {
        color: $gray-8;
    }
}

.cmcs-embedded,
.#{$pkg} .l-footer__content {
    .state-default {

        input {

            &[type=submit] {
                @include breakpoint($col-6) {
                    margin-left: $gutter-width / 2;
                };
            }
        }
    }
}

.cmcs-embedded {
    input {
    }
}

.cmcs-embedded,
.l-footer__content {
    .cmcs-input-email {
        @include breakpoint($col-6) {
            float: left;
            max-width: 55.5%;
        }

        @include breakpoint($col-11, $col-13) {
            max-width: 52.5%;
        }
    }
}

.#{$pkg} .l-footer__content {

    .cmcs-input-email,
    input[type=submit] {
        @include breakpoint($col-6) {
            margin-top: 0;
        }
    }

    .cmcs-input-email,
    input[type=submit] {
        margin-top: 0;

        @include breakpoint($col-8) {
            margin-top: $gutter-width;
            padding-left: $gutter-width / 2;
        }

        input[type=email] {
            background-color: $gray-11;
            border: 0 none;
            padding: 8px;
            width: 100%;
        }
    }

    input[type=submit] {
        background-color: $gray-11;
        padding: 8px;

        &:hover {
            background-color: $gray-10;
        }

        @include breakpoint($col-8) {
            margin-top: $gutter-width;
        }
    }
}

.#{$pkg} .subscription-brand {
    .cd__headline {
        line-height: 1;

        @include font-size(18);
    }
}

.#{$pkg}.cmcs-footer-active,
.#{$pkg} .cmcs-embedded {
    .subscription-brand {
        @include breakpoint($col-9) {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

.pg-vertical {
    &.pg-politics {
        .#{$pkg} {
            &.l-footer {
                background: $gray-3;
            }

            .l-footer__content {
                margin: 0 auto;

                .cmcs-input-footer {
                    background: $gray-4;
                    color: $black;

                    &:hover,
                    &:focus {
                        background: $gray-2;
                    }
                }

                input[type=submit],
                .js-cnn-sub-ok {
                    background-color: $gray-9;
                }

                .js-cnn-sub-ok {
                    color: $white;
                }

                .submission-success-header {
                    border-color: $gray-6;
                }
            }
        }
    }
}

.#{$pkg} .cmcs-nightcap {
    @extend %nightcap-module;

    a {
        color: $blue-5;

        &:hover {
            text-decoration: underline; 
        }
    }

    img {
        padding-top: 20px;
    }

    input {
        &[type=submit] {
            @extend %nightcap-button;
        }

        &[type=email] {
            @extend %nightcap-input;
            border: 0 none;
            &:hover,
            &:focus {
                background: $gray-1;
            }
        }
    }

    .js-cnn-sub-ok {
        @extend %pkg-button;
        @extend %nightcap-button;
    }
}

.#{$pkg} .cmcs-coverline {
    @extend %coverline-module;
    p {
      &.subscribe-intro-text {
          color: $gray-11;
      }
    }
    img {
      padding-top: 15px;
    }
    input {
        &[type=submit] {
            @extend %coverline-button;
        }

        &[type=email] {
            @extend %coverline-input;
            border: 0 none;
            &:hover,
            &:focus {
                background: $gray-1;
            }
        }
    }

    .js-cnn-sub-ok {
        @extend %pkg-button;
        @extend %coverline-button;
    }
  }

.#{$pkg} .cmcs-five-things {
    @extend %five-things-module;

    a {
        color: $red-2;

        &:hover {
            color: $blue-dark;
        }
    }

    input[type=email] {
        color: $gray-7;
    }

    input[type=submit] {
        @extend %five-things-button;
        line-height: 1.65;
        &:hover {
            background-color: $newsletter-yellow-1;
        }
    }

    .js-cnn-sub-ok {
        @extend %pkg-button;
        @extend %five-things-button;
        &:hover {
            background-color: $newsletter-yellow-1;
        }
    }

    .#{$pkg}.l-footer & {
        border: 0 none;
    }
}

.pg-special .#{$pkg} .cmcs-five-things {
    display: inline-block;
    padding: 15px 0 1px;
    background: none;
    border: none;

    input[type=submit] {
        &:hover {
            background-color: $black;
        }
        @include breakpoint($col-4) {
            margin-top: 0;
        }
    }

    .cmcs-input-email {
        float: left;
        padding-bottom: 25px;
        input {
            &[type=email] {
                width: 250px;
            }
        }
    }

    .cmcs-input-include {
        border: 1px solid $black;
    }

    .subscribe-signup-text {
        @include font-size(18);
    }

    .js-mc-submit {
        background-image: none;
        background-color: $black;
        width: 90px;
    }

    .js-subscribe-error {
       position: absolute;
   }

    .privacy-text {
        margin-top: 30px;
        a {
            color: $blue-dark;
        }
    }

    .js-cnn-sub-ok {
        background-color: $black;
        float:left;
    }

    .state-success {
        text-align: left;
    }
}
