//
// muted-player
//
// file: cards/tools/_muted-player.scss
//
// description:
// TV module
//
// -----------------------------------------------------------------------------

$muted-slate-width: 300px;
$muted-slate-height: 169px;
$spinner-width: 32px;
$spinner-height: 32px;

.muted-player {
    &__countdown-spinner {
        background: url("@@cdn.chrome/video/assets/ui/slates/img/loading.gif");
        display: none;
        height: $spinner-height;
        width: $spinner-width;

        @include stretch(false, false, 0, false);
    }

    &__pre-slate {
        background: url("@@cdn.chrome/video/assets/ui/slates/img/Midrollslate_CNNgo_300x169.jpg");
        display: none;
        height: $muted-slate-height;
        position: absolute;
        width: $muted-slate-width;

        @include stretch(0, false, false, false);
    }

    &__stop-slate {
        background: url("@@cdn.chrome/video/assets/ui/slates/img/Stopslate_TVE_300x169.jpg");
        display: none;
        height: $muted-slate-height;
        position: absolute;
        width: $muted-slate-width;

        @include stretch(0, false, false, false);
    }
}

body {
    &[data-eq-state$="medium"],
    &[data-eq-state$="xsmall"],
    &[data-eq-state$="small"] {
        .download-mobile-app {
            background: url("@@cdn.chrome/.element/img/3.0/mobile/download_mobile_app.png");
            background-repeat: no-repeat;
            background-size: 100%;
            display: inline-block;
            height: 110px;
            width: 100%;
        }
    }

    &[data-eq-state$="medium"] {
        .download-mobile-app {
            height: 175px;
        }
    }
}
