//
// outbrain
//
// file: cards/tools/_outbrain.scss
//
// description:
// Outbrain module
//
// -----------------------------------------------------------------------------

.m-outbrain {
    .pg-rail & {
        display: none;

        @include breakpoint($col-8) {
            display: block;
        }
    }
}
