//
// partner hotels
//
// file: cards/tools/_partner-hotels.scss
//
// description:
// Partner hotels travel widget styling
//
// -----------------------------------------------------------------------------

.m-partner-hotels {
    color: $gray-11;
    overflow: hidden;
    position: relative;

    &__wrapper ~ * {
        display: none;
    }

    &--rendered > * {
        display: block;
    }

    &__container {
        display: none;
        padding: 10px;
    }

    &__logo {
        height: 75px;
        width: 37px;

        @include stretch(10px, false, false, 10px);
    }
}
