//
// social-description
//
// file: cards/tools/_social-description.scss
//
// description:
// Social Description Tool Card
//
// -----------------------------------------------------------------------------

.social-description__bottom-text {
    color: $gray-4;
    font-weight: $bold;
    margin-top: 15px;

    @include font-size(18);

    a {
        color: $gray-4;
    }
}

.social-description__follow-text {
    color: $gray-5;
    float: left;
    font-weight: $bold;
    margin-right: 10px;

    @include clearfix();
}

.social-description__follow-icon {
    float: left;
    font-weight: $bold;
    margin: 0 10px 5px 0;

    @include font-size(23);
    @include line-height(20, 23);
    @include clearfix();

    // Set sprite images defaults
    a {
        @extend %sprite-cnn-defaults;
        height: 25px;
        width: 25px;
    }
}

.cd.cd--tool.cd--tool__social-description .cd__wrapper {
    @each $theme-id in map-keys( $themes ) {
        .t-#{$theme-id} &,
        .pg .t-#{$theme-id} & {
            background: none;
        }
    }
}

.pg-profiles {

    // ** ADJUSTMENTS FOR POSSIBLE ADS APPEARING **
    .pg-header-entitlement {
        position: absolute;
        right: 0;
        z-index: 10;
    }

    // ** OVERRIDING ZONE & CONTAINER STYLES **
    .zn-header__text-page_header {
        display: none;
    }

    .pg-no-rail .zn-left-fluid-bg-bleed {
        .zn-top {
            margin: 0;
        }

        .zn__containers {
            margin: 0;
        }
    }





    .cn.cn-list-hierarchical-xs.cn--idx-0 {
        margin: 0;
        width: 100%;
    }

    .cn.cn-list-hierarchical-xs.cn--idx-1 {
        margin: 0;
    }

    .pg-no-rail .zn-left-fluid-bg-bleed .zn__containers,
    .pg-no-rail .zn-left-fluid-bg-bleed[data-containers="2"] .zn__containers  {
        @include column-policy(100%);
     }

    .pg-no-rail .zn-left-fluid-bg-bleed.zn-has-two-containers .zn-top,
    .pg-no-rail .zn-left-fluid-bg-bleed.zn-has-one-container .zn-top,
    .pg-no-rail .zn-left-fluid-bg-bleed.zn-has-multiple-containers .zn-top {
        padding-top: 1px;
    }

    .pg-no-rail .zn-left-fluid-shared.zn-has-two-containers .zn-left-fluid__fixed-column-left {
        clear: both;
    }

    .pg-no-rail .zn-left-fluid-shared.zn-has-two-containers .zn-left-fluid__fluid-content {
        margin: 0;
    }

    .pg-no-rail .zn-left-fluid-shared.zn-has-two-containers .zn-left-fluid__fixed-column-left {
        margin: 0;
        width: 100%;
    }

    .pg-wrapper {
        padding-top: 0;
    }

    .cd--tool--social-description__wrapper {
        a {
            @include theme(color, card title standard color);

            &:hover {
                @include theme(color, el link hover);
            }
        }
        .cd__description__paragraph {
            font-weight: $normal;
            max-width: 540px;

            @include font-size(14)
        }
    }

    .cd__description__separator {
        opacity: .4;
    }

    .cd--tool--social-description__wrapper[data-eq-state$="full16x9"],
    .cd--tool--social-description__wrapper[data-eq-state$="large"],
    .cd--tool--social-description__wrapper[data-eq-state$="medium"] {

        .cd__description {
            display: inline-block;
            margin: 0;
        }

        .social-description__follow {
            display: inline-block;
        }

        .cd__description__separator {
            padding: 10px 0 20px;
        }

        .cd__description--wrapper {
            bottom: 40px;
            position: absolute;
         }

        .cd__profile-name {
            line-height: 0.8em;
            padding: 0 0 20px;

            @include headline-52;
        }

        .cd__profile-title {
            line-height: 0.9em;

            @include headline-20;
        }
    }

    .cd--tool--social-description__wrapper[data-eq-state$="full16x9"],
    .cd--tool--social-description__wrapper[data-eq-state$="large"] {

        .cd__description__about-link {
            display: inline-block;
        }

        .cd__profile-headline {
            padding-top: 40px;
        }

        .cd__profile-name {
            @include headline-62;
        }

        .cd__profile-title {
            padding: 0 0 20px;
        }
    }

    .cd--tool--social-description__wrapper[data-eq-state$="xsmall"],
    .cd--tool--social-description__wrapper[data-eq-state$="small"] {
        margin-top: 62%;

        @include clearfix;

        .cd__description {
            display: none;
        }

        .cd__description__about-link {
            float: right;
        }

        .cd__description__about-wrapper {
            margin: 0;
        }

        .social-description__follow {
            float: left;
            margin-bottom: 15px;
        }


        .social-description__follow-links {
            clear: both;
            display: block;
            padding-bottom: 45px;
        }

        .cd_profile-headline {
            display: inline-block;
            float: left;
        }

        .cd__profile-name {
            line-height: 0.8em;
            padding: 0 0 15px 0;

            @include headline-32;
        }

        .cd__profile-title {
            line-height: 0.9em;
            padding: 0 0 15px 0;

            @include headline-18;
        }

        .cd__description__separator {
            color: $white;
            display: inline-block;
            margin: 0 0 8px 0;
            width: 100%;
        }
    }

    .cd--tool--social-description__wrapper[data-eq-state$="medium"] {
        > .cd__content {
            height: 500px;
            padding: 30px 0 20px;
        }

        .cd__description__about-link {
            padding: 20px 0;
        }

        .cd__profile-title {
            padding: 0 0 10px;
        }
    }

    .cd--tool--social-description__wrapper[data-eq-state$="large"] {
        > .cd__content {
            height: 660px;
            padding: 30px 0 20px;
        }
    }

    .cd--tool--social-description__wrapper[data-eq-state$="full16x9"] {
        > .cd__content {
            height: 640px;
            padding: 30px 0 20px;
        }
    }
}

// Set svg images
.cd--tool--social-description__wrapper {

    .social-description__follow-icon {
        float: left;
        margin: 0 10px 5px 0;

        @include font-size(23);
        @include line-height(20, 23);
        @include clearfix();

        // Set SVG images defaults
        a, a:hover {
            @extend %svg-cnn-defaults;

            border-radius: 18px;
            color: $white;
            height: 35px;
            width: 35px;
        }
    }

    .social-description__follow-icon {
        &.social-description__follow-icon--facebook a  {
            background-color: $bgcolor-facebook;
            padding: 5px 0 0 11px;

            &:before {
                @include icon($icon--social-facebook);
            }
        }

        &.social-description__follow-icon--twitter a {
            background-color: $bgcolor-twitter;
            padding: 5px 0 0 8px;

            &:before {
                @include icon($icon--social-twitter);
            }
        }

        &.social-description__follow-icon--google-plus a {
            background-color: $bgcolor-googleplus;
            padding: 5px 0 0 8px;

            &:before {
                @include icon($icon--social-googleplus);
            }
        }

        &.social-description__follow-icon--linked-in a {
            background-color: $bgcolor-linkedin;
            padding: 5px 0 0 9px;

            &:before {
                @include icon($icon--social-linkedin);
            }
        }

        &.social-description__follow-icon--tumblr a {
            background-color: $bgcolor-tumblr;
            padding: 5px 0 0 11px;

            &:before {
                @include icon($icon--social-tumblr);
            }
        }

        &.social-description__follow-icon--instagram a {
            background-color: $bgcolor-instagram;
            padding: 5px 0 0 8px;

            &:before {
                @include icon($icon--social-instagram);
            }
        }

        &.social-description__follow-icon--tvtag a {
            background-color: $bgcolor-tvtag;
            padding: 5px 0 0 6px;

            &:before {
                @include icon($icon--social-tvtag);
            }
        }
    }
}
