//
// text-block
//
// file: cards/tools/_text-block.scss
//
// description:
// Text Block Tool Card
//
// -----------------------------------------------------------------------------

$column-rule-color: map-fetch($dark-theme, card divider color);

.cd--tool--text-block__wrapper {
    .cd__content {
        .cd__text-body {
            padding: $gutter-width;

            @include copy(14px, 20px, $normal);

            @include breakpoint($col-8) {
                columns: auto 2;
                column-gap: 60px;
                column-rule: 1px solid $column-rule-color;
            }

            @include breakpoint($col-10) {
                columns: auto 3;
            }
        }
    }
}
