//
// tools
//
// file: cards/tools/_tools.scss
//
// description:
// tools styling
//
// -----------------------------------------------------------------------------

.cd--tool {
    .pg.t-blue & {
        color: $gray-5;
    }
}

@import "_ad";
@import "_links";
@import "_live_player";
@import "_social-description";
@import "_social-feed";
@import "_muted-player";
@import "_weather-footer";
@import "_weather-header";
@import "_weather-local-query";
@import "_weather-conditions-current";
@import "_weather-conditions-forecast";
@import "_weather-conditions-future";
@import "_weather-stored-locations";
@import "_weather-general";
@import "_ad";
@import "_live_player";
@import "_financial-base";
@import "_financial-markets";
@import "_financial-currencies";
@import "_feed-card";
@import "_ireport";
@import "_text-block";
@import "_livefyre-poll";
@import "_livefyre-blog";
@import "_tv-schedule-header";
@import "_outbrain";
@import "_iframe";
@import "_mailchimp-subscribe";
@import "_partner-hotels";
@import "_appia";
