//
// tv schedule header
//
// file: tools/_tv-schedule-header.scss
//
// description:
// tv schedule header module
//
// -----------------------------------------------------------------------------

// @import "sprite/*.png";

$drop-down-height: 0px;
$drop-down-height--mobile: 0px;

.pg[class*="tv-schedule"] {
    .zn-header__text {
        color: $gray-8;
        padding-bottom: 20px;
    }

    .zn.zn--idx-1 {
        padding-top: 20px;
    }

    .tv_schedule_item {
        .el-action-bar {
            position: absolute;
            top: 10px;

            .m-share {
                float: right;
            }
        }

        .cd__content {
            float: right;
        }
    }

    .t-light.tv_schedule_item {
        .cd__headline-text {
            color: $gray-8;

            @include copy(42px, 42px, $light);
        }

        .cd__auxiliary {
            color: $gray-11;

            @include copy(24px, 24px, $bold);
        }
    }

    .zn-tv_schedule_header {
        padding-top: 30px;
    }

    .tv-schedule-header__wrapper {
        p {
            margin: 0px;
        }

        .tv--picker__current {
            padding-top: 8px;
        }

        .tv-schedule-header-day-period__container {
            float: right;

            p {
                display: inline-block;
            }

            .tv-schedule-header-day-period__list {
                li {
                    color: $gray-6;
                    float: left;
                    list-style: none;
                    padding-right: 10px;

                    @include copy(16px, 40px, $bold);

                    &:hover {
                        color: $blue;
                        cursor: pointer;
                    }
                }
            }
        }

        .tv-schedule-header-region__container {
            background-color: $gray-3;
            color: $gray-11;
            float: left;
            margin-right: 10px;
            width: 310px;
        }

        .tv-schedule-header-region-current {
            float: left;
            width: 190px;

            p {
                background-color: $gray-3;
                color: $gray-11;
                padding-left: 10px;

                @include copy(16px, 40px, $bold);
            }
        }

        .tv-schedule-header-day__container {
            float: left;
            background-color: $gray-3;
            width: 310px;

            .tv-schedule-header-day-initial-day {
                float: left;

                p {
                    background-color: $gray-3;
                    color: $gray-11;
                    padding-left: 10px;
                    margin-right: 10px;

                    @include copy(16px, 40px, $bold);
                }
            }
        }

        .el-drop-down {
            cursor: pointer;
            float: right;
            margin-right: 10px;
            position: relative;

            @include breakpoint($col-8) {
                &:after {
                    @include font-size(30);
                }
            }

            &:after {
                @include font-size(20);
                @include icon($icon--arrow-down);
            }

            &__arrow-up:after {
                @include icon($icon--arrow-up);
            }

            &__current {
                margin: 0;

                @include font-size(14);
            }

            &__list {
                border-top: 0;
                box-shadow: 0 0 7px null rgba($black, 0.3);
                display: none;
                list-style: none;
                padding: 0;

                @include z-index($content-layer, tooltip);
                @include stretch($drop-down-height--mobile, false, false, 0);

                .el-drop-down--light &,
                .el-drop-down--dark & {
                    border-color: $gray-1;
                }

                &.el-drop-down__list--open {
                    display: block;
                }

                @include breakpoint($col-8) {
                    @include stretch($drop-down-height, false, false, 0);
                }
            }

            &__list__container {
                position: relative;
            }

            &__list-item {
                background-color: $gray-4;
                border-bottom: 1px solid;
                border-bottom-color: $gray-1;
                color: $gray-8;
                cursor: pointer;
                padding: 0 5px;

                @include copy(16px, 40px, $bold);

                @include breakpoint($col-8) {
                    @include font-size(16);
                }

                &:hover {
                    color: $gray-11;
                }

                &--selected {
                    color: $gray-1;
                    cursor: default;
                }

                a {
                    color: $gray-8;

                    &:hover {
                        color: $gray-11;
                    }
                }
            }
        }
    }
}
