//
// weather stored locations
//
// file: tools/_weather-stored-locations.scss
//
// description:
// Card that displays stored locations to logged-in users viewing Weather page
//
// -----------------------------------------------------------------------------

.weather__conditions--location {
    color: $gray-6;
    cursor: pointer;
    padding: 10px;
    transition: color .1s ease-in-out;

    @include clearfix;
    @include font-size(14);

    &:hover {
        .weather__conditions-title,
        .weather__conditions-temp,
        .weather__conditions-short-icon {
            color: $gray-11;
        }
        .weather__stored-default {
            color: $red-2;
        }
    }

    &.stored-location--default {
        background-color: $gray-2;

        .weather__conditions-title,
        .weather__conditions-temp,
        .weather__conditions-short-icon {
            color: $gray-11;
        }

        .weather__stored-default-description {
            span {
                display: none;
            }
            &:after {
                content: 'Default';
            }
        }
    }

    .weather__conditions-title {
        @include font-size(14);
    }

    .weather__conditions-title,
    .weather__conditions-temp  {
        color: $gray-6;
    }

    .weather__conditions-short {
        @include stretch(10px, 10px, false, false);
    }

    .weather__stored-default {
        clear: both;
        color: $blue-dark;
        float: left;
        line-height: 1;
        padding-left: 20px;
        position: relative;

        .weather__stored-default-icon {
            &:after {
                margin-top: -7px;

                @include icon($icon--settings);
                @include stretch(50%, false, false, 0);
            }
        }
    }
}

.weather__stored-default-button {
    background: none;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    padding: 5px 0 0 5px;

    @include breakpoint($col-8) {
        padding: 0 0 0 10px;
    }

    &.stored-location--default {
        background: none;

        .weather__stored-default-description {
            span {
                display: none;
            }
            &:after {
                content: 'Default';
            }
        }
    }

    .weather__stored-default {

        clear: both;
        color: $blue-dark;
        float: left;
        line-height: 1;
        padding: 7px 5px 7px 25px;
        position: relative;

        @include font-size(16);

        .weather__stored-default-icon {
            &:after {
                color: $blue-dark;
                margin-top: -7px;

                @include icon($icon--settings);
                @include stretch(50%, false, false, 5px);
            }
        }

        &:hover {
            color: $red-2;
            .weather__stored-default-icon {
                &:after {
                    color: $red-2;
                }
            }
        }
    }
}

.weather__stored-default-button + .zn-header__stripes {
    display: none;

    @include breakpoint($col-8) {
        display: inline-block;
    }
}
