//
// weather current conditions
//
// file: cards/tools/_weather-current-conditions.scss
//
// description:
// Card that displays current weather conditions
//
// -----------------------------------------------------------------------------

.weather__conditions--current {
    border-top: 1px solid $gray-4;
    line-height: 1;
    padding: 15px 0;

    ul {
        clear: both;
        list-style-type: none;
        padding: 0;

        li {
            color: $gray-8;
            font-weight: $light;

            @include font-size(16);
            @include line-height(22);

            span {
                font-weight: $medium;
            }
        }
    }

    .weather__conditions-title {
        float: none;
        margin-bottom: 5px;

        @include font-size(24);
    }

    .weather__conditions-short {
        &-icon {
            @include font-size(60);
        }

        &-description {
            @include font-size(16);
        }
    }

    .weather__conditions-temp {
        margin: 5px 0 10px;

        &--current {
            color: $gray-11;
            font-weight: $light;

            @include font-size(62);
        }
    }

    .el-action-bar--timestamp {
        color: $gray-6;
        margin-top: 15px;
        padding-left: 25px;
        position: relative;

        &:before {
            margin-top: -10px;

            @include font-size(20);
            @include stretch(50%, false, false, 0);
        }
    }
}
