//
// weather - general
//
// file: cards/tools/_weather-general.scss
//
// description:
// Card that displays general weather information
//
// -----------------------------------------------------------------------------

// weather-specific styles
.weather__general {
    @include clearfix;

    // This is the area with the graphic and the temperatures
    .weather__general-graphic {
        // F/C toggle buttons
        .el-weather__local-query__temp-toggle-button {
            border-radius: 0;
            cursor: pointer;
            float: left;
            font-family: $sans-serif-interface;
            font-weight: $normal;
            height: 30px;
            line-height: 30px;
            padding: 0;
            text-align: center;
            transition: background-color .1s ease-in-out;
            width: 30px;

            @include font-size(14);
            @include theme(background, el weather toggle background);
            @include theme(color, el weather toggle color);

            &.active {
                outline: none; // setting this on &.active instead of &:focus for accessibility

                @include theme(background, el weather toggle active background);
                @include theme(color, el weather toggle active color);
            }
        }

        // Weather Icon Wrapper
        .el-weather__header-icon-wrapper {
            @include font-size(60);
            @include theme(color, el weather icon color);
        }

        .weather__general-temperature {
            background-color: transparent;
            border-bottom: 1px solid $gray-4;
            border-top: 1px solid $gray-4;
            color: $gray-11;
            cursor: pointer;
            margin-bottom: 10px;
            padding: 5px 0px 10px;

            @include clearfix;

            &--location {
                font-weight: $bold;
                margin-bottom: 0;

                @include font-size(14);
                @include theme(color, el weather location color);
            }

            &--current {
                font-weight: $normal;
                margin: 5px 0;

                @include font-size(42);
                @include theme(color, el weather current color);
            }

            &--range {
                color: $gray-6;
                font-family: $sans-serif-interface;
                font-weight: $normal;
                margin-bottom: 0;

                @include font-size(14);
            }

            .el-weather__header-icon {
                height: 42px;
                width: 60px;
            }
        }
    }

    .weather__general-settings {
        display: none;

        @include clearfix;

        .weather__local-query-wrapper {
            .weather__local-query {
                background-color: transparent;
                padding: 0;
            }

            .weather__local-query__search {
                border: 1px solid;
                height: 30px;
                line-height: 100%;
                margin-right: 0;
                padding: 0 10px;
                width: 100%;

                @include font-size(14);
                @include theme(background, el weather query background);
                @include theme(border-color, el weather query border-color);
                @include theme(color, el weather query color);

                &:focus {
                    outline: none;
                }

                &.error {
                    @include theme(background, el weather query error background, $force-theming:true);
                    @include theme(border-color, el weather query error border-color, $force-theming:true);
                    @include theme(color, el weather query error color, $force-theming:true);
                }
            }

            .el-weather__local-query__temp-toggle {
                float: left;
                left: 0;
                position: static;
                top: 0;
            }

            .el-button {
                border-radius: 0;
                font-family: $sans-serif-interface;
                font-weight: $normal;
                line-height: 30px;
                min-height: 0;
                text-align: center;
                width: 50px;

                @include font-size(14);
                @include theme(background, el weather submit background);
                @include theme(color, el weather submit color);
            }
            .weather__general-query-form[disabled] .el-button {
                cursor: default;
                opacity: 0.5;

                @include theme(background, el weather submit disabled background, $force-theming:true);
                @include theme(color, el weather submit disabled color, $force-theming:true);
            }
        }
    }

    .weather__general-settings-header {
        font-weight: $bold;
        line-height: 1;
        margin: 0 0 10px;

        @include clearfix;
        @include font-size(14);
        @include theme(color, el weather header color);
    }

    .weather__general-settings-close {
        float: right;

        .close {
            @include theme(color, el weather close color);

            &:before {
                font-weight: bold;
                position: relative;

                @include font-size(10);
                @include icon($icon--close);
            }
        }
    }
    .weather__general-settings-footer {
        margin: 10px 0 0;

        @include clearfix;

        .right {
            float: right;
        }

        .half-opacity {
            opacity: 0.5;
        }
    }

    .el-weather__temp-right {
        float: right;
        text-align: right;
    }

    .weather__local-query-visibility-toggle {
        cursor: pointer;
        float: right;
        line-height: 1;
    }

    .el-weather__settings-link {
        font-family: $sans-serif-interface;
        font-weight: $normal;
        color: $gray-6;
        margin-bottom: 10px;
        overflow: hidden;

        @include font-size(14);

        .weather__local-query-visibility-toggle {
            &:before {
                padding-right: 5px;
                position: relative;

                @include icon($icon--settings);
            }
        }
    }
    .weather__general-dust-html {
        line-height: 1;
    }

    .weather__bar-timestamp {
        display: block;
        padding: 4px 0 0;
    }
}

.weather__conditions {
    border-bottom: 1px solid $gray-4;
    position: relative;

    .cd--tool__weather-impending:last-child &,
    &.weather__conditions--location:last-child,
    li:last-child & {
        border-bottom: none;
    }

    &-title {
        color: $gray-11;
        float: left;
        font-weight: $bold;
        line-height: 1;

        @include font-size(16);
    }

    &-short {
        @include stretch(15px, 0, false, false);

        &-icon,
        &-description {
            clear: both;
            color: $gray-8;
            float: right;
        }

        &-icon {
            @include font-size(35);
        }

        &-description {
            font-weight: $normal;

            @include font-size(14);
        }
    }

    &-temp {
        clear: both;
        color: $gray-8;
        float: left;
        font-weight: $light;
        line-height: 1.2;

        @include font-size(28);
    }
}

.weather__localmap {
    &:after {
        color: $gray-8;
        display: block;
        font-weight: $medium;
        line-height: 1;
        margin-top: 15px;

        @include font-size(20);
    }

    &--radar:after { content: 'Current Radar'; }
    &--satellite:after { content: 'Satellite'; }
    &--temperature:after { content: 'Temperature'; }
    &--forecast:after { content: 'Forecast'; }

    // images maintain aspect ratio as they scale //

}

.weather_map_img_wrapper {
    position: relative;
    &::after {
        background: rgba(0,0,0,0.6);
        color: $gray-1;
        content: 'click to enlarge';
        height: 100%;
        left: 0;
        line-height: 5em;
        margin: 0 auto;
        opacity: 0;
        position: absolute;
        text-align: center;
        top: 0;
        vertical-align: middle;
        width: 100%;

        @include font-size(20);
    }

    &:hover::after {
        opacity: 0.7;
    }

    img {
        height: 100%;
        vertical-align: top;
    }
}

.pg.pg-weather .zn.t-light .cn__title,
.pg.pg-weather.t-light .cn__title {
    background-color: $gray-2;
    color: $gray-12;
}

.zn-local-maps{
    .cd__wrapper{
        .cd__content{
            height: auto !important;
        }
    }
}

/* Styles for Light Box */
.pg-weather {
    .lightboxOverlay {
        background-color: $black;
        display: none;
        opacity: 0.8;

        @include stretch(0, false, false, 0);
        @include z-index($navigation-layer, navigation-container);
    }

    .lightbox {
        font-weight: $normal;
        text-align: center;
        width: 100%;

        @include line-height(0);
        @include stretch(0, false, false, false);
        @include z-index($overlay-layer, modal-controls);

        a {
            outline: none;
        }
        img {
            border: none;
        }


        position:fixed;
        top:20px;
    }

/* more lb-* (light-box) classes */
    .lb-image {
        border-radius: 3px;
        display: block;
        height: auto;
        max-width: inherit;
    }

    .lb-outerContainer {
        background-color: $white;
        border-radius: 4px;
        height: 250px;
        margin: 0 auto;
        position: relative;
        width: 250px;

        @include clearfix;
    }

    .lb-container {
        padding: 4px;
    }

    .lb-loader {
        height: 25%;
        text-align: center;
        top: 43%;
        width: 100%;

        @include line-height(0);
        @include stretch(false, false, false, 0);
    }

    .lb-cancel {
        background: url("@@cdn.chrome/.e/img/4.0/light-box/loading.gif") no-repeat;
        display: block;
        height: 32px;
        margin: 0 auto;
        width: 32px;
    }

    .lb-nav {
        height: 100%;
        width: 100%;

        @include z-index($overlay-layer, modal-controls);
        @include stretch($offset-bottom:false, $offset-right:false);
    }

    .lb-prev,
    .lb-next {
        cursor: pointer;
        display: block;
        height: 100%;
        opacity: 0;
        transition: opacity 0.6s;
        width: 50%;

        &:hover {
            opacity: 1;
        }
    }

    .lb-prev {
        background: url("@@cdn.chrome/.e/img/4.0/light-box/prev.png") left 48% no-repeat;
        float: left;
        left: 0;
    }

    .lb-next {
        background: url("@@cdn.chrome/.e/img/4.0/light-box/next.png") right 48% no-repeat;
        float: right;
        right: 0;
    }

    .lb-dataContainer {
        border-radius: 4px;
        margin: 0 auto;
        padding-top: 5px;
        width: 100%;

        @include clearfix;
    }

    .lb-data {
        position: absolute;
        bottom: 100%;
        width:inherit;
        color: $gray-6;
        padding: 0 4px;
    }

    .lb-details {
        float: left;
        text-align: left;
        width: 85%;

        @include line-height(17);
    }

    .lb-caption {
        font-weight: $bold;

        @include font-size(13);
        @include line-height(16);
    }

    .lb-number {
        clear: left;
        color: $gray-6;
        display: block;
        padding-bottom: 16px;

        @include font-size(12);
    }

    .lb-close {
        background: url("@@cdn.chrome/.e/img/4.0/light-box/close.png") top right no-repeat;
        display: block;
        float: right;
        height: 30px;
        opacity: 0.7;
        text-align: right;
        transition: opacity 0.2s;
        width: 30px;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }
}
