//
// weather local query
//
// file: cards/tools/_weather-local-query.scss
//
// description:
// Form that allows users to query the weather page for their local conditions
//
// -----------------------------------------------------------------------------

.weather__local-query-wrapper {
    .cd--tool__weather-local-query & {
        margin: -10px 0 -20px;

        .weather__general-query-form {
            @include breakpoint($col-7) {
                padding-right: 320px;
            }
        }
    }

    input[type=text].weather__local-query__search,
    .weather__local-query__search-button,
    .el-weather__local-query__temp-toggle-button {
        float: left;
        font-family: $sans-serif;
        font-weight: $light;
        height: 50px;
        line-height: 100%;
        outline: none;

        @include font-size(22px);
    }

    input[type=text].weather__local-query__search {
        border: 1px solid $gray-4;
        color: $gray-8;
        width: 100%;
    }

    .weather__local-query__search-button {
        background-color: $gray-9;
        border: none;
        clear: both;
        color: $gray-1;
        margin: 20px 0 0;
        text-align: center;
        width: 160px;

        &:hover {
            background-color: $gray-8;
        }

        @include breakpoint($col-7) {
            clear: none;
            margin: 0 -180px 0 20px;
        }
    }

    .el-weather__local-query__temp-toggle {
        float: left;
        margin: 20px 0 0 20px;

        @include breakpoint($col-7) {
            float: right;
            margin: 0;
        }
    }

    .el-weather__local-query__temp-toggle-button {
        background-color: $gray-3;
        border: none;
        color: $gray-8;
        width: 60px;

        &.active {
            background-color: $gray-6;
            color: $gray-1;
            cursor: default;
        }
    }

    .twitter-typeahead {
        .cd--tool__weather-general & {
            @include clearfix;
        }

        .tt-dropdown-menu {
            width: 100%;

            .cd--tool__weather-local-query & {
                // Clearfix on this element breaks the button flow so we
                // must explicitly apply a top height for the dropdown menu.
                top: 50px !important;
            }

            @include z-index($content-layer, interactive-controls, !important);
        }

        .tt-dataset-user-location {
            border-style: solid;
            border-width: 0 1px 1px;
            font-weight: $normal;

            @include font-size(14);
            @include theme(background, el weather dropdown background);
            @include theme(border-color, el weather dropdown border-color);
            @include theme(color, el weather dropdown color);
        }

        .tt-suggestion {
            cursor: pointer;
            line-height: 1;
            padding: 10px;

            &:hover,
            &.tt-cursor {
                @include theme(background, el weather dropdown hover background);
                @include theme(color, el weather dropdown hover color);
            }
        }
    }
}
