//
// weather header
//
// file: tools/_weather-header.scss
//
// description:
// Weather module for header
//
// -----------------------------------------------------------------------------

.nav .utilities > .weather {
    background-position: center left;
    background-repeat: no-repeat;
    color: $gray-6;
    display: inline-block;
    padding-top: 12px;
    position: relative;
    vertical-align: middle;

    @include breakpoint($col-5) {
        padding-top: 8px;
    }

    @include breakpoint($col-6) {
        padding-top: 0;
    }

    &:hover {
        color: $gray-1;
    }

    &,
    .iemobile &,
    .android &,
    .ios & {
        @include breakpoint($col-1, $col-6) {
            height: 60px;
            margin-left: 0;
            width: 50px;
        }

        @include breakpoint($col-6) {
            margin-left: 11px;
        }
    }

    span {
        display: inline-block;
        vertical-align: middle;
    }

    a {
        @include font-size(11);

        @include breakpoint($col-5) {
            @include font-size(14);
        }
    }

    .location {
        @include breakpoint($col-1, $col-5) {
            max-width: 115px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        @include breakpoint($col-1, $col-6) {
            display: none;
            white-space: nowrap;
        }
    }

    .icon {
        margin: 0 5px;

        @include font-size(24);

        @include breakpoint($col-1, $col-6) {
            font-weight: $light;
            margin: 0 20px;

            @include font-size(16);
        }
    }

    .temperature {
        font-weight: $bold;
        position: relative;

        @include breakpoint($col-1, $col-6) {
            font-weight: $light;
            margin-left: 15px;
            top: -5px;

            @include font-size(16);
        }
    }
}
