//
// weather footer
//
// file: tools/_weather-footer.scss
//
// description:
// Weather module for footer
//
// -----------------------------------------------------------------------------

$weather-footer-padding-small: 5px;
$weather-footer-padding-big: 15px;

.weather__footer {
    .weather__footer-content {
        display: table;
        position: relative;
        top: -5px;

        @include breakpoint($col-6) {
            top: 0;
        }

        // Make sure none of the content is displayed with orange text
        .el-weather__footer-link {
            color: $white;
        }

        // Align all three components vertically
        .el-weather__footer-location,
        .el-weather__footer-icon-wrapper,
        .el-weather__footer-temperature {
            display: table-cell;
            vertical-align: middle;
        }

        // The name of the location
        .el-weather__footer-location {
            padding-right: $weather-footer-padding-small;

            @include breakpoint($col-6) {
                padding-right: $weather-footer-padding-big;
            }
        }

        // Override default for images
        .el-weather__footer-icon {
            display: inline;
            height: 38px;
            width: 50px;
        }

        // The temperature in this location
        .el-weather__footer-temperature {
            padding-left: $weather-footer-padding-small;

            @include breakpoint($col-6) {
                padding-left: $weather-footer-padding-big;
            }
        }
    }
}
