//
// weather conditions impending
//
// file: cards/tools/_weather-conditions-impending.scss
//
// description:
// Card that displays near-future weather conditions
//
// -----------------------------------------------------------------------------

.weather__conditions--future {
    padding: 15px 0 10px;
    @include clearfix;

    &.weather__conditions--future-extended .weather__conditions-temp {
        @include font-size(24);
    }

    .weather__conditions-title {
        margin-bottom: 10px;
    }
}
