//
// 30-70 zone
//
// file: zones/_30-70.scss
//
// description:
// SCSS file for laying out a 30-70.
//
//
// since: 0.25.0
// -----------------------------------------------------------------------------
//

.zn-30-70 {
    .zn__containers {
        display: block;
        @include clearfix;

        .column {
            width: 100%;
        }

        @include responsive-rail($col-10, $col-14) {
            @include column-policy($col-4, 100%);
        }

        @include responsive-rail($col-14) {
            @include column-policy(100%, $col-9);
        }
    }
}
