//
// 40-60 zone
//
// file: zones/_40-60.scss
//
// description:
// SCSS file for laying out a 40-60.
//
//
// since: 0.21.0
// -----------------------------------------------------------------------------

.zn-40-60 {

    &.zn--bg-bleed.zn--has-background.zn__background {
        background-color: transparent;
    }

    .zn__background--img-tag {
        height: 100%;
    }

    .zn__containers {
        display: block;
        @include clearfix;

        .column {
            width: 100%;
        }

        @include responsive-rail($col-10, $col-13) {
            @include column-policy($col-4, 100%);
        }

        @include responsive-rail($col-13) {
            @include column-policy(100%, $col-8);
        }
    }
}
