//
// 60-40 zone
//
// file: zones/_60-40.scss
//
// description:
// SCSS file for laying out a 60-40.
//
// since: 0.20.0
// -----------------------------------------------------------------------------
.zn-60-40 {

    &.zn--bg-bleed.zn--has-background.zn__background {
        background-color: transparent;
    }

    .zn__background--img-tag {
        height: 100%;
    }

    .zn__containers {
        display: block;
        @include clearfix;

        .column {
            width: 100%;
        }

        @include responsive-rail($col-10, $col-13) {
            @include column-policy(100%, $col-4);
        }

        @include responsive-rail($col-13) {
            @include column-policy($col-8, 100%);
        }
    }
}
