//
// 70-30 zone
//
// file: zones/_70-30.scss
//
// description:
// SCSS file for laying out a 70-30.
//
//
// since: 0.24.0
// -----------------------------------------------------------------------------

.zn-70-30 {
    .zn__containers {
        display: block;
        @include clearfix;

        .column {
            width: 100%;
        }

        @include responsive-rail($col-10, $col-14) {
            @include column-policy(100%, $col-4);
        }

        @include responsive-rail($col-14) {
            @include column-policy($col-9, 100%);
        }
    }
}
