//
// balanced zone
//
// file: zones/_balanced.scss
//
// description:
// balanced zone styling
//
// since: 0.19.0
//
// -----------------------------------------------------------------------------

.zn-balanced {

    &.zn--bg-bleed.zn--has-background.zn__background {
        background-color: transparent;
    }

    .zn__background--img-tag {
        height: 100%;
    }

    .zn__containers {
        @include clearfix;

        @include column-policy(100%);

        @include responsive-rail($col-8, $col-12) {
            @include column-policy(50%, 50%);
        }

        @include responsive-rail($col-12) {
            @include column-policy(33.333%, 33.333%, 33.333%);
        }

        //
        // Special case with override styles where there is only one
        // container in the zone.
        //
        @include column-policy-options-once($set-nth-of-type-set:1);
        @include responsive-rail($col-8) {
            @include column-policy(100%);
        }

        //
        // Special case with override styles where there are two
        // containers in the zone.
        //
        @include column-policy-options-once($set-nth-of-type-set:2);
        @include responsive-rail($col-8) {
            @include column-policy(50%, 50%);
        }
    }
}
