//
// center-fluid zone
//
// file: zones/_center-fluid.scss
//
// description:
// styles for center-fluid zones
//
// -----------------------------------------------------------------------------

//
// This needs to be adjusted by 6.67px to take into account that padding
// is distributed evenly accross all columns. Design wanted a pure
// 300px 100% 300px layout where the padding was attached to the fixed
// columns. But since the padding is distributed across all columns
// evenly then the fixed columns were getting 13.33px instead of getting
// 20px padding. By removing 6.67px of padding from the fixed columns we
// get a 300px fixed width when the 13.33px of padding is added.
//
$col-fixed-300: $col-4 - 6.67px;

.zn-center-fluid-shared {
    overflow: hidden;
    position: relative;
    width: 100%;

    .zn__wrapper,
    .zn__containers {
        position: relative;

        @include clearfix;
        @include z-index($content-layer, content);
    }

    .zn__background {
        @include stretch(0, 0, auto, 0);
        @include z-index($background-layer, zone-background);
    }

    .zn-top__label,
    .zn-top__banner {
        position: relative;
        @include z-index($content-layer, content);
    }

    //
    // This currently overrides the default background solution using CSS background images
    // This zone instead uses an inline image tag for its background image. If this is ever
    // removed from {@link views/src/sass/pages/common/styles.dust} the this selector can
    // safely be removed.
    //
    &.zn.zn--has-background {
        .zn__background {
            background-image: none;
        }
    }

    &.zn--bg-bleed.zn--has-background.zn__background {
        background-color: transparent;
    }

    .zn__background--img-tag {
        height: 100%;
    }
}

.zn-center-fluid {

    &.zn--bg-bleed.zn--has-background.zn__background {
        background-color: transparent;
    }

    .zn__background--img-tag {
        height: 100%;
    }

    .zn__containers {
        @include clearfix;

        .column {
            width: 100%;
            @include z-index($content-layer, content);

            &.column--top {
                @include z-index($content-layer, interactive);
            }
        }

        @include responsive-rail($col-12) {
            @include column-policy($col-fixed-300, 100%, $col-fixed-300);
        }

        // progressive enhancement for mobile devices (most currently support flexbox ordering)
        @include responsive-rail($col-8, $col-12) {
            display: flex;
            flex-wrap: wrap;

            @include column-policy(50%, 100%, 49%);

            .column {
                flex: none;
            }

            // set explicit order for flexbox reflow, up to 18 items (0 index)
            .column:nth-of-type(1) {
                order: 1;
            }
            .column:nth-of-type(2) {
                order: 0;
            }
            .column:nth-of-type(3) {
                order: 2;
            }
            .column:nth-of-type(4) {
                order: 4;
            }
            .column:nth-of-type(5) {
                order: 3;
            }
            .column:nth-of-type(6) {
                order: 5;
            }
            .column:nth-of-type(7) {
                order: 7;
            }
            .column:nth-of-type(8) {
                order: 6;
            }
            .column:nth-of-type(9) {
                order: 8;
            }
            .column:nth-of-type(10) {
                order: 10;
            }
            .column:nth-of-type(11) {
                order: 9;
            }
            .column:nth-of-type(12) {
                order: 11;
            }
            .column:nth-of-type(13) {
                order: 13;
            }
            .column:nth-of-type(14) {
                order: 12;
            }
            .column:nth-of-type(15) {
                order: 14;
            }
            .column:nth-of-type(16) {
                order: 16;
            }
            .column:nth-of-type(17) {
                order: 15;
            }
            .column:nth-of-type(18) {
                order: 17;
            }
        }
    }

    //
    // Special case with override styles where there is only one
    // container in the zone.
    //
    &[data-containers="1"] {
        .zn__containers {
            @include column-policy(100%);
        }
    }

    //
    // Special case with override styles where there are two
    // containers in the zone.
    //
    &[data-containers="2"] {
        .zn__containers {
            @include responsive-rail($col-12) {
                @include column-policy(50%, 50%);
            }
            @include responsive-rail($col-8, $col-12) {
                @include column-policy(50%, 50%);
            }
        }
    }
}
