//
// left-fluid-bg-bleed zone
//
// file: zones/_left-fluid-bg-bleed.scss
//
// description:
// left-fluid-bg-bleed zone styling
// See _left_fluid.scss for styles shared between these two zones.
//
// -----------------------------------------------------------------------------

@import "_left-fluid";

$image-ratio-padding: (9/16) * 100%;
$large-image-ratio-padding: (7/16) * 100%;
$zone-gutter-top: 30px;

//
// This is CSS that moves the zone background image from under the zone
// label and forces it at the very top of the zone. This way the zone
// label overlays the zone background image.
//
// This is needed for larger screens. This mixin was added because these
// set of styles are used twice in two different classes and across two
// different breakpoints.
//

@mixin move-background-to-zone-top {
    & {
        padding-top: 20px;

        .zn-top {

            &.zn__show_background {
                padding-top: 15px;
                position: relative;

                @include z-index($content-layer, content);

                .zn-top__label {
                    position: relative;

                    @include z-index($content-layer, content);
                }

                .zn-top__banner {
                    left: 0;
                    margin: 0 auto;
                    position: absolute;
                    right: 0;
                    width: 100%;

                    @include z-index($content-layer, content);

                    @include breakpoint($col-1, $col-8) {
                        position: relative;
                    }

                    .zn-banner {
                        @include breakpoint($col-1, $col-8) {
                            padding-bottom: 0;

                            .banner-text {
                                @include theme(color, card copy standard color, false, false, zone);
                            }
                        }
                    }


                }
            }
        }

        .zn-top__background {
            position: static;

            @include breakpoint($col-1, $col-8) {
                position: relative;
            }

            .zn-top__banner {
                margin-top: 0;
                position: relative;

                .zn-banner {
                    @include z-index($content-layer, content);
                }

            }
        }
    }
}

.zn-left-fluid-bg-bleed {
    .banner-text--natural {
        text-align: center;
    }
    .cd__content .banner-text--natural { //when banner-text-natural is inside of card content (underneath image) it needs to be left-aligned CNNWE-195 / CNNWE-401
        text-align: left;
    }

    &.zn {
        padding-top: $zone-gutter-top;
    }

    &.zn.zn__background {
        margin-bottom: 0;
        padding-top: 0;

        .zn-top__background {
            .zn-top__banner {
                padding-top: $zone-gutter-top;
            }
        }
    }

    .zn__containers {
        margin-top: 0;

        .cd__branding {
            display: none;
        }
    }

    @include responsive-rail($col-1, $col-12) {
        &.zn.zn-subsection .zn-top {
            padding-top: 52.25%;
        }
    }

    // Offset containers to create an overlap.
    .zn-top {
        margin-bottom: -60px;

        @include responsive-rail ($col-12) {
            margin-bottom: 0;
        }
    }

    //
    // $content-layer is defined in _left-fluid.scss
    //
    .zn-top__background {
        position: static;

        @include breakpoint($col-4) {
            margin-top: 0;
        }

        @include z-index($background-layer, zone-background);

        .zn__background--img-tag {
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    &.zn--has-background .zn-top__background {
        padding-top: 56.25%;

        @include breakpoint($col-6) {
            padding-top: 54%;
        }

        @include breakpoint($col-8) {
            padding-top: 52%;
        }

        @include breakpoint($col-12) {
            padding-top: 43%;
        }
    }

    @include responsive-rail($col-8, $bypassStop:true) {
        &.zn-has-multiple-containers {
            @include move-background-to-zone-top;
        }

        &.zn__background {
            padding-top: 0;
        }

        .zn__background--img-tag a img {
            margin-top: 0;
        }
    }

    @include responsive-rail($col-12, $bypassStop:true) {
        &.zn-has-one-container,
        &.zn-has-two-containers {
            @include move-background-to-zone-top;
        }
    }

    @include responsive-rail(0, $col-8) {
        @include move-background-to-zone-top;
        .image-gradient--zone {
            display: none;
        }
        .zn__background--img-tag a img {
            margin-top: 15%;
        }
        .zn__containers {
            margin-top: 60px;
        }
    }

    // override for Card Status when container title is hidden
    // on superhero layouts at mobile phone sizes
    @include breakpoint($col-1, $col-6) {
        .cn__title.has-breaking-news-hide {
            display: none;
        }
    }

}
