//
// left-fluid-right-stack zone
//
// file: zones/_left-fluid-right-stack.scss
//
// description:
// left-fluid-right-stack zone styling
//
// -----------------------------------------------------------------------------

.zn-left-fluid-right-stack {

    &.zn--bg-bleed.zn--has-background.zn__background {
        background-color: transparent;
    }

    .zn__background--img-tag {
        height: 100%;
    }

    .zn__containers {
        @include clearfix;
        @include column-policy(100%);

        .column {
            @include z-index($content-layer, content);

            &.column--top {
                @include z-index($content-layer, interactive);
            }

            .cn--idx-0 .cd__branding {
                display: none;
            }
        }

        @include responsive-rail($col-8, $col-12) {
            @include column-policy(100%);
            @include column-policy-options-once($set-nth-child-offset: 1);
            @include column-policy(50%, 50%);
        }

        @include responsive-rail($col-12) {
            @include column-policy(100%, $col-4);
            @include column-policy-options-once($set-nth-child-offset: 3);
            @include column-policy(50%, 50%);

            .column:nth-of-type(1) {
                clear: right;
                float: right;
                left: -$col-4;
            }
            .column:nth-of-type(2) {
                clear: left;
                left: 100%;
                margin-left: -$col-4;
            }
            .column:nth-of-type(3) {
                clear: left;
                left: 100%;
                margin-left: -$col-4;
                padding-left: 10px;
                padding-right: 0;
                width: $col-4;
            }
        }
    }
}
