//
// left-fluid zone
//
// file: zones/_left-fluid.scss
//
// description:
// styles for left-fluid zones
//
// -----------------------------------------------------------------------------

$fixed-col-width: $col-4 - $gutter-width; // We will add this gutter-width back in via padding


/* The following "shared" styles are NOT used with left-fluid and left-fluid-bg-bleed zones */

/* NOTE: These styles have not been functioning on the site for an unknown length of time. The class
         used in the DUST template is "share" not "shared".

/* ********************************************************* */
.zn-left-fluid-shared.zn-has-multiple-containers {
    /* Styles in this block are used when the left-fluid zones have > 2 containers. */
    /* single-content-column "mobile" layout */
    .zn-left-fluid__first-cn {
        padding: 0;
        width: 100%;
    }

    @include responsive-rail($col-8, $col-12) {
        /* two-content-column "tablet" layout */
        .zn-left-fluid__fluid-content-wrapper.zn-left-fluid__first-cn {
            clear: both;
            float: left;
            padding: 0;
            width: 100%;
        }

        .zn-left-fluid__odd-cn {
            clear: left;
            float: left;
            padding-right: $gutter-width / 2;
            width: 50%;
        }

        .zn-left-fluid__even-cn {
            clear: right;
            float: left;
            padding-left: $gutter-width / 2;
            width: 50%;
        }
    }

    @include responsive-rail($col-12) {
        /* three-content-column "desktop" layout */

        .zn-left-fluid__fluid-content-wrapper {
            clear: left;
            float: left;
            padding: 0;
            width: 100%;
        }

        .zn-left-fluid__fluid-content {
            margin-right: $col-4 * 2;
            padding-right: 0;
        }

        .zn-left-fluid__fixed-column-left {
            float: left;
            margin-left: -($col-4 * 2);
            padding-left: $gutter-width;
            width: $col-4;
        }

        .zn-left-fluid__fixed-column-right {
            float: left;
            margin-left: -$fixed-col-width;
            padding-left: 0;
            width: $fixed-col-width;
        }
    }
}

.zn-left-fluid-shared.zn-has-two-containers {
    /* Styles in this block are used when the left-fluid zones have only 2 containers. */

    @include responsive-rail($col-12) {
        .zn-left-fluid__fluid-content-wrapper {
            float: left;
            padding: 0;
            width: 100%;
        }

        .zn-left-fluid__fluid-content {
            margin-right: $col-4;
            padding-right: 0;
        }

        .zn-left-fluid__fixed-column-left {
            float: left;
            margin-left: -($col-4);
            padding-left: $gutter-width;
            width: $col-4;
        }
    }
}

/* And hey, guess what, default styling for having only 1 container WORKS JUST FINE as-is. :) */
/* ********************************************************* */

.zn-left-fluid-shared {
    overflow: hidden;
    position: relative;
    width: 100%;

    .zn__wrapper,
    .zn__containers {
        position: relative;
        @include clearfix;
        @include z-index($content-layer, content);
    }

    .zn__background {
        @include stretch(0, 0, auto, 0);
        @include z-index($background-layer, zone-background);
    }

    .zn-top__label,
    .zn-top__banner {
        position: relative;
        @include z-index($content-layer, content);
    }

    //
    // This currently overrides the default background solution using CSS background images
    // This zone instead uses an inline image tag for its background image. If this is ever
    // removed from {@link views/src/sass/pages/common/styles.dust} the this selector can
    // safely be removed.
    //
    &.zn.zn--has-background {
        .zn__background {
            background-image: none;
        }
    }

    &.zn--bg-bleed.zn--has-background.zn__background {
        background-color: transparent;
    }

    .zn__background--img-tag {
        height: 100%;
    }
}

.zn-left-fluid {
    &.zn--bg-bleed.zn--has-background.zn__background {
        background-color: transparent;
    }

    .zn__background--img-tag {
        height: 100%;
    }
}

// Left fluid layout - nativo implementation
.zn-left-fluid, .zn-left-fluid-bg-bleed {

    .zn__containers {
        @include clearfix;

        .column {
            width: 100%;
            @include z-index($content-layer, content);

            &.column--top {
                @include z-index($content-layer, interactive);
            }
        }

        @include responsive-rail($col-8, $col-12) {
           @include column-policy(100%, 50%, 50%);
        }

        @include responsive-rail($col-12) {
            @include column-policy(100%, $col-4, $col-4);
        }
    }

    //
    // Special case with override styles where there is only one
    // container in the zone.
    //
    &[data-containers="1"] {
        .zn__containers {
            @include column-policy(100%);
        }
    }

    //
    // Special case with override styles where there are two
    // containers in the zone.
    //
    &[data-containers="2"] {
        .zn__containers {
            @include responsive-rail($col-12) {
                @include column-policy(100%, $col-4);
            }
            @include responsive-rail($col-8, $col-12) {
                @include column-policy(50%, 50%);
            }
        }
    }
}
