//
// Right Stack Background Bleed Zone
//
// file: zones/_right-stack-bg-bleed.scss
//
// description:
// Right stack background bleed zone styling
//
// since: 0.26.0
//
// NOTE Layout changes on how containers reflow on Desktop/Tablet/Mobile.
// See below in a separate section
//
// -----------------------------------------------------------------------------

$zone-header-clearance: 90px;
$zone-gutter-top: 15px;


.zn-right-stack-bg-bleed {
    &.zn.zn__background {
        margin-bottom: 0;
        padding-top: 0;
    }

   .zn-top__background {
        position: relative;
        @include z-index($content-layer, content);
    }

    .zn__background {
        @include z-index($background-layer);
        @include stretch(0, 0, auto, 0);
    }

    .zn-top__label,
    .zn-top__banner {
        position: relative;
        @include z-index($content-layer, content);
    }

    @include responsive-rail($col-8, $bypassStop:true) {

        .zn-top {
            position: relative;
            @include z-index($content-layer, content);
        }

        .zn-top__background {
            position: static;
            padding-top: 0;
        }
    }

    &.zn__background {
        background-position: 0 $zone-header-clearance;
        background-repeat: no-repeat;
        position: relative;

        &.zn--idx-0 {
            padding-top: 0;
        }

        @include responsive-rail($col-10, $bypassStop:true) {
            background-size: 100% auto;
            background-position: 0 0;
            width: 100%;
        }
    }

    .zn-banner {
        @include breakpoint($col-1, $col-8) {
            padding-bottom: 0;
        }
    }

    .zn-header-wrapper {
        width: 100%;
    }

    .zn-contents {
        position: relative;
        margin-top: $gutter-width;
        width: auto;
        @include z-index($content-layer, content);

        @include responsive-rail($col-10, $bypassStop:true) {
            display: block;
        }
    }

    .zn-image-wrapper {
        display: inline-block;
        margin: 0 auto;
        width: 50%;
    }

    .zn__logo img {
        width: auto;
        @include responsive-rail(0, $col-6) {
            width: 100%;
        }
    }

    .zn__containers {
        display: block;
        margin-top: 0;
        @include clearfix;

        .column {
            margin-top: 0;

            .cd__branding {
                display: none;
            }
        }

        &.zn__show_background {
            @include breakpoint ($col-1, $col-8) {
                margin-top: 45%;
            }

            @include breakpoint ($col-8, $col-12) {
                margin-top: 28%;
            }
        }

        @include column-policy(100%);

        @include responsive-rail($col-8, $col-12) {
            @include column-policy-options-once($set-nth-child-offset: 1);
            @include column-policy(50%, 50%);
        }

        @include responsive-rail($col-12) {
            @include column-policy($col-4);
            @include column-policy-options-once($set-nth-child-offset: 1);
            @include column-policy(100%, $col-4, $col-4);

            > .column:nth-of-type(1) {
                padding-left: 13.333px;
            }
        }
    }

    &.zn-has-4-containers .zn__containers {
        @include responsive-rail($col-12) {
            @include column-policy-options-once($set-nth-child-offset: 1);
            @include column-policy(100%, $col-4, $col-4);

            // overwrite for column policy clear:left in this strange zone layout
            > .column:nth-of-type(2) {
                clear: right;
            }
        }
    }

    &.zn-has-3-containers .zn__containers {
        @include responsive-rail($col-12) {
            @include column-policy-options-once($set-nth-child-offset: 1);
            @include column-policy(50%, 50%);

            // overwrite for column policy clear:left in this strange zone layout
            > .column:nth-of-type(2) {
                clear: right;
            }
        }
    }
}

.pg-no-rail
.zn-right-stack-bg-bleed
.zn__containers {

    .column:nth-child(1) {
        float: right;
    }
    .column:nth-child(2) {
        clear: right;
    }

}
