//
// Right Stack Background Inline Zone
//
// file: zones/_right-stack-bg-inline.scss
//
// description:
// Right stack background inline zone styling. This has a dependency on card
// styles. See note below.
//
// since: 0.27.0
//
// -----------------------------------------------------------------------------

$four-columns-without-the-gutter: $col-4 - $gutter-width;


.zn-right-stack-bg-inline {
    position: relative;
    @include clearfix;

    .zn__background {
        position: absolute;
        top: 0;
        width: 100%;

        background: {
            repeat: no-repeat;
            size: contain;
        }

        @include responsive-rail($col-10, $bypassStop:true) {
            padding-top: 0;
        }
    }

    .zn-top__label {
        position: absolute;
        padding-top: 20px;
        width: 100%;

        @include responsive-rail($col-8) {
            position: relative;
            padding-top: 0;
        }

        @include z-index($content-layer, content);
    }

    //
    // Logo block holds the zn-image-wrapper block and zn__logo element.
    // This handles the left "side" of the zone that the background and
    // logo image fills up.
    //
    // TECH DEBT
    // Deprecated: Logo is not part of this zone definition anymore. In
    // the near future this will be completely removed.
    .zn-logo {
        @include responsive-rail($col-10, $bypassStop:true) {
            display: table-cell;
            position: static;
            vertical-align: middle;
        }
    }

    // TECH DEBT
    // Deprecated: Logo and styles associated with the feature are not
    // apart of this zone definition anymore. In the near future this
    // will be completley removed.
    .zn-image-wrapper {
        width: 50%;
        @include stretch(0, false, false, 25%);

        @include responsive-rail($col-10, $bypassStop:true) {
            float: left;
            left: 0;
            padding-left: 50%;
            position: relative;
            width: inherit;
        }
    }

    // TECH DEBT
    // Deprecated: Logo and styles associated with the feature are not
    // apart of this zone definition anymore. In the near future this
    // will be completley removed.
    .zn__logo {
        margin-top: 25%;

        @include responsive-rail($col-10, $bypassStop:true) {
            margin: {
                top: 0;
                left: -50%;
            }
            position: relative;
        }
    }


    .zn__containers {
        display: block;
        @include clearfix;

        .zn-wrapper__media {
            @include responsive-rail($col-12, $bypassStop:true) {
                float: left;
                margin-bottom: 20px;
                width: 100%;
            }
        }

        .cd__branding {
            display: none;
        }

        @include column-policy(100%);

        @include responsive-rail($col-8, $col-12) {
            @include column-policy(100%);
            @include column-policy-options-once($set-nth-child-offset: 1);
            @include column-policy(50%, 50%);

            .cn--idx-0 {
                width: 100%;

                .cd {
                    height: 100%;

                    &__wrapper {
                        height: 100%;
                    }
                }
            }
        }

        @include responsive-rail($col-12) {
            @include column-policy(100%);
            @include column-policy-options-once($set-nth-child-offset: 1);
            @include column-policy(100%, $col-4, $col-4);

            .cn--idx-0 {
                position: absolute;
                width: $four-columns-without-the-gutter;
                @include stretch(0, 0, 0, false);

                .cd {
                    height: 100%;

                    &__wrapper {
                        height: 100%;
                    }
                }
            }

            .cn-collection-player .cn--idx-0 {
                position: relative;
                width: 100%;
            }

            .zn-col-1 .cn--idx-0.cn--collection-right,
            .zn-col-1 .cn--idx-0.cn--collection-right .cn-collection-player.cn--idx-0 {
                float: right;
                position: relative;
            }

            .zn-col-1.zn-collection.column:nth-of-type(1){
                padding-right: 0;
            }

            .column:nth-of-type(1) {
                padding-right: $four-columns-without-the-gutter;
            }
        }
    }
}

.zn-right-stack-bg-inline.zn {
    .zn__background--img-tag {
        position: relative;
        @include responsive-rail($col-8) {
            position: absolute;
        }
    }
}
