//
// single-column zone
//
// file: zones/_single-column.scss
//
// description:
// SCSS file for laying out a single-column zone.
//
//
// -----------------------------------------------------------------------------


.zn-single-column {

    &.zn--bg-bleed.zn--has-background.zn__background {
        background-color: transparent;
    }

    .zn__background--img-tag {
        height: 100%;
    }

    .zn__containers {
        display: block;
        @include clearfix;

        .column {
            width: 100%;
        }
    }
}
