//
// staggered
//
// file: zones/_staggered.scss
//
// description:
// CSS file for laying out a staggered-zone.
//
// note:
// This file assumes there'll be 3 containers.
//
// -----------------------------------------------------------------------------

.zn-staggered {
    @extend %clearfix;

    .zn__containers {
        display: block;
    }

    .zn-staggered__col {
        display: block;
        float: left;
        padding-left: 0;
        padding-right: 0;

        @include breakpoint($col-8, $col-12) {
            padding-right: 20px;

            &:nth-of-type(2n) {
                padding-right: 0;
            }
        }

        @include breakpoint($col-12) {
            padding-right: 20px;
            
            &:nth-of-type(3n),
            .pg-rail & { 
                padding-right: 0;
            }
        }
    }
}

.zn-topics-and-profile {
    .cn-list-small-horizontal.cn-profile {
        display: none;
        
        @include breakpoint($col-9) {
            display: block;   
        }
    }
}
