//
// zones
//
// file: zones/_zones.scss
//
// description:
// styling for zones
//
// -----------------------------------------------------------------------------

@import "_zone-header";
@import "_staggered";
@import "_left-fluid-right-stack";
@import "_right-fluid-left-stack";
@import "_left-fluid";
@import "_center-fluid";
@import "_right-stack-bg-bleed";
@import "_right-stack-bg-inline";
@import "_30-70";
@import "_70-30";
@import "_60-40";
@import "_40-60";
@import "_balanced";
@import "_left-fluid-bg-bleed";
@import "_single-column";

.zn {
    @extend %clearfix;

    padding: 15px 0 0;

    @include breakpoint($col-10) {
        .metadata + div &:first-child {
            padding-top: 20px;
        }
    }

    @each $theme-id in map-keys($themes) {
        @if map-fetch($themes, $theme-id zone background) {
            &.t-#{$theme-id} {
                background: map-fetch($themes, $theme-id zone background);

                &.zn--has-background .zn__background.zn__background--img-tag {
                    background: map-fetch($themes, $theme-id zone background);
                }
            }
        }
    }

    &.zn--transparent {
        background: none;

        .zn__background img {
            opacity: 0;
        }
    }

    .zn-banner .banner-text--natural {
        font-weight: $medium;
        text-align: center;
    }

    &[data-eq-state$="full16x9"] .zn-banner .banner-text--natural {
        @extend %natural-banner--large;
        margin: 0 0 10px;
        @include headline(72px, 74px, $medium);
    }

    .pg-home & {
        background-position: 0 0;
        background-repeat: repeat-x;
    }

    //
    // Styling for BG Image present at the top of this zone
    //
    &.zn__background {
        background-repeat: no-repeat;
        background-size: 100% auto;
        padding-top: 0;
    }

    .zn__background--img-tag {
        position: absolute;
        top: 0;
        width: 100%;

        @include z-index($background-layer, zone-top);
    }

    .zn-top__label {
        position: relative;

        @include z-index($content-layer, content);
    }

    &.zn--has-background {
        padding-bottom: 15px;

        .zn-top {
            padding-top: 15px;
        }
    }

    .zn__background--content-relative {
        position: relative;
    }

    .zn__columns-4,
    .zn__columns-5,
    .zn__columns-6,
    .zn__columns-7,
    .zn__columns-8,
    .zn__columns-9,
    .zn__columns-10,
    .zn__columns-11,
    .zn__columns-12 {
        display: none;
    }

    .zn__columns-4 {
        @include breakpoint($col-4, $col-5) {
            display: block;
        }
    }

    .zn__columns-5 {
        @include breakpoint($col-5, $col-6) {
            display: block;
        }
    }

    .zn__columns-6 {
        @include breakpoint($col-6, $col-7) {
            display: block;
        }
    }

    .zn__columns-7 {
        @include breakpoint($col-7, $col-8) {
            display: block;
        }
    }

    .zn__columns-8 {
        @include breakpoint($col-8, $col-9) {
            display: block;
        }
    }

    .zn__columns-9 {
        @include breakpoint($col-9, $col-10) {
            display: block;
        }
    }

    .zn__columns-10 {
        @include breakpoint($col-10, $col-11) {
            display: block;
        }
    }

    .zn__columns-11 {
        @include breakpoint($col-11, $col-12) {
            display: block;
        }
    }

    .zn__columns-12 {
        @include breakpoint($col-12) {
            display: block;
        }
    }
}

.zn-body {

    //
    // Styling for BG Image present at the top of this zone
    //
    &.zn__background {
        background: {
            repeat: no-repeat;
            size: 100% auto;
        }
    }

    .media__caption {
        margin: -$gutter-width 0 $gutter-width;
    }
}

.zn-large-media {
    .media__caption {
        margin: 0;
    }
}

.zn-large-image {
    padding: ($gutter-width / 2) 0;

    &.t-light {
        background: $white;
    }

}

// Top line mix-in for h3- this is duplicate in embedded element and
// special article template for specific treatments

@mixin top-line($color: $gray-4, $margin: 30px 0 10px, $width: 80px) {
    &:before {
        @include breakpoint($col-8) {
            border-top: 1px solid $color;
            content: '';
            display: block;
            height: 1px;
            margin: $margin;
            width: $width;
         }
    }
}

.zn-body-text {
    overflow: hidden;

    & h3 {
        display: inline-block;
        padding-top: 5px;

        @include theme(color, page copy color, $limit-theme:page);
        @include copy(26, 38, $light);

        &:not(.el__headline):not(.cd__headline) {
            @include top-line();
        }

        strong {
            @include copy(26, 38, $medium);
        }

        @include breakpoint($col-8) {
            padding-top: 8px;

            @include copy(32, 40, $light);

            strong {
                @include copy(32, 40, $medium);
            }
        }

        @include breakpoint($col-12) {
            padding-top: 10px;
        }
    }
}

.zn-body__paragraph {
    margin-bottom: 15px;

    @include copy(18px, 30px, $light);
    @include theme(color, page copy color, $limit-theme:page);

    @include breakpoint($col-12) {
        margin-right: 140px;

        .pg-rail--align-right & {
            margin-right: 0;
        }
    }

    &.zn-body__footer {
        color: $gray-7;
        font-style: italic;

        @include copy(12px, 18px);

        @include breakpoint($col-8, $col-12) {
            @include copy(14px, 20px);
        }

        @include breakpoint($col-12) {
            @include copy(16px, 22px);
        }

    }

    // Subheaders within body copy.
    > strong {
        font-weight: $bold;
    }
}


.zn-partners {
    .pg-home & {
        background-color: $blue-11;
    }
}

.zn-body__location{
    font-weight: $bold;
}

.zn--bg-bleed {
    overflow: hidden;
    position: relative;
}

//
// Zone Banner aka Zone Headline / Screaming Headline
//
.zn-banner {
    @extend %el-banner;

    padding-bottom: $gutter-width;

    .pg .zn--has-background & {
        @include breakpoint($col-8) {
            .banner-text {
                text-shadow: 0 1px 4px rgba($black,.8);
                color: $gray-1;
            }
        }
    }
}

.zn-right-stack-bg-bleed.zn--has-background {
    &[data-eq-state$="xs"],
    &[data-eq-state$="small"],
    &[data-eq-state$="medium"] {
        .zn-banner {
            text-shadow: none;
        }
    }
}

.zn-banner__natural {
    h2 {
        @include headline-42;

        @include breakpoint($col-8, $col-14) {
            @include headline-52;
        }

        @include breakpoint($col-14) {
            @include headline-62;
        }
    }
}

.zn-banner__maximized {
    text-align: center;
    white-space: nowrap;
}

// Replaces js screaming headline with viewport unit font size (CNNWE-71)
$bannerMin: 5;
$bannerMax: 47;
$bannerIncrement: 3;

//These are the DXG specified min and max font sizes for the banners
$bannerMinFontSize: 36px;
$bannerMaxFontSize: 136px;

$bannerViewPortMinFontSize: 36px;

// for all uppercase banners, lower each case by a set percentage (5%)
$bannerUpperCasePerc: .95;

//Doing some math magic
$bannerFontSizeDiff: $bannerMaxFontSize - $bannerMinFontSize;
$bannerRangeDiff: $bannerMax - $bannerMin;

$bannerFontSizeIncrement: $bannerFontSizeDiff / ($bannerRangeDiff / $bannerIncrement);

.zn-banner .banner-text--maximized {
    // define default size for xsmall and small size (45+ char)
    font-size: 36px;

    @include bannerVW(36px, $bannerViewPortMinFontSize);

    $i: $bannerMin;
    $j: 0;

    @while $i <= $bannerMax {
        $f: $bannerMaxFontSize - ($bannerFontSizeIncrement * $j);
        $u: $f * $bannerUpperCasePerc;

        &.banner-text-size--char-#{$i} {
            font-size: $f;

            @include bannerVW($f, $bannerViewPortMinFontSize);
        }

        // all uppercase character condition
        &.banner-text-size--char-#{$i}-uc {
            font-size: $u;
            line-height: 0.8;

            @include bannerVW($u, $bannerViewPortMinFontSize);
        }

        $i: $i + $bannerIncrement;
        $j: $j + 1;
    }

    //override generated font range for smaller character counts
    $bannerFontOverride1: 150px;
    $bannerFontOverride2: 136px;

    &.banner-text-size--char-5,
    &.banner-text-size--char-8 {
        font-size: $bannerFontOverride1;

        @include bannerVW($bannerFontOverride1, $bannerViewPortMinFontSize);

        &-uc {
            font-size: $bannerFontOverride1 * $bannerUpperCasePerc;

            @include bannerVW($bannerFontOverride1 * $bannerUpperCasePerc, $bannerViewPortMinFontSize);
        }
    }

    &.banner-text-size--char-11 {
        font-size: $bannerFontOverride2;

        @include bannerVW($bannerFontOverride2, $bannerViewPortMinFontSize);

        &-uc {
            font-size: $bannerFontOverride2 * $bannerUpperCasePerc;

            @include bannerVW($bannerFontOverride2 * $bannerUpperCasePerc, $bannerViewPortMinFontSize);
        }
    }
}

.pg {
    &.pg-homepage,
    &.pg-intl_homepage {
        .zn--idx-0.zn--has-background + .zn--idx-1 {
            .zn-top {
                padding-top: 15px;
            }
        }

        .mega-nav {
            .zn--idx-1 {
                padding-top: 15px;
            }
        }
    }
}
.pg {
    .video__end-slate__top-wrapper {
        .video__end-slate__secondary h3 {
            color: $gray-5;
        }
    }
    .carousel__content__item {
        .cd__wrapper {
            .cd__headline-icon:before {
                margin: 0 0 -5px;
            }
        }
    }
}

.zn {
    .branding-header-content {
        margin-bottom: 15px;
        position: relative;

        .zn-header {
            margin-right: 0;
            padding-top: 0;

            @include breakpoint($col-10) {
                margin-right: 210px;
                padding-top: 15px;
            }
        }
        .el-entitlement{
            position: relative;
            right: 0;
            top: 0;

            @include breakpoint($col-10) {
                position: absolute;
            }
        }
    }
}

/* Intelligent Zone Loading */
.zn-state--loading {
    background: url('@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/video_buffer_square_blk.gif') center center no-repeat;
    display: block;
    height: 80px;
    padding: 150px 30px;
    width: 100%;
}
