//
// zone-header
//
// file: zones/_zone-header.scss
//
// description:
// styling for zone headers
//
// -----------------------------------------------------------------------------

// Mixins / Extends
%pinstripes {
    display: inline-block;
    height: 16px;
    vertical-align: bottom;

    &:after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 100%;
    }
}

%pinstripes--transparent {
    color: $gray-1;

    &:after {
        border-top-color: rgba($gray-4, .75);
        border-bottom-color: rgba($gray-4, .75);
    }
}

%pinstripes--zone {
    @extend %pinstripes;

    &:after {
        @include theme(border-top, el pinstripes border-top);
        @include theme(border-bottom, el pinstripes border-bottom);
        @include theme(height, el pinstripes height);
    }
}

%pinstripes--page {
    @extend %pinstripes;

    &:after {
        @include theme(border-top, el pinstripes border-top, $limit-theme:page);
        @include theme(border-bottom, el pinstripes border-bottom, $limit-theme:page);
        @include theme(height, el pinstripes height, $limit-theme:page);
    }
}

// Styles
.zn-header__text,
.zn-header_preview__text {
    color: $gray-2;
    overflow: hidden;
    padding: 0 0 15px;
    position: relative;
    width: 100%;

    @include headline-20;
    @include theme(color, zone color, $limit-theme:zone);

    @include breakpoint($col-6) {
        @include headline-24;
    }
}

.zn-header_preview__text {
    padding: 20px 0;
}

.zn-header__text-heading {
    @include font-size(40);
}

.zn-header__text-page_header {
    float: left;
    padding: 15px 0;

    @include headline-32;
    @include theme(color, page headline color, $limit-theme:page);

    @include breakpoint($col-8, $col-12) {
        padding: 20px 0;

        @include headline-52;
    }

    @include breakpoint($col-12) {
        padding: 25px 5px 25px 0;

        @include headline-62;
    }
}

.zn-header__stripes-only-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.zn-header-wrapper {
    display: inline-block;

    .zn-header {
        float: left;
    }

    .zn-header__text-page_header {
        float: none;
        padding-bottom: 5px;

        @include breakpoint($col-8) {
            padding-bottom: 10px;
        }
    }
}

.zn-header__stripes {
    @extend %pinstripes--zone;

    .zn.zn--has-background & {
        @extend %pinstripes--transparent;
    }

    .m-navigation &:after {
        display: none;
    }

    .zn-header__text + & {
        padding: 0 0 0 10px;
        vertical-align: middle;

        @include breakpoint($col-6) {
            padding-left: 20px;
        }
    }
}

.zn-header__stripes-only {
    @extend .zn-header__stripes;

    .zn-header__stripes-only-wrapper + & {
        padding: 0 0 0 0;
    }
}

.pg.t-light {
    .zn-Related, .zn-Rail {
        .zn-header__text, .zn-header_preview__text {
            color: $gray-11;
        }
    }
}
