//
// breaking-news
//
// file: _breaking-news.scss
//
// description:
// Breaking news banner
//
// -----------------------------------------------------------------------------
.breaking-news__background {
    background-color: $cnn-red;
    overflow: hidden;
    position: relative;
    width: 100%;

    @include z-index($navigation-layer, navigation-content);

    .breaking-news--showing & {
        border-bottom: 1px solid rgba(254, 254, 254, 0.4);
    }

    &:after {
        content: '';
        height: 30px;

        @include stretch(0, 0, false, 0);
    }

    .breaking-news {
        color: $gray-1;
        display: none;
        padding: 35px 0 10px 6px;
        position: relative;

        @include z-index($navigation-layer, navigation-content);

        .breaking-news--showing & {
            display: block;
        }

        @include breakpoint($col-4, $col-13) {
          padding-left: 0;
        }
    }

    .breaking-news__close-btn {
        color: $gray-1;
        cursor: pointer;
        padding-top: 10px;

        @include font-size(16);
        @include line-height(24, 21);
        @include stretch(-1px, 0, false, false);

        &:after {
            @include icon($icon--close);
        }
    }

    .breaking-news__title {
        color: $gray-1;
        font-weight: $bold;
        text-transform: uppercase;
        padding: 10px 0 0 6px;

        @include font-size(14);
        @include line-height(24);
        @include stretch(0, false, false, 0);

         @include breakpoint($col-4, $col-8) {
             @include font-size(12);
             @include line-height(16);
         }
         @include breakpoint($col-4, $col-13) {
           padding-left: 0;
         }
    }

    .breaking-news__msg {
        display: table-cell;
        font-weight: $light;
        vertical-align: top;

        a {
            color: $blue-1;
            font-weight: $light;
        }

        a:hover {
            color: $blue-3;
        }

        a:active {
            color: $blue-2;
        }

        @include font-size(20);
        @include line-height(28);

        @include breakpoint($col-4, $col-8) {
            @include font-size(16);
            @include line-height(20);
        }

        @include breakpoint($col-6, $col-10) {
            @include font-size(16);
            @include line-height(20, 18);
        }

        @include breakpoint($col-10) {
            @include font-size(20);
            @include line-height(24, 18);

            .skinny & {
                @include font-size(16);
                @include line-height(20);
            }
        }
    }
}
