// Byline Image Styles
// -----------------------------------------------------------------------------

//
// Displays an author's byline photo at the given breakpoint.
//
// @param {number} $at-column
// The column size when the photo is to be displayed.
//
@mixin show-photo($at-column) {
    @include breakpoint($at-column) {
        display: inline-block;
        vertical-align: middle;
    }
}

//
// Frame the image with a circle. The image has a radius of 30px.
//
.byline-images {
    border-radius: 50%;
    height: 60px;
    margin: 5px 10px 5px 0;
    overflow: hidden;
    position: relative;
    width: 60px;

    .media__image {
        height: 100%;
        width: 100%;
    }
}

//
// By default the author photos are hidden since on smaller screens it
// is impossible to fit all the information that we want on the screen.
// If there are two photos then the breakpoint to show the photos is at
// 9 columns. If only one photo is present then the breakpoint is at 8
// columns.
//
.byline-images {
    display: none;
}

.byline-images-total--1 {
    @include show-photo($col-8);
}

.byline-images-total--2 {
    @include show-photo($col-9);
}
