//
// comments
//
// file: _comments.scss
//
// description:
// All style edits for overriding Livefyre powered comment styles.
//
// -----------------------------------------------------------------------------

// Hiding the top logo and moving it to the bottom of comments is done as prescribed by livefyre:
// "If your agreement with Livefyre allows, you may remove the Livefyre logo from the top of the Comment stream and move it to the bottom instead."
// doc: https://github.com/Livefyre/livefyre-docs/wiki/CSS-Customization#moving-the-livefyre-logo
// Quote via Email from Jason Williamson on 03/07/2014 : "We just discussed with Tamara (Biz), Cathy, and Josh.
// We don't mind displaying the logo in the bottom..."

// hide the top logo
.fyre-widget .fyre-logo-drop,
.fyre-widget .fyre-logo-help,
.fyre-widget .fyre-help .fyre-box-wrapper {
    display: none;
}

.fyre {
    @include theme(color, page copy color, $limit-theme:page);

    .pg.t-blue & {
        color: $white;
    }

    .fyre-user-loggedout,
    .fyre-stream-stats {
        .pg.t-blue & {
            color: inherit;
        }
    }

    .fyre-stream-stats,
    .fyre-login-bar a {
        @include theme(color, el comments color);
    }
    .fyre-login-bar a:hover {
        @include theme(color, el link hover);
    }
}

// style & create the bottom logo
.livefyre__logo {

    a {
        background: url("@@livefyre.logoUrl") no-repeat left top;
        color: $gray-10;
        display: block;
        height: 24px;
        padding-left: 28px;
        padding-top: 4px;
        text-decoration: none;

        @include font-size(11);

        .pg.t-blue & {
            color: $gray-5;
        }
    }

    a:hover {
        text-decoration: underline;
    }
}

// FONT OVERRIDES

.pg .fyre .fyre-comment-article {
    color: $gray-11;

    @include copy(18px, 30px, $light);

    @include breakpoint($col-1, $col-6) {
        @include copy(16px, 24px, $light);
    }
}

// LIVEBLOG OVERRIDES

// TODO: specificity overrides required until Livefyre updates the way they apply (or do not apply) theming to 'apps'- targeted for late Q4, early Q1
// There are two style blocks injected in the <head> that require overrides

// Overrides for app-embed specific liveblog
.pg .pg-wrapper .zn .l-container .lf-app-embed .fyre-liveblog {
    .fyre-widget .fyre-stream-header .fyre-follow-conversation {
        color: $blue-dark;

        @include breakpoint($col-1, $col-6) {
            margin: 2px 0 0;
            padding-right: 5px;
        }
    }

    @include breakpoint($col-1, $col-6) {
        .fyre-auth {
            margin-top:0;
        }
    }

    .fyre-login-bar {
        display: block;
    }

    .fyre-stream-header .fyre-stream-sort {
        float: none;
        margin-top: 5px;
    }
}

.pg .pg-wrapper .zn .l-container .fyre-liveblog {
    @include copy(18px, 30px, $light);

    @include breakpoint($col-1, $col-6) {
        @include copy(16px, 24px, $light);

        .fyre .fyre-featured-text {
            display: block;
        }

        .fyre-comment-action-button {
            padding: 0 15px;
        }
    }

    .fyre-widget .fyre-comment-body a {
        color: $blue-dark;

        &:hover {
            color: $cnn-red;
            text-decoration: none;
        }
    }

    .fyre-login-bar {
        display: inline;
        float: none;
        position: relative;
        width: auto;
    }

    .fyre-live-container {
        margin-top: 2px;
    }

    .fyre-widget .fyre-comment {
        @include copy(18px, 30px, $light);

        @include breakpoint($col-1, $col-6) {
            @include copy(16px, 24px, $light);
        }
    }

    .fyre-stream-header .fyre-stream-sort {
        border: 0;
        margin-bottom: 0;
        margin-top: 2px;
        padding-bottom: 10px;
        width: 50%;

        @include copy(16px, 18px, $light);

        @include breakpoint($col-1, $col-6) {
            margin-top: 10px;

            @include copy(14px, 18px, $light);
        }
    }

    .fyre-auth {
        margin-top: 0;
    }

    .fyre-user-twitter,
    .fyre-comment-from-text {
        @include copy(14px, 18px, $light);
    }

    .fyre-stream-livecount {
        @include copy(16px, 18px, $light);

        @include breakpoint($col-1, $col-6) {
            @include copy(16px, 24px, $light);
        }
    }

    .fyre-user-loggedout {
        @include copy(16px, 22px, $light);

        @include breakpoint($col-1, $col-6) {
            @include copy(16px, 24px, $light);
        }
    }

    .fyre-widget .fyre-stream-header .fyre-follow-conversation {
        background: transparent;
        height: auto;
        margin-bottom: -20px;
        margin-top: 5px;

        @include breakpoint($col-1, $col-6) {
            margin-top: 10px;
        }
    }

    .fyre-stream-stats {
        background-color: $gray-2;
        height: 30px;
        padding: 2px 5px;

        span {
            @include z-index($content-layer, content);
        }
    }

    .fyre-comment-user img.fyre-user-avatar {
        border-radius: 24px;
        height: 48px;
        width: 48px;
    }

    .fyre-comment-head {
        margin-left: 56px;
        min-height: 56px;
        position: relative;

        @include copy(18px, 22px, $light);

        @include breakpoint($col-1, $col-6) {
            @include copy(16px, 20px, $light);
        }

        a.fyre-comment-username {
            color: $blue-dark;

            &:hover {
                color: $cnn-red;
            }
        }

        .fyre-comment-username {
            color: $gray-11;
            display: block;

            @include copy(18px, 22px, $medium);

            @include breakpoint($col-1, $col-6) {
                @include copy(16px, 20px, $medium);
            }
        }
    }

    .fyre-stream-content > .fyre-comment-article {
        border-radius: 0;
        //
        // Order matters here with border-width and border-top. The CSS
        // property border-width must be first otherwise the border-top
        // won't show up since the border-width would override the
        // border-top settings.
        //
        border-width: 0;
        border-top: 1px solid $gray-4;
        padding: 10px 0 0;

        &.fyre-comment-hidden {
            padding-top: 0;
            border: 0;
        }
    }

    .fyre-comment-article[data-message-id*='twitter'] {
        .fyre-comment-head {
            line-height: 46px;

            .fyre-comment-username {
                display: inline-block;
            }
        }
    }

    .fyre-comment-tag,
    .fyre-comment-author-tag {
        color: $gray-1;
        font-weight: $medium;
        padding: 2px 5px;
        text-transform: capitalize;

        &.fyre-moderator {
            background-color: $gray-8;
        }

        &.fyre-featured {
            background-color: $cnn-red;
            font-weight: $medium;
            padding: 2px 5px;
            position: absolute;
            right: 0;
            text-transform: capitalize;
            top: 0;
        }

        br {
            display: none;
        }

        .fyre-featured-icon {
            display: none;
        }

        .fyre-featured-text {
            display: block;
            margin: 0;
        }
    }

    .fyre-comment-divider {
        display: none;
    }

    .fyre-comment-date {
        position: absolute;
        right: 0;
        top: 0;
    }

    .fyre-comment-article.fyre-featured {
        .fyre-comment-date {
            right: 56px;
            top: 2px;
        }
    }

    .fyre-comment-body {
        margin-left: 0;
        margin-top: 5px;

        @include copy(18px, 30px, $light);

        @include breakpoint($col-1, $col-6) {
            @include copy(16px, 24px, $light);
        }
    }

    strong {
        font-weight: $medium;
    }

    .fyre-comment-footer {
        margin-bottom: 0;
        margin-left: 0;

        > .fyre-comment-like,
        > .fyre-comment-reply {
            display: inline-block;
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 0;
            vertical-align: top;

            &:hover {
                color: $cnn-red;

                &:before {
                    color: $cnn-red;
                }

                > a {
                    color: $cnn-red;
                }
            }
        }

        > .fyre-comment-actions {
            margin-top: 0;
            vertical-align: top;

            > *:hover {
                color: $cnn-red;
            }
        }
    }
}

$vertical-politics-blue: #1fb9c4;

.pg-politics.pg .pg-wrapper .zn .l-container .fyre-liveblog {
    .fyre-comment-tag.fyre-featured {
        background-color: $vertical-politics-blue;
    }

    .fyre-comment-footer {
        > .fyre-comment-like,
        > .fyre-comment-reply {
            margin-top: 0;
            vertical-align: top;

            &:hover {
                color: $vertical-politics-blue;

                &:before {
                    color: $vertical-politics-blue;
                }

                > a {
                    color: $vertical-politics-blue;
                }
            }
        }

        > .fyre-comment-actions {
            margin-top: 0;
            vertical-align: top;

            > *:hover {
                color: $vertical-politics-blue;
            }
        }
    }
}



// comment styling
// this top level is needed so that we are more specific than the livefyre stylesheet,
// thus overriding their settings.
.livefyre__comments {
    .fyre {
        // square ALL the avatars!
        .fyre-user-avatar-25,
        .fyre-avatar img,
        .fyre-listener-avatars img,
        .fyre-comment-user img.fyre-user-avatar {
            border-radius: 0;
            cursor: default;
        }


        .fyre-comment-actions,
        .fyre-comment-actions span {
            color: $gray-6;
            opacity: 1;
        }

        .fyre-moderator {
            background-color: $cnn-red;
            border-radius: 0;
        }

        //Added for the mobile (emulated or real devices)
        //Note: Removed button borders and button background
        .fyre-comment-action-button {
            background-image: none !important;
            border: 0 !important;
        }

        //Added for the mobile (emulated or real devices)
        //Note: Removes the extra icon that was stacked on top of camera icon
        .fyre-editor-toolbar .goog-toolbar > div.fyre-button-left.fyre-embed-button>.fyre-button-left-outer-box {
            background: none;
        }

        .fyre-comment-actions span {
            display: none;
        }

        .fyre-comment-actions a {
            width: auto !important;
        }

        .fyre-comment-wrapper {
            padding-bottom: 6px;

            @include breakpoint(0, $col-7) {
                padding-bottom: 0;
            }

            time.fyre-comment-date {
                display: inline-block;
                float: none;
                padding: 0 0 0 5px;

                @include font-size(12);

                @include breakpoint($col-10) {
                    @include font-size(14);
                }
            }

        }

        //featured comments
        .fyre-featured-content-wrapper {
            .fyre-featured-header {
                border: 0;

                .fyre-featured-title {
                    padding-left: 0;

                    @include font-size(16);
                    @include theme(color, el comments color, $limit-theme:page);

                    @include breakpoint($col-10) {
                        @include font-size(18);
                    }

                }

                .fyre-featured-header-icon {
                    display: block;
                    float: left;
                    margin-right: 5px;
                }
            }

            .fyre-featured-body {
                .fyre-comment-wrapper {
                    background-color: $gray-2;
                    font-weight: $light;
                    margin: 0 0 20px;
                    padding: 16px 20px;

                    @include font-size(18);
                    @include theme(background-color, el comments background, $limit-theme:page);
                    @include theme(color, page copy color, $limit-theme:page);

                    @include breakpoint($col-10) {
                        @include font-size(22);
                    }

                    p {
                        font-style: italic;

                        @include line-height(18, 15);
                    }

                    .fyre-comment-divider {
                        display: none;
                    }

                    .fyre-comment-like-btn,
                    .fyre-comment-reply,
                    .fyre-comment-removal {
                        font-weight: $bold;

                        @include font-size(12);
                    }

                    .fyre-featured-author {
                        @include font-size(14);

                        @include breakpoint($col-10) {
                            @include font-size(16);
                        }
                    }
                }
            }
        }

        .fyre-stream-sort {
            border-bottom: 0;
            font-weight: $bold;
            margin-bottom: 20px;

            @include font-size(16);

            a {
                .pg.t-blue & {
                    color: $white !important;
                }

                @each $theme-id in map-keys($themes) {
                    @if map-fetch($themes, $theme-id el comments color) {
                        .pg.t-#{$theme-id} & {
                            color: map-fetch($themes, $theme-id el comments color) !important;
                        }
                    }
                }
            }

            a:hover {
                @each $theme-id in map-keys($themes) {
                    @if map-fetch($themes, $theme-id el link hover) {
                        .pg.t-#{$theme-id} & {
                            color: map-fetch($themes, $theme-id el link hover) !important;
                        }
                    }
                }
            }

            a.fyre-stream-sort-selected {
                @each $theme-id in map-keys($themes) {
                    @if map-fetch($themes, $theme-id el link color) {
                        .pg.t-#{$theme-id} & {
                            color: map-fetch($themes, $theme-id el link color) !important;
                        }
                    }
                }
            }

            .fyre-stream-sort-hot-threads,
            .fyre-stream-sort-options .fyre-stream-sort-bar:last-of-type {
                display: inline;
            }

            @include breakpoint($col-10) {
                @include font-size(18);
            }
        }

        .fyre-top-content-stream,
        .fyre-thread-breakout-stream {
            @include breakpoint(0, $col-8) {
                padding-top: 5px;
            }
        }

        .fyre-stream-stats {
            overflow: hidden;
            position: relative;
            text-align: left;

            span {
                padding-right: 10px;
            }

            .fyre-comment-count {
                display: inline;
                font-weight: $light;

                @include font-size(20);
                @include theme(color, el comments color, $limit-theme:page);

                .pg.t-blue & {
                    color: $white;
                }

                @include breakpoint($col-10) {
                    @include font-size(24);
                }
            }

        }

        .fyre-comment-like-imgs {
            display: none;
        }

        .fyre-widget .fyre-help {
            @extend %pinstripes--page;
            float: none;
            padding: 0;
            position: static;
            vertical-align: middle;
            width: auto;

            &:after {
                border-bottom-width: 5px;
                border-top-width: 5px;
                height: 2px;
            }

        }

        &.fyre-width-small {
            .fyre-comment-actions a {
                margin-right: 5px;
            }
        }

        .fyre-comment-like-btn {
            margin-left: 3px;
        }
    }

    .fyre-mobile .fyre-mobile-menu .fyre-flag-menu-item {
        padding: 4px 10px 20px 12px;
    }

    // login box changes
    .fyre .fyre-auth {

        .fyre-box-wrapper {
            border: 0;

            a.fyre-user-profile-link {
                cursor: default;
            }

            // remove 'edit profile' link to nowhere
            .fyre-edit-profile-link {
                display: none;
            }
        }

        .fyre-box-wrapper:hover {
            border-radius: 0;
            box-shadow: 0 0 10px null $gray-8;

            a {
                @include theme(color, el signin color);

                &:hover {
                    @include theme(color, el signin hover);
                }
            }
        }

        // hide 'people listening'
        .fyre-live-container {
            display: none;
        }
    }

    // editor box changes
    .fyre-editor {

        .fyre-editor-container {

            border: 1px solid $gray-5;

            // Hide the editor by default; it will be made visible when we
            // have determined that the user is logged-in.
            display: none;

            .fyre-editor-editable {
                background-color: $white;
                border: 0;
                border-bottom: 1px solid $gray-5;
                border-radius: 0;
                box-shadow: none;
            }
        }

        // toolbar changes
        .fyre-editor-toolbar {
            height: 35px;

            // Hide the built-in share button.
            .goog-toolbar-horizontal .fyre-share-button {
                display: none;
            }

            .goog-toolbar {
                height: 100%;

                > div {
                    background-color: $white;
                    background-image: none;
                    border-bottom: 0;
                    border-right: 1px solid $gray-5;
                    height: 35px;

                    @include font-size(11px);
                }

                > div.fyre-button-left {
                    &:hover {
                        @include theme(color, el link hover, $limit-theme:page);
                    }

                    .fyre-button-left-outer-box .fyre-button-left-inner-box {
                        height: 35px;

                        @include line-height(35, 13);
                    }
                }

                > div.goog-toolbar-separator {
                    border-bottom: 0;
                    border-radius: 0;
                }

                // format button changes
                > div.fyre-button-left:nth-child(2),
                .goog-toolbar > div.fyre-button-left.fyre-format-button {
                    border-bottom: 0;
                    border-left: 0;
                }

                > div.fyre-format-button > div {
                    background-position-x: 10px;
                    background-position-y: 10px;
                }

                > div.fyre-format-button > div {
                    background-position-x: 10px;
                    background-position-y: 10px;
                }

                > div.fyre-format-button.fyre-button-left-open > div {
                    background-position-x: 10px;
                    background-position-y: -22px;
                }

                // mention button changes
                > div.fyre-mention-button > div {
                    background-position-x: 10px;
                    background-position-y: -54px;
                }

                > div.fyre-mention-button.fyre-button-left-open > div {
                    background-position-x: 10px;
                    background-position-y: -86px;
                }

                // embed button changes
                > div.fyre-embed-button {
                    &:hover {
                        @include theme(color, el link hover, $limit-theme:page);
                    }

                    > div {
                        background-image: none;

                        &:before {
                            display: block;
                            padding-top: 5px;
                            text-align: center;
                            width: 35px;

                            @include font-size(20);
                            @include icon($icon--type-gallery);
                        }

                        .fyre-button-left-inner-box {
                            display: none;
                        }
                    }
                }

                // post button changes
                > div.fyre-button-right:last-child {
                    border-right: 0;
                }

                > div.fyre-button-right.fyre-post-button {
                    background-color: transparent;
                    background-image: none;
                    border-radius: 0;

                    &:hover {
                        .fyre-button-right-inner-box {
                            @include theme(color, el link hover, $limit-theme:page);
                        }
                    }

                    .fyre-button-right-outer-box {
                        padding-top: 7px;
                    }
                }

                > div.fyre-button-right .fyre-button-right-outer-box .fyre-button-right-inner-box {
                    @include line-height(24, 13);
                }
            }

            .fyre-format-toolbar { // popup format editor
                border: 0;
                border-radius: 0;
                box-shadow: 0 2px 4px null $gray-8;
            }

            // mention popup menu positioning
            .fyre-mention-menu {
                top: 36px;

                .fyre-mention-item {
                    height: 30px;
                }
            }
        }
    }


    // comment box changes
    .fyre .fyre-comment-stream {
        @include breakpoint(0, $col-7) {
            margin-top: 0;
            padding-top: 40px;
        }
    }

    .fyre .fyre-stream-content {

        > .fyre-comment-article {
            margin-bottom: 20px;

            @include breakpoint(0, $col-7) {
                background-color: transparent;
                margin: 70px 0 20px;
                position: relative;
            }

            > .fyre-comment-wrapper > .fyre-comment-user {
                @include breakpoint(0, $col-7) {
                    top: -50px;
                }
            }

            > .fyre-comment-wrapper > .fyre-comment-head {
                @include breakpoint(0, $col-7) {
                    left: 50px;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    top: -50px;
                }
            }

            > .fyre-comment-divider {
                display: none;
            }

            > .fyre-divider-active {
                display: block;
            }

        }
    }

    .fyre .fyre-comment-article {
        @include theme(color, el comments background, $limit-theme:page);

        // avatar position
        .fyre-comment-user {
            left: 0;

            img.fyre-user-avatar {
                height: 60px;
                width: 60px;

                @include breakpoint(0, $col-7) {
                    height: 40px;
                    width: 40px;
                }
            }

        }

        .fyre-outer-comment-container {
            @include breakpoint(0, $col-7) {
                @include theme(background-color, el comments background, $limit-theme:page);
            }
        }

        .fyre-comment-head {
            padding: 16px 20px 0 0;

            .fyre-comment-username {
                cursor: default;
                font-weight: $bold;

                @include font-size(16);
                @include theme(color, el comments color, $limit-theme:page);

                @include breakpoint(0, $col-7) {
                    @include font-size(14);
                }
            }

            .fyre-comment-tag {
                float: left;
                margin-right: 10px;

                .fyre-featured-icon {
                    display: none;
                }
            }

            .fyre-featured {
                background-color: $link-blue;
                border-radius: 0;
                color: $white;
            }
        }

        .fyre-comment p {
            margin: 0;
            padding: 0 0 10px;
        }

        .fyre-comment-head, {
            margin-left: 75px;
        }

        .fyre-comment-body {
            margin-left: 75px;
            padding-top: 7px;

            @include font-size(14);
            @include theme(color, page copy color, $limit-theme:page);

            @include breakpoint($col-7) {
                @include font-size(16);
            }

            @include breakpoint(0, $col-7) {
                margin-left: 0;
            }

            a {
                font-weight: $normal;

                @include theme(color, el link color, $limit-theme:page);
            }

        }

        .fyre-comment {
            @include theme(background-color, el comments background, $limit-theme:page);
            padding-left: 15px;
            padding-top: 15px;
        }

        .fyre-comment-footer {
            color: $gray-6;
            margin: 0;
            margin-left: 75px;
            padding: 17px 15px 0;

            @include breakpoint(0, $col-7) {
                margin-left: 0;
            }

            @include theme(background-color, el comments background, $limit-theme:page);

            a {
                @each $theme-id in map-keys($themes) {
                    @if map-fetch($themes, $theme-id el link color) {
                        .pg.t-#{$theme-id} & {
                            color: map-fetch($themes, $theme-id el link color) !important;
                        }
                    }
                }
                font-weight: $bold;

                @include font-size(12);
            }

            a:hover {
                @each $theme-id in map-keys($themes) {
                    @if map-fetch($themes, $theme-id el link hover) {
                        .pg.t-#{$theme-id} & {
                            color: map-fetch($themes, $theme-id el link hover) !important;
                        }
                    }
                }
            }
        }

        // replies within comments
        .fyre-comment-replies-indent {
            margin-left: 75px;

            @include theme(background-color, el comments background, $limit-theme:page);
            @include theme(color, el comments background, $limit-theme:page);

            @include breakpoint(0, $col-7) {
                margin-left: 25px;
            }
            .fyre-comment-user {
                left: 15px;
                @include breakpoint(0, $col-7) {
                    left: 25px;
                }
            }
            img.fyre-user-avatar {
                height: 40px;
                width: 40px;

                @include breakpoint(0, $col-7) {
                    height: 20px;
                    width: 20px;
                }

            }

            .fyre-comment {
                padding-left: 0;
                padding-top: 0;
            }

            .fyre-comment-head {
                padding-top: 0;
                margin-left: 75px;

                @include breakpoint(0, $col-7) {
                    margin-left: 50px;
                }
            }

            .fyre-comment-body {
                margin-left: 75px;
                padding-left: 0px;

                @include breakpoint(0, $col-7) {
                    margin-left: 50px;
                }
            }

            .fyre-comment-footer {
                padding: 17px 15px 0px 0;

                @include breakpoint(0, $col-7) {
                    margin-left: 50px;
                }
            }

        }

        // Hide the reply button until we know that the user is logged-in.
        .fyre-comment-reply {
            display: none;
        }

        // reply collapse icon
        .fyre-comment-expand > a,
        .fyre-comment-expand > a:hover {
            top: -17px;
        }

        .fyre-comment-collapse > a,
        .fyre-comment-collapse > a:hover {
            top: -10px;
        }

        // and reply count
        .fyre-comment-divider > span.fyre-comment-reply-wrapper {
            top: -15px !important; //needed to override livefyre !important
        }

        // space between comments
        .fyre-comment-divider {

            .fyre-comment-collapse {
                display: none;
            }

            > div.fyre-comment-divider {
                @include theme(background-color, el comments divider, $limit-theme:page);
            }

        }

        div.fyre-comment-divider,
        div.fyre-comment-divider.fyre-divider-active {
            > div.fyre-comment-divider {
                margin: 0 20px 0 75px;

                @include breakpoint(0, $col-7) {
                    margin: 0 10px 0 50px;
                }
            }
        }

        div.fyre-comment-divider.fyre-divider-active {
            margin: 0 0 0 75px;
            padding: 0 0 15px;

            @include breakpoint(0, $col-7) {
                margin: 0;
            }

            @include theme(background-color, el comments background);
        }
    }

    // Restore the visibility of the edit box and reply buttons if the
    // user is logged-in.
    &.js-livefyre-comments-logged-in {
        .fyre-comment-article {
            .fyre-comment-reply {
                display: inline;
            }
        }

        .fyre-editor {
            .fyre-editor-container {
                display: block;
            }
        }
    }

    //adjust padding on replies that are really nested
    .fyre-comment-article .fyre-comment-article .fyre-comment-article .fyre-comment-article {

        @include breakpoint(0, $col-7) {
            margin-left: 0;

            .fyre-comment-user {
                left: 25px;
            }
        }
    }
}

// hide hovercard
body .fyre-hovercard {
    @include z-index($content-layer, content);
}

// iOS overrides
.ios .livefyre__comments {

    .fyre-editor {
        box-shadow: 0 0 5px null $gray-8;

        .fyre-editor-container {
            box-shadow: none;
        }

        .fyre-editor-toolbar .goog-toolbar {

            > div.fyre-button-left.fyre-embed-button {
                border-left: 0 !important; //needed to override livefyre ios
                border-radius: 0;
                height: 30px;
            }

            > div.fyre-button-right.fyre-post-button {
                border: 0;
                border-radius: 0;
                height: 30px;
                margin: 0;
            }

            > div.fyre-button-right .fyre-button-right-outer-box .fyre-button-right-inner-box {
                @include line-height(30, 13);
            }
        }
    }

    // comment box changes
    .fyre-comment-article {

        .fyre-comment-footer {

            .fyre-comment-action-button {
                border-radius: 0;
                height: 29px;
            }
        }
    }

    .fyre-flag-menu-item {
        height: 30px;
    }

}

// override new comment notification styles
.fyre-notifier-container .fyre-notification {
    margin: 0 !important; // needed to override Livefyre !important

    .fyre-notifier-avatar-container {
        img {
            height: inherit;
            width: inherit;
        }
    }

    .fyre-notifier-avatar-shading {
        height: 36px;
        width: 36px;
    }
}

//limiting live fyre initial comment showing; will be deprecated once livefyre supports limiting comment number through configuration
.cnn-custom-stream-more {
    display: none;
}

.at-least-10-comments .cnn-custom-stream-more {
    @include breakpoint(0, $col-7) {
        display: block;
    }
}

.at-least-25-comments .cnn-custom-stream-more {
    display: block;
}

article .fyre .fyre-stream-content .non-web-comment,
article .fyre .fyre-stream-content .fyre-comment-article .non-web-reply,
.at-least-10-comments.show-all-initial-comments .cnn-custom-stream-more,
.at-least-25-comments.show-all-initial-comments .cnn-custom-stream-more,
.fyre .fyre-comment-stream .in-house-more-button {
    display: none;
}

article .show-all-initial-comments .fyre .fyre-stream-content .non-web-comment,
article .show-all-initial-comments .fyre .fyre-stream-content .fyre-comment-article .non-web-reply,
.show-all-initial-comments .fyre .fyre-comment-stream .in-house-more-button {
    display: block;
}

article .fyre .fyre-stream-content .non-mobile-comment,
article .fyre .fyre-stream-content .fyre-comment-article .non-mobile-reply {
    @include breakpoint(0, $col-7) {
        display: none;
    }
}


article .show-all-initial-comments .fyre .fyre-stream-content .non-mobile-comment,
article .show-all-initial-comments .fyre .fyre-stream-content .fyre-comment-article .non-mobile-reply {
    @include breakpoint(0, $col-7) {
        display: block;
    }
}

//
// Generic styling for when Livefyre live blogs are placed in cards on
// section fronts.
//
.pg.pg-section .zn .cn .cd.cd--tool.cd--tool__webtag .fyre-liveblog {
    height: 400px;
    overflow: hidden;

    .touchevents &,
    &:hover {
        overflow-y: auto;
    }

    .fyre-comment-article {
        padding-left: 10px;
        padding-right: 10px;

        &:first-of-type {
            border-top: 0;
        }
    }

    .fyre-editor,
    .fyre-stream-stats,
    .fyre-auth,
    .fyre-stream-sort,
    .fyre-comment-reply,
    .fyre-stream-more {
        display: none;
    }
}
