//
// edition picker
//
// file: pages/common/_edition_picker.scss
//
// description:
// Edition picker module
//
// -----------------------------------------------------------------------------

.edition-picker {
    display: block;
    font-family: $sans-serif;
    font-weight: $normal;
    position: relative;

    @include font-size(14);
    @include clearfix;

    .l-footer & {
        .drop-down {
            display: inline-block;
            padding: 10px 0;
            user-select: none;
            vertical-align: middle;

            .current {
                background: none;
                color: $gray-6;
                font-weight: $light;

                @include font-size(15);
            }

            .item--option {
                display: inline-block;
            }
            
            .item .edition-picker__confirm-button {
                margin-top: 0px;
            }

            .list {
                left: 0;
                padding: 0 1rem;

                @include font-size(15);

                &.list--set {
                    label {
                        padding-left: 0;
                    }
                }
            }
        }

        .logo {
            display: inline-block;
            padding-right: 10px;
            position: relative;
            top: 8px;
            vertical-align: middle;

            &:before {
                color: $white;
                font-size: 3em;
                font-weight: $light;

                @include icon($icon--cnn);
            }
        }
    }

    .sections {
        background-color: $gray-11;
        color: $gray-6;
    }

    .list {
        background: $gray-11;
        color: $gray-5;
        display: none;
        list-style: none;
        list-style-image: none;
        padding: 0;

        &.list--set {
            input {
                left: 10px;
            }

            label {
                padding-left: 25px;
            }
        }

        @include breakpoint($col-10) {
            margin: 0 0 0 -7px;

            .iemobile &,
            .androied &,
            .ios & {
                margin: 0;
            }
        }
    }

    .item {
        cursor: pointer;
        height: 35px;
        line-height: 35px;
        overflow: hidden;
        padding: 0 10px;
        position: relative;
        transition: color .3s, background .3s, height .3s;
        width: auto;

        &:hover {
            color: $gray-1;
        }

        &.item--confirm {
            border-bottom: 1px solid #bfbfbf;
            padding: 0 10px 7px;
            margin-bottom: 7px;
            height: auto;
        }

        input {
            transition: left .3s;

            @include stretch(11px, false, false, -15px);
        }

        label {
            cursor: pointer;
            display: block;
            transition: padding .3s;
        }
    }

    .current {
        cursor: pointer;
        margin: 0;

        &:after {
            content: "+";
            display: inline-block;
            font-weight: $bold;
            margin-left: 4px;
            transition: transform .3s, color .2s, opacity .3s;

            @include font-size(15);
        }
    }

    &:hover {
        .current {
            color: $white;
        }
    }

    .drop-down {
        width: 170px;

        @include breakpoint($col-10) {
            width: 158px;

            .iemobile &,
            .android &,
            .ios & {
                width: 170px;
            }
        }
    }

    &.open {
        .current {
            color: $white;
        }

        .current:after {
            color: $cnn-red;
            transform: rotate(45deg);
        }

        .list {
            display: block;
        }
    }

    .l-footer & {
        float: left;
        margin-bottom: $gutter-width;

        .list {
            background: rgba($black, .9);
            border-top: 0;
            bottom: 100%;
            position: absolute;
            width: 250px;
        }
    }
    
    body.international .l-footer & {
        .item[data-type=edition] {
            display: none;
        }
    }

    body.domestic .l-footer & {
        .item[data-type=www] {
            display: none;
        }
    }
}
