//
// error
//
// file: _error.scss
//
// description:
// All styles for the error pages
//
// -----------------------------------------------------------------------------

body.pg-error-page {
    padding-top: 50px;

    .cnn-js-navigation {
        height: 50px;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;

        @include z-index($navigation-layer, navigation);
    }

    @each $theme-id in map-keys($themes) {
        @if map-fetch($themes, $theme-id card copy standard color) {
            .zn.t-#{$theme-id} {
                .cn-grid .cd__headline {
                    color: map-fetch($themes, $theme-id card copy standard color);
                }
            }
        }
    }

    .zn-wrapper .search-input {
        > .search-input__text {
            height: auto;
            margin: 0;
            padding: 12px 5px 11px;
        }

        @include breakpoint($col-1, $col-8) {
            padding: 0 10px;
            text-align: center;

            .search-input__text {
                display: block;
                float: none;
                text-align: left;
                width: 100%;
            }

            .search-input__button {
                display: block;
                float: none;
                margin: 10px auto;
            }
        }
    }

    .search_headline3 {
        display: none;
        padding-top: 1em;

        @include headline-18;

        @include breakpoint($col-8) {
            @include headline-24;
        }
    }

    .search-container {
        padding-bottom: 2em;
    }

    .search-container[data-result-count]:not([data-result-count="0"]) .search_headline3 {
        display: block;
    }

    .cn-grid {

        text-align: left;

        .cn__column {
            display: inline-block;
            float: none;
            padding: 0 10px;
            vertical-align: top;
            width: 50%;

            @include breakpoint($col-8) {
                width: 33.33%;
            }

            @include breakpoint($col-10) {
                width: 25%;
            }
        }

        .cd__headline {
            padding: .5em 0;
        }

        .thumbnail {
            position: relative;

            i {
                bottom: 0;
                left: 0;
                position: absolute;
            }
        }
    }
}

.pg-error {
    background-color: $black;
    color: $gray-1;
}

.error-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.zn-error {
    padding-bottom: 20px;
    padding-top: 20px;
}

.error_headline {
    padding: 1.5em 0 .3em;

    @include headline-42;

    @include breakpoint($col-8) {
        @include headline-52;
    }

}

.error_headline2 {
    padding-bottom: .8em;

    @include headline-24;

    @include breakpoint($col-8) {
        @include headline-32;
    }
}

.error_headline3 {
    padding: .5em 0;

    @include headline-24;


}
