//
// footer
//
// file: page/common/footer.scss
//
// -----------------------------------------------------------------------------

$footer-bucket-margin: $gutter-width * 2;
$footer-link-offset: $gutter-width - 15;
$weather-footer-padding-top: 2px;

$footer-border-top: 0px;

//
// Footer containers
//

.l-footer {
    background-color: $gray-13;
    padding: 30px 0;

    @include breakpoint($col-8) {
        padding-top: ($gutter-width + ($gutter-width / 2));
    }

    &__content {
        margin: 20px $gutter-width auto;
        max-width: $grid-width;

        @include clearfix;

        @include breakpoint($col-8, $col-14) {
            border-top: $footer-border-top;
            padding: 1px 0 ($gutter-width * 2);
        }

        @include breakpoint($col-14) {
            border-top: $footer-border-top;
            margin: 0 auto auto auto;
            padding: 1px 0 ($gutter-width * 2);
        }
    }

    //
    // User info, Search, Weather containers
    //

    &__tools {
        padding: 0 $gutter-width;

        @include clearfix;

        @include breakpoint($col-14) {
            margin: 0 auto;
            padding: 0;
            width: $grid-width;
        }
    }

    &__search {
        padding-left: 0;
        position: relative;

        @include breakpoint($col-8) {
            float: right;
        }
    }

    &__tools--weather {
        margin-bottom: 10px;

        @include breakpoint($col-8) {
            float: left;
            margin-bottom: 0;
        }
    }

    &__weather {
        font-family: $sans-serif;
        padding-top: $weather-footer-padding-top;

        @include breakpoint($col-8) {
            padding: $weather-footer-padding-top 0 ($gutter-width / 2);
            width: col(7);
        }

        @include breakpoint($col-14) {
            padding: $weather-footer-padding-top 0 ($gutter-width / 2);
        }
    }
}


//
// Footer - general styles
//

.m-footer-nav {
    color: $gray-9;
    font-weight: $bold;

    @include font-size(12);

    @include breakpoint($col-8) {
        background-color: inherit;
        border-top: $footer-border-top;
        margin: 0;
        padding: $gutter-width 0 0 0;
    }

    @include breakpoint($col-14) {
        border-top: $footer-border-top;
        padding: $gutter-width 0 0;
    }

    a {
        color: $gray-9;
        font-weight: $bold;
        text-decoration: none;

        @include font-size(12);
    }

    .m-footer__link {
        color: $gray-5;
        font-weight: $light;
        text-decoration: none;

        @include font-size(14.4);

        &:hover {
            color: $white;
        }
    }
}

//
// Bucket groups
//

.m-footer__bucket_group {
    @include clearfix;

    @include breakpoint($col-8) {
        clear: both;
        display: block;
        margin-bottom: 100px;
        padding-top: ($gutter-width + 5);
        text-align: left;
    }

    @include breakpoint($col-14) {
        display: inline;
        padding-top: ($gutter-width + 5);
    }
}

//
// Buckets
//

.m-footer__bucket {
    display: inline-block;
    list-style-type: none;
    margin: 0 auto 20px;
    padding: 0;
    text-align: left;
    vertical-align: top;
    width: 100%;

    @include breakpoint($col-8) {
        width: 25%;
    }

    @include breakpoint($col-14) {
        padding-right: 1rem;
    }

    body.domestic & {
        @include breakpoint($col-14) {
            width: (100 / 7) + 0%;
        }
    }

    body.international & {
        @include breakpoint($col-14) {
            width: (100 / 6) + 0%;
        }
    }

    ol {
        padding: 0;
    }
}

// Buckets that contain two rows of links get some special styling to control
// the order of the links. Look for @extend directives below.
.m-footer-twocol {
    @include breakpoint($col-8) {
        width: 50%;

        // Output the links in two columns
        //
        // 1 4               1 2
        // 2 5  rather than  3 4
        // 3 6               5 6
        .m-footer__subtitles {
            columns: auto 2;

            // Fallback when CSS Columns aren't supported. Links will be in two
            // columns but slightly out of order.
            .no-csscolumns & .m-footer__list-item {
                float: left;
                width: 50%;
            }
        }
    }

    @include breakpoint($col-14) {
        @include col(4);
    }
}

.m-footer__bucket__special .m-footer__title {
    @include breakpoint($col-8) {
        margin-bottom: 15px;
    }
}

.m-footer__bucket__homepage,
.m-footer__bucket__intl_homepage {
    display: none;
}


//
// Bucket links
//

.m-footer__list-item {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: $footer-link-offset 0 0 0;
    width: 100%;

    @include breakpoint($col-8) {
        display: inline-block;
        padding: $footer-link-offset 0 0 0;
        text-align: left;
    }
}


//
// Bucket titles
//
// Bucket titles are the only menu items visible on mobile. They become the
// headings for each bucket at larger breakpoints.
//

.m-footer__title .m-footer__title__link {
    background-color: $gray-12;
    border-top: 1px solid $black;
    color: $gray-1;
    display: block;
    font-weight: $light;
    padding: ($gutter-width / 2) 0 ($gutter-width / 2) ($gutter-width / 2);
    @include font-size(22);

    @include breakpoint($col-8) {
        background: none;
        border-top: 0;
        padding: 0;
        text-align: left;
    }

    &:hover {
        color: $white;
    }
}

//
// Widget bucket styles
//
// Widget links are styled like titles, but arranged like a normal bucket
//
.m-footer__bucket__widgets {
    @include breakpoint($col-8) {
        margin-top: $footer-bucket-margin;

        .m-footer__title {
            margin-bottom: $footer-link-offset;
        }
    }

    @include breakpoint($col-14) {
        margin-top: 0;
    }
}


//
// Specific bucket styles - Domestic
//

.edition-domestic {
    // News and 'This is CNN' are both two-column buckets so they and their children
    // receive the same set of styles.
    .m-footer__bucket__news,
    .m-footer__bucket__this-is-cnn {
        @extend .m-footer-twocol;
    }

    // Opinions is the first bucket on the second line of nav in the multi-column
    // layouts so it has a clear
    .m-footer__bucket__opinions {
        @include breakpoint($col-8) {
            clear: left;
        }

        @include breakpoint($col-14) {
            clear: none;
            margin-top: 0;
        }
    }

    // Make room for Widgets on largest breakpoint
    .m-footer__bucket__this-is-cnn {
        @include breakpoint($col-8) {
            margin-top: $footer-bucket-margin;
        }

        @include breakpoint($col-14) {
            margin-top: 0;
            @include col(2);

            // 'This is CNN' is one-col bucket at largest breakpoint.
            .m-footer__subtitles {
                columns: auto 1;

                // Override fallback CSS since CSS Columns aren't supported.
                .no-csscolumns & .m-footer__list-item {
                    float: none;
                    width: 100%;
                }
            }
        }
    }
}

//
// Specific bucket styles - International
//

//
// Legal / Legacy pages
//

.m-copyright-outercontainer {
    margin: $gutter-width auto 0 auto;
    text-align: left;

    @include clearfix;

    @include breakpoint ($col-14) {
        clear: both;
        margin-top: 0;
        padding: ($gutter-width * 2) 0 0;

        @include container;
    }

    .mini-navigation-footer {
        padding: 0;
    }
}

.m-copyright-innercontainer {
    clear: both;
    display: inline-block;
    overflow: hidden; // Something is causing the footer to be 1121px from either this container or a child element inside it.

    @include breakpoint($col-8) {
        display: block;
        margin-left: 0;
    }

    @include breakpoint($col-14) {
        display: inline-block;
        float: right;
    }
}

.m-copyright {
    display: block;
    margin-bottom: $gutter-width;

    @include breakpoint($col-8) {
        margin-bottom: 5px;
        text-align: left;
    }

    @include breakpoint($col-14) {
        text-align: right;
    }
}

.m-legal {
    .m-legal__links {
        display: inline-block;
        padding: 0 3px 0 0;
    }

    .m-legal__list {
        list-style-type: none;
        padding: 0;
    }

    .m-legal__list__item {
        display: inline;

        &:after {
            color: $gray-7;
            content: " | ";
            margin-right: 3px;
        }

        &.last-child:after {
            content: "";
            margin-right: 0;
        }

        &.last-child .m-legal__links {
            padding-right: 0;
        }
    }
}

//
// Affiliates
//

.m-footer__affiliates {
    clear: both;
    float: left;
    margin-bottom: 30px;

    @include breakpoint($col-6) {
        clear: none;
        float: right;
    }

    @include breakpoint($col-8) {
        width: 25%;
    }

    @include breakpoint($col-14) {
        width: auto;
    }
}

.blog-copyright .copyright {
    color: #666;
    font-size: 10px;
    padding-top: 10px;
    text-align: left;
}

.blog-copyright .copyright-link {
    position: absolute;
    text-align: center;
    top: 20px;
    width: 100%;

    @include breakpoint($col-8) {
        float: left;
        position: relative;
        text-align: left;
        top: 0;
        width: 70%;
    }
}

.blog-copyright .m-legal {
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;

    @include breakpoint($col-8) {
        float: right;
        position: relative;
        text-align: left;
        top: 0;
        width: 30%;
    }
}

@include breakpoint($col-8) {
    .blog-copyright .m-legal__list {
        float: right;
    }
}

.blog-copyright .m-legal .m-legal__links {
    font-size: 10px;
}

.blog-copyright ul li:last-child:after {
    content: '';
}

.blog-copyright {
    position: relative;
    width: 100%;

    @include breakpoint($col-8) {
        border-top: 12px solid #ca0002;
    }
}

.blog-copyright .copyright span {
    display: block;
    text-align: center;

    @include breakpoint($col-8) {
        display: inline;
        text-align: left;
    }
}

.m-copyright-outercontainer.mini-navigation-footer {
    margin: 0 auto;

    @include breakpoint($col-8) {
        margin: 20px auto;
    }
}

.m-footer-nav .m-footer__bucket__vr {
    @include breakpoint($col-8) {
        display: none;
    }
}

// Footer nav site images
.m-footer__bucket__politics .m-footer__title__link img {
    padding: 3px 0 5px;
}

.m-footer__bucket__money .m-footer__title__link img {
    padding: 5px 0;
}

.m-footer__bucket__style .m-footer__title__link img,
.m-footer__bucket__tech .m-footer__title__link img,
.m-footer__bucket__travel .m-footer__title__link img,
.m-footer__bucket__intl_travel .m-footer__title__link img,
.m-footer__bucket__bleacher .m-footer__title__link img,
.m-footer__bucket__entertainment .m-footer__title__link img {
    padding: 8px 0;
}
