
//
// PAGE HEADER INCLUDING TOP-LEVEL NAVIGATION
//
// .container
// Reusable wrapper element for containing things.
//
// .selected
// Represents any menu item type (bucket level, sub-menu level and item
// level) that is currently selected based on the current page that the
// user is viewing.
//
// .open
// Represents a top level bucket menu item that the user has taken
// action to open its submenu (if any submenu exists).
//
// file: pages/common/_header.scss
//
// description: styles for header

// The structure I'm using for this SCSS is a slight departure from the rest of the SCSS code- the basic grouping for an element looks like:
//
// elem {
//     display + position + dimensions + padding + margin + z-index
//
//     visual style (backgrounds, images, borders)
//
//     text style (font weight, size, color, alignment)
//
//     transitions + transforms (CSS3 fanciness)
//
//     @includes that inject specific style declarations to style this element (before any inheritance rules)
// }


//------------------------------------------------------------------------------

//*************************************** HTML STYLES - NEED HEIGHT FOR FIXED POS. ELEMENTS ********************************************//
$cdnHost: "@@cdn.assetHost";

html {
    height: 100%;
    overflow-scrolling: touch;
    width: 100%;
}

//********************************************** BODY STYLES ***************************************************//

body {
    height: 100%;
    padding-top: 60px;
    width: 100%;

    @include breakpoint($col-10) {
        padding-top: 75px;

        .iemobile &,
        .android &,
        .ios & {
            padding-top: 60px;
        }
    }
}


//********************************************** STRUCTURAL STYLES ***************************************************//
.nav-header {
    height: 60px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    @include z-index($navigation-layer, navigation);

    .no-touchevents.csstransforms3d & {
        backface-visibility: hidden;
    }

    .breaking-news--showing & {
        height: auto;
    }
}

.nav {
    height: 60px;
    margin: 0;
    position: relative;
    width: 100%;

    @include breakpoint($col-10) {
        background: $gray-13;
        height: 100px;
        overflow: visible;

        .iemobile &,
        .android &,
        .ios & {
            background: transparent;
            height: 60px;
        }
    }

    > .container {
        height: 100%;
        margin: 0 auto;
        max-width: $grid-width;
        position: relative;
        width: 100%;

        .iemobile &,
        .android &,
        .ios & {
            max-width: 100%;
        }
    }

    a {
        color: inherit;
        display: inline-block;
    }

    .drawer > ul {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;

        li {
            list-style: none;
            vertical-align: top;

            @include breakpoint($col-10) {
                display: inline-block;

                .iemobile &,
                .android &,
                .ios & {
                    display: block;
                }
            }

            @include breakpoint($col-10, $col-11) {
                > a {
                    padding: 0 8px;
                }
            }

            > a {
                transform: translate3d(0, 0, 0);
            }
        }
    }

    .buckets,
    .sections {
        position: relative;
    }

    .buckets a,
    .sections a {
        line-height: 35px;
        padding: 0 15px;

        @include breakpoint($col-10, $col-13 - (2 * $gutter-width)) {
            padding: 0 10px;
        }
    }

    @include breakpoint($col-1, $col-10) {
        .bucket > a {
            border-bottom: 1px solid $gray-2;
            display: block;

            @include font-size(20);
        }

        .section > a {
            padding: 0 10px 0 20px;

            @include font-size(16);
        }
    }

    @include breakpoint($col-10) {
        .iemobile &,
        .android &,
        .ios & {
            .bucket > a {
                border-bottom: 1px solid $gray-2;
                display: block;

                @include font-size(20);
            }

            .section > a {
                padding: 0 10px 0 20px;

                @include font-size(16);
            }
        }
    }
}

//******************************************************** SKINNY NAV STYLES **********************************************************//

.nav {
    @include breakpoint($col-10) {
        .skinny--without-subnav & {
            height: 80px;
        }

        .skinny--without-subnav &,
        &.super-skinny {
            .sections {
                height: 0;
                opacity: 0;
                overflow: hidden;
                padding: 0;
                position: absolute;
                transition: transform .5s, opacity .5s;
                width: 100%;

                @include z-index($background-layer, zone-top);

                @include breakpoint($col-10) {
                    overflow: hidden;
                }

                &:hover {
                    overflow: visible;

                    ul {
                        overflow: visible;
                    }
                }

                ul {
                    padding: 0 1em;
                }
            }
        }

        .skinny &,
        &.super-skinny {

            html:not(.iemobile):not(.ios):not(.android) & {
                height: 75px;

                .drawer.utilities {
                    max-height: 0;
                    overflow: hidden;
                    position: initial;
                }

                .buckets {
                    @include stretch(0, false, false, 0);
                    @include z-index($navigation-layer, navigation-wrapper);
                }

                .sections.drawer {
                    left: 85px;
                    top: 40px;
                }

                &:hover .sections {
                    opacity: 1;
                    overflow: visible;
                    transform: translateY(0);

                    @include z-index($background-layer, zone-top);
                }
            }
        }

        .skinny & {
            // margin-bottom: 35px;

            .logo {
                background: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/logo_cnn_badge_2up.png") no-repeat 0 0;
                height: 85px;
                width: 85px;
            }

            .buckets {
                height: 40px;
                padding-left: 85px;

                .bucket > a {
                    line-height: 40px;
                }
            }
        }
    }

    @include breakpoint($col-10, $col-13) {

        .skinny & {
            .m-pagebadge__button .m-pagebadge {
                top: 7px;

                @include z-index($navigation-layer, navigation-content);

                .android &,
                .iemobile &,
                .ios & {
                    top: 30%;
                }
            }
        }
    }
}

//******************************************* SUPER SKINNY NAV (THIRD PARTY) STYLES *****************************************************//

.nav.super-skinny {
    height: 60px !important;
    overflow: visible;
    position: relative !important;

    &.nav-open {
        .hamburger {
            background: transparent;

            &:before,
            &:after {
                background: $gray-1;
            }

            &:before {
                transform: translate(0, 6px) rotate(-45deg);
            }

            &:after {
                transform: translate(0, -6px) rotate(45deg);
            }
        }
    }

    //this is for the super-skinny nav where we don't have the global <a> tag styles
    a {
        text-decoration: none;
    }

    .buckets {
        @include breakpoint($col-10) {
            height: 100%;
            padding-left: 70px;
            width: 65%;

            > ul {
                line-height: 60px;
            }
        }
    }

    .logo {
        @if $cdnHost == '' {
            background: url("@@host.domain@@cdn.assetPath/@@baseVersion/assets/logo_cnn_badge.png") no-repeat 0 0;
        } @else {
            background: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/logo_cnn_badge.png") no-repeat 0 0;
        }
        height: 70px;
        width: 70px;
    }

    @include breakpoint($col-1, $col-10) {
        .buckets.drawer {
            height: auto;
            opacity: 0;
            padding-top: 0;
            pointer-events: none;
            transition: opacity .3s;
            width: 50%;

            @include stretch(100%, 0, false, initial);
            @include z-index($background-layer, zone-top);
        }

        &.nav-open {
            .buckets.drawer {
                opacity: 1;
                pointer-events: auto;

                @include z-index($navigation-layer, navigation);
            }
        }
    }

    @include breakpoint($col-10) {
        .m-pagebadge__button .m-pagebadge {
            display: block;
            margin-top: -12.5px;
            right: 245px;
            top: 50%;
        }
    }

    .search__toggle {
        text-align: center;
        right: 60px;
    }
}


//************************************************** SPECIFIC ELEMENT STYLES **********************************************************//

                                                                                                        //*** LOGO ***//

.nav .logo {
    background: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/logo_cnn_badge.png") no-repeat 0 0;
    height: 70px;
    transform: translate3d(0, 0, 0);
    width: 70px;

    @include stretch(0, false, false, 0);
    @include z-index($overlay-layer, overlay-screen);

    img {
        height: 100%;
        width: 100%;
    }

    @include breakpoint($col-10) {
        background-image: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/logo_cnn_badge_3up.png");
        height: 115px;
        width: 115px;
    }

    @include breakpoint($col-10) {
        .iemobile &,
        .android &,
        .ios & {
            background: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/logo_cnn_badge.png") no-repeat 0 0;
            height: 70px;
            width: 70px;
        }
    }
}

                                                                                                //*** HAMBURGLAR MENU ***//

.nav .menu-collapse {
    cursor: pointer;
    display: block;
    height: 60px;
    width: 50px;

    @include breakpoint($col-7) {
        width: 60px;
    }

    @include stretch(0, 0, false, false);
    @include z-index($navigation-layer, logo);

    @include breakpoint($col-10) {
        display: none;

        .iemobile &,
        .android &,
        .ios & {
            display: block;
        }
    }

    .hamburger {
        background: $gray-6;
        height: 3px;
        margin: -1.5px 0 0 -10px;
        transition: background .3s;
        width: 20px;

        @include stretch(50%, false, false, 50%);
        @include z-index($navigation-layer, logo);

        .nav-open & {
            background: transparent;
        }

        &:before {
            background: $gray-6;
            content: '';
            height: 3px;
            transform-origin: center center;
            transition: transform .3s, background .3s;
            width: 20px;

            @include stretch(-6px, false, false, 0);

            .nav-open & {
                transform: translate(0,6px) rotate(-45deg);
            }
        }

        &:after {
            background: $gray-6;
            content: '';
            height: 3px;
            transform-origin: center center;
            transition: transform .3s, background .3s;
            width: 20px;

            @include stretch(false, false, -6px, 0);

            .nav-open & {
                transform: translate(0, -6px) rotate(45deg);
            }
        }

        .nav-open &:before,
        .nav-open &:after {
            background: $gray-1;
        }
    }
}

                                                                                                    //*** EDITION PICKER ***//

.nav .edition-picker {
    background: $gray-11;
    color: $gray-6;
    height: 50px;
    padding: 0;
    transition: transform .4s;
    width: 50%;

    @include stretch(60px, false, false, 100%);
    @include z-index($navigation-layer, navigation-wrapper);

    @include breakpoint($col-6, $col-10) {
        width: 160px;
    }

    @include breakpoint($col-10) {
        background: 0 0;
        height: auto;
        left: 126px;
        padding: 0;
        top: 5px;
        transition: none;
        width: auto;

        @include z-index($navigation-layer, navigation-content);
    }

    .skinny & {
        @include breakpoint($col-10) {
            left: auto;
            right: 55px;
            top: 0;
        }

        @include breakpoint($col-13) {
            right: 210px;
        }
    }

    .international & {
        right: 50px;

        @include breakpoint($col-13) {
            right: 210px;
        }
    }

    .ios &,
    .android &,
    .iemobile & {
        @include breakpoint($col-10) {
            background: $gray-11;
            color: $gray-6;
            height: 50px;
            transition: transform .4s;
            width: 160px;

            @include stretch(60px, false, false, 100%);
            @include z-index($navigation-layer, navigation-content);
        }
    }

    .current {
        line-height: 50px;
        padding-left: 10px;

        .skinny & {
            @include breakpoint($col-10) {
                line-height: 40px;
                text-align: right;

                .ios &,
                .android &,
                .iemobile & {
                    text-align: left;
                    line-height: 50px;
                }
            }
        }
    }
}

                                                                                //*** SEARCH AND SEARCH COLLAPSE ICON ***//

@mixin search__field--standard() {
    padding: 0;
    width: 200px;

    @include z-index($navigation-layer, navigation-content);

    &,
    .search-open & {
        transform: translateY(0);
        transition: none;
    }
}

%search__input-element-styles {
    background: 0 0;
    border: 0;
    color: $gray-6;

    &:focus {
        color: $gray-1;
        outline: none;
    }
}

.search {
    &__field {
        background: $gray-11;
        line-height: 2;
        padding: 20px 0 10px;
        position: absolute;
        right: 0;
        top: 60px;
        transform: translateY(-100%);
        transition: transform .4s, background .4s, max-width .4s;
        width: 100%;

        @include z-index($navigation-layer, navigation);

        .search-open & {
            transform: translateY(0);
        }

        .skinny & {
            @include breakpoint($col-10) {
                top: 5px;

                @include search__field--standard;

                .iemobile &,
                .android &,
                .ios & {
                    padding: 20px 0 10px;
                    top: 60px;
                    transform: translateY(-100%);
                    transition: transform .4s, background .4s, max-width .4s;
                    width: 100%;

                    @include z-index($navigation-layer, navigation);
                }

                // Overwrite what was done by including `search__field--standard`
                .iemobile .search-open &,
                .android .search-open &,
                .ios .search-open & {
                    transform: translateY(0);
                }
            }

            @include breakpoint($col-10, $col-13) {
                background: transparent;
                max-width: 30px;
                overflow: hidden;
                right: 10px;

                .iemobile &,
                .android &,
                .ios & {
                    background: $gray-11;
                    max-width: 100%;
                    overflow: visible;
                    right: 0;
                }
            }

            .search__input-field {
                transition: opacity .4s;

                @include breakpoint($col-10, $col-13) {
                    opacity: 0;

                    .iemobile &,
                    .android &,
                    .ios & {
                        opacity: 1;
                    }
                }

                &::-ms-clear {
                    display: none;
                }
            }
        }

        .search-open .skinny & {
            background: $gray-11;
            transition: none;

            @include breakpoint($col-10) {
                max-width: 225px;

                .iemobile &,
                .android &,
                .ios & {
                    max-width: 100%;
                }
            }

            .search__input-field {
                opacity: 1;
                transition: opacity .2s;
            }
        }

        .super-skinny & {
            top: 60px;

            @include breakpoint ($col-10) {
                margin-top: -18px;
                padding: 2px 0;
                right: 10px;
                top: 50%;
                transform: none;
                width: 230px;

                .search__button {
                    margin-top: -15px;
                    right: 2px;
                    top: 50%;
                }
            }
        }
    }

    &__button {
        @extend %search__input-element-styles;

        background-color: $gray-11;
        padding-bottom: 0;
        padding-top: 0;
        transition: color .3s;
        vertical-align: top;
        width: 30px;

        @include line-height(30px, $base-font-size);

        &:before {
            font-weight: $bold;

            @include font-size(22px);
            @include line-height(30px, 23px);
            @include icon($icon--search);
        }
    }

    &__toggle {
        background: 0 0;
        height: 60px;
        position: absolute;
        right: 50px;
        width: 50px;

        @include z-index($navigation-layer, navigation-content);

        @include breakpoint($col-7) {
            right: 60px;
            width: 60px;
        }

        @include breakpoint($col-10) {
            display: none;

            .iemobile &,
            .android &,
            .ios & {
                display: block;
                top: 0;
            }
        }

        .search-open & {
            background: $gray-11;
            color: $gray-1;
        }

        .super-skinny & {
            height: 60px;
            right: 0;
            width: 60px;
        }
    }

    &__input-field {
        @extend %search__input-element-styles;

        font-weight: $light;
        min-height: 28px;
        padding: 6px 10px;
        width: 100%;

        @include font-size(16px);
        @include line-height(30px, 30px);

        @include input-placeholder {
            text-transform: capitalize;
        }

        &:focus + button:before {
            color: $gray-1;
        }

        + button {
            display: none;
            position: absolute;
            right: 0;
            top: 0;

            @include breakpoint($col-10) {
                display: block;

                .iemobile &,
                .android &,
                .ios & {
                    display: none;
                }
            }
        }
    }

    &__button-text {
        display: none;
    }
}
                                                                                                //*** UTILITIES DRAWER ***//

.drawer.utilities {
    background: $gray-13;
    height: 60px;
    padding-left: 70px;
    position: absolute;
    width: 100%;

    @include z-index($navigation-layer, navigation-wrapper);

    @include breakpoint($col-6, $col-10) {
        line-height: 60px;

        @include font-size(13);
    }

    @include breakpoint($col-10) {
        height: 25px;
        padding-left: 115px;
        position: relative;
        text-align: right;

        .iemobile &,
        .android &,
        .ios & {
            height: 60px;
            line-height: 60px;
            padding-left: 70px;
            position: absolute;
            text-align: left;
            width: 100%;

            @include font-size(13);

            .signin,
            .weather {
                height: auto;
            }
        }
    }

    //override for mycnn msib panels
    .msib-panel {
        display: none;
        line-height: 0.8em;
        min-height: 0;
    }

    .show-msib-panel {
        display: inline-block;
    }

    .signin,
    .weather {
        display: inline-block;
        vertical-align: bottom;
    }

    .weather {
        @include breakpoint($col-10) {
            .iemobile &,
            .android &,
            .ios & {
                display: inline-block;
            }
        }
    }

    .signin {
        background: $gray-11;
        color: $gray-6;
        margin-right: 2px;
        padding-right: 10px;
        text-align: right;
        transition: transform .4s;
        width: 50%;

        @include stretch(60px, false, false, 100%);
        @include z-index($navigation-layer, navigation-wrapper);

        a {
            color: $gray-6;
            display: block;
            float: left;
            font-weight: $normal;

            @include font-size(14);
        }

        @include breakpoint($col-6, $col-10) {
            width: 160px;
        }

        @include breakpoint($col-1, $col-10) {
            height: 50px;
            line-height: 50px;
        }

        @include breakpoint($col-10) {
            background: transparent;
            left: 0;
            margin-left: 1em;
            padding-right: 0;
            position: relative;
            top: 0;
            width: auto;

            .iemobile &,
            .android &,
            .ios & {
                background: $gray-11;
                height: 50px;
                line-height: 50px;
                margin-left: 0;
                padding-right: 10px;
                width: 160px;

                @include stretch(60px, false, false, 100%);
            }
        }

        .user-profile {

            a.msib-link--login, a.msib-link--mycnn, a.msib-link--accountdetails {
                &:hover {
                  color: $gray-1;
                }
            }

            .link-divider {
                bottom: 2px;
                float: left;
                padding: 0 5px;
                position: relative;

                &:after {
                    color: $gray-7;
                    content: " | ";
                }

            }
        }

        .msib-box-info-panel {

            a {
                float: none;
            }
        }
    }
}

                                                                                                    //*** BUCKETS DRAWER ***//

.drawer.buckets {
    background: $gray-4;
    color: $gray-11;
    display: block;
    font-weight: $medium;
    height: 100%;
    overflow: scroll;
    padding: 0;
    padding: 110px 0 0;
    width: 100%;
    overflow-scrolling: touch;

    @include font-size(20);
    @include stretch(0, false, false, 100%);
    @include z-index($navigation-layer, navigation-container);

    .breaking-news--showing & ul .bucket:last-of-type {
        padding-bottom: 120px;

        @include breakpoint($col-10) {
            padding-bottom: 0;

            .iemobile &,
            .android &,
            .ios & {
                padding-bottom: 120px;
            }

        }
    }

    body.international & {
        @include font-size(18);
    }

    .bucket > a {
        margin: 0 0 5px 10px;
        transition: color .2s;
    }

    .bucket > a:hover {
        color: $gray-10;
    }

    .bucket.selected > a,
    .bucket.selected > a:hover {
        border-bottom: 1px solid $gray-11;
    }

    .bucket.open {
        .sections {
            display: block;
        }
    }

    .bucket.more.open {
        .m-pagebadge {
            display: none;
        }
    }

    @include breakpoint($col-6, $col-10) {
        width: 320px;
    }

    @include breakpoint($col-10) {
        background: $gray-13;
        color: $gray-4;
        font-weight: $normal;
        height: 40px;
        left: 0;
        overflow: visible;
        padding-left: 115px;
        padding-top: 0;
        position: relative;
        transition: none;
        width: 100%;

        @include z-index($navigation-layer, navigation);

        .bucket > a {
            line-height: 40px;
            margin: 0;
            transition: color .2s;

            &:hover {
                color: $gray-2;
            }
        }

        .bucket.selected > a,
        .bucket.selected > a:hover {
            border-bottom: 0;
            color: $gray-1;
            font-weight: $medium;
        }

        .bucket > a {
            margin-left: 0;
        }

        .iemobile &,
        .android &,
        .ios & {
            background: $gray-4;
            color: $black;
            display: block;
            font-weight: $medium;
            height: 100%;
            overflow: scroll;
            padding: 110px 0 0;
            overflow-scrolling: touch;
            width: 320px;

            @include font-size(20);
            @include stretch(0, false, false, 100%);
            @include z-index($navigation-layer, navigation-container);

            .bucket.selected > a,
            .bucket.selected > a:hover {
                border-bottom: 1px solid $gray-11;
                color: $gray-11;
            }

            .bucket > a {
                line-height: 1.5;
                margin: 0 0 5px 10px;
            }

            .breaking-news--showing & ul .bucket:last-of-type {
                padding-bottom: 120px;
            }
        }
    }
}

                                                                                                    //*** SECTIONS DRAWER ***//

.drawer.sections {
    box-shadow: none;
    color: $gray-12;
    display: block;
    font-weight: $medium;
    height: auto;
    position: relative;
    top: 0;

    @include font-size(16);
    @include z-index($navigation-layer, navigation-wrapper);

    a {
        display: inline-block;
    }

    > ul {
        background: $gray-4;
        white-space: nowrap;

        .section {
            font-size: 15px;
            transition: background .2s;
            transition: color .2s;
            white-space: normal;

            @include breakpoint($col-1, $col-10) {
                &:hover {
                    background: $gray-2;
                }
            }

            @include breakpoint($col-10) {
                &:first-child {
                    margin-left: 3px;
                }

                &.open {
                    background: $gray-2;
                }
            }

            &.money {
                color: $gray-1;
                position: relative;
                transition: none;

                &:before,
                .iemobile &:before,
                .android &:before,
                .ios &:before {
                    background-color: $cnn-money-blue;
                    content: "";
                    display: block;
                    width: 70px;

                    @include stretch(0, false, 0, 10px);
                }

                &:focus,
                &:hover {
                    color: $cnn-money-blue;

                    &:before {
                        display: none;
                    }
                }

                @include breakpoint($col-10) {
                    background-color: $cnn-money-blue;

                    &:before {
                        display: none;
                    }

                    .iemobile &,
                    .android &,
                    .ios & {
                        background-color: transparent;

                        &:focus,
                        &:hover {
                            background-color: $gray-2;

                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        li:not(.has-meganav):hover {
            background: $gray-2;
        }
    }

    @include breakpoint($col-1, $col-10) {
        .selected {
            font-weight: $bold;
        }
    }

    @include breakpoint($col-10) {
        .selected {
            background: $gray-3;
        }
    }

    @include breakpoint($col-10) {
        background: transparent;
        display: none;
        height: 35px;

        @include stretch(40px, 0, false, 115px);

        .more & li {
            display: none;
        }

        .iemobile &,
        .android &,
        .ios & {
            box-shadow: none;
            color: $gray-12;
            display: block;
            font-weight: $medium;
            height: auto;
            left: 0;
            position: relative;
            top: 0;

            @include font-size(16);
            @include z-index($navigation-layer, navigation);

            a {
                display: block;
            }

            > ul {
                background: $gray-4;
                white-space: nowrap;

                li {
                    font-size: 15px;
                    transition: background .2s;
                    white-space: normal;
                }

                li:hover {
                    background: $gray-2;
                }
            }

            .selected {
                font-weight: $bold;
            }
        }
    }
}

                                                                                                    //*** MEGANAV ***//

//** NOTE: THIS IS A PORT OF THE OLD SASS FOR MEGANAV- THIS WILL NEED TO BE REWRITTEN, REFACTORED, AND RESTRUCTURED **//

.nav {
    .mega-nav {
        background: $gray-2;
        display: none;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height .4s, opacity .2s;

        @include stretch(80px, 0, false, 0);

        @include breakpoint($col-10) {
            display: block;
            top: 100px;
        }

        &.open {
            max-height: 600px;
            opacity: 1;
        }

        .media a {
             display: block;
        }

        .zn .cd .banner-text {
            display: none;
        }

    }

    .skinny & .mega-nav {
        @include breakpoint($col-10) {
            top: 75px;
        }
    }
}

.m-navigation__mega-nav-item {
    cursor: default;
    display: block;
    opacity: 0;
    padding: 15px 15px 15px 10px;
    text-align: left;
    text-transform: none;
    transition: transform .4s, opacity .6s;
    width: 100%;

    @include stretch(false, false, false, 0);

    @include breakpoint($col-10) {
        .section:hover & {
            opacity: 1;
            top: 40px;

            // @include transition(top 0s linear .3s);
            // @include transition(opacity .5s);

            .iemobile &,
            .android &,
            .ios & {
                top: -10000px;
                transition: none;
            }
        }
    }

    &.zn,
    &.zn.zn--transparent {
        background-color: $gray-2;
    }

    &.selected {
        opacity: 1;
        position: relative;
        transform: translateX(0);

        @include z-index($navigation-layer, navigation-wrapper);
    }

    &.previous {
        transform: translateX(-40px);

        @include z-index($navigation-layer, navigation);
    }

    &.next {
        transform: translateX(40px);

        @include z-index($navigation-layer, navigation);
    }


    //HIDE THE ZONE HEADER
    .zn-header {
        display: none;
    }

    //HIDE THE SHARE ACTIONS
    .el-action-bar {
        display: none;
    }

    //ELIMINATE CARD BORDERS AND BACKGROUND
    .nav .mega-nav & .cd__wrapper {
        background: transparent;
        border: 0;
    }

    //CLEAR PADDING
    .nav & a {
        padding: 0;
    }

    li {
        padding: 0;
    }

    //NOT SURE WHY THIS EXISTS
    .m-navigation__section-item-content {
        position: relative;
    }

    //RESET TEXT TRANSFORM
    .m-navigation__section-item-content.m-navigation__section-nocaps {
        // Needed for labels like iReport
        text-transform: none;
    }

    //LOADING THING
    .m-navigation--loading {
        background: $gray-2;
        margin-top: 3px;
        text-align: center;

        .m-navigation--loading-content {
            background: left center url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/ajax-loader.gif") no-repeat;
            display: inline-block;
            min-height: 16px;
            padding-left: 20px;
        }
    }

    .m-navigation--quick-links--container {
        display: table-cell;
        float: left;
        padding: 20px 0 20px 10px;
        width: 140px;
    }

    .cd--tool__links:before {
        color: $gray-8;
        content: "Quick Links";
        display: block;
        font-weight: $normal;
        padding: .2em 0;

        @include font-size(18);
    }

    .cd--tool__links .links_wrapper a {
        color: $gray-11;
        font-weight: $medium;
        margin: 4px 0;

        @include font-size(15);
        @include line-height(30, 20);
    }

    .cd--tool__links .links_wrapper a:hover {
        color: $blue;
    }

    .m-navigation--quick-links--title {
        color: $gray-7;

        @include font-size(18);
    }

    .m-navigation--quick-links {
        color: $gray-2;
    }

    .cn-section-preview.container-left {
        margin-top: 15px;
        width: 16%;

        .skinny & {
            margin-top: 10px;
        }
    }

    .cn-section-preview.container-middle {
        border-left: 0;
        padding-left: 0;
        width: 59%;
    }

    .cn-section-preview.container-right {
        padding-left: 20px;

        li {
            border-top: 1px solid $gray-3;
            display: block;
        }

        a {
            font-weight: $normal;
        }
    }

    .cd__headline .cd__headline-text {
        font-weight: $medium;
    }

    &.zn.zn-body article.cd {
        background: transparent;
        color: $gray-11;
    }
}

                                                                                                //*** MORE ***/


.more.bucket {

    @include breakpoint($col-10) {
        &.open .more-mega-nav {
            max-height: 500px;
            opacity: 1;
            top: 40px;

            @include z-index($overlay-layer, overlay-screen);
        }

        .sections ul {
            background: transparent;
        }
    }

    .more-mega-nav {
        cursor: default;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        text-align: left;
        text-transform: none;

        @include stretch(false, 0, false, 0);
        transition: max-height .4s, opacity .2s;

        a {
            padding: 0;
        }
    }

    .more-mega-nav > section {
        background: $gray-11;
        display: block;
        margin: 0;
        padding: 15px 15px 15px 10px;
        text-align: left;
        width: 100%;
    }

    .quick-links {
        color: $gray-2;
        display: inline-block;
        margin-top: 55px;
        padding: 0;
        vertical-align: top;
        width: 17%;

        .skinny & {
            margin-top: 50px;
        }

        .title {
            color: $gray-6;
            font-weight: $normal;

            @include font-size(20);
        }

        > li {
            display: block;

        }

        a {
            color: $gray-1;
            font-weight: $medium;
            line-height: 1.5;
            margin: 4px 0;

            @include font-size(16);

            &:hover {
                color: $blue;
            }
        }
    }

    .specials.container {
        display: inline-block;
        width: 82%;
    }

    .specials a {
        cursor: default;
        max-width: 300px;
        padding: 0 10px 10px;
        width: 33%;

        img {
            cursor: pointer;
            height: auto;
            width: 100%;
        }
    }
}


//********************************************************* OFF-CANVAS NAV ************************************************************//
body:not(.nav-open) .nav-header,
body:not(.nav-open) .nav {
    @include breakpoint($col-1, $col-10) {
        transition: height 0;
        transition-delay: 4s;
    }

    @include breakpoint($col-10) {
        .iemobile &,
        .android &,
        .ios & {
            transition: height 0;
            transition-delay: 4s;
        }
    }
}

body .nav {
    .buckets {
        transition: transform .4s;
    }
}

body.nav-open {
    .nav .menu-collapse {
        background: $gray-11;
    }

    @include breakpoint($col-1, $col-10) {
        height: 100%;
        overflow: hidden;
        overflow-scrolling: none;
        position: fixed;  // We know this makes the page body jump back to the top, but it appears
                          // to be the only way to keep it from scrolling on every device.

        .nav-header,
        .nav {
            height: 100%;
        }
    }

    @include breakpoint($col-10) {
        .iemobile &,
        .android &,
        .ios & {
            height: 100%;
            overflow: visible;
            overflow-scrolling: none;

            .nav-header,
            .nav {
                height: 100%;
            }
        }
    }

    .container {
        @include breakpoint($col-1, $col-10) {
            overflow: visible;
            overflow-scrolling: none;
        }

        @include breakpoint($col-10) {
            .iemobile &,
            .android &,
            .ios & {
                overflow: visible;
                overflow-scrolling: none;
            }
        }
    }

    .nav .buckets,
    .nav .signin {
        transform: translate3d(-100%, 0, 0);
    }

    .nav .edition-picker {
        transform: translate3d(-200%, 0, 0);
    }
}

// ***** IE ****** //

.cnn-skinny-header {
    background-color: #ca0002;
    color: #fff;
    height: 35px;
    margin: 0;
    padding: 0;

}

.cnn-skinny-header .l-container.header-container {
    line-height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.header-link {
    color: #fff !important;
    font-size: 11px;
    font-weight: bold;

    @include stretch(10px, false, false, 10px);

    @include breakpoint($col-13) {
        left: 0;
    }
}

.logo-link img {
    display: block;
    height: 35px;
    margin: 0 auto;
    width: 51px;
}

.nav-header.mini-navigation-header-bar {
    height: auto;
}
