//
// metadata header
//
// file: _metadata-header.scss
//
// description:
// All styles for the metadata header element for Shows, Specials, & Profiles
//
// -----------------------------------------------------------------------------

// Main Styles
.metadata-header__wrapper {
    .metadata-header__content {
        padding-top: 20px; // For mobile/phone view
        position: relative;

        // For tablet and desktop view
        @include breakpoint($col-10) {
            padding-top: 30px;
        }

        @include theme(color, page headline color);
        @include z-index($content-layer, content);
    }

    .metadata-header__title {
        float: left;
        font-weight: $light;
        margin: 0 0 10px;
        width: 100%;

        @include clearfix;
        @include headline-32;

        @include breakpoint($col-8, $col-11) {
            margin-bottom: 15px;

            @include headline-42;
        }

        @include breakpoint($col-11) {
            margin-bottom: 15px;

            @include headline-52;
        }
    }

    .metadata-header__logo {
        float: left;
        max-height: 60px;
        margin-bottom: 15px;
        max-width: 100%;
        width: auto;

        @include clearfix();

        @include breakpoint($col-8, $col-11) {
            max-height: 70px;
        }

        @include breakpoint($col-11) {
            max-height: 90px;
        }
    }

    .metadata-header__top {
        float: left;
        max-width: 100%;
    }

    .metadata-header__entitlement {
        float: right;
        margin-bottom: 10px;
        margin-top: 15px;

        @include clearfix();

        @include breakpoint($col-8, $col-11) {
            margin: 10px 0;
        }

        @include breakpoint($col-11) {
            margin: 0;
        }
    }

    .metadata-header__sub-text {
        clear: both;
        font-weight: $normal;
        margin-bottom: 15px;

        @include copy(20px, 26px);

        @include breakpoint($col-8) {
            @include copy(24px, 30px);
        }
    }

    .metadata-header__description {
        clear: both;
        display: none; // hide on mobile view
        float: left;
        max-width: 90%;

        @include copy(14px, 20px);
        @include clearfix();

        @include breakpoint($col-8) {
            display: block;
        }

        @include breakpoint($col-8, $col-11) {
            max-width: 80%;
        }

        @include breakpoint($col-11) {
            max-width: 70%;

            @include copy(16px, 22px);
        }
    }

    .metadata-header__description-toggle {
        clear: both;
        cursor: pointer;
        float: left;
        margin: 0 0 10px;

        @include copy(14px, 14px, $bold);

        @include breakpoint($col-8) {
            display: none;
        }

        &:after {
            margin-left: 5px;
            position: relative;
        }

        &.hide-desc:after {
            font-weight: $bold;

            @include icon($icon--arrow-up);
        }

        &.show-desc:after {
            font-weight: $bold;

            @include icon($icon--arrow-down);
        }
    }

    .metadata-header__follow-links {
        clear: both;
        float: left;

        @include clearfix();

        @include breakpoint($col-8, $col-11) {
            clear: both;
            float: left;
        }

        @include breakpoint($col-11) {
            clear: none;
            float: right;
            margin-top: 10px;
        }

        .el-action-bar {
            margin: 5px 0;
        }
    }

    hr {
        clear: both;
        display: none;
        margin: 0;

        @include breakpoint($col-8) {
            display: block;
        }
    }
}


.metadata-header__follow-icon {
    float: left;
    margin: 0 10px 10px 0;

    @include clearfix();
    @include font-size(23);
    @include line-height(20, 23);

    // Set SVG images defaults
    a {
        @extend %svg-cnn-defaults;

        border-radius: 18px;
        color: $white;
        height: 35px;
        width: 35px;
    }
}

// Set SVG Social icons
.metadata-header__follow-icon {

    &.metadata-header__follow-icon--facebook a {
        background-color: $bgcolor-facebook;
        padding: 8px 0 0 11px;

        &:before {
            content: $icon--social-facebook;
            font-family: cnn-icons;
        }
    }

    &.metadata-header__follow-icon--twitter a {
        background-color: $bgcolor-twitter;
        padding: 5px 0 0 8px;

        &:before {
            @include icon($icon--social-twitter);
        }
    }

    &.metadata-header__follow-icon--google-plus a {
        background-color: $bgcolor-googleplus;
        padding: 5px 0 0 8px;

        &:before {
            @include icon($icon--social-googleplus);
        }
    }

    &.metadata-header__follow-icon--linked-in a {
        background-color: $bgcolor-linkedin;
        padding: 5px 0 0 9px;

        &:before {
            @include icon($icon--social-linkedin);
        }
    }

    &.metadata-header__follow-icon--tumblr a {
        background-color: $bgcolor-tumblr;
        padding: 5px 0 0 11px;

        &:before {
            @include icon($icon--social-tumblr);
        }
    }

    &.metadata-header__follow-icon--instagram a {
        background-color: $bgcolor-instagram;
        padding: 5px 0 0 8px;

        &:before {
            @include icon($icon--social-instagram);
        }
    }

    &.metadata-header__follow-icon--tvtag a {
        background-color: $bgcolor-tvtag;
        padding: 5px 0 0 6px;

        &:before {
            @include icon($icon--social-tvtag);
        }
    }

    &.metadata-header__follow-icon--livefyre {
        margin-bottom: 0;
    }
}
