//
// nativo social icons
//
// file: _nativo-social.scss
//
// description:
// Override Nativo's social share icons in sponsor article page.
//
// -----------------------------------------------------------------------------

%hide-nativoSocial {
    display: none;
}

.ntvBroughtBy,
.ntvShareBottom,
.ntvArticleFooter {
    @extend %hide-nativoSocial;
}


.ntvShareTop {
    //'!important' is added to override styles set by Nativo in the style attribute on the HTML elements of the page

    display: block !important;
    padding-bottom: 10px !important;
    width: auto !important;
    @include breakpoint($col-8) {
        float: right;
        margin-top: -50px !important;
    }
}

.ntvShareTop td {
    //'!important' is added to override styles set by Nativo in the style attribute on the HTML elements of the page

    width: auto !important;
}

.ntvShareTop td a {
    @extend %hide-nativoSocial;
}

.ntvShareTop td a.ntvShareFacebook,
.ntvShareTop td a.ntvShareTwitter {
    background-position: 0 0;
    background-repeat: no-repeat;
    border-radius: 18px;
    color: $white;
    display: block;
    height: 35px;
    padding-top: 4px;
    position: relative;
    width: 35px;

    @include font-size(25);

    img {
        opacity: 0;
    }
}

.ntvShareFacebook {
    @include theme(background-color, el share facebook background color);

    &:hover {
        @include theme(background-color, el share facebook background color, $force-theming:true);
    }

    &:before {
        padding-bottom: 5px;
        padding-left: 10px;

        @include icon($icon--social-facebook);
    }
}

.ntvShareTwitter {
    @include theme(background-color, el share twitter background color);

    &:hover {
        @include theme(background-color, el share twitter background color, $force-theming:true);
    }

    &:before {
        padding-bottom: 5px;
        padding-left: 7px;

        @include icon($icon--social-twitter);
    }
}

.ntv_icon {
    float: right;
    max-width: 32px;
    padding: 0 10px 0 0;
    vertical-align: middle;
}

// To apply styling for nativo cards in section and article page
.zn.nativeSponsor {
    background-repeat: no-repeat;
    & .zn__containers {
        float: left;
        margin-top: 15px;
        width: 100%;
    }
}

.nativeSponsor {
    & .cn__title {
        @include theme(background-color, el ad-sponsored container-title background-color, $force-theming:true);
        @include theme(color, el ad-sponsored container-title color, $force-theming:true);
    }

    & .prx-author {
       color: $bgcolor-sponsorHeader;
       text-transform: uppercase;
    }

    & .cn-grid img {
    	opacity: 1;
    }

    .cd__headline-text {
        @include font-size(24);

        &:hover {
            @include theme(color, el link hover, $force-theming:true);
        }
    }


    .cd__wrapper {
        @include theme(background-color, el ad-sponsored background-color);

        .cd__content,
        .el-action-bar {
            padding: 10px;
        }
    }

    #ntv-logo {
    	float: right;
    }
    #ntv-znHeader {
    	float: left;
    	margin-bottom: 15px;
    }
}

.cn-grid {
    .nativeSponsor {
        .cd__headline-text {
            font-weight: 300;

            @include font-size(18);
        }
    }
}
