// Desktop breakpoint
$nav-breakpoint: $col-14;
// "Medium" Desktop breakpoint
$nav-breakpoint-med: 1024px;
// Tablet breakpoint
$nav-breakpoint-tablet: 768px;

// Reset styles
// Delete these reset styles after versioning off to the new nav.
.nav--plain-header .nav {
    background: $gray-13;
    height: auto;
    margin: auto;
    overflow: visible;
    position: static;
    width: auto;

    body.nav-open & {
        height: 100%;
        max-height: 100%;
    }

    @include breakpoint($nav-breakpoint) {
        body.nav-open & {
            height: 50px;
            background-color: rgba(0, 0, 0, 0.90);
        }
    }
}

// These are necessary duplicates for when old nav files are thrown away.
body {
    padding-top: 50px;
}

// Start actual code
.nav--plain-header {
    height: 60px;
    left: 0;
    position: fixed;
    top: 0;
    user-select: none;
    width: 100%;
    -webkit-touch-callout: none;

    @include z-index($navigation-layer, navigation);

    .no-touchevents.csstransforms3d & {
        backface-visibility: hidden;
    }

    .breaking-news--showing & {
        height: auto;
    }

    @include breakpoint($col-1, $nav-breakpoint) {
        body.nav-open & {
            height: 100%;
            max-height: 100%;
        }
    }
}

.nav--plain-header .nav {
    background: $gray-13;
    height: 50px;
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;

    @include z-index($navigation-layer, navigation-container);

    @include breakpoint($nav-breakpoint) {
        font-size: 15px;
        letter-spacing: -.02px;
    }

    body.nav-open & {
        @include breakpoint(0, $nav-breakpoint) {
            height: auto;
        }
    }
}

.nav__container {
    margin: 0 auto;
    max-width: $grid-width;
    position: relative;
}

.nav__logo {
    background-image: url("@@cdn.chrome/.e1mo/img/4.0/logos/logo_cnn_badge_2up.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 60px;
    height: 60px;
    position: relative;
    width: 60px;

    @include z-index($navigation-layer, logo);
}

.nav__color-strip {
    background-color: $cnn-red;
    height: 3px;
    pointer-events: none;
    position: absolute;
    width: 100%;

    @include z-index($navigation-layer, navigation-content);

    .entertainment & {
        background-image: linear-gradient(to right, #cc3081, #ff8277);
    }

    .health & {
        background-image: linear-gradient(to right, #9b84cc, #db73ff);
    }

    .living & {
        background-image: linear-gradient(to right, #6fb22d, #dfe630);
    }

    .tech & {
        background-image: linear-gradient(to right, #32e3b4, #169c78);
    }

    .aviation &,
    .destinations &,
    .foodanddrink &,
    .hotels &,
    .travel &,
    .intl_travel & {
        background-image: linear-gradient(to right, #7943f7, #86ece8);
    }

    .us & {
        background-image: linear-gradient(to right, #f4761f, #c00);
    }

    .world & {
        background-image: linear-gradient(to right, #f0ae2e, #ff845f);
    }

    // Hide for homepages
    body.pg-intl_homepage &,
    body.pg-homepage & {
        display: none;
    }
}

.nav__live-tv {
    border: 1px solid $gray-5;
    font-size: .9em;
    font-weight: $light;
    letter-spacing: .05em;
    line-height: 23px;
    padding: 0 10px;
    position: absolute;
    right: 50px;
    top: 13px;
    transition: color .2s, border-color .2s;

    &:hover {
        border-color: $white;
    }

    // Overcome specificity
    .nav & {
        color: $gray-5;
        display: none;

        &:hover {
            color: $white;
        }
    }

    .show_live-tv & {
        display: inline;
    }

    @include breakpoint($nav-breakpoint-tablet, $nav-breakpoint) {
        line-height: 20px;
        right: 150px;
    }

    @include breakpoint($nav-breakpoint-med, $nav-breakpoint) {
        right: 150px;
    }

    @include breakpoint($nav-breakpoint) {
        right: 12.6em;
    }

    body.international & {
        @include breakpoint($nav-breakpoint-tablet, $nav-breakpoint) {
            right: 15.3em;
        }

        @include breakpoint($nav-breakpoint) {
            right: 16.8em;
        }
    }
}

.nav__live-tv-icon {
    background: $cnn-red;
    border-radius: 10px;
    display: inline-block;
    height: 7px;
    margin: 0 0 2px 5px;
    vertical-align: middle;
    width: 7px;
}

.nav-menu-links {
    color: $gray-5;
    display: none;
    left: 70px;
    line-height: 50px;
    position: absolute;
    top: 0;

    .pg-homepage &,
    .pg-error-page &,
    .pg-subhub-page &,
    .pg-intl_homepage &,
    body.pg.results &,
    .nav.nav-index-0 & {
        @include breakpoint($nav-breakpoint-med) {
            display: block;
        }
    }

    body.nav-open & {
        color: $gray-9;
        cursor: default;
    }
}

.nav-menu-links__link {
    border-right: 1px solid $gray-9;
    font-weight: $light;
    letter-spacing: .04em;
    line-height: 1;
    margin: 0 .4em 0 0;
    padding: 0 .3em 0 0;
    transition: color .2s;

    @include breakpoint($nav-breakpoint-med, $nav-breakpoint) {
        font-size: 15px;
        letter-spacing: .02em;
        margin: 0 .3em 0 0;
    }

    &:hover {
        color: $white;
    }

    &:last-of-type {
        border: 0;
        margin: 0;
        padding: 0;
    }

    body.nav-open & {
        border-color: $gray-9;
        color: $gray-9;
        cursor: default;
    }
}

.nav-flyout {
    background-color: rgba($black, 0.9);
    padding: 0 0 20px;
    position: relative;
    display: none;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scroll: touch;
    -webkit-font-smoothing: subpixel-antialiased;
    transform: translateY(-100%);
    transition: transform .2s ease-out;

    @include z-index($navigation-layer, navigation-dropdown-container);

    @include breakpoint($col-6) {
        padding: 0 0 80px;
    }

    @include breakpoint($nav-breakpoint-med, $nav-breakpoint) {
        padding: 0;
    }

    @include breakpoint($nav-breakpoint) {
        background: rgba($black, .90);
        max-height: none;
        overflow-y: auto;
        padding: 0;
        position: absolute;
        width: 100%;
    }

    body.nav-open & {
        display: block;
        transform: translateY(0);
    }
}

.nav-flyout__container {
    margin: 0 auto;
    max-width: $grid-width;
    padding: 1rem;

    @include clearfix;

    @include breakpoint($nav-breakpoint-med, $nav-breakpoint) {
        padding: 0 1rem;
    }

    @include breakpoint($nav-breakpoint) {
        padding: 1rem 0;
    }
}

.nav-flyout__menu-item {
    @include breakpoint($nav-breakpoint-tablet) {
        display: inline-block;
        padding: 0 1rem 2rem 0;
        vertical-align: top;
    }

    @include breakpoint($nav-breakpoint-tablet, $nav-breakpoint-med) {
        margin: 0 1% 1em 3%;
        min-width: 20%;
        padding-bottom: 0px;
    }

    @include breakpoint($nav-breakpoint-med, $nav-breakpoint) {
        margin: 0 1% 1em 1%;
        min-width: 16%;
        padding-bottom: 0px;
    }

    body.domestic & {
        @include breakpoint($nav-breakpoint) {
            width: (100 / 7) + 0%;
        }
    }

    body.international & {
        @include breakpoint($nav-breakpoint) {
            width: (100 / 6) + 0%;
        }
    }

    body.international .nav-flyout__container & {
        &:nth-child(-1n+7) {
            @include breakpoint($nav-breakpoint) {
                padding-bottom: 0px;
            }
        }
    }
}

.nav-flyout__menu-item--homepage,
.nav-flyout__menu-item--intl_homepage {
    display: none;
}

.nav-flyout__section-title {
    color: $white;
    display: block;
    font-size: 22px;
    font-weight: $light;
    padding: .2em 0;

    &:hover {
        color: $white;
    }
}

.nav-flyout__submenu {
    display: none;
    list-style: none;
    padding: 0;

    @include breakpoint($nav-breakpoint-med) {
        display: block;
    }
}

.nav-flyout__submenu-item {
    line-height: 1.5;
    font-weight: $light;
    font-size: .9em;
}

.nav-flyout__submenu-link {
    color: $gray-5;

    &:hover {
        color: $white;
    }
}

.nav-flyout-footer {
    max-width: $grid-width;
    margin: 0 auto 2em auto;

    @include clearfix;

    .edition-picker__radio-buttons {
        display: none;
    }

    @include breakpoint($nav-breakpoint, $nav-breakpoint) {
        position: relative;
    }

    @include breakpoint($nav-breakpoint) {
        .edition-picker__radio-buttons {
            display: none;
        }
    }

}

.nav-flyout-footer__edition-list {
    display: none;
    float: left;
    height: 2em;
    padding: 0 0 1rem;

    @include breakpoint($nav-breakpoint) {
        display: block;
        margin: 0 3rem 0 0;
    }
}

.nav-flyout-footer__edition-list-item {
    color: $white;
    cursor: pointer;
    float: left;
    line-height: 2em;
    margin: 0 2em 0 0;

    &:last-of-type {
        margin-right: 0;
    }
}

// Hide domestic option on domestic site
body.domestic .nav-flyout-footer__edition-list-item--us {
    display: none;
}

// Hide domestic option on domestic site
body.international .nav-flyout-footer__edition-list-item--intl {
    display: none;
}

.nav-flyout-footer__edition-icon {
    display: inline-block;
    height: 2em;
    margin: 0 .5em 0 0;
    position: relative;
    top: .7em;
    width: auto;
}

.nav-flyout-footer__social {
    float: right;
    padding: 10px 0 0;

    @include breakpoint($nav-breakpoint-med, $nav-breakpoint) {
        bottom: 1.6em;
        float: none;
        position: absolute;
        right: 2em;
    }
}

.nav-flyout-footer__social-link {
    background-image: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/nav_social_share_bar.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 2.2em;
    margin: 0 .5em 0 0;
    outline: none;
    width: 2.2em;

    &:focus {
        outline: none;
    }

    @include breakpoint(0, $nav-breakpoint) {
        width: 3em;
        height: 3em;
        background-size: cover;
        margin: 0 1em;
    }
}

.nav-flyout-footer__social-link--twitter {
    background-position: -45px 0;

    @include breakpoint(0, $nav-breakpoint) {
        background-position: -4.25em;
    }
}

.nav-flyout-footer__social-link--instagram {
    background-position: -90px 0;

    @include breakpoint(0, $nav-breakpoint) {
        background-position: -8.575em;
    }
}

.nav-flyout-footer__social-icon-label {
    display: inline-block;
    visibility: hidden;
    width: 0;
}

.nav-flyout__special-icon {
    color: $cnn-red;
}
