$nav-breakpoint: $col-14;

.nav-menu {
    cursor: pointer;
    height: 50px;
    transition: color .2s;
    width: 50px;

    @include stretch(0, 0, false, false);
    @include z-index($navigation-layer, logo);

    @include breakpoint($nav-breakpoint-tablet) {
        &:before {
            color: $gray-6;
            content: '';
            display: inline;
            font-weight: $light;
            line-height: 48px;
            position: relative;
            transition: color .2s;
        }

        &:hover:before {
            color: $white;
        }
    }

    @include breakpoint($nav-breakpoint-tablet, $nav-breakpoint) {
        &:before {
            right: 38px;
        }
    }

    @include breakpoint($nav-breakpoint) {
        width: 1.33em;
    }
}

.nav-menu__hamburger {
    margin: -1.5px 0 0 -10px;
    transition: background .3s, color .2s;

    @include stretch(50%, false, false, 50%);
    @include z-index($navigation-layer, logo);

    &,
    &:before,
    &:after {
        background: $gray-6;
        height: 2px;
        width: 20px;
    }

    &:before,
    &:after {
        content: '';
        transform-origin: center center;
        transition: transform .3s, background .3s;
    }

    &:before {
        @include stretch(-6px, false, false, 0);
    }

    &:after {
        @include stretch(false, false, -6px, 0);
    }

    .nav-menu:hover & {
        &,
        &:before,
        &:after {
            background: $white;
        }
    }

    @include breakpoint($nav-breakpoint) {
        right: 0;
        left: auto;
    }
}

body.nav-open .nav-menu {
    @include breakpoint($nav-breakpoint) {
        &:before {
            color: $white;
        }
    }
}

body.nav-open .nav-menu__hamburger {
    background: transparent;

    &:before,
    &:after {
        background: $cnn-red;
    }

    &:before {
        transform: translate(0, 6px) rotate(-45deg);
    }

    &:after {
        transform: translate(0, -6px) rotate(45deg);
    }
}

body.nav-open .nav-menu:hover .nav-menu__hamburger {
    background: transparent;

    &:before,
    &:after {
        background: $cnn-red;
    }
}
