// Resets
//
// These will be able to be deleted once we stop pulling in old code
// that needs to be supported for other verticals.
.nav--plain-header {
    .nav,
    .nav-flyout {
        .edition-picker  {
            background: 0;
            display: none;
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            height: auto;
            left: auto;
            padding: inherit;
            position: static;
            top: inherit;
            width: auto;
            transition: inherit;
            z-index: initial;

            @include breakpoint($nav-breakpoint) {
                width: 8.3em;

                @include z-index($navigation-layer, navigation-container);
            }

            body.nav-open & {
                transform: none;
            }

            body.international & {
                @include breakpoint($nav-breakpoint-tablet, $nav-breakpoint) {
                    right: 1.3em;
                    width: 11.8em;
                }

                @include breakpoint($nav-breakpoint) {
                    right: 2.6em;
                    width: 11.8em;
                }
            }
        }
    }
}

// override specificity
.nav--plain-header {
    .nav,
    .nav-flyout {
        .edition-picker {
            color: $white;
            border-bottom: 1px solid $gray-5;
            display: none;

            @include breakpoint($nav-breakpoint-tablet) {
                border-bottom: 0;
                color: $gray-5;
                display: inline-block;
                font-weight: $light;
                padding: 0;
                position: absolute;
                right: 3.3em;
                top: 0;
            }

            @include breakpoint($nav-breakpoint) {
                right: 2.3em;
            }
        }
    }
}

.edition-picker__current-edition {
    cursor: pointer;
    padding: 0 0 1em 1em;

    &.nav-section--expanded {
        color: $white;
    }

    @include breakpoint($nav-breakpoint-tablet) {
        line-height: 50px;
        padding-bottom: 0;
        padding-left: 0;

        &:hover {
            color: $white;
        }

        body.nav-open & {
            cursor: default;
            opacity: 0.4;

            &:hover {
                color:inherit;
            }
        }
    }
}

.edition-picker__unabridged {
    font-size: .9em;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;

    @include breakpoint($nav-breakpoint-tablet) {
        background: rgba($black, .9);
        font-size: 1em;
        padding: 0 1rem;
        position: absolute;
        right: -1rem;
        text-align: right;
        top: 50px;
        width: 250px;

        @include z-index($navigation-layer, navigation-content);
    }

    &.nav-section--expanded {
        max-height: 300px;
    }
}

.edition-picker__list {
    padding: 0 1rem;
    margin: 0 0 1rem;

    @include breakpoint($nav-breakpoint-tablet) {
        border-bottom: 1px solid $gray-5;
        padding-top: .5rem;
    }
}

.edition-picker__list-item {
    color: $gray-5;
    cursor: pointer;
    padding: 0 0 1em;
    transition: color .2s;

    &:hover {
        color: $white;
    }

    @include breakpoint(0, $nav-breakpoint-tablet) {
        margin: 20px 0;
    }
}


body.domestic .edition-picker__list-item[data-type="www"],
body.international .edition-picker__list-item[data-type="edition"] {
    display: none;
}

.edition-picker__radio-buttons {
    color: $gray-5;
    padding: 0 1rem 1rem;

    .nav-flyout-footer & {
        display: none;
        font-size: 0.875em;
        font-weight: $light;
    }

    // Slightly different styling for the navigation flyout
    @include breakpoint($nav-breakpoint) {
        .nav-flyout-footer & {
            display: block;
            float: left;
            line-height: 4em;
            margin: 0 2rem 0 0;
            padding: 0;
        }
    }
}

.edition-picker__radio-buttons,
.l-footer .edition-picker .list--set {

    // To give the blue color effect for radio button under edition picker

    input[type="radio"] {
        opacity: 0;  // To hide the original radio button to show the blue color element
        position: absolute;

        & + span:before,
        & + label:before {
            border: 1px solid $white;
            border-radius: 50%;
            content: '';
            display: inline-block;
            height: 10px;
            margin-right: 5px;
            width: 10px;
        }

        &:checked + span:before,
        &:checked + label:before {
            background: $blue-dark;
        }
    }
}

.l-footer .edition-picker {
    & .list.list--set {
        input[type="radio"] {
            & + label:before {
                margin-right: 15px;
            }
        }
    }
}

.edition-picker__radio-button-label {
    margin: 0 0 20px 0;

    // Slightly different styling for the navigation flyout
    @include breakpoint($nav-breakpoint-tablet) {
        .nav-flyout & {
            display: inline;
            margin: 0 1rem 1em 0;
        }
    }

    .nav-flyout-footer & {
        float: left;
        vertical-align: middle;
        display: inline;
    }
}

.edition-picker__radio-button {
    margin: .5em .5em 0 2em;
    line-height: 1;
    vertical-align: top;

    &:first-of-type {
        float: left;
        margin-left: 0;
    }

    @include breakpoint($nav-breakpoint-tablet) {
        float: right;
        margin: 0;
    }

    // Slightly different styling for the navigation flyout
    .nav-flyout & {
        margin-top: 5px;
        vertical-align: middle;
        margin-right: .2em;
        margin-left: 1em;
        float: left;

        &:first-of-type {
            margin-left: 0;
        }
    }

    .nav-flyout-footer & {
        margin-top: 1.5em;
    }
}

.edition-picker__confirm-button {
    background: 0;
    border: 1px solid $gray-5;
    color: $gray-5;
    font-weight: $light;
    line-height: 28px;
    padding: 0 1em;
    outline: none;
    transition: color .2s, border-color .2s;

    &:hover {
        color: $white;
        border-color: $white;
    }

    @include breakpoint($nav-breakpoint-tablet) {
        margin: 1em 0;
    }

    .nav-flyout & {
        margin-left: 1em;

        @include breakpoint($nav-breakpoint-tablet) {
            margin-top: 0;
        }
    }
}

//************************************************************* Contextual Styles

.nav--plain-header .nav-flyout .edition-picker {
    display: block;
    padding: initial;

    @include breakpoint($nav-breakpoint-tablet) {
        display: none;
    }
}
