$detail-width: $col-4 - $gutter-width;
$detail-height: 120px;
$arrow-width: 30px;
$arrow-offset: $arrow-width - 7px;

.sibling {
    display: none;
}

@include breakpoint($col-14 + $col-1) {
    .sibling {
        display: block;
    }
}

.zn[data-zone-label="arrow-right"],
.zn[data-zone-label="arrow-left"] {
    padding :0px;
}

.sibling {
    background-color: $gray-3;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 50vh;
    transition: width .5s;
    width: $arrow-width;

    @include z-index($navigation-layer, navigation-container);

    .no-touchevents.csstransforms3d & {
        backface-visibility: hidden;
    }

    .link {
        background: $white;
        border-bottom: 1px solid $gray-7;
        border-right: 1px solid $gray-7;
        border-top: 1px solid $gray-7;
        display: block;
        height: $detail-height;
        margin-left: $arrow-width;
        padding: 10px;
        width: $detail-width;

        &:before {
            color: $gray-11;
            left: 7px;
            position: absolute;
            top: 52px;

            @include font-size(16);
            @include icon($icon--arrow-navigate-left);
        }
    }

    &:hover,
    &.sibling--disable-hover {
        background-color: $gray-7;
        transition: width .5s;
        width: $detail-width + $arrow-width;

        .link:before {
            color: $white;
        }
    }

    .thumbnail {
        float: right;
        margin-left: 5px;
        position: relative;
        width: 100px;

        .media__icon {
            @include stretch(false, false, 5px, 5px);
        }
    }

    .headline {
        color: $gray-9;
        height: 100px;
        overflow: hidden;
        padding-right: 10px;
        padding-top: 5px;
        position: relative;
        right: 4px;

        @include copy(14, 16, $bold);

        &:after {
            border-top: 1px solid $gray-7;
            bottom: 0;
            color: $gray-7;
            content: "Previous Story";
            display: block;
            padding-top: 5px;
            position: absolute;
            width: 100%;

            @include font-size(12);
        }
    }
}

.sibling--next {
    left: auto;
    height: $detail-height;
    right: 0;

    .link {
        border-left: 1px solid $gray-7;
        border-right: none;
        margin-left: $arrow-width;
        margin-right: $arrow-width;
        position: absolute;
        right: 0;
        top: 0;

        &:before {
            left: auto;
            right: -$arrow-offset;

            @include icon($icon--arrow-navigate-right);
        }
    }

    &:hover .link {
        margin-left: 0;
    }

    .thumbnail {
        float: left;
        margin-left: 0;
        margin-right: 5px;
    }

    .headline {
        left: 4px;
        right: 0;

        &:after {
            content: "Next Story";
            text-align: right;
        }
    }
}
