.nav-section {
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;

    @include breakpoint($nav-breakpoint) {
        padding-left: 70px;
    }

    @include breakpoint(0, $nav-breakpoint) {
        background-color: $gray-13;
    }
}

.nav-section__name {
    color: $gray-5;
    cursor: pointer;
    display: inline-block;
    left: 70px;
    line-height: 50px;
    position: relative;

    a {
        transition: color .2s;
    }

    &.nav-section--expanded {
        color: $white;
    }

    body.nav-open & {
        color: $gray-9;
        cursor: default;
        pointer-events: none;
    }

    @include breakpoint($nav-breakpoint) {
        cursor: default;
        position: static;

        &:after {
            content: '\00BB';
            display: inline;
            padding: 0 .5em;
        }
    }
}

// Special homepage considerations
.pg-error-page .nav-section__name,
.pg-subhub-page .nav-section__name,
.pg-homepage .nav-section__name,
.pg-intl_homepage .nav-section__name,
body.pg.results .nav-section__name,
.nav.nav-index-0 .nav-section__name {
    cursor: default;
    pointer-events: none;

    // do not show the right-angle-quote since there are no homepage
    // subsections.
    &:after {
        display: none;
    }

    // On desktop, show nothing (because the full list of sections will
    // display).
    @include breakpoint($nav-breakpoint-med) {
        display: none;
    }
}

.pg-homepage .nav-section__name .nav-section__expand-icon,
.pg-error-page .nav-section__name .nav-section__expand-icon,
.pg-subhub-page .nav-section__name .nav-section__expand-icon,
.pg-intl_homepage .nav-section__name .nav-section__expand-icon,
.nav.nav-index-0 .nav-section__name .nav-section__expand-icon {
    display: none;
}

.nav-section__expand-icon {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin: 0 0 0 .3em;
    position: relative;
    top: -1px;
    transition: transform .3s, color .2s, opacity .3s;

    .nav-section--expanded & {
        color: $cnn-red;
        transform: rotate(45deg);
    }

    // Slightly extra specific because edition picker uses same icon.
    body.nav-open .nav-section__name & {
        opacity: 0;
    }

    // Slightly extra specific because edition picker uses same icon.
    @include breakpoint($nav-breakpoint) {
        .nav-section__name & {
            display: none;
        }
    }

    @include breakpoint($nav-breakpoint-tablet, $nav-breakpoint) {
    	body.nav-open & {
			color: inherit;
            transform: none;
        }
	}
}


@keyframes fade-out {
    0% {
        opacity: 1;
        max-width: 100%;
    }
    99% {
        opacity: 0;
        max-width: 100%;
    }
    100% {
        max-width: 0;
    }
}

.nav-section__submenu {
    background: rgba($black, .95);
    color: $white;
    display: none;
    padding: 0 1rem 0 70px;
    position: absolute;
    top: 50px;
    width: 100%;

    @include breakpoint($nav-breakpoint) {
        background: 0;
        display: inline-block;
        max-width: 100%;
        opacity: 1;
        padding: 0;
        position: static;
        white-space: nowrap;
        width: auto;
    }

    &.nav-section--expanded {
        @include breakpoint(0, $nav-breakpoint) {
            display: block;
        }
    }

    // Slightly extra specific because edition picker uses same icon.
    body.nav-open .nav-section & {
        display: none;
        pointer-events: none;

        @include breakpoint($nav-breakpoint) {
            display: inline-block;
            pointer-events: auto;
        }
    }

    body.pg-leaf.page-scrolled & {
        @include breakpoint($nav-breakpoint) {
            display: none;
        }
    }

    body.nav-open.pg-leaf.page-scrolled .nav-section & {
        @include breakpoint($nav-breakpoint) {
            display: none;
        }
    }
}

.nav-section__submenu-item {
    padding: .5em 0;
    transition: color .2s;

    // Specificity override.
    .nav & {
        display: block;

        @include breakpoint($nav-breakpoint) {
            border-right: 1px solid $gray-9;
            color: $gray-5;
            display: inline-block;
            font-weight: $light;
            line-height: 1;
            margin: 0 5px 0 0;
            padding: 0 5px 0 0;

            &:hover,
            &.nav-section__submenu-active {
                color: $white;
            }

            &:last-of-type {
                border-right: 0;
            }

            body.nav-open & {
                border-color: $gray-9;
                color: $gray-9;
                cursor: default;
            }
        }
    }
}

.nav-flyout__menu-item--politics .nav-flyout__section-title {
    margin: 0;
    padding: 0.386em 0;

    body.international & {
      padding: 0.2em 0;
    }

    @include breakpoint($nav-breakpoint) {
        margin: 0;
    }
}

.nav-flyout__menu-item--money .nav-flyout__section-title {
    margin: 0;
    padding: 0.5em 0;

    @include breakpoint($nav-breakpoint-tablet, $nav-breakpoint-med) {
        body.domestic & {
          margin: 0 0 0 2.409em;
        }
    }

    @include breakpoint($nav-breakpoint) {
        margin: .3em 0 .25em;
        margin: 0;
    }
}

.nav-flyout__menu-item--tech .nav-flyout__section-title {
    margin: 0;
    padding: 0.614em 0;

    @include breakpoint($nav-breakpoint-tablet, $nav-breakpoint-med) {
        body.domestic & {
          margin: 0 0 0 2.409em;
        }
    }

    @include breakpoint($nav-breakpoint) {
        margin: 0;
    }
}

.nav-flyout__menu-item--entertainment .nav-flyout__section-title {
    margin: 0;
    padding: 0.604em 0;

    @include breakpoint($nav-breakpoint) {
        margin: 0;
    }
}

.nav-flyout__menu-item--style .nav-flyout__section-title {
    margin: 0;
    padding: 0.636em 0;

    @include breakpoint($nav-breakpoint) {
        margin: 0;
    }
}

.nav-flyout__menu-item--travel .nav-flyout__section-title {
    margin: 0;
    padding: 0.57em 0;

    @include breakpoint($nav-breakpoint) {
        margin: 0;
    }
}

.nav-flyout__menu-item--intl_travel .nav-flyout__section-title {
    margin: 0;
    padding: 0.57em 0;

    @include breakpoint($nav-breakpoint) {
        margin: 0;
    }
}

.nav-flyout__menu-item--bleacher .nav-flyout__section-title {
    margin: 0;
    padding: 0.614em 0;

    @include breakpoint($nav-breakpoint) {
        margin: 0;
    }
}

.nav-flyout__menu-item--living .nav-flyout__section-title {

    @include breakpoint($nav-breakpoint-tablet, $nav-breakpoint-med) {
        margin: 0 0 0 2.409em;
    }
}

.nav-flyout .nav-flyout__menu-item--vr {
    @include breakpoint($nav-breakpoint-med) {
        display: none;
    }
}

.nav-section__article-title {
    color: $gray-5;
    display: none;
    font-weight: $light;
    white-space: nowrap;
    width: auto;

    body.page-scrolled & {
        @include breakpoint($nav-breakpoint) {
            display: inline-block;
        }
    }

    .nav.nav-index-0 & {
        @include breakpoint($nav-breakpoint) {
            display: none;
        }
    }
}
