$nav-breakpoint: $col-14;

//*************************************************************
// Reset that can be deleted when verticals load their own CSS
.nav--plain-header .search__input-field {
    background: $white;
}

.nav--plain-header .search__input-field + .search__submit-button {
    display: none;

    @include breakpoint($nav-breakpoint) {
        display: inline-block !important;
    }
}

//*************************************************************

.search__form {
    display: none;
    padding: 0 0 1rem 1rem;
    margin: 1rem 0 0;
    width: 100%;

    @include breakpoint($nav-breakpoint-med, $nav-breakpoint) {
        padding: 0 0 0 1rem;
    }

    @include breakpoint($nav-breakpoint) {
        display: block;
        margin: 0;
        max-width: 50px;
        padding: 0;
        position: absolute;
        right: 1.3em;
        text-align: right;
        top: 0;
        transition: max-width .3s ease-out;
        width: calc(100% - 89px);

        @include z-index($navigation-layer, navigation-content);
    }

    body.nav-open & {
        display: block;
    }

    body.search-expanded & {
        @include breakpoint($nav-breakpoint) {
            max-width: $grid-width;
        }
    }
}

.search__form-fields {
    display: inline-block;
    width: calc(100% - 50px);

    @include breakpoint($nav-breakpoint) {
        height: 30px;
        overflow: hidden;
        position: relative;
        top: 10px;
    }

    body.search-expanded & {
        @include breakpoint($nav-breakpoint) {
        }
    }
}

// Added specificity to avoid overriding politics.
.nav--plain-header .search__button {
    background: 0;
    border: 0;
    color: $white;
    display: inline-block;
    text-align: center;
    transition: color .3s;
    width: 50px;

    &:focus {
        outline: none;
    }

    &:before {
        @include font-size(22px);
        @include line-height(30px, 22px);
        @include icon($icon--search);
    }

    @include breakpoint($nav-breakpoint-tablet, $nav-breakpoint) {
        &:before {
            line-height: 30px;
        }
    }

    @include breakpoint($nav-breakpoint) {
        color: $gray-6;
        cursor: pointer;
        line-height: 50px;
        pointer-events: auto;

        &:hover {
            color: $white;
        }
    }

    body.search-expanded & {
        color: $white;
    }
}

// Added specificity to avoid overriding politics.
.nav--plain-header .search__input-field {
    border: 0;
    border-radius: 0;
    color: $gray-6;
    font-weight: $light;
    line-height: 30px;
    padding: 0 .5em;
    width: 100%;

    &:focus {
        color: $black;
        outline: none;
    }

    &::-ms-clear {
        display: none;
    }

    @include breakpoint($nav-breakpoint) {
        display: inline-block;
        height: 30px;
        left: 0;
        min-height: 0;
        position: absolute;
        width: calc(100% - 100px);
    }
}

.nav--plain-header .search__submit-button {
    background: $white;
    border: 0;
    color: $gray-13;
    display: none;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
    position: absolute;
    right: 0;
    width: 100px;

    @include breakpoint($nav-breakpoint) {
        display: inline-block !important;
        height: 30px;
        line-height: 30px;
    }
}
