//
// pagebadge
//
// file: pages/common/_pagebadge.scss
//
// description:
// Pagebadge bar module
//
// -----------------------------------------------------------------------------

.m-pagebadge__bottom {
    display: none;

    @include breakpoint($col-9 + ($col-1 * .75)) {
        display: block;
    }

    .m-pagebadge__bug {
        display: inline-block;
        height: 40px;
        position: relative;
        vertical-align: middle;

        &:before {
            @extend %headline-media-icon;
            float: none;
            padding: 0 0 0 10px;
        }

        &--cnn-go:before {
            display: inline-block;
            float: none;
            font-size: 3.8rem;
            width: 50px;

            .flexbox & {
                margin: 0;
            }

            @include icon($icon--cnn-go);
        }
    }

    .m-pagebadge {
        bottom: 0;
        display: inline-block;
        left: 0;
        position: fixed;
        right: 0;

        @include font-size(16);
        @include z-index($navigation-layer, navigation-container);

        &__link {
            background-color: $red-2;
            color: $gray-14;
            height: 40px;
            padding: 0 35px 0 10px;

            @include stretch(false, false, 0, false);

            &:hover {
                background-color: $red-1;
                color: $gray-14;
            }

            &:before {
                content: "";
                display: none;
                width: 40px;

                @include stretch(0, false, 0, -40px);
            }

            &:after {
                content: "";
                margin-top: -8px;

                @include stretch(50%, 10px, false, false);
            }

            .m-pagebadge__copy {
                display: inline-block;
                vertical-align: middle;
            }
        }

        &--lowleft {
            .m-pagebadge__link {
                left: 0;
            }
        }

        &--lowright {
            .m-pagebadge__link {
                right: 0;
            }
        }
    }
}

.drawer.sections {
    .m-pagebadge {
        bottom: 0;
        display: none;
        min-width: 130px;
        position: absolute;
        right: 0;

        @include font-size(15);

        &__link {
            background-color: $red-2;
            color: $gray-14;
            padding: 0 0 0 7px;

            &:hover {
                background-color: $red-1;
                color: $gray-14;
            }

            &:after {
                float: right;
                padding: 5px 10px 0 5px;

                @include clearfix;
                @include headline-18;
                @include icon($icon--arrow-right);
            }
        }

        @include breakpoint($col-13) {
            display: block;

            .android &,
            .iemobile &,
            .ios & {
                display: none;
            }
        }
    }
}

.m-pagebadge__button {
    .m-pagebadge {
        color: $gray-14;
        display: none;
        font-weight: $medium;
        line-height: 25px;
        position: absolute;
        right: 110px;
        text-align: center;
        top: 30%;
        transition: right .2s;

        @include font-size(11);

        @include breakpoint($col-7, $col-10) {
            right: 140px;
        }

        @include breakpoint($col-10, $col-13) {
            right: 175px;
            top: 32px;

            .search-open & {
                right: 215px;
                transition: right .15s ease-out .1s;
            }
        }

        &__link {
            background-color: $red-2;
            padding: 0 0 0 5px;
            width: 100px;

            &:after {
                float: right;
                padding: 7px 5px 0;

                @include clearfix;
                @include icon($icon--arrow-right);
            }
        }

        .android &,
        .iemobile &,
        .ios & {
            display: block;
            top: 30%;

            @include breakpoint($col-6) {
                right: 110px;
            }

            @include breakpoint($col-6 + (2 * $gutter-width)) {
                right: 130px;
            }
        }

        @include breakpoint($col-1, $col-13) {
            display: block;
        }
    }
}
