//
// image
//
// file: pages/common/_responsive-images.scss
//
// description: basic styles for responsive images.
//
// -----------------------------------------------------------------------------

// Since IE8 shows empty-src or no-src <img> tags, and removing alt attribute
// makes them even bigger, we opt to completely hide images until the .no-js
// class has been removed from the document root.
//
// @TODO: change this to only display <img> tags with src attribute.
//        example: img[src] { display: inline; }
.no-js .media__image--responsive {
    display: none;
}

// Responsive images should attempt to fill 100% of their container width
// by default so we can avoid repaints as images are fetched
.media__responsive {
    width: 100%;
}
