.screaming-banner {
    display: block;

    // if the eq-state is between 0-600px (too small for FIT text to
    // be useful), re-instate the line wrapping
    &[data-eq-state$="c0.0"] .screaming-banner-text {
        white-space: normal;
    }
}

.screaming-banner-text {
    display: inline-block;
    font-family: CNN, 'Helvetica Neue', Verdana, Helvetica, Arial, Utkal, sans-serif;
    margin: 0 0 10px;
    padding-bottom: 0;
    white-space: nowrap;
}
