// description:
// All styles for the search module including 404 and 500 pages
//
// -----------------------------------------------------------------------------

$search-button-width: $col-width;
$col-10-without-both-gutter: $col-10 - $gutter-width - $gutter-width;
$label-width: $col-width * 2;


.zn-30-70.zn-30-70--search-results {
    .zn-column--col-0 {
        @include responsive-rail($col-10) {
            padding-right: 15px;
            width: 70%;
        }
    }

    .zn-column--col-1,
    .zn-column--col-2 {
        @include responsive-rail($col-10, $col-12) {
            width: 100%;
        }

        @include responsive-rail($col-12, $col-14) {
            margin-right: -$col-9;
            width: $col-9;
        }

        @include responsive-rail($col-14) {
            margin-right: -($col-10 - $gutter-width);
            width: $col-11 - $gutter-width;
        }
    }

    .zn-wrapper {

        @include responsive-rail($col-10, $col-12) {
            padding-left: 0;
        }

        @include responsive-rail($col-12) {
            padding-right: $col-10-without-both-gutter - 50;
        }

        @include responsive-rail($col-13) {
            padding-right: $col-10-without-both-gutter;
        }

        .zn-column--col-0 {
            @include responsive-rail($col-12) {
                float: left;
            }
        }

        .zn-column--col-1,
        .zn-column--col-2 {
            @include responsive-rail($col-12) {
                float: right;
            }
        }
    }
    .cd__headline {
        line-height: 1.2;
        padding-top: 15px;
    }

    .cd__headline-text {
        font-weight: bold;
    }

    .cd__timestamp {
        float: none;
        margin-left: 0;

        &:before {
            margin-right: 5px;

            @include icon($icon--timestamp);
        }
    }

    @include breakpoint($col-3) {
        .cd__headline-text {
            @include font-size(16);
        }
    }

    @include breakpoint($col-6) {
        .cd__headline-text {
            @include font-size(24);
        }
    }

}


.search-input__button_label {
    &:before {
        font-size: 1em;
        line-height: 50px;
        padding-right: 5px;
        position: relative;
        width: 20px;

        @include icon($icon--search);
    }
}

.pg-search {
    .cn-stack .cd {
        margin-bottom: 10px;
        margin-top: 0px;
    }
}

.search-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.errorForm input[type=text] {
    display: table-cell;
    height: 35px;
    margin: 10px 0 5px 0;
    size: 766px;
    vertical-align: middle;
    width: 230px;

    @include font-size(20);

    @include breakpoint($col-8) {
        width: auto;
    }
}

.errorForm input[type=image] {
    display: table-cell;
    height: 35px;
    margin: 10px 0 5px 1px;
    size: 700px;
    vertical-align: middle;

    @include font-size(20);
}

.zn--search {
    border-bottom: 1px solid $gray-4;
    height: 150px;
    padding: 25px 0 15px;

    @include breakpoint($col-4, $col-12) {
        height: 220px;
    }
}

.cnnVRimgBG {
    background-color: $black;
    background-position: center center;
    background-repeat: no-repeat;
    height: 106px;
    text-align: center;
    width: 100%;
}

.cnnVRimgBGSearch {
    background-color: $black;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 106px;
    margin-right: 20px;
    position: relative;
    text-align: center;
    width: 188px;

    & > a {
        color: $gray-1;
        display: inline-block;
        height: 100%;
        width: 100%;

        &:hover {
            color: $link-hover;
        }
    }
}

.cnnVRimgLink {
    background-color: rgba($near-black, .5);
    cursor: pointer;
    padding: 5px 10px;

    @include clearfix;
    @include stretch(false, false, 0, 0);
    @include font-size(22);

    &:before {
        @include icon($icon--media-play);
    }
}

.cnnVRphotoLink {
    cursor: pointer;
    display: block;
    height: 106px;
    width: 188px;
}

.cnnDidYouMean ul.cnnResultsList li a span.cnnVRimgLink {
    height: 68px;
    width: 120px;
}

div.cnnVRimgBG a img {
    vertical-align: middle;
}

.search_headline {
    @include headline-52;
}

.search_headline2 {
    @include headline-32;
}

.search_headline3 {
    @include headline-24;
}

.cd__content--adcontainer {
    padding: 0 0 10px 0;
}

.cd__content-error {
    float: left;
    height: 80px;
    padding: 5px;
    width: 100%;
}

.cnnPhotoLink {
    cursor: pointer;
    display: block;
    height: 106px;
    width: 188px;
}

.search_msg {
    margin-top: 5px;
    width: $col-4;

    @include headline-42;
}

.searchForm {
    display: block;
    width: 100%;
}

.searchForm input[type="text"] {
    border: 1px solid $gray-4;
    display: inline-block;
    height: 50px;
    text-indent: 10px;
    vertical-align: middle;
    width: 100%;

    @include font-size(22);
}

.searchForm input[type="image"] {
    border-radius: 3px;
    display: inline-block;
    height: 50px;
    vertical-align: middle;
}

.cnnResultsSort2 {
    color: $gray-11;
    display: inline-block;
    float: right;
    margin: 0 10px 10px 20px;
}

.cnnSearchPagination {
    clear: left;
    color: $gray-6;

    @include font-size(20);
}

.cnnSearchPageLink {
    color: $gray-6;
    cursor: pointer;
    font-weight: $light;
    padding: 0 5px;

    @include font-size(20);

    @include breakpoint($col-4, $col-5) {
        padding: 0;
    }

    &.cnnAlt {
        color: $gray-11;
        font-weight: $bold;
    }
}

.pagination-bar {
    position: relative;

    @include clearfix;
}

.pagination-digits {
    text-align: center;
}

.pagination-arrow {
    color: $gray-6;
    cursor: pointer;
    font-weight: $light;

    &-left,
    &-right {
        position: absolute;
        top: 0;
    }

    &-left {
        left: 0;
    }

    &-right {
        right: 0;
    }

    .right.text:before {
        margin-right: 10px;

        @include icon($icon--arrow-left);

        @include breakpoint($col-4, $col-5) {
            margin-right: 0;
        }
    }

    .left.text:after {
        margin-left: 10px;

        @include icon($icon--arrow-right);
    }

    .text-active {
        color: $gray-11;
    }

    .text-deactive {
        color: $gray-4;
    }

    .text-active:hover,
    .text-deactive:hover {
        color: $link-hover;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }
}

.search-results_dym {
    display: none;
    font-weight: $light;
    margin-top: 20px;

    @include font-size(20);
}

.search-results_dym__noresults {
    display: none;
}

.search-results_dym__phrase {
    font-style: italic;
    font-weight: $bold;
}

.search-results_msg {
    color: $gray-11;
    display: table-cell;
    float: left;

    @include copy(24, 24, $light);
}

.search-suggest_msg {
    display: none;

    @include font-size(20);
}

.search-suggest_msg2 {
    margin-bottom: 20px;
}

.cnnSearchTerm {
    color: $gray-11;
    font-weight: $bold;
}

.search-cat-list {
    display: none;

    @include breakpoint($col-12) {
        display: block;
    }
}

.search-facet-bg-selected {
    background-color: $gray-2;
    color: $gray-11;
}

.search-facet-label {
    float: left;
    width: $label-width;
}

.search-facet-element {
    color: $gray-6;
    margin: 0 5px 4px 10px;
}

.styled-select {
    background-color: $gray-3;
    border: 1px solid $gray-8;
    float: left;
    margin-bottom: 20px;
    position: relative;
    width: 160px;

    &:after {
        display: block;
        height: 40px;
        line-height: 2.3;

        @include font-size(18);
        @include icon($icon--arrow-down);
        @include stretch(0, 10px, false, false);
    }

    & + .styled-select {
        margin-left: 20px;
    }

    > select {
        appearance: none;
        background: transparent;
        border: none;
        border-radius: 0;
        color: $gray-11;
        display: inline-block;
        font-weight: $bold;
        height: 40px;
        padding-left: 10px;
        padding-top: 0;
        position: relative;
        width: 100% !important;

        @include font-size(16);
        @include line-height(40);
        @include z-index($content-layer, content-masking);

        // FF Specific Override: Remove the :active & :focus outline.
        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 $gray-11;
        }

        option {
            border-bottom: 1px solid $gray-4;
            height: 40px;
            padding: 10px 0 0 25px;
        }
    }

    select:focus {
        width: 160px;
    }
}

html.ie.no-edge {
    .styled-select {
        &:after {
            content: "";
            display: block;
            height: 40px;
            line-height: 2.3;

            @include font-size(18);
            @include icon($icon--arrow-down);
            @include stretch(0, 10px, false, false);
        }
    }
}

.select-caption {
    color: $gray-11;
    font-weight: $light;
    height: 40px;
    padding: 5px 10px 0 5px;

    @include font-size(20);

    @include breakpoint($col-8) {
        float: left;
    }
}

.sort-location-right {
    float: right;
    margin: 20px 30px 10px 0;

    @include font-size(16);
}

.sort-location-left {
    clear: both;

    @include breakpoint($col-8) {
        clear: none;
        float: right;
    }
}

@-moz-document url-prefix() {
    select {
        padding-top: 10px;
    }
}

.display-results,
.display-no-results {
    display: none;
}

.zn-wrapper form div.search-input {
    padding-right: $search-button-width - 30;
    @include clearfix;

    > .search-input__text {
        appearance: none;
        border-radius: 0;
        color: $gray-8;
        float: left;
        font-weight: $light;

        @include font-size(22px);

        &::-ms-clear {
            display: none;
        }

        &:focus {
            outline: none;
        }
    }

    > button.search-input__button {
        background-color: $red-1;
        border: none;
        color: $gray-1;
        float: left;
        height: 50px;
        margin-top: 0;
        margin-right: -($search-button-width + 20);
        min-width: 50px;
        padding: 0;

        @include font-size(22);

        &:hover {
            background-color: $gray-8;
        }

        > .icon {
            margin: 0;
            padding: 0;
        }
    }

    .clearSearch {
        color: $gray-6;
        cursor: pointer;
        display: none;
        float: left;
        line-height: 3.2;
        margin-left: -($search-button-width - 10);

        &:after {
            margin-left: 5px;
            @include copy(20, 20, $light);
            @include icon($icon--close);
        }
        @include breakpoint($col-4, $col-8) {
            margin-left: -($search-button-width - 40);

            & .clearText {
                display: none;
            }
        }
    }
}

.search-collection {
    display: inline-block;
    float: right;
    padding-top: 25px;
    overflow-y: hidden;
    white-space: nowrap;

    @include breakpoint($col-4, $col-8) {
        float: left;
        width: 100%;
    }

    @include breakpoint($col-12) {
        overflow-x: hidden;
    }
}

.brandLogo {
    float: left;
    height: 25px;
    margin-top: -4px;
    width: auto;
}

.facet {

    &_list {
        padding: 0;

        .search-cat-list & {
            float: left;
            width: 100%;
        }

        .search-collection & {
            display: inline-flex;
        }
    }

    &_item {
        display: block;
        line-height: 1;
        padding-bottom: 15px;

        &:hover {
            color: $link-hover;
        }

        label {
            cursor: pointer;
            display: block;

            @include clearfix;
            @include font-size(16);
        }
        input[type="radio"],
        input[type="checkbox"] {
            float: left;
            margin-right: 10px;

            .search-collection & {
                display: none;
            }
        }
        input[type="radio"]:checked + label,
        input[type="checkbox"]:checked + label {
            color: $gray-11;

            .search-collection & {
                border-bottom: 3px solid $red;
                font-weight: $bold;
            }
        }
    }


    &_checkbox {
        background-color: $gray-1;
        border: 1px solid $gray-6;
        float: left;
        height: 19px;
        margin-right: 10px;
        text-align: center;
        width: 19px;

        &:before {
            input[type="checkbox"]:checked + label & {
                @include icon($icon--checkmark);
            }
        }
    }

    &_item {
        .search-collection & {
            display: inline-block;
            float: left;
            line-height: 2.5;
            margin-right: 35px;
        }

        .sortDropMenu & {
            height: 40px;
            line-height: 2.5;
            margin: 0;
            padding: 0;
            width: 100%;
        }
    }
}

.filterHolder {
    position: fixed;
    width: 100%;

    @include z-index($content-layer, content-masking);

    @include breakpoint($col-10) {
        .android &,
        .iemobile &,
        .ios & {
            margin-top: -10px;
        }
    }

    @include breakpoint($col-4, $col-12) {
            display: block;
            position: relative;
    }
}

.resultHolder {
    padding-bottom: 20px;
    padding-top: 50px;

    @include breakpoint($col-12) {
        padding-top: 200px;
    }

    & .cd__description {
        @include breakpoint($col-4, $col-8) {
            @include font-size(14);
        }
    }
}

.sectionDropdown {
    color: $gray-6;
    display: none;
    float: left;

    & span {
        border: 1px solid $gray-4;
        color: $black;
        padding: 0 30px 0 5px;
        position: relative;

        &:after {
            content: "+";
            position: absolute;
            right: 5px;
        }
    }
}

.cn--adcontainer,
#cnnSearchSummary,
#textResultsContainer {
    float: left;
    width: 100%;
}

#cnnSearchSummary {
    margin-bottom: 25px;
}

.categoryDropMenu {
    margin-top: 18px;
    position: relative;

    @include z-index($content-layer, content-masking);

    div {
        vertical-align: top;
    }

    @include font-size(16);

    @include breakpoint($col-12) {
        display: none;
    }

    input[type="radio"] {
        display: none;
    }

    .sectionCombo {
        width: 100%;

        .brandLogo {
            margin-top: 10px;
        }
    }
}

.categoryDropMenu>div>span {
    line-height: 40px;

    @include font-size(16);
}

.categoryDropMenu div, .categoryDropMenu div>span {
    display: inline-block;
    vertical-align: top;
}


.collectionList {
    float: left;
    line-height: 2.4;
    margin-right: 15px;
}


.sortOptions,
.sectionOptions {
    background-color: $white;
    border: 1px solid $gray-4;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition: height .2s;
    vertical-align: middle;

    &:after {
        color: $gray-5;
        content: "\F10A";
        display: block;
        font-family: cnn-icons;
        line-height: 40px;
        transform: rotateZ(45deg);
        transition: all .2s;

        @include font-size(18);
        @include stretch(0, 12px, false, false);
    }

    &.dropExpand {
        height: auto;

        &:after {
            color: $red;
            transform: rotateZ(0deg);
        }
    }
}

.sectionOptions {
    left: 70px;

    @include stretch(0, 0, false, false);

    & .clicked {
        color: $gray-11;
        font-weight: $bold;
    }

    &.dropExpand {
        border: 2px solid $gray-3;
        overflow: auto;
        @media (orientation: portrait) and (max-height: 600px) {
            height: 350px;
        }
        @media (orientation: landscape) and (max-height: 350px) {
            height: 180px;
        }
        @media (orientation: landscape) and (min-height: 351px) and (max-height: 500px) {
            height: 200px;
        }
    }
}


.sortDropMenu {
    display: inline-block;
    vertical-align: top;
    width: 130px;

    @include breakpoint($col-4, $col-8) {
        margin-right: 10px;
    }

    .sortOptions {
        display: inline-block;
        padding: 0 0 0 15px;
        width: 100%;
    }
}

.categoryDropMenu ul>li {
    height: 40px;
    line-height: 40px;
    list-style: none;
    padding: 0 30px 0 12px;
}

.el__locked {
    position: fixed;
}

.search-collection,
.sectionOptions {
    &::-webkit-scrollbar {
        display: none;
    }
}
