//
// search-global
//
// file: _search-global.scss
//
// description:
// All styles for the search bars and icons in header and footer
//
// -----------------------------------------------------------------------------

$search-input-width: 320px;

// *** GLOBAL STYLES ***
//  NOTE:   Because the header styles have all moved to the _header.scss SASS
//          file, these are no longer 'global' styles for the search field.
//          We may want to think about either moving those styles back into
//          this 'global' file, or moving the styles in this file into
//          their appropriate places (so far, only _footer.scss) and
//          deleting this SCSS.
//
//          For now, I will only edit the classes as they are.

.search__footer {

    // ** SEARCH FORM **
    .search-input__text,
    .search-input__button {
        border: none;
        outline: none;
        position: relative;
    }

    .search-input__text {
        background-color: $gray-11;
        color: $gray-3;
        font-weight: 200;
        min-height: 30px;
        padding: 6px 45px 6px 12px;
        width: 100%;
        @include copy(16px, 16px);

        // Adjust input width when between these widths
        @include breakpoint($col-8) {
            width: $search-input-width;
        }

        &::-ms-clear {
            display: none;
        }

        @include input-placeholder {
            text-transform: capitalize;
        }
    }

    .search-input__button {
        background-color: $gray-11;
        margin: 0;
        padding: 0 10px;
        position: absolute;
        right: 0;

        &:after {
            color: $gray-6;
            font-size: 1em;
            line-height: 32px;
            position: relative;
            width: 20px;
            @include icon($icon--search);
        }

        // Adjust button size & placement when large viewport
        @include breakpoint($col-12) {
            &:after {
                font-size: 1.5em;
            }
        }
    }

    // ** SEARCH FORM **
    .search__footer--form {
        display: block;
        height: 30px;
        position: relative;
    }

    @include breakpoint($col-14) {
        padding: 0;
    }
}

// *** HEADER STYLES ***
//
//  NOTE:   Header styles have been moved into _header.scss. We may want
//          to think about either moving those styles back into this
//          'global' file, or moving the styles in this file into
//          their appropriate places and deleting this SCSS.
