//
// share
//
// file: _share.scss
//
// description:
// Styles for the share bar and share button.
//
// -----------------------------------------------------------------------------

.gigya {
    display: inline;
}

// Share bar

.gig-share img {
    display: inline;
    width: inherit;
}

.gigya-sharebar-element,
.sharebar-video-embed-element {
    display: inline;
    float: left;
    height: 35px;
    margin: 0 0 0 15px;
    width: 35px !important;

    &:first-child {
        margin-left: 0;
    }

    //
    // Gigya will apply inline style "width=deviceviewport width" for each
    // button in mobile view.
    //
    // If you override the inline style width without any break point gigya not
    // wrap buttons in aligned order.This brakpoint handle the alignment problem
    // based on the device viewport.Mostly this style override will apply for
    // tablet device.
    //
    //
    @include breakpoint($col-7) {
        height: 35px;
        width: 35px !important;
    }

}


.gig-button.gig-share-button {
    border-radius: 18px;
    height: 35px;
    transition: transform .5s;
    width: 35px;

    @include font-size(25);


    table {
        display: none;
        height: 0;
        position: absolute;
        width: 0;
    }

    &:hover {
        @include breakpoint($col-9) {
            transform: scale(1.2, 1.2);
        }
    }

    .gig-button-container & {
        @include line-height(28, 20);
        @include theme(color, el share active color);

        .cd:not(.cd--tool__video-collection-player) & {
            @include theme(background-color, el share inactive background color);
            @include theme(color, el share inactive color);

            &:hover {
                @include theme(color, el share active color, $force-theming:true);
            }
        }
    }

    .gig-button-container-email & {
        padding-left: 5px;

        @include theme(background-color, el share email background color);

        .cd &:hover {
            @include theme(background-color, el share email background color, $force-theming:true);
        }

        &:before {
            padding-bottom: 5px;
            @include icon($icon--social-mail);
        }
    }

    .gig-button-container-facebook & {
        padding-left: 10px;

        @include theme(background-color, el share facebook background color);

        .cd &:hover {
            @include theme(background-color, el share facebook background color, $force-theming:true);
        }

        &:before {
            padding-bottom: 5px;
            @include icon($icon--social-facebook);
        }
    }

    .gig-button-container-twitter & {
        padding-left: 7px;

        @include theme(background-color, el share twitter background color);

        .cd &:hover {
            @include theme(background-color, el share twitter background color, $force-theming:true);
        }

        &:before {
            padding-bottom: 5px;
            @include icon($icon--social-twitter);
        }
    }

    .gig-button-container-share & {
        padding-left: 5px;

        @include theme(background-color, el share share background color);

        .cd &:hover {
            @include theme(background-color, el share share background color, $force-theming:true);
        }

        &:before {
            padding-bottom: 5px;
            @include icon($icon--social-more);
        }
    }

    .gig-button-container-whatsapp & {

        padding-left: 6px;

        @include theme(background-color, el share whatsapp background color);

        .cd &:hover {
            @include theme(background-color, el share whatsapp background color, $force-theming:true);
        }

        &:before {
            padding-bottom: 5px;
            @include icon($icon--social-whatsapp);
            color: $color-whatsapp;
        }
    }

    .gig-button-container-messenger & {

        padding-left: 6px;

        @include theme(background-color, el share messenger background color);

        .cd &:hover {
            @include theme(background-color, el share messenger background color, $force-theming:true);
        }

        &:before {
            padding-bottom: 5px;
            @include icon($icon--y04-social-messenger-bolt);
            color: $color-messenger;
        }
    }


    .gig-button-container-video-embed & {
        padding-left: 6px;
        background: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/video-embed-icon.png") no-repeat 0 0;
        background-size: contain;
    }

}

.js-gigya-sharebar {
    text-align: center;
    @include clearfix;
    .gig-button.gig-share-button:before {
        margin: {
            left: -5px;
            top: 3px;
        }
    }
}

.m-share__rail-top {
    .metadata & {
        @include breakpoint($col-1, $col-6) {
            margin: 10px 0;
        }

        @include breakpoint($col-6) {
            @include stretch(false, 4px, 4px, false);
        }
    }
}

.m-share__bar {
    .gig-bar-container {
        overflow: visible;
    }

    .gigya-element-large {
        display: block;
    }

    .pg-body__social & {
        margin: 35px 0;
        position: static;
    }
}

.share-bar-whatsapp-container {
    display: none;
    margin-bottom: 0;
    vertical-align: top;
}

.share-bar-messenger-container {
    display: none;
    margin-bottom: 0;
    vertical-align: top;
}

.share-bar-email-container {
    display: none;
    margin-bottom: 0;
    vertical-align: top;
}

.sharebar-video-embed-container {
    margin-bottom: 0;
    vertical-align: top;
}

.sharebar-video-embed-field {
    clear: both;
    float: left;
    margin: ($gutter-width / 2) 0 0;
    width: 100%;
}

.sharebar-video-embed-container,
.sharebar-video-embed-field {
    display: none;
    &.display-sharebar-embed-item {
        @include breakpoint($col-12) {
            display: block;
        }
    }
}

// Share button popup (not the share button itself)

// Restyle of the Gigya share popup to be more like a dialog sheet.
//
// Note that we match on data attributes rather than classes. This is
// because when Gigya asynchronously fills the div, it will overwrite the
// CSS class name; it won't, however, touch the data attributes.
//
// The "gig-*" class names, however, are fair game to use since they are
// set on Gigya-generated elements.

%gigya-wrapper-bg {
    background: rgba($black, .7);
}

div[data-js-gigya-share] {
    @extend %gigya-wrapper-bg;

    opacity: 0;
    overflow: hidden;

    position: fixed;

    // Fade-in the translucent background.
    transition: opacity .3s ease-in-out;

    // This is necessary to prevent Gigya from resizing the container
    // to their standard width (280px).
    width: 100% !important;
    @include z-index($overlay-layer);

    // When Gigya async-loads the contents of the wrapper, it sets this class
    // on the wrapper itself.  This is where we override the styles that
    // normally come with Gigya's stylesheet.
    &.gig-simpleShareUI {
        // Gigya normally sets this to fully-transparent, so set it back to
        // what we intend to use.
        @extend %gigya-wrapper-bg;

        // Gigya normally applies a thick border.
        border: 0;
        border-radius: 0;

        opacity: 0;
    }

    // This is the end-state of the fade-in animation.
    &[data-js-gigya-share-fade] {
        bottom: 0;
        opacity: 1;
        top: 0;
    }

    // This is the actual Gigya share popup content that Gigya dynamically
    // adds to the wrapper div.
    .gig-simpleShareUI-inner {
        // Center horizontally.
        margin: 0 auto;

        // Arbitrarily-selected initial position above the viewport;
        // we also fade it in, so the idea is just to have it move downwards,
        // not necessarily for the full height.
        margin-top: -200px;

        // This is the standard Gigya share popup size so that the icons are
        // neatly in two columns.  Any smaller and it will reflow into
        // a single column. This applies to both the Gigya "desktop" and
        // "mobile" modes.
        //
        // If we make any deeper changes to font size, etc., we should revisit
        // this width, but for now since we're using the standard Gigya content
        // and styles, we'll also use the standard Gigya width.
        max-width: 280px;

        opacity: 0;
        overflow: hidden;
        transition: all 1s ease-in-out;
    }

    // By setting the data-cnn-gigya-share-active attribute on the wrapper,
    // we can trigger the slide-down animation.
    //
    // Again, we don't use classes here since the CSS class of the wrapper
    // will be overwritten by Gigya's code.
    &[data-js-gigya-share-active] .gig-simpleShareUI-inner {
        margin-top: 0;
        opacity: 1;
    }

}

.el-action-bar .el-button--follow {
    display: none;
}

// Set an override for the gigya color:inherit, so that we won't have white theme color text on the white share box

.gig-simpleShareUI .gig-simpleShareUI-buttonText {
    color: $gray-11;
}

.mobile.phone .pg-rail-short,
.mobile.phone .pg-rail-tall,
.mobile.phone .pg-no-rail .share__video-experience {

    .metadata .m-share__rail-top.m-share__floating {
        margin: 0;

        .js-gigya-sharebar {

            background-color: $gray-2;
            bottom: 0;
            display: inline-block;
            float: none;
            left: 0;
            padding: 4px 0 0 ;
            position: fixed;
            width: 100%;

            @include z-index($overlay-layer, modal);

            .gig-bar-container {
                overflow: hidden;
            }

            div.gig-button-container {
                display: inline-block;
                margin-bottom: 0px;
                padding: 0 4px 0 0;
                vertical-align: top;
            }

            .gigya-sharebar-element,
            .sharebar-video-embed-element {
                display: inline-block;
                float: none;
            }

            .gig-button-container-email {

                .gig-share-button:before {
                    margin-top: 2px;
                }
            }
        }
    }
}

.m-share__rail-bottom {
    display: none;
    .mobile.phone & {
        display: block;
    }
}

.fb-send-to-messenger-container {
    display: none;
    @include z-index($content-layer, content-masking);
    border: 5px solid $gray-4;
    border-radius: 3px;
    position: absolute;
    width: 295px;
    background-color: $white;

    .top-bar {
        height:  29px;
        background-color: $gray-4;

        .close-button {
            float: right;
            position: relative;

            &:before {
                @include icon($icon--close);
                color: $white;
                @include font-size(14);
                font-weight: $bold;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .messenger-content {
        p {
            margin: 0px 0px;
            color: $gray-6;
            line-height: 1.3;
            margin-bottom: 5px;
        }

        padding: 10px;
    }
}
