//
// social
//
// file: _social.scss
//
// description:
// All styles for the social module including sharebar and commenting
//
// -----------------------------------------------------------------------------

.fyre img {
    display: inline;
    height: auto;
    width: auto;
}

.msibh1 {
    display: inline;
}

.msib-container {
    width: 100%;

    .pg-headline {
        border-bottom: 1px solid $gray-4;
        padding-bottom: 18px;

        @include font-size(45);

        @include breakpoint($col-10) {
            padding-bottom: 30px;

            @include font-size(45);
        }
    }
}

.msib-panel {

    min-height: 300px;

    @include font-size(16);

    header {
        font-weight: $bold;
        @include font-size(25);
    }

    &.msib-no-script-panel {
        display: none;

        .no-js & {
            display: block;
        }
    }

    .msib-forgot-password {
        display: inline-block;
        margin-top: 5px;
    }

    .msib-inner-container {
        margin: 0 auto;
        width: 100%;

        @include breakpoint($col-6) {
            width: 50%;
        }
    }

    .social-error {
        margin-left: 0;
        padding: .5em 0;

        @include font-size(14);

        ul {
            margin-left: 30px;
            padding: 0;
        }
    }

    .msib-password-login-area {
        display: inline-block;
        width: 100%;
    }

    h4 {
        margin-bottom: .5em;

        @include font-size(18);
    }

    h2 {
        margin-bottom: .6em;
    }

    .half {
        display: inline-block;
        padding-right: 0;
        vertical-align: top;
        width: 100%;

        > div {
            margin-bottom: 1.5em;
        }

        @include breakpoint($col-12) {
            padding-right: 1em;
            width: 40%;
        }
    }

    .half:nth-of-type(2) {
        @include breakpoint($col-12) {
            margin-left: 5%;
        }
    }

    &.login-panel {
        .register-link {
            @include font-size(14);
        }
    }

    .msib-forgot-link {
        color: $gray-8;
        display: block;
        text-align: right;
        width: 100%;

        @include font-size(12);
    }

    &.register {
        .login-link {
            @include font-size(14);
        }

        input[type="checkbox"] + span {
            padding-left: .5em;

            @include font-size(12);
        }

        .legal,
        .msib-learn-more {
            @include font-size(12);
        }

        .msib-learn-more {
            display: none;
        }
    }

    &.forgot {
        p {
            margin: .8rem 0;

            @include font-size(14);
        }
    }

    &.success {
        p {
            margin: .8em 0;
        }
    }
}

.reqfields-pad {
    color: $gray-8;
    padding: 10px 0;

    @include font-size(14);

    &::before {
        color: $gray-6;
        content: "* ";
    }
}

.social-required:after {
    color: $gray-6;
    content: " *";
}

.subscribe,
.msib__form-controls {
    padding: 20px 0;
}

.msib-inline-link--right {
    padding-right: 20px;
}

.msib-info-username {
    display: inline-block;
}

.msib-avatar--notifycount {
    display: none;
    height: 20px;
    margin-left: 10px;
    padding: 0;
    text-align: center;
    width: 20px;
}

.msib-avatar--notifycountvalue {
    background-color: $cnn-red;
    border-radius: 15px;
    color: $gray-1;
    display: inline-block;
    font-weight: $bold;
    height: 20px;
    line-height: 20px;
    width: 20px;

    @include font-size(12);
}

#gigya-widget {
    .login-button {
        display: inline-block;
        margin: .5em .4em 0 0;
    }

    .poweredby {
        display: block;
        margin: .4em 0;
    }
}
