body > *:not(.nav) {
    transform: none !important;
}

.m-share__rail {
    display: block;
    opacity: 0;
    position: fixed;
    top: -1000px;
    transition: visibility 1s 0.5s, opacity 0.5s, top 0s 0.5s;
    visibility: hidden;

    .js-gigya-sharebar {
        @include stretch(160px, false, false, $col-14);

        .no-touchevents.csstransforms3d & {
            backface-visibility: hidden;
        }

        .pg-rail--align-right & {
            left: -55px;
        }
    }

    .gigya-sharebar-element {
        margin-bottom: 8px;
        margin-left: 0;
    }

    &.show {
        opacity: 1;
        top: 0px;
        transition: opacity 0.5s;
        visibility: visible;

        @include breakpoint($col-1, $col-12) {
            display: none;
        }
    }

}
