//
// sponsor article
//
// file: _sponsor-article.scss
//
// description:
// All styles for the sponsor article nativo page.
//
// -----------------------------------------------------------------------------

.pg-sponsor-article {
    #bigPicture {
        margin: 0 auto 5px;
        position: relative;

        .el__storyelement__title {
            @include line-height(12);
        }
        .el-galleryCaption {
            display: block;
        }
        .el__gallery-showhide {
            max-height: 20px;
            padding: 5px 0;
        }

        .el__storyelement__header {
            color: $black;

            @include font-size(24);
        }

        .el__storyelement__gray {
            @include font-size(20);
        }

        img {
            // !important added to override styles set by nativo to have the page as responsive
            max-height: 360px;
            min-height: 360px;
            max-width: 100% !important;
            width: 100% !important;
        }

        .owl-nav {
            display: block;

            .owl-prev, .owl-next {
                height: 360px;
                position: absolute;
                width: 50%;
            }
        }
    }

    .owl-nav {
        display: none;
    }

    .el-galleryCaption {
        display: none;
    }

    #owl-demo {
        display: none;
    }

    @include breakpoint($col-6) {
        #owl-demo {
            display: block;
        }
    }

    .owl-carousel {
        border-top: 1px solid $gray-4;
        margin: 0 auto;
        padding: 10px 50px;

        .owl-nav {
            display: block;

            div {
                &:before {
                    top: 24%;

                    @include breakpoint($col-13) {
                        top: 50%;
                    }

                    @include breakpoint($col-8) {
                        @include font-size(27);
                    }
                }
            }

            .owl-prev {
                color: $gray-11;
                height: 60px;
                margin-top: 10px;
                opacity: 0.7;
                width: auto;

                &:before {
                    left: 0;
                    padding: 0;

                    @include icon($icon--arrow-left);
                }
            }
            .owl-next {
                color: $gray-11;
                height: 60px;
                margin-top: 10px;
                opacity: 0.7;
                width: 20px;

                &:before {
                    right: 0;
                    padding: 0;

                    @include icon($icon--arrow-right);

                    @include breakpoint($col-13) {
                        padding: 5px;
                    }
                }
            }
        }
    }

    .owl-carousel .item {
        cursor: pointer;
        display: block;
    }

    .owl-carousel .owl-item {
        margin-right: 10px;

        img {
            height: 60px;
            width: 60px;
        }
    }

    .owl-carousel .owl-item.synced {
        border-bottom: 4px solid $bgcolor-twitter;
    }

    .owl-carousel .owl-stage-outer {
        margin: -25px;
    }

    .owl-dots {
        margin-top: 25px;
        text-align: center;
    }
}
.pg-sponsor-article.pg-wrapper {
    margin-top: 15px;
}

.pg-sponsor-interactive {
    overflow: hidden;
}

.pg-sponsor-interactive.pg-wrapper {
    height: 100%;
    width: 100%;

    .sponsor-content {
        height: 100%;
        width: 100%;
        border: 0;
    }
}

.content-byline {
    min-height: 35px;
    position: relative;
    @include breakpoint($col-8, $col-12) {
        @include copy(16px, 22px);
    }
    @include breakpoint($col-12) {
        @include copy(18px, 24px);
    }
    @include copy(14px, 20px);
}

.content-bylinewrap {
    @include clearfix;
}

.sponsor-article-author-logo {
    float: left;
    margin-bottom: 10px;
}

.sponsor-article-author {
    display: none;
    left: 10px;
    line-height: 1;
    position: relative;

    @include breakpoint($col-4, $col-8) {
        clear: left;
        left: 0;
    }
}

.sponsor-article-author {
    color: $gray-8;
    a {
        color: $gray-7;
    }
}

.sponsor-content-left {
    @include copy(14px, 20px);

    @include breakpoint($col-8, $col-12) {
        @include copy(16px, 22px);
    }

    @include breakpoint($col-12) {
        @include copy(18px, 24px);
    }
}


.sponsor-content-fb {
    border: none;
    height: 590px;
    overflow: hidden;
    width: 100%;
}

.sponsor-content-header {
    background-color: $bgcolor-twitter;
    color: $gray-1;
    padding: $gutter-width / 2;

    @include copy(16px);

    .sponsor-content-title {
        margin: 0 auto;
        max-width: $grid-width;
    }
}

.sponsor-content-left{

    .ntv_video_p {
        clear: both;
        margin-bottom: 20px;
        padding-bottom: $ratio-16x9;
        position: relative;

        iframe {
            height: 100% !important;
            width: 100% !important; // !important added to override styles set by nativo to have the page as responsive

            @include stretch(0, false, false, 0);
        }
    }
}

.sponsor-content-left {
    width: 100%;
}

.right-rail-tw {
    display: none;

    iframe {
        width: 100% !important; // !important added to override styles set by nativo
    }
}

.epicAd_Render {
	display: none;
	margin-bottom: 15px;
	text-align: center;

    .ad_rect_atf_01 > div:first-child {
        position: relative;

        &:after {
            content: "Advertisement";
            display: block;
            padding-top: 5px;
            position: absolute;
            width: 100%;

            @include copy(11px, 11px);
            @include theme(color, el ad color)
        }
    }
}

.right-rail-fb,
.right-rail-tw,
.epicAd_Render {
    padding-bottom: 10px;
    width: 100%;

    @include breakpoint($col-8, $col-12) {
        float: left;
        padding-right: 10px;
        width: 50%;
    }
}

.right-rail-fb {
    @include breakpoint($col-8, $col-12) {
        float: right;
    }
}

.twitterImage {
    display: none;
}

.author_name {
    font-weight: 500;
}
