//
// sports-ticker
//
// file: pages/common/_sports-ticker.scss
//
// description:
// Sports ticker module
//
// -----------------------------------------------------------------------------

$ticker-height: 35px;

.m-sports-ticker {
    display: none;
    float: left;
    height: $ticker-height;
    overflow: hidden;
    position: relative;
    width: 100%;

    .pg-article & {
        margin-bottom: 10px;
    }

    &--loaded {
        display: block;

        &:after {
            font-size: 18px;
            font-weight: $bold;
            margin-top: -8px;

            @include icon($icon--arrow-right);
            @include stretch(50%, 8px, false, false);
        }
    }

    &__list {
        border: 0;
        margin: 0;
        outline: 0;
        padding: 0;

        @include clearfix;

        li {
            list-style-image: none;
            list-style-type: none;
            margin-left: 0;
            padding-left: 0;
            padding-right: 0;
            white-space: nowrap;

            &:first-child {
                padding-left: 0
            }
            &:last-child {
                padding-right: 0
            }
        }

        &-item {
            background-color: lighten($green, 45);
            height: $ticker-height;
            line-height: $ticker-height;
            position: relative;
            width: 100%;
        }
    }

    &__section-link {
        background-color: $green;
        float: left;
        margin-right: 15px;
        padding: 0 10px;
        text-transform: uppercase;

        @include link-colors($white, $red-2, $red-2);
    }

    &__article-link {
        display: block;
        overflow: hidden;
        padding-right: 25px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;

        @include link-colors($gray-11, $red-2, $red-2);
        @include z-index($content-layer, header);
    }
}
