//
// Generic User Message
//
// file: pages/common/_user-msg.scss
//
// description:
// Generic user message
//
// ------------------------------------------------------------

$usr-msg--closebtn-size: 36px;
$usr-msg--borderradius: 8px;
$usr-msg--lrmargin: 8px;

.user-msg {
    align-items: center;
    background-color: $cnn-red;
    border-radius: $usr-msg--borderradius;
    color: $white;
    display: none;
    font-family: $sans-serif;
    height: 0;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    z-index: $absolute-z-index;

    @include line-height(28, 20);

    .user-msg--container {
        height: 100%;
    }

    .user-msg--header {
        display: table;
        font-weight: $bold;
        padding: 0;
        width: 100%;
    }

    .user-msg--header-text {
        display: table-cell;
    }

    .user-msg--close {
        display: table-cell;
        height: $usr-msg--closebtn-size;
        vertical-align: middle;
        width: $usr-msg--closebtn-size;

        &:after {
            float: left;
            left: 3px;
            padding: 7px;
            position: relative;
            @include font-size(22);
            @include icon($icon--close);
        }

        &:hover {
            cursor: pointer;
        }
    }

    .user-msg--body {
        background-color: $gray-2;
        color: $gray-11;
        font-weight: $light;
        height: 100%;
        border-radius: 0 0 $usr-msg--borderradius $usr-msg--borderradius;

        .dismiss-msg {
            background-color: $gray-9;
            color: $gray-1;
            display: inline;
            font-weight: $bold;
            margin-left: 20px;
            padding: 10px;

            &:hover {
                background-color: $gray-8;
                cursor: pointer;
            }
        }
    }

    &.headerless {
        border: 1px solid $gray-4;
        border-radius: $usr-msg--borderradius;
        background-color: $gray-2;
        height: 90px;

        .user-msg--header {
            background-color: transparent;
            float: right;
            width: auto;
            width: initial;

            .user-msg--header-text {
                display: none;
            }

            .user-msg--close {
                display: block;
                float: right;
                margin: 0;
                background-color: black;
                border-radius: 100px;
                position: absolute;
                right: 6px;
                top: 6px;
            }
        }

        .user-msg--body {
            float: left;
            width: calc(100% - (#{$usr-msg--closebtn-size} + 16));
            background-color: transparent;

            .user-msg--body-text {
                position: initial;
            }
        }

        .user-msg--container {
            display: block;
            padding: 0 10px;
            height: initial;
            flex: 1;
        }
    }

    &.user-msg-flexbox {
        display: block;
        display: flex;
    }

    body[data-eq-state$="xsmall"] &,
    body[data-eq-state$="small"] & {
        bottom: 0;
        height: 120px;
        left: 0;
        margin: 0 $usr-msg--lrmargin;
        width: calc( 100% - (#{$usr-msg--lrmargin} * 2));
        @include font-size(14);

        .user-msg--header-text {
            padding: 10px 0 10px 7px;
            @include font-size(16);
        }

        .user-msg--body {
            padding: 0;
            @include font-size(14);
            width: calc(100% - #{$usr-msg--closebtn-size});


            .user-msg--body-text {
                margin-bottom: 0;
                padding: 5px 10px 5px 0;

                a {
                    font-weight: $bold;
                }
            }

            .dismiss-msg {
                display: inline-block;
                margin-left: 10px;
            }
        }
    }

    body[data-eq-state$="medium"] & {
        bottom: 0;
        height: 120px;
        left: 20px;
        width: 90%;
        @include font-size(14);

        .user-msg--header-text {
            padding: 10px 0 10px 12px;
            @include font-size(16);
        }

        .user-msg--body {
            padding: 0;
            @include font-size(14);

            .user-msg--body-text {
                padding: 0px !important;

                a {
                    font-weight: $bold;
                }
            }

            .dismiss-msg {
                margin-left: 15px;
            }
        }
    }

    body[data-eq-state$="large"] &,
    body[data-eq-state$="full16x9"] & {
        bottom: 0;
        height: 120px;
        left: 40px;
        width: 600px;
        @include font-size(18);

        .user-msg--header-text {
            padding: 10px 0 10px 17px;
            @include font-size(18);
        }

        .user-msg--body {
            padding: 0;
            @include font-size(16);
            width: 540px;

            .user-msg--body-text {
                padding: 5px 20px;

                a {
                    font-weight: $bold;
                }
            }
        }
    }

    body.pg-intl_homepage & {
        bottom: 0;
    }

    .user-msg--agree {
        bottom: 14px;
        font-size:12px;
        position: absolute;
        right: 10px;

        @include breakpoint($col-4, $col-12) {
            bottom: 8px;
        }

        &:before {
            background: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/icon_checkmark.png") no-repeat;
            background-size: 100%;
            bottom: -8px;
            content: '';
            display: inline-block;
            height: 26px;
            left: -4px;
            margin-right: 3px;
            position: relative;
            width: 26px;

            @include breakpoint($col-1, $col-4) {
                bottom: -4px;
                height: 18px;
                left: 0px;
                width: 18px;
            }

        }

        &:hover {
            cursor: pointer;
        }
    }
}

.ie {
    body[data-eq-state$="full16x9"] {
        .user-msg--body {
            width: 600px;
        }
    }
}
