
//
// video end slate
//
// file: pages/common/_video-end-slate.scss
//
// -----------------------------------------------------------------------------

$right-col-width-large: $col-4;
$right-col-width-medium: $col-2;

h4 {
    [data-eq-state$="small"].video__end-slate &,
    [data-eq-state$="xsmall"].video__end-slate & {
        display: none;
    }
}

.video__end-slate {
    background-color: $black;
    color: $white;
    height: 100%;
    visibility: hidden;
    width: 100%;

    .l-container {
        height: 100%;

        > h4 {
            color: $gray-5;
            padding: 0 $gutter-width;

            @include copy(14px, 18px, $bold);
        }
    }

    @include stretch(0, false, false, 0);
}

.video__end-slate--active {
    visibility: visible;

    @include z-index($content-layer, content-masking);
}

.video__end-slate--inactive {
    visibility: hidden;

    @include z-index($content-layer, content);
}

.video__end-slate__engage__wrapper,
.video__end-slate__replay {
    display: inline-block;
    vertical-align: middle;
}

.video__end-slate__engage__wrapper {
    margin-left: .5em;
    margin-top: -15px;
}

.video__end-slate__engage__more {

    display: none;

    [data-eq-state$="small"].video__end-slate &,
    [data-eq-state$="xsmall"].video__end-slate & {
        display: inline;
        margin-left: 40px;
    }
}

.video__end-slate__engage__text {
    display: inline-block;
}

.video__end-slate__replay-icon {

    color: $white;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    vertical-align:middle;
    width: 100%;

    &:hover:before,
    &:before {

        $height: 30px;
        $width: $height;

        display: inline-block;
        height: $height;

        text-align: center;
        width: $width;

        @include icon($icon--media-restart);
    }

    &:hover:before {
        color: $link-hover;
    }
}

.video__end-slate__replay-text {
    color: $white;
    cursor: pointer;
}


.video__end-slate__tertiary {
    clear: both;
    height: 50%;
    margin-top: 10px;
    padding: 0 $gutter-width;

    [data-eq-state$="small"].video__end-slate &,
    [data-eq-state$="xsmall"].video__end-slate & {
        display: none;
    }

    .cn {
        float: left;
        width: 100%;
    }

    .video__end-slate__carousel {
        border-top: 1px solid $gray-10;
        padding: 10px 30px 0;
        position: relative;

        .owl-height {
            height: 100% !important;
        }

        .cd {
            @extend %clearfix;

            cursor: pointer;
            margin: 0 20px 0 0;
            position: relative;
            width: $col-2;

            .cd__headline {
                color: $white;
                line-height: 0.5;

                .cd__headline-text {
                    @include copy(14px, 18px);
                }
            }
        }

        .media {
            display: block;
            width: 100%;
            img {
                width: 100%;
            }
        }

        .cd__content {
            display: inline-block;
            font-weight: $normal;
            line-height: 1;
            padding: 5px 0;
            width: 100%;
        }

        & .owl-nav div {
            &.owl-next,
            &.owl-prev {
                color: $white;

                &:before {
                    top: 50%;
                }
            }
        }
    }
}

.video__end-slate__top-wrapper {

    [data-eq-state$="large"].video__end-slate & {
        padding: $gutter-width*3 $gutter-width 0 $gutter-width;

        .el__video__replayer-wrapper {
            display: inline-block;
            float: left;
            position: relative;
            width: 210px;

            @include headline(26px, 30px, $bold);

            img {
                width: 100%;
                height: auto;
            }

            .el__video__replay-button {
                color: $near-white;
                cursor: pointer;
                margin: 0;

                &:before {
                    display: inline-block;
                    height: 45px;
                    margin-left: -30px;
                    margin-top: -30px;
                    text-align: center;
                    width: 45px;
                    position: absolute;
                    top: 55%;
                    left: 50%;

                    @include font-size(45);
                    @include icon($icon--type-video-large);
                }

                &:hover:before {
                    color: $link-hover;
                }

                &-wrapper {
                    height: 120px;
                }
            }
        }

        .el__video__replay-button.media__video--360 {
            &:before {
                @include icon($icon--y11-type-video360);
            }
        }

        .video__end-slate__secondary {
            width: 70%;
        }
    }

    [data-eq-state$="medium"].video__end-slate & {
        padding: $gutter-width*2 $gutter-width 0 $gutter-width;
    }

    [data-eq-state$="small"].video__end-slate &,
    [data-eq-state$="xsmall"].video__end-slate & {
        height: 100%;
        padding: $gutter-width $gutter-width 0;


    }

    [data-eq-state$="large"].video__end-slate &,
    [data-eq-state$="medium"].video__end-slate & {
        height: 50%;

        .video__end-slate__secondary {

            @include headline(20px, 24px, $bold);
        }
    }

    [data-eq-state$="medium"].video__end-slate &,
    [data-eq-state$="small"].video__end-slate &,
    [data-eq-state$="xsmall"].video__end-slate & {
        .el__video__replayer-wrapper {
            display: none;
        }

        .video__end-slate__secondary {
            width: 100%;
        }
    }

    .video__end-slate__secondary {
        display: inline-block;
        float: left;
        padding-left: $gutter-width*2;
        padding-right: $gutter-width;
        position: relative;
        padding: 0 20px;

        [data-eq-state$="small"].video__end-slate &,
        [data-eq-state$="xsmall"].video__end-slate & {
            padding: 0;
        }

        @include headline(20px, 24px, $bold);

        .cn {
            [data-eq-state$="small"].video__end-slate &,
            [data-eq-state$="xsmall"].video__end-slate & {
                margin-bottom: 40px;
            }
        }

        h3 {
            color: $gray-5;

            @include copy(14, 18, $bold);
        }

        h2 {
            color: $gray-2;

            @include copy(28, 32, $bold);

        }

        .video__end-slate__replay-text {
            color: $gray-2;

            @include copy(20, 24, $light);
        }
    }
}
