//
// outbrain
//
// file: sass/pages/verticals/video/outbrain
//
// description:
// videx outbrain zone toolkit overrides
//
// -----------------------------------------------------------------------------
.pg-videos,
.pg-video {
    .pg-no-rail {
        .zn-left-fluid-right-stack {
            &.zn-recommended-videos-stories {
                padding-top: $gutter-width;
                .zn__containers {
                    .ob-dynamic-rec-container {
                        max-width: 100%;
                    }
                    .ob-strip-layout {
                        width: 100%;
                    }
                    .ob-widget {
                        width: 100%;
                    }
                    .ob-widget-items-container {
                        width: 100%;
                    }
                    .ob-widget-section {
                        max-width: 100%;
                        padding-top: 0;
                    }
                    // extends desktop out to 640px - CNNVID-311
                    @include breakpoint($col-8, $col-12) {
                        .zn__column--idx-0 {
                            clear: none;
                            float: left;
                            left: 0;
                            margin-right: 0;
                            padding-right: $gutter-width / 2;
                            width: 60%;

                            .ob-strip-layout {
                                min-width: 100%;
                            }
                        }
                        .zn__column--idx-1 {
                            clear: none;
                            float: right;
                            left: 0;
                            margin-left: 0;
                            padding-left: $gutter-width / 2;
                            padding-right: 0;
                            width: 40%;

                            .ob-widget-section {
                                float: right;
                            }
                        }
                    }
                }
            }
        }
    }
}
