@import "_outbrain";

.pg-video,
.pg-videos {
    .pg-no-rail {
        > section {
            & ~ section {
                padding: 0 0 $gutter-width;
                &.t-light {
                    .zn-top {
                        background: rgba(238, 238, 238, 1.0);
                        background: linear-gradient(to bottom, rgba(238, 238, 238, 1.0), rgba(255, 255, 255, 0.95));
                        min-height: 55px;
                    }
                }
                &.t-dark {
                    .zn-top {
                        min-height: 55px;
                    }
                }
            }
        }
    }
}
