@mixin vertical-entertainment-carousel {
    // Carousel arrows
    .owl-carousel .owl-nav div {
        cursor: default;
        width: 60px;

        &:before {
            background: $gray-1;
            border: solid $border-width $entertainment-cerulean;
            color: black;
            line-height: 40px;
            padding: 0;
            text-align: center;
            text-shadow: none;
            transform: translateY(-50%);
            width: 40px;
            @include font-size(25);
        }

        &:hover:before {
            background: $entertainment-cerulean;
            color: $gray-1;
        }
    }

    .owl-prev:before {
        margin: 0 0 0 10px;
        @include icon($icon--y05-entertainment-arrow-left);
    }

    .owl-next:before {
        margin: 0 10px 0 0;
        @include icon($icon--y06-entertainment-arrow-right);
    }

    .owl-carousel .owl-nav .owl-prev:before {
        text-indent: -3px;
    }

    .owl-carousel .owl-nav .owl-next:before {
        text-indent: 4px;
    }

    .owl-carousel .owl-height {
        @media (min-width: $nav-breakpoint) {
            height: 625px !important;
        }
    }

    @include reset {
        .cn .owl-nav div:before {
            text-shadow: none;
        }
    }

    // Carousel dots
    .owl-dot {
        @include force {
            &.pg .owl-carousel .owl-dots .owl-dot,
            .zn.t-dark .owl-carousel .owl-dots .owl-dot,
            .zn.t-light .owl-carousel .owl-dots .owl-dot {
                background: $entertainment-cerulean;
            }
            &.pg .owl-carousel .owl-dots .owl-dot:hover,
            &.pg .owl-carousel .owl-dots .owl-dot:active,
            .zn.t-dark .owl-carousel .owl-dots .owl-dot:hover,
            .zn.t-dark .owl-carousel .owl-dots .owl-dot:active,
            .zn.t-light .owl-carousel .owl-dots .owl-dot:hover,
            .zn.t-light .owl-carousel .owl-dots .owl-dot:active {
                background: $entertainment-teal;
            }
        }

        @include reset {
            .owl-carousel .owl-dots .owl-dot {
                transition: none;
            }
        }
    }

    .owl-dots .owl-dot {
        opacity: 1;
    }

    .owl-dot.active {
        @include force {
            &.pg .owl-carousel .owl-dots .owl-dot.active,
            .zn.t-dark .owl-carousel .owl-dots .owl-dot.active,
            .zn.t-light .owl-carousel .owl-dots .owl-dot.active {
                background: $entertainment-teal;
            }
        }
    }
}
