$entertainment-card-not-free-video-preview: ".cd--vertical.cd--has-media:not(.cd--media__go-free-preview)[data-eq-state]";

@mixin vertical-entertainment-card {
    @include reset {
        .cd .media,
        .cd__wrapper {
            position: static;
        }

        .t-dark.zn.zn--has-background .cd__wrapper,
        .t-light.zn.zn--has-background .cd__wrapper {
            background: 0;
        }

        .cd .media {
            overflow: auto;
        }

        &.pg .cd__headline a .cd__headline-icon:before,
        .zn.t-dark .cd__headline a .cd__headline-icon:before,
        .zn.t-light .cd__headline a .cd__headline-icon:before,
        &.pg .cd__headline a:hover .cd__headline-icon:before,
        .zn.t-dark .cd__headline a:hover .cd__headline-icon:before,
        .zn.t-light .cd__headline a:hover .cd__headline-icon:before {
            color: inherit;
            transition: none;
        }
    }

    @include force {
        .cn-list-small-vertical .cd {
            margin-bottom: 15px;
        }

        .cd.cd--video .media {
            overflow: hidden;
        }

        .cd--media__video-demand .cd__headline-text:before {
            @include force {
                .cd--media__video-demand .cd__headline-text:before {
                    content: none !important;
                }
            }
        }
    }

    .cd {
        @include vertical-entertainment-font;

        @include entertainment-theme {
            .zn.t-dark .cd {
                color: $gray-7;
            }
            .zn.t-light .cd {
                color: $entertainment-cerulean;
            }
        }

        @include force {
            &.pg .cd {
                color: $entertainment-cerulean;
            }
        }
    }

    .link-banner {
        @include entertainment-theme {
            .zn.t-dark .link-banner,
            .zn.t-dark .link-banner:hover {
                color: $gray-7;
            }
            .zn.t-light .link-banner,
            .zn.t-light .link-banner:hover {
                color: $entertainment-cerulean;
            }
        }
    }

    .banner-text {
        font-weight: $bold;

        @include entertainment-theme {
            .zn.t-dark .banner-text {
                color: $gray-7;
            }
            .zn.t-light .banner-text {
                color: $entertainment-cerulean;
            }
        }

        @include force {
            &.pg .banner-text {
                color: $entertainment-cerulean;
            }
        }

        @include reset {
            [data-eq-state$=small].cd .banner-text--natural {
                font-family: inherit;
            }
        }
    }

    .media img {
        transform: translateZ(0);
        transition: opacity .1s ease-in-out;
    }

    .cd__wrapper:hover .media img,
    .link-banner:hover + .cd__wrapper .media img {
        opacity: .8;
    }

    .cd__headline {
        margin: 0;

        @include reset {
            [data-eq-state].cd .cd__headline {
                font-family: inherit;
                font-weight: inherit;
            }
        }
    }

    .cd__headline a {
        color: inherit;
        display: block;
        pointer-events: all;
        text-decoration: none;
        transition: none;
    }

    .cd__headline a:hover {
        @include force {
            &.pg .cd__headline a:hover,
            .zn.t-dark .cd__headline a:hover,
            .zn.t-light .cd__headline a:hover,
            &.pg .cd__headline a:hover .cd__headline-text,
            .zn.t-dark .cd__headline a:hover .cd__headline-text,
            .zn.t-light .cd__headline a:hover .cd__headline-text {
                color: inherit;
            }
        }
    }

    .cd__headline + .cd__auxiliary,
    .cd__headline + .cd__description {
        margin-top: -15px;
    }

    .cd__auxiliary + .cd__description {
        margin-top: 5px;
    }

    .cd__content {
        font-weight: bold;

        @include reset {
            [data-eq-state].cd.cd--has-media .media + .cd__content {
                background: 0 !important;
            }
            .cn-list-small-vertical .cd.cd--has-media[data-eq-state] .media + .cd__content {
                margin-top: 0 !important;
            }
            .cd__content,
            .cn-list-small-vertical .cd .cd__content {
                padding: 0;
            }
        }
    }

    .cd--vertical {
        .cd__content {
            line-height: 1.09;

            @include font-size(22);

            @media (min-width: 780px) {
                @include font-size(28);
            }

            @include reset {
                #{$entertainment-card-not-free-video-preview} .cd__content {
                    padding: 0;
                }
            }
        }
    }

    .cd--horizontal {
        .banner-text,
        .cd__branding,
        .cd__headline + .cd__auxiliary {
            margin: 0 10px;
        }

        .cd__kicker,
        .cd__description {
            margin: 10px 10px 0;
        }

        .cd__status {
            display: none;
        }

        .cd__wrapper {
            display: flex;
        }

        .cd__content {
            width: 100%;
        }

        .media + .cd__content .cd__headline a {
            padding: 10px 10px 0;
        }

        .media + .cd__content .cd__kicker + .cd__headline a {
            padding-top: 0;
        }

        @include reset {
            .cd--horizontal.cd--has-media .cd__content {
                padding: 0;
            }
        }
    }

    .cd--horizontal,
    .cd--extra-small {
        text-align: left;

        &:hover {
            margin-top: -( $border-width--hover - $border-width );
        }

        @include entertainment-theme {
            .zn.t-dark .cd--horizontal,
            .zn.t-dark .cd--extra-small {
                border-top-color: $gray-11;
            }
            .zn.t-light .cd--horizontal,
            .zn.t-light .cd--extra-small {
                border-top-color: $entertainment-cerulean;
            }
        }

        @include force {
            &.pg .cd--horizontal,
            &.pg .cd--extra-small,
            .zn.t-dark .cd--horizontal,
            .zn.t-dark .cd--extra-small,
            .zn.t-light .cd--horizontal,
            .zn.t-light .cd--extra-small {
                border-top-style: solid;
                border-top-width: $border-width;
            }
            &.pg .cd--horizontal:hover,
            &.pg .cd--extra-small:hover,
            .zn.t-dark .cd--horizontal:hover,
            .zn.t-dark .cd--extra-small:hover,
            .zn.t-light .cd--horizontal:hover,
            .zn.t-light .cd--extra-small:hover {
                border-top-width: $border-width--hover;
            }
            .cd--horizontal .cd__headline-text:before,
            .cd--extra-small .cd__headline-text:before {
                content: none !important;
            }
        }
    }

    .cd--extra-small {
        .cd__content .cd__headline a {
            padding: 10px 0;
        }
    }

    .cd.cd--vertical {
        position: relative;

        &.cd--has-media {
            padding-bottom: $media-icon-size / 2;
        }

        .cd__content {
            border-bottom-style: solid;
            border-bottom-width: $border-width;
            border-left-style: solid;
            border-left-width: $border-width;
            border-right-style: solid;
            border-right-width: $border-width;
            box-sizing: content-box;
            margin: 0 auto;
            pointer-events: none;
            text-align: center;
            word-wrap: break-word;

            @media (min-width: $col-8) {
                word-wrap: normal;
            }

            @media (min-width: 780px) {
                @include font-size(28);
            }

            @include entertainment-theme {
                .zn.t-dark .cd--vertical .cd__content {
                    border-bottom-color: $gray-11;
                    border-left-color: $gray-11;
                    border-right-color: $gray-11;
                }
                .zn.t-light .cd--vertical .cd__content {
                    border-bottom-color: $entertainment-cerulean;
                    border-left-color: $entertainment-cerulean;
                    border-right-color: $entertainment-cerulean;
                }
            }

            @include force {
                #{$entertainment-card-not-free-video-preview} .cd__content {
                    padding: 0 0 ($border-width--hover - $border-width) 0;
                }
                .cn-list-large-vertical .cd.cd--has-media[data-eq-state] .media + .cd__content,
                .cn-list-large-vertical .cd.cd--has-media[data-eq-state] .media + .cd__content,
                .cn-list-small-vertical .cd.cd--has-media[data-eq-state] .media + .cd__content,
                #{$entertainment-card-not-free-video-preview} .cd__content {
                    width: calc(100% - #{$card-content-offset} * 2) !important;
                }
                .zn.t-dark .cn .cd.cd--has-media[data-eq-state] .media + .cd__content,
                .zn.t-light .cn .cd.cd--has-media[data-eq-state] .media + .cd__content {
                    position: relative;
                }
            }

            @include reset {
                .zn.t-dark .cn .cd.cd--has-media[data-eq-state] .media + .cd__content,
                .zn.t-light .cn .cd.cd--has-media[data-eq-state] .media + .cd__content {
                    background: 0 !important;
                }
                .cn-list-small-vertical .cd.cd--has-media[data-eq-state] .media + .cd__content {
                    margin-top: 0 !important;
                }
            }
        }

        .cd__content:before {
            border-left-style: solid;
            border-left-width: $border-width;
            border-right-style: solid;
            border-right-width: $border-width;
            border-top-style: solid;
            border-top-width: $border-width;
            content: "";
            height: $card-content-overlap;
            left: -$border-width;
            position: absolute;
            top: -$card-content-overlap - $border-width;
            width: 100%;

            @include entertainment-theme {
                .zn.t-dark .cd--vertical .cd__content:before {
                    border-left-color: $gray-11;
                    border-right-color: $gray-11;
                    border-top-color: $gray-11;
                }

                .zn.t-light .cd--vertical .cd__content:before {
                    border-left-color: $entertainment-cerulean;
                    border-right-color: $entertainment-cerulean;
                    border-top-color: $entertainment-cerulean;
                }
            }
        }

        .link-banner {
            display: block;
            pointer-events: all;
            transition: none;

            @include reset {
                padding: 0;
            }
        }

        .banner-text {
            text-align: center;
        }

        .cd__content .banner-text {
            padding: 10px 0 0;
        }

        .cd__content:hover,
        .media:hover + .cd__content,
        .link-banner:hover + .cd__wrapper .cd__content {
            border-bottom-width: $border-width--hover;
            border-left-width: $border-width--hover;
            border-right-width: $border-width--hover;

            @include force {
                #{$entertainment-card-not-free-video-preview} .cd__content:hover,
                #{$entertainment-card-not-free-video-preview} .media:hover + .cd__content {
                    padding: 0;
                }
            }
        }

        .cd__content:hover:before,
        .media:hover + .cd__content:before,
        .link-banner:hover + .cd__wrapper .cd__content:before {
            border-left-width: $border-width--hover;
            border-right-width: $border-width--hover;
            border-top-width: $border-width--hover;
            left: -$border-width--hover;
        }

        .cd__headline a {
            padding: 20px 10px;
            pointer-events: all;
        }

        .link-banner + .cd__headline a {
            padding-top: 15px;
        }

        &.cd--audio .cd__content:hover .cd__headline-text:before,
        &.cd--video .cd__content:hover .cd__headline-text:before,
        &.cd--gallery .cd__content:hover .cd__headline-text:before,
        &.cd--audio .media:hover + .cd__content .cd__headline-text:before,
        &.cd--video .media:hover + .cd__content .cd__headline-text:before,
        &.cd--gallery .media:hover + .cd__content .cd__headline-text:before {
            bottom: -($media-icon-size / 2) - $border-width--hover;
        }

        &.cd--audio .cd__headline-text:before,
        &.cd--video .cd__headline-text:before,
        &.cd--gallery .cd__headline-text:before {
            background: $gray-1;
            border-radius: $media-icon-size;
            border: solid $entertainment-cerulean $border-width;
            bottom: -($media-icon-size / 2) - $border-width;
            display: block;
            height: $media-icon-size;
            left: -$border-width;
            margin: 0 auto;
            position: absolute;
            right: -$border-width;
            width: $media-icon-size;
            @include z-index($content-layer);
        }

        &.cd--video .cd__headline-text:before {
            text-indent: 4px;

            @include force {
                &.pg:not(.pg-vertical--style) .cn:not(.cn-list-hierarchical-xs):not(.cn-list-small-horizontal):not(.cn-list-xs) .cd.cd--video:not(.cd--media__video-demand) .cd__headline-text:before {
                    line-height: $media-icon-size;

                    @include font-size(16);
                    @include icon($icon--y10-entertainment-type-video);
                }
            }
        }

        &.cd--gallery .cd__headline-text:before {
            @include force {
                &.pg:not(.pg-vertical--style) .cn .cd.cd--gallery .cd__headline-text:before {
                    line-height: $media-icon-size + $border-width;

                    @include icon($icon--y09-entertainment-type-gallery);
                    @include font-size(18);
                }
            }
        }

        .cd__content:hover .cd__headline-text:before,
        .media:hover + .cd__content .cd__headline-text:before,
        .link-banner:hover + .cd__wrapper .cd__headline-text:before {
            background: $entertainment-cerulean;
            color: $gray-1;
        }

        .cd__pre-headline {
            color: $cnn-red;
            text-transform: uppercase;
        }

        .cd__post-headline {
            font-style: italic;
            font-weight: $normal;

            @include reset {
                &.pg .cd__post-headline,
                .zn.t-dark .cd__post-headline,
                .zn.t-light .cd__post-headline,
                &.pg .cd__headline a:hover .cd__post-headline,
                .zn.t-dark .cd__headline a:hover .cd__post-headline,
                .zn.t-light .cd__headline a:hover .cd__post-headline {
                    color: inherit;
                }
            }
        }

        .cd__kicker {
            font-weight: $bold;
            margin: 10px 0 0;
            text-transform: uppercase;

            @include font-size(12);

            @include reset {
                .cd__kicker {
                    display: block;
                    font-family: inherit;
                }
            }
        }

        .cd__kicker + .cd__headline a {
            margin: 5px 0 0;
            padding-top: 0;
        }

        .cd__auxiliary {
            padding: 0 10px;
            @include font-size(12);

            @include reset {
                .cd__auxiliary {
                    font-family: inherit;
                }
            }
        }

        .cd__description {
            padding: 0 10px 20px;

            @include reset {
                .cd[data-eq-state] .cd__description {
                    font-family: inherit;
                }
            }
        }

        .cd__description-piped-links {
            padding: 0 7px 20px 0;
            pointer-events: all;

            @media (min-width: $col-6) {
                padding: 0 10px 20px;

                ul {
                    li {
                        &:before {
                            display: none;
                        }

                        &:after {
                            background: $entertainment-vermilion;
                            content: " ";
                            display: inline-block;
                            height: 10px;
                            margin: 0 10px;
                            width: 2px;
                        }

                        a {
                            color: $cerulean-m5;
                            font-weight: $bold;

                            &:hover {
                                color: $cnn-red;
                            }
                        }
                    }
                }
            }
        }

        .cd__branding {
            font-weight: $normal;
            margin: 10px 0 0;
            padding: 0 20px;

            @include reset {
                .cd__branding {
                    font-family: inherit;
                }
                &.pg .cd__branding,
                .zn.t-dark .cd__branding,
                .zn.t-light .cd__branding {
                    border: 0;
                }
            }
        }

        .cd__branding:after {
            border-bottom-style: solid;
            border-bottom-width: $border-width;
            content: "";
            display: block;
            margin: 10px 0 0;

            @include entertainment-theme {
                .zn.t-dark .cd.cd--vertical .cd__branding:after {
                    border-bottom-color: $entertainment-violet;
                }
                .zn.t-light .cd.cd--vertical .cd__branding:after {
                    border-bottom-color: $entertainment-teal;
                }
            }
        }

        .cd__branding__image {
            display: none;
        }

        .cd__branding__head a {
            color: inherit;
            line-height: 23px;
            text-decoration: none;
        }

        .cd__branding__sub {
            line-height: 16px;
            margin-top: 2px;
            @include font-size(12);

            @include reset {
                .cd__branding__sub {
                    font-family: inherit;
                }
            }
        }

        .cd__status {
            border: solid $entertainment-cerulean $border-width;
            height: $entertainment-card-status-height;
            left: -$border-width;
            line-height: 1;
            padding: 10px;
            position: absolute;
            text-transform: uppercase;
            top: -$card-content-overlap - $entertainment-card-status-height;

            @include font-size(16);

            @include reset {
                .cd__status {
                    font-family: inherit;
                }
            }
        }

        .cd__content:hover .cd__status,
        .media:hover + .cd__content .cd__status,
        .link-banner:hover + .cd__wrapper .cd__status {
            border-width: $border-width--hover;
            left: -$border-width--hover;
            height: $entertainment-card-status-height + (($border-width--hover - $border-width) * 2);
            top: -$card-content-overlap - $entertainment-card-status-height - ($border-width--hover - $border-width);
        }

        .cd__status--developing {
            background: $entertainment-vermilion;
            color: $gray-1;
        }
    }

    .cd[data-eq-state$="small"].cd--vertical {
        .cd__description-piped-links {
            padding: 15px 7px 20px 0;

            ul {
                li {
                    display: block;
                    padding: 0 0 20px 10px;
                    position: relative;

                    @include copy(14px, 18px, $bold);

                    &:before {
                        background-color: $entertainment-vermilion;
                        content: " ";
                        display: inline;
                        height: 2px;
                        left: 50%;
                        overflow: hidden;
                        position: absolute;
                        top: -6px;
                        width: 10px;
                    }

                    &:after {
                        display: none;
                    }

                    a {
                        color: $cerulean-m5;
                        font-weight: $bold;

                        &:hover {
                            color: $cnn-red;
                        }
                    }
                }
            }
        }
    }

    .cd__headline-icon,
    .media__icon {
        display: none;
    }

    // Large solo card
    .owl-item .cd.cd--vertical[data-eq-state~="large"],
    .cd.cd--vertical:not(.cd--has-siblings)[data-eq-state~="large"] {
        .cd__wrapper {
            position: relative;
        }

        .cd__content {
            right: 80px;
            top: 45%;
            transform: translateY(-50%);
            padding: 10px 0;

            @include force {
                .owl-item .cd--vertical.cd--has-media:not(.cd--media__go-free-preview)[data-eq-state~="large"] .cd__content,
                .cd--vertical.cd--has-media:not(.cd--media__go-free-preview):not(.cd--has-siblings)[data-eq-state~="large"] .cd__content {
                    width: 300px !important;
                }
                .zn.t-dark .cn .owl-item .cd.cd--vertical[data-eq-state~="large"] .media + .cd__content,
                .zn.t-light .cn .owl-item .cd.cd--vertical[data-eq-state~="large"] .media + .cd__content,
                .zn.t-dark .cn .cd.cd--vertical[data-eq-state~="large"]:not(.cd--has-siblings) .media + .cd__content,
                .zn.t-light .cn .cd.cd--vertical[data-eq-state~="large"]:not(.cd--has-siblings) .media + .cd__content {
                    background: $gray-1 !important;
                    position: absolute;
                }
            }

            @include reset {
                .owl-item .cd--vertical.cd--has-media:not(.cd--media__go-free-preview)[data-eq-state~="large"] .cd__content ,
                .cd--vertical.cd--has-media:not(.cd--media__go-free-preview):not(.cd--has-siblings)[data-eq-state~="large"] .cd__content {
                    bottom: auto;
                    left: auto;
                }
            }
        }

        .cd__content:hover,
        .media:hover + .cd__content,
        .link-banner:hover + .cd__wrapper .cd__content {
            right: 80px - ($border-width--hover - $border-width);
            padding: 10px 0;
        }

        .cd__content:before {
            height: 0;
            top: 0;
        }

        .cd__status {
            top: -$entertainment-card-status-height + $border-width;
        }

        .cd__content:hover .cd__status,
        .media:hover + .cd__content .cd__status,
        .link-banner:hover + .cd__wrapper .cd__content .cd__status {
            top: -$entertainment-card-status-height + ($border-width--hover - $border-width);
        }

        .cd__headline {
            @include font-size(28);
        }

        .cd__headline-text:before {
            border-radius: $media-icon-size--large;
            bottom: -($media-icon-size--large / 2) - $border-width;
            height: $media-icon-size--large;
            width: $media-icon-size--large;
        }

        &.cd--video .cd__headline-text:before {
            text-indent: 4px;

            @include force {
                &.pg:not(.pg-vertical--style) .cn .owl-item .cd.cd--vertical.cd--video:not(.cd--media__video-demand)[data-eq-state~="large"] .cd__headline-text:before,
                &.pg:not(.pg-vertical--style) .cn .cd.cd--vertical.cd--video:not(.cd--has-siblings):not(.cd--media__video-demand)[data-eq-state~="large"] .cd__headline-text:before {
                    line-height: $media-icon-size--large;

                    @include font-size(16);
                }
            }
        }

        &.cd--gallery .cd__headline-text:before {
            @include force {
                &.pg:not(.pg-vertical--style) .cn .owl-item .cd.cd--vertical.cd--gallery[data-eq-state~="large"] .cd__headline-text:before,
                &.pg:not(.pg-vertical--style) .cn .cd.cd--vertical.cd--gallery:not(.cd--has-siblings)[data-eq-state~="large"] .cd__headline-text:before {
                    line-height: $media-icon-size--large + $border-width;

                    @include font-size(22);
                }
            }
        }

        .cd__content:hover .cd__headline-text:before,
        .media:hover + .cd__content .cd__headline-text:before,
        .link-banner:hover + .cd__wrapper .cd__content .cd__headline-text:before {
            bottom: -($media-icon-size--large / 2) - ($border-width--hover - $border-width);
        }
    }


    // Ugly targeting of cn-list cards
    .cn-list-large-vertical {
        .cd__headline {
            @include font-size(22);
            line-height: 1.2;
        }
    }

    // Ugly targeting of cn-list cards
    .cn-list-hierarchical-xs .cd.cd--vertical.cd--has-siblings,
    .cn-list-hierarchical-small-horizontal .cd.cd--vertical.cd--has-siblings {
        &.cd--has-media {
            padding-bottom: 0;
        }

        .cd__content {
            border: 0;
            text-align: left;

            &:before {
                content: none;
            }

            &:hover {
                width: 100%;
            }

            @include force {
                .cn-list-hierarchical-xs,
                .cn-list-hierarchical-small-horizontal {
                    .cd--has-siblings#{$entertainment-card-not-free-video-preview} .cd__content,
                    .cd--has-siblings#{$entertainment-card-not-free-video-preview} .cd__content:hover,
                    .cd--has-siblings#{$entertainment-card-not-free-video-preview} .cd__media:hover + .cd__content {
                        width: 100% !important;
                    }
                    .cd--has-siblings#{$entertainment-card-not-free-video-preview} .cd__content {
                        padding: 0;
                    }
                }
            }
        }

        .cd__status {
            left: 0;
            top: -50px;
        }

        .cd__content:hover .cd__status,
        .media:hover + .cd__content .cd__status,
        .link-banner:hover + .cd__wrapper .cd__content .cd__status {
            border-width: $border-width;
            height: $entertainment-card-status-height;
            top: -50px;
            left: 0;
        }

        .cd__branding {
            padding: 0;
        }

        .cd__headline a {
            padding: 10px 0;
        }

        .cd__kicker + .cd__headline a {
            padding-top: 0;
        }

        .cd__headline + .cd__auxiliary,
        .cd__headline + .cd__description {
            margin-top: -5px;
        }

        .cd__auxiliary {
            padding: 0;
        }

        .cd__description {
            padding: 0;
        }

        .cd__headline-text:before {
            @include force {
                .cn-list-hierarchical-xs .cd.cd--vertical.cd--has-siblings .cd__headline-text:before,
                .cn-list-hierarchical-small-horizontal .cd.cd--vertical.cd--has-siblings .cd__headline-text:before {
                    content: none !important;
                }
            }
        }
    }
}
