@mixin vertical-entertainment-container {
    .cn {
        text-align: center;
    }

    .cn--has-shingle {
        background: 0;
    }

    .cn.cn-list-small-horizontal li {
        margin-bottom: 25px;
    }

    .cn__title {
        border: solid $entertainment-cerulean $border-width;
        display: inline-block;
        line-height: 1;
        margin: 0;
        padding: 5px 30px;
        position: relative;
        @include font-size(16);
        @include vertical-entertainment-font;
        @include z-index($content-layer, header);

        @include force {
            &.pg .cn__title,
            &.pg .pg-rail .cn__title,
            .zn.t-dark .cn__title,
            .zn.t-light .cn__title {
                background: $gray-1;
                color: $entertainment-cerulean;
            }
        }

        @include reset {
            .cn__title {
                transition: none;
            }
        }
    }

    .cn__title--link {
        @include force {
            &.pg a.cn__title--link:hover .cn__title,
            &.pg a.cn__title--link:hover .cn__title,
            .zn.t-dark a.cn__title--link:hover .cn__title,
            .zn.t-light a.cn__title--link:hover .cn__title {
                background: $entertainment-cerulean;
                color: $gray-1;
            }
        }

        @include reset {
            .cn__title--link {
                padding: 0;
            }
            .cn__title--link:before {
                content: none;
            }
        }
    }

    .cn-list-hierarchical-xs .cn__title + *,
    .cn-list-hierarchical-xs .cn__title--link + * {
        margin-top: -15px;
    }

    .cn-list-small-horizontal .cn__title + *,
    .cn-list-small-horizontal .cn__title--link + * {
        margin-top: -$border-width;
    }

    .cn-list-small-horizontal li:first-of-type .cd:hover {
        margin-top: -$border-width--hover;
    }

    .cn.cn-list-small-vertical,
    .cn.cn-list-large-vertical {
        .cn-shingle .cn-shingle__content {
            float: none;
        }
    }
}
