@mixin vertical-entertainment-elements {
    .media__video {
        background: $gray-1;
    }

    .el__video__play-button {
        cursor: default;

        &:before {
            border-radius: $play-in-page-icon-size;
            border: solid $border-width $entertainment-cerulean;
            background: $gray-1;
            color: $entertainment-cerulean;
            height: $play-in-page-icon-size;
            line-height: $play-in-page-icon-size;
            margin-left: -($play-in-page-icon-size / 2);
            margin-top: -($play-in-page-icon-size / 2);
            text-indent: 5px;
            width: $play-in-page-icon-size;

            @include font-size(16);
            @include icon($icon--y10-entertainment-type-video);
        }
    }

    .media:hover .el__video__play-button:before,
    .link-banner:hover + .cd__wrapper .el__video__play-button:before {
        color: $gray-1;
        background: $entertainment-cerulean;
    }
}
