@import "_header";
@import "_footer";
@import "_page";
@import "_peg";
@import "_leaf-page";

$entertainment-cerulean: #001a2c;
$entertainment-orange: #f3dfcd;
$entertainment-teal: #c0e2e6;
$entertainment-vermilion: #fa4d16;
$entertainment-violet: #8343ed;

$border-width: 2px;
$border-width--hover: 3px;
$card-content-offset: 24px;
$card-content-overlap: 30px;
$entertainment-card-status-height: 40px;
$entertainment-navigation-height: 50px;
$media-icon-size--large: 40px;
$media-icon-size: 30px;
$play-in-page-icon-size: 40px;

$entertainment-buckets-vertical-breakpoint: 680px;
$entertainment-buckets-breakpoint: 374px;
$nav-breakpoint: 915px;

// Rules around special font
// Use mixin here as we can't extend placeholders inside media queries
@mixin vertical-entertainment-font {
    font-family: 'CNN Condensed', 'Helvetica Neue', Helvetica, Arial, Utkal, sans-serif;
    font-feature-settings: "kern";
    text-rendering: optimizeLegibility;

    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    -webkit-font-feature-settings: "kern";
}

.pg-vertical--entertainment.pg-section,
.pg-vertical--entertainment.pg-special {
    @if $is-static == 'header' {
        @include vertical-entertainment-header;
    } @else if $is-static == 'footer' {
        @include vertical-entertainment-footer;
    } @else {
        @include vertical-entertainment-header;
        @include vertical-entertainment-footer;
        @include vertical-entertainment-page;
    }
}

.pg-vertical--entertainment.pg-leaf {
    @include vertical-entertainment-header;
    @include vertical-entertainment-footer;
    @include vertical-entertainment-leaf-page;
    @include vertical-entertainment-logo;
    @include vertical-entertainment-social;
}
