@mixin vertical-entertainment-footer {
    .l-footer {
        background: $gray-1;
        border-top: solid $border-width $entertainment-cerulean;
        margin: 50px 0 0;

        @include reset($includeLeafPage: true) {
            .l-footer {
                padding: 0;
            }
        }
    }

    .m-footer-nav {
        color: $entertainment-cerulean;
        margin: -25px auto 0;

        @include reset($includeLeafPage: true) {
            .m-footer-nav {
                padding: 0;
            }
        }
    }

    .l-footer__content {
        text-align: center;
        @include vertical-entertainment-font;

        @include reset($includeLeafPage: true) {
            .l-footer__content {
                margin: 0 auto;
            }
        }
    }

    .footer-section-title {
        @include font-size(36);
    }

    .social-wrapper__title {
        text-transform: uppercase;
        @include font-size(18);
    }

    .legal {
        margin-top: 50px;
        color: $gray-5;
        display: block;
        font-weight: $bold;
        @include font-size(12);
    }

    .legal a {
        color: $gray-5;

        &:hover {
            text-decoration: underline;
        }
    }

    .legal__copyright,
    .legal__font-copyright {
        margin: 0;
    }

    .legal__font-copyright {
        display: inline;
    }

    .legal__link-list {
        list-style: none;
        padding: 0;
        display: inline;
    }

    .legal__link-list-item {
        display: inline;
    }

    .legal__link-list-item + .legal__link-list-item {
        border-left: solid 1px $gray-5;
        padding-left: .5em;
        margin-left: .5em;
    }

    .legal__link {
        color: $gray-5;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
