@mixin placeholder-styles() {
    &::-webkit-input-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-moz-placeholder { @content; }
}

@mixin vertical-entertainment-header {
    .nav-header {
        height: auto;
        overflow: initial;
    }

    &.nav-open .nav-header {
        height: 100%;
    }

    .nav {
        align-content: space-between;
        background: $gray-1;
        height: $entertainment-navigation-height;

        @include vertical-entertainment-font;
        @include z-index($navigation-layer);

        @include reset($includeLeafPage: true) {
            .nav {
                position: static;
            }
        }
        @include force($includeLeafPage: true) {
            .nav,
            .skinny .nav {
                height: $entertainment-navigation-height !important;
            }
        }
    }

    &.nav-open .nav {
        background: $entertainment-cerulean;

        @media (min-width: $nav-breakpoint) {
            background: $gray-1;
        }

        @include force {
            &.nav-open .nav,
            &.nav-open .skinny .nav {
                height: 100% !important;

                @media (min-width: $nav-breakpoint) {
                    height: $entertainment-navigation-height !important;
                }
            }
        }
    }

    .nav > .container {
        height: 100%;
    }

    .nav__flex-container {
        min-height: 100%;
    }

    .menu-toggle {
        margin-right: 3px;
        width: $entertainment-navigation-height - 10px;

        @media (min-width: $nav-breakpoint) {
            display: none;
        }
    }

    .menu-toggle-icon {
        height: $entertainment-navigation-height;
        line-height: $entertainment-navigation-height;
        text-align: center;
        width: $entertainment-navigation-height - 10px;
        @include z-index($navigation-layer, navigation-content);

        &:before {
            color: $entertainment-cerulean;
            @include font-size(25);
            @include icon($icon--y07-entertainment-menu);
        }

        &:hover:before {
            color: $entertainment-teal;
        }

        @include force($includeLeafPage: true) {
            .nav .menu-toggle .menu-toggle-icon {
                @media (min-width: $col-10) {
                    display: block;
                }
            }
        }

        @include reset($includeLeafPage: true) {
            .nav .menu-toggle-icon {
                position: relative;
            }
            &.nav-open .nav .menu-toggle-icon {
                background: 0;
            }
        }
    }

    &.nav-open .menu-toggle-icon {
        &:before {
            color: $cnn-red;
            @include font-size(32);
            @include icon($icon--close);
        }
    }

    .drawer {
        box-sizing: border-box;
        height: calc(100% - #{$entertainment-navigation-height});
        left: 0;
        opacity: 0;
        overflow: scroll;
        pointer-events: none;
        position: absolute;
        top: $entertainment-navigation-height;
        transition: opacity .1s ease-in-out;
        width: 100%;

        @media (min-width: $nav-breakpoint) {
            background: 0;
            flex-grow: 1;
            height: auto;
            min-height: 0;
            opacity: 1;
            overflow: hidden;
            pointer-events: all;
            position: static;
            width: auto;
        }
    }

    &.nav-open .drawer {
        opacity: 1;
        pointer-events: all;

        &:after {
            background: $entertainment-cerulean;
            content: "";
            height: 100vh;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: -1;

            @media (min-width: $nav-breakpoint) {
                content: none;
            }
        }
    }

    .drawer__wrapper {
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        padding: $entertainment-navigation-height 0;

        > * {
            flex-shrink: 0;
        }

        @media (min-width: $nav-breakpoint) {
            flex-direction: row;
            flex-grow: 1;
            height: 100%;
            padding: 0;
        }
    }

    &.breaking-news--showing .drawer__wrapper {
        padding-bottom: $entertainment-navigation-height * 2;

        @media (min-width: $nav-breakpoint) {
            padding-bottom: 0;
        }
    }

    &.nav-open .drawer__wrapper {
        &:after,
        &:before {
            content: "";
            height: 2em;
            pointer-events: none;
            position: fixed;
            width: 100%;

            @media (min-width: $nav-breakpoint) {
                content: none;
            }
        }

        &:after {
            background: linear-gradient(to top, rgba($entertainment-cerulean, 1), rgba($entertainment-cerulean, 0));
            bottom: 0;
        }

        &:before {
            background: linear-gradient(to bottom, rgba($entertainment-cerulean, 1), rgba($entertainment-cerulean, 0));
            left: 0;
            top: $entertainment-navigation-height;
            @include z-index($navigation-layer);
        }
    }

    .buckets {
        align-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;

        @media (min-width: $nav-breakpoint) {
            flex-direction: row;
            justify-content: flex-start;
        }

        @include force($includeLeafPage: true) {
            .nav .drawer > ul.buckets {
                height: auto;
            }
        }

        @include reset($includeLeafPage: true) {
            .skinny .nav .buckets {
                padding: 0;
                position: static !important;

                @media (min-width: $col-10) {
                    height: auto;
                }
            }
            &.nav-open .nav .buckets {
                transform: none;
                transition: none;
            }
        }
    }

    .bucket {
        display: flex;
        font-weight: 300;
        justify-content: center;
        padding: 0 10px;
        text-align: center;
        @include font-size(36);

        @media (min-width: $nav-breakpoint) {
            line-height: 1;
            @include font-size(16);
        }
    }

    .bucket + .bucket {
        // Only add extra spacing if there is enough vertical space to do so.
        @media (min-height: 425px) {
            margin-top: 20px;
        }

        @media (min-height: 425px) and (min-width: $nav-breakpoint){
            margin-top: 0;
        }
    }

    .bucket a {
        color: $gray-1;
        padding: 6px 10px;
        position: relative;
        text-decoration: none;
        vertical-align: baseline;

        @media (min-width: $entertainment-buckets-breakpoint) {
            line-height: $entertainment-navigation-height;
            padding: 10px;
        }

        @media (min-width: $nav-breakpoint) {
            box-sizing: border-box;
            color: $entertainment-cerulean;
            display: block;
            min-height: 0;
            padding: 0 10px;
        }

        @include force($includeLeafPage: true) {
            @media (min-width: $nav-breakpoint) {
                .skinny .nav .buckets .bucket {
                    line-height: $entertainment-navigation-height;
                }
            }
        }

        @include reset($includeLeafPage: true) {
            .nav .bucket > a {
                border: 0;
                font-size: inherit;
            }
        }
    }

    .bucket a:before {
        background: $entertainment-teal;
        bottom: .1em;
        content: "";
        height: $border-width;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        transition: width .2s ease-in-out;
        width: 0;
    }

    .bucket a:after {
        color: transparent;
        content: attr(title);
        display: block;
        font-weight: 500;
        height: 1px;
        overflow: hidden;
        visibility: hidden;
    }

    .bucket.selected > a,
    .bucket.selected > a:hover,
    .bucket a:hover {
        font-weight: 500;
    }

    .bucket.selected a:before,
    .bucket a:hover:before {
        width: 100%;
    }

    .search-toggle {
        cursor: pointer;
        height: $entertainment-navigation-height;
        position: relative;
        text-align: center;
        width: $entertainment-navigation-height - 10px;
        @include z-index($navigation-layer, navigation-content);

        &:before {
            color: $entertainment-cerulean;
            line-height: $entertainment-navigation-height;
            @include font-size(25);
            @include icon($icon--y08-entertainment-search);

            @media (min-width: $nav-breakpoint) {
                line-height: $entertainment-navigation-height - 3px;
                padding: 3px 0 0;
                width: $entertainment-navigation-height;
                @include font-size(16);
            }
        }

        &:hover:before {
            color: $entertainment-teal;
        }
    }

    &.nav-open .search-toggle {
        &:before {
            color: $gray-1;

            @media (min-width: $nav-breakpoint) {
                color: $entertainment-cerulean;
            }
        }

        &:hover:before {
            color: $entertainment-teal;
        }
    }

    .search-wrapper {
        left: 0;
        margin: 0 auto;
        max-width: $grid-width;
        position: absolute;
        top: $entertainment-navigation-height;
        width: 100%;
        @include z-index($navigation-layer, navigation-content);

        @media (min-width: $nav-breakpoint) {
            left: auto;
            position: relative;
            right: 0;
            top: 0;
            width: auto;
            @include z-index($navigation-layer, navigation-wrapper);
        }
    }

    .utilities__search {
        transform-origin: right top;
        transform: scale(1, 0);
        transition: transform .1s ease-in-out;
        width: 100%;

        @media (min-width: $nav-breakpoint) {
            position: absolute;
            right: 0;
            top: 0;
            transform-origin: right center;
            transform: scale(0, 1);
            width: 320px;
        }
    }

    .search__field {
        position: relative;

        @include reset($includeLeafPage: true) {
            .search__field {
                background: 0;
                line-height: normal;
                padding: 0;
                top: 0;
                transform: none;
                width: 100%;
            }
            &.search-open .skinny .search__field {
                @media (min-width: 1px) {
                    max-width: 100%;
                    position: static;
                }
            }
        }
    }

    .search__input-field {
        background: $entertainment-cerulean;
        border-radius: 0;
        border: 0;
        box-sizing: border-box;
        color: $gray-1;
        height: $entertainment-navigation-height;
        padding: 0 18px;
        width: 100%;

        @include font-size(14);

        @include placeholder-styles {
            opacity: .4;
        }
    }

    &.search-open .utilities__search {
        transform: scale(1, 1);
    }

    &.search-open .search-toggle:before {
        @media (min-width: $nav-breakpoint) {
            color: $gray-1;
        }
    }

    &.search-open .search-toggle:hover:before {
        @media (min-width: $nav-breakpoint) {
            color: $entertainment-teal;
        }
    }

    &.nav-open .search__input-field {
        background: $gray-1;
        color: $entertainment-cerulean;

        @include placeholder-styles {
            color: $entertainment-cerulean;
        }

        @media (min-width: $nav-breakpoint) {
            background: $entertainment-cerulean;
            color: $gray-1;

            @include placeholder-styles {
                color: $gray-1;
            }
        }
    }

    .search__button {
        position: absolute;
        top: -200vh;
    }

    // Flexbox Positioning
    .flex {
        display: flex;
        flex-wrap: wrap;
    }

    .flex--column {
        flex-direction: column;
    }

    .flex-order--drawer {
        order: 6;

        @media (min-width: $nav-breakpoint) {
            order: 2;
        }
    }

    .flex-order--logo {
        order: 0;
    }

    .flex-order--search {
        order: 3;
    }

    .flex-order--search-field {
        order: 5;
    }

    .flex-order--menu-toggle {
        order: 4;
    }
}
