@mixin vertical-entertainment-leaf-page {

    &.pg-vertical--entertainment:not(.breaking-news--showing) .pg-wrapper {
        margin-top: 60px;
    }

    .pg-wrapper {
        @media (min-width: $nav-breakpoint) {
            overflow-x: hidden;
        }
    }

    .ad.ad--epic .ad-ad_bnr_btf_02 {
        padding-top: 20px;
    }

}
