@mixin vertical-entertainment-logo {
    .logo {
        display: flex;
        flex-grow: 1;
        @include z-index($navigation-layer, navigation-content);

        @media (min-width: $nav-breakpoint) {
           flex-grow: 0;
        }

        @include reset($includeLeafPage: true) {
            .nav .logo {
                background: 0;
                height: auto;
                width: auto;
                position: static;
                transform: none;
            }
        }
    }

    &.nav-open .nav .logo {
        height: $entertainment-navigation-height;
    }

    .logo-cnn {
        background-image: url('@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/logo_cnn.svg');
        display: block;
        height: $entertainment-navigation-height;
        width: $entertainment-navigation-height;
    }

    .logo-cnn--footer {
        margin: 0 auto;
    }

    .logo-entertainment {
        background-image: url('@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/logo_entertainment.svg');
        background-repeat: no-repeat;
        background-position: 0 9px;
        background-size: 180px 30px;
        display: block;
        width: 180px;

        @media (min-width: $nav-breakpoint) {
            background-position: 0 6px;
            background-size: 194px 32px;
            width: 194px;
        }
    }

    &.nav-open .nav .logo-entertainment {
        background-image: url('@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/logo_entertainment_light.svg');

        @media (min-width: $nav-breakpoint) {
            background-image: url('@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/logo_entertainment.svg');
        }
    }

    .logo-entertainment--header {
        @media (min-width: $nav-breakpoint) {
           margin: 0 10px 0 0;
        }
    }

    .logo-entertainment--footer {
        height: 50px;
        margin: 0 auto;
    }
}
