@import "_card";
@import "_carousel";
@import "_container";
@import "_elements";
@import "_logo";
@import "_social";
@import "_zone-header";

@mixin vertical-entertainment-page {
    // Page and zone styles
    // Override theming to force style colours
    &.pg-section {
        .zn--idx-0 {
            padding-top: 0;

            .column:first-child .cn {
                margin-bottom: 0;
            }
        }
    }

    // Allow carousel to bleed over slightly
    .zn__containers {
        overflow: visible;
    }

    .zn-header__text-page_header {
        display: none;
    }

    .pg__background__image {
        position: inherit;
    }

    &.pg-vertical--entertainment:not(.breaking-news--showing) .pg-wrapper {
        margin-top: 60px;
    }

    &.pg-vertical--entertainment .pg__background__image_wrapper {
        display: none;
    }

    .pg-wrapper {
        @media (min-width: $nav-breakpoint) {
            overflow-x: hidden;
        }
    }

    .ad.ad--epic .ad-ad_bnr_btf_02 {
        padding-top: 20px;
    }

    @include vertical-entertainment-card;
    @include vertical-entertainment-carousel;
    @include vertical-entertainment-container;
    @include vertical-entertainment-elements;
    @include vertical-entertainment-logo;
    @include vertical-entertainment-social;
    @include vertical-entertainment-zone-header;
}
