// Mixin to seperate Michonne overrides.
//
// These are a set of helper mixins that gives us two "pegs" to hang
// our styles on. It is possible to turn off each peg using the
// variables $entertainment-reset-enabled, and $entertainment-force-enabled.

$entertainment-reset-enabled: true !default;
$entertainment-force-enabled: true !default;
$entertainment-theme-enabled: true !default;

$entertainment-non-leaf-templates: "section", "special";
$entertainment-leaf-templates: "leaf";
$entertainment-all-templates: append($entertainment-non-leaf-templates, $entertainment-leaf-templates, "comma");

@mixin _entertainment-page-classes($list) {
    @each $template in $list {
        .pg-vertical--entertainment.pg-#{$template} {
            @content;
        }
    }
}

@mixin _entertainment-root-definitions($includeLeafPage) {
    @at-root {
        @if ($includeLeafPage) {
            @include _entertainment-page-classes($entertainment-all-templates) { @content };
        } @else {
            @include _entertainment-page-classes($entertainment-non-leaf-templates) { @content };
        }
    }
}

@mixin reset($includeLeafPage: false) {
    @if ($entertainment-reset-enabled) {
        @include _entertainment-root-definitions ($includeLeafPage) { @content };
    }
}

@mixin force($includeLeafPage: false) {
    @if ($entertainment-force-enabled) {
        @include _entertainment-root-definitions ($includeLeafPage) { @content };
    }
}

@mixin entertainment-theme() {
    @if ($entertainment-theme-enabled) {
        @include _entertainment-root-definitions ($includeLeafPage: true) { @content };
    }
}
