@mixin vertical-entertainment-social {
    .social {
        align-items: center;
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0 auto;
        padding: 1em 0 0;

        @media (min-width: $nav-breakpoint) {
            padding: 0;
        }

        @media (min-height: $entertainment-buckets-vertical-breakpoint), (min-width: $nav-breakpoint) {
            margin: 0 auto;
        }

        @include force($includeLeafPage: true) {
            .social,
            .nav .drawer > ul.social {
                height: 75px;
                width: 35%;

                @media (min-width: $col-8) and (max-width: $nav-breakpoint) {
                    width: 25%;
                }

                @media (min-width: $nav-breakpoint) {
                    width: auto;
                    height: auto;
                }
            }
        }
    }

    .l-footer .social {
        @media (min-width: $nav-breakpoint) {
            width: 90px
        }
    }

    .social__link {
        height: 30px;
        width: 30px;
        text-align: center;

        & + & {
            margin-left: 10px;
        }

        a:before {
            color: $gray-1;
            line-height: 30px;
            width: 100%;
            @include font-size(23);

            @media (min-width: $nav-breakpoint) {
                color: $entertainment-cerulean;
                @include font-size(16);
            }
        }

        a:hover:before {
            color: $entertainment-teal;
        }
    }

    .l-footer .social__link {
        a:before {
            color: $entertainment-cerulean;
        }

        a:hover:before {
            color: $entertainment-teal;
        }
    }

    .social__link--facebook a:before {
        @include icon($icon--social-facebook);
    }
    .social__link--twitter a:before {
        @include icon($icon--social-twitter);
    }
    .social__link--instagram a:before {
        @include icon($icon--social-instagram);
    }
}
