@mixin vertical-entertainment-zone-header {
    @include reset() {
        .zn-header__stripes {
            display: none;
        }
    }
    .zn .zn-header {
        border-top-style: solid;
        border-top-width: $border-width;
        margin-bottom: 15px;
        padding-top: 0;
        text-align: center;
        width: 100%;

        @include entertainment-theme {
            .zn.t-dark .zn-header {
                border-top-color: $entertainment-violet;
            }
            .zn.t-light .zn-header {
                border-top-color: $entertainment-cerulean;
            }
        }
    }

    // important is required to override bg skin styles
    .zn.zn_skin_style_applied .zn-top .zn-header {
        background-color: inherit !important;
        padding-top: 0 !important;
    }

    .zn .zn-header__text {
        border-bottom-style: solid;
        border-bottom-width: $border-width;
        border-left-style: solid;
        border-left-width: $border-width;
        border-right-style: solid;
        border-right-width: $border-width;
        display: inline-block;
        font-weight: $bold;
        line-height: 1;
        padding: 5px 30px;
        text-transform: uppercase;
        @include font-size(18);
        @include vertical-entertainment-font;

        @include entertainment-theme {
            .zn.t-dark .zn-header__text {
                background: $entertainment-violet;
                border-bottom-color: $entertainment-violet;
                border-left-color: $entertainment-violet;
                border-right-color: $entertainment-violet;
                color: $gray-11;
            }
            .zn.t-light .zn-header__text {
                background: $entertainment-orange;
                border-bottom-color: $entertainment-cerulean;
                border-left-color: $entertainment-cerulean;
                border-right-color: $entertainment-cerulean;
                color: $entertainment-cerulean;
            }
        }

        @include reset() {
            .zn-header__text {
                width: auto;
            }
        }
    }

    .zn .zn-header__text a {
        padding: 1px 30px;
        margin: 0 -30px;

        &:hover {
            color: $gray-1;
            background: $entertainment-cerulean;

            @include reset {
                .zn .zn-header__text a {
                    transition: none;
                }
            }
        }
    }

    .branding-header-content {
        margin-top: 30px;
        position: relative;
    }

    .el-entitlement {
        background: $gray-1;
        padding: 0 0 0 20px;
        position: absolute;
        right: 0;
        top: -30px;
    }
}
