@mixin vertical-politics-buckets {
    //////////////////////////////////////////////////////////////////////////// Resets
    .bucket a {
        font-size: 1rem;
    }
    // End Resets

    //////////////////////////////////////////////////////////////////////////// Buckets
    .buckets {
        list-style: none;
        margin: 0;
        padding: 2rem 0 1.5rem;
        @include vertical-politics-font;

        @media (min-width: $vertical-politics-nav-breakpoint) {
            padding: 0;
        }

        &:after {
            clear: both;
            content: "";
            display: table;
        }
    }

    .bucket {
        @media (min-width: $vertical-politics-nav-breakpoint) {
            float: left;
        }
    }

    .bucket a {
        color: $gray-10;
        display: block;
        font-weight: 500;
        letter-spacing: .9px;
        line-height: 2.1;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        @media (min-width: $vertical-politics-nav-breakpoint) {
            line-height: 50px;
            padding: 0 .5rem;
            font-size: 14px;
            letter-spacing: 1px;
        }

        &:after {
            background: $vertical-politics-blue;
            bottom: .25rem;
            content: "";
            height: .25rem;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            transition: width .2s ease-in-out;
            width: 0;

            @media (min-width: $vertical-politics-nav-breakpoint) {
                bottom: .75rem;
            }
        }

        &:hover:after {
            width: 25%;

            @media (min-width: $vertical-politics-nav-breakpoint) {
                width: calc(100% - 1rem);
            }
        }
    }

    .bucket + .bucket a {
         @media (min-width: $vertical-politics-nav-breakpoint) {
            margin-left: 1rem;
        }
    }
}
