@import "_utilities";

@mixin vertical-politics-card {
    //////////////////////////////////////////////////////////////////////////// Resets
    .cd__content,
    .cd.cd--extra-small,
    .cd--horizontal.cd--has-media,
    .cd--extra-small.cd--has-media {
        padding: 0;
    }

    .cd.cd.cd--has-media .media + .cd__content {
        @include theme-override(".media + .cd__content", $cn-class: ".cn-list-large-vertical", $cd-class: ".cd.cd.cd--has-media") {
            margin: 0;
        }
        @include theme-override(".media + .cd__content", $cn-class: ".cn-list-small-vertical", $cd-class: ".cd.cd.cd--has-media") {
            margin: 0;
        }
        @include theme-override(".media + .cd__content", $cn-class: ".cn-list-small-vertical-1x1", $cd-class: ".cd.cd.cd--has-media") {
            margin: 0;
        }
        @include theme-override(".media + .cd__content", $cn-class: ".cn-list-small-vertical-3x4", $cd-class: ".cd.cd.cd--has-media") {
            margin: 0;
        }
    }

    .zn-balanced .cn-list-large-horizontal .media~.cd__content {
        min-height: 60px;
    }

    .cd--horizontal .cd__content {
        position: static;
    }

    .cd.cd--vertical.cd--has-media:not(.cd--media__video-demand):not(.cd--media__go-free-preview) .cd__content {
        position: relative;

        @include theme-override(".cd__content", $cd-class: ".cd.cd--vertical.cd--has-media:not(.cd--media__video-demand):not(.cd--media__go-free-preview)") {
            background: 0 !important;
        }
    }

    .link-banner:hover {
        @include theme-override(".link-banner:hover") {
            color: inherit !important;
            transition: none;
        }
    }

    .banner-text {
        font-size: 26px;
        font-weight: 700;
        line-height: 1.38;
        padding-bottom: 0;

        @include card-size(".banner-text", "medium") {
            font-size: 40px;
            line-height: 1.3;
        }
        @include card-size(".banner-text", "large") {
            font-size: 56px;
            line-height: 1.21;
        }
        @include card-size(".banner-text", "full16x9") {
            font-size: 76px;
            line-height: 1.16;
        }
    }

    .zn .zn-banner .banner-text {
        font-size: 26px;
        line-height: 1.38;
    }

    .zn[data-eq-state~="medium"] .zn-banner .banner-text {
        font-size: 40px;
        line-height: 1.3;
    }

    .zn[data-eq-state~="large"] .zn-banner .banner-text {
        font-size: 56px;
        line-height: 1.21;
    }

    .zn[data-eq-state~="full16x9"] .zn-banner .banner-text {
        font-size: 76px;
        line-height: 1.16;
    }

    .cn-list-large-vertical .cd__kicker,
    .cn-list-small-vertical .cd__kicker,
    .cn-list-small-vertical-1x1 .cd__kicker,
    .cn-list-small-vertical-3x4 .cd__kicker {
        display: block;
    }

    .cd .media:hover .media__icon:before {
        color: inherit;
    }

    .cd__status {
        bottom: auto;
    }

    .cd__headline {
        @include card-size(".cd__headline", "xsmall") {
            padding-right: 0;
        }
    }

    .cd__headline a:hover span {
        @include theme-override(".cd__headline a:hover") {
            color: inherit;
        }
        @include theme-override(".cd__headline a:hover span") {
            color: inherit;
        }
    }

    .cd__headline-text:after {
        content: none;
    }

    .cd__post-headline {
        font-weight: 400;
    }

    .cd__description {
        font-weight: 400 !important;
        padding-bottom: 0;
    }

    //////////////////////////////////////////////////////////////////////////// Common Elements
    .cd .cd__kicker,
    .cd .cd__status,
    .cd .banner-text,
    .cd .cd__headline,
    .cd .cd__auxiliary,
    .cd .cd__post-headline {
        @include vertical-politics-font;
    }

    .media__image {
        display: block;
        transform: translateZ(0);
        transition: opacity .2s ease-in-out;
        width: 100%;
    }

    .cd:hover .media__image,
    .zn-banner:hover + .zn__containers .cn--idx-0 .cd--idx-0 .media__image {
        opacity: .6;
    }

    .media__icon {
        background: linear-gradient(to bottom, rgba($gray-12, 0), rgba($gray-12, .15));
        bottom: 0;
        color: $gray-1;
        font-size: 18px;
        left: 0;
        line-height: 20px;
        position: absolute;
        width: 100%;

        @include card-size(".media__icon", "medium") {
            display: none;
        }
    }

    .media__icon.icon-media-video:after {
        content: attr(data-post-text);
        font-size: 12px;
        font-style: normal;
        line-height: 20px;
        margin-left: .25rem;
    }

    .cd__content {
        @include card-size(".cd__content", "medium", $cd-class: ".cd--vertical") {
            margin-top: -24px;
        }

        &:before {
            content: "";
            display: table;
        }
    }

    .cd__content .link-banner {
        display: block;

        @include card-size(".cd__content .link-banner", "medium") {
            background-color: $gray-1;
        }
    }

    .cd__status {
        font-size: 12px;
        left: 0;
        letter-spacing: 1.7px;
        line-height: 1;
        padding: 7px 10px 5px;
        pointer-events: none;
        position: absolute;
        text-transform: uppercase;
        top: 0;

        @include theme-override(".cd__status") {
            background-color: $gray-12;
            color: $gray-1;
        }

        @include card-size(".cd__status", "large") {
            font-size: 14px;
            padding: 8px 10px 8px;
        }
    }

    .cd__status--breaking {
        @include theme-override(".cd__status--breaking") {
            background-color: $vertical-politics-red;
        }
    }

    .cd__status--exclusive {
        @include theme-override(".cd__status--exclusive") {
            background-color: $vertical-politics-blue;
        }
    }

    .cd__kicker {
        color: $gray-8;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.7px;
        line-height: 20px;
        pointer-events: none;
        text-transform: uppercase;

        @include card-size(".cd__kicker", "large") {
            font-size: 14px;
        }
    }

    .cd__headline {
        margin: 0;
    }

    .cd__headline a {
        color: $gray-12;
        display: block;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: -.1px;
        line-height: 1.5;
        padding: 10px 0;
        text-decoration: none;

        @include card-size(".cd__headline a", "medium") {
            font-size: 20px;
            line-height: 28px;
        }

        @include card-size(".cd__headline a", "large") {
            font-size: 26px;
            line-height: 36px;
        }

        @include card-size(".cd__headline a", "full16x9") {
            font-size: 32px;
            line-height: 40px;
        }

        @include politics-theme(".cd__headline a", $pg-theme: "dark") {
            color: $gray-1;
        }

        @include politics-theme(".cd__headline a", $zn-theme: "dark") {
            color: $gray-1;
        }

        // Light zones
        @include hover-content-selection(".cd__headline a span:not(.cd__headline-icon)", ".cd__headline a:hover span:not(.cd__headline-icon)") {
            box-shadow: inset 0 -3px 0 $gray-1, inset 0 -4px 0 $gray-4;
        }

        @include hover-content-selection(".cd__headline a span:not(.cd__headline-icon)", ".cd__headline a:hover span:not(.cd__headline-icon)", $cd-size: "medium") {
            box-shadow: inset 0 -5px 0 $gray-1, inset 0 -6px 0 $gray-4;
        }

        @include hover-content-selection(".cd__headline a span:not(.cd__headline-icon)", ".cd__headline a:hover span:not(.cd__headline-icon)", $cd-size: "large") {
            box-shadow: inset 0 -7px 0 $gray-1, inset 0 -8px 0 $gray-4;
        }

        // Dark Zones
        @include hover-content-selection(".cd__headline a span:not(.cd__headline-icon)", ".cd__headline a:hover span:not(.cd__headline-icon)", $zn-class: ".zn.t-dark") {
            box-shadow: inset 0 -3px 0 $gray-12, inset 0 -4px 0 $gray-8;
        }

        @include hover-content-selection(".cd__headline a span:not(.cd__headline-icon)", ".cd__headline a:hover span:not(.cd__headline-icon)", $cd-size: "medium", $zn-class: ".zn.t-dark") {
            box-shadow: inset 0 -5px 0 $gray-12, inset 0 -6px 0 $gray-8;
        }

        @include hover-content-selection(".cd__headline a span:not(.cd__headline-icon)", ".cd__headline a:hover span:not(.cd__headline-icon)", $cd-size: "large", $zn-class: ".zn.t-dark") {
            box-shadow: inset 0 -7px 0 $gray-12, inset 0 -8px 0 $gray-8;
        }

        // Dark Page
        @include hover-content-selection(".cd__headline a span:not(.cd__headline-icon)", ".cd__headline a:hover span:not(.cd__headline-icon)", $pg-class: ".pg.t-dark") {
            box-shadow: inset 0 -3px 0 $gray-12, inset 0 -4px 0 $gray-8;
        }

        @include hover-content-selection(".cd__headline a span:not(.cd__headline-icon)", ".cd__headline a:hover span:not(.cd__headline-icon)", $cd-size: "medium", $pg-class: ".pg.t-dark") {
            box-shadow: inset 0 -5px 0 $gray-12, inset 0 -6px 0 $gray-8;
        }

        @include hover-content-selection(".cd__headline a span:not(.cd__headline-icon)", ".cd__headline a:hover span:not(.cd__headline-icon)", $cd-size: "large", $pg-class: ".pg.t-dark") {
            box-shadow: inset 0 -7px 0 $gray-12, inset 0 -8px 0 $gray-8;
        }
    }

    .cd__headline-icon:before {
        margin-left: .5rem;

        @include theme-override(".cd__headline-icon:before") {
            color: $gray-8;
        }

        @include theme-override(".cd__headline a:hover .cd__headline-icon:before") {
            color: $gray-8;
        }
    }

    .cd__pre-headline {
        text-transform: uppercase;
        letter-spacing: 1px;

        @include theme-override(".cd__pre-headline") {
            color: $vertical-politics-red;
        }
        @include theme-override(".cd__headline a:hover .cd__pre-headline") {
            color: $vertical-politics-red;
        }
    }

    .cd__post-headline {
        font-size: 12px;
        font-style: italic;
        line-height: 1.5;
        padding-bottom: 1px;

        @include theme-override(".cd__post-headline") {
            color: $vertical-politics-gray-2;
        }
        @include theme-override(".cd__content a:hover .cd__post-headline") {
            color: $vertical-politics-gray-2;
        }

        @include card-size(".cd__post-headline", "medium") {
            font-size: 16px;
            line-height: 1;
        }

        @include card-size(".cd__post-headline", "large") {
            padding-bottom: 3px;
        }

        @include card-size(".cd__post-headline", "full16x9") {
            padding-bottom: 6px;
        }

        &:before {
            content: "\00a0";
        }
    }

    .cd__auxiliary {
        color: $gray-8;
        font-size: 14px;
        line-height: 1;
        margin: 12px 0 0;

        @include card-size(".cd__auxiliary", "large") {
            font-size: 16px;
            line-height: .88;
        }
    }

    .cd__description {
        color: $vertical-politics-gray;
        font-size: 14px;
        line-height: 1.71;
        margin: 12px 0 0;

        @include card-size(".cd__description", "large") {
            font-size: 1rem;
            line-height: 1.75;
        }

        @include politics-theme(".cd__description", $zn-theme: "dark") {
            color: $gray-1;
        }
    }

    .cd__description a {
        @include theme-override(".cd__description a") {
            color: $vertical-politics-blue;
        }
    }

    ////////////////////////////////////////////////////////////////////////////  Horizontal Cards

    .cd--horizontal.cd--has-media .cd__wrapper {
        padding: 12px 0;
    }

    .cd--horizontal .media {
        width: 60px;

        @include card-size(".media", "medium", $cd-class: ".cd--horizontal") {
            width: 140px;
        }

        @include card-size(".media", "large", $cd-class: ".cd--horizontal") {
            width: 220px;
        }

        @include card-size(".media", "full16x9", $cd-class: ".cd--horizontal") {
            width: 300px;
        }
    }

    .cd--horizontal.cd--has-media .cd__content {
        width: calc(100% - 60px);

        @include card-size(".cd__content", "medium", $cd-class: ".cd--horizontal.cd--has-media") {
            width: calc(100% - 140px);
        }

        @include card-size(".cd__content", "large", $cd-class: ".cd--horizontal.cd--has-media") {
            width: calc(100% - 220px);
        }

        @include card-size(".cd__content", "full16x9", $cd-class: ".cd--horizontal.cd--has-media") {
            width: calc(100% - 300px);
        }
    }

    .cd--horizontal .icon-media-video {
        padding: 12px .4rem .3rem;
    }

    .cd--horizontal .icon-media-gallery {
        padding: 12px .5rem .3rem;
    }

    .cd--horizontal .cd__status {
        top: 12px;
    }

    .cd--horizontal .cd__kicker {
        margin: 0 0 -32px;
    }

    .cd--horizontal .cd__headline a {
        padding: 0;
    }

    .cd.cd--horizontal .cd__kicker + .cd__headline a,
    .cd.cd--horizontal .cd__kicker + .link-banner {
        padding-top: 36px;
    }

    ////////////////////////////////////////////////////////////////////////////  Vertical Cards

    .cd--vertical .cd__content {
        position: relative;
    }

    .cd--vertical.cd.cd.cd .cd__content {
        padding: 0 0 1rem;
    }

    .cd--horizontal.cd--has-media .cd__content {
        padding-left: 1rem;
    }

    .cd--vertical .link-banner + .cd__wrapper .media a {
        display: block;
    }

    .cd--vertical > .link-banner .banner-text {
        padding-bottom: 12px;

        @include card-size(" > .link-banner .banner-text", "medium", $cd-class: ".cd--vertical") {
            padding-bottom: 14px;
        }
    }

    .cd--vertical .icon-media-video,
    .cd--vertical .icon-media-gallery {
        padding: 12px .5rem .3rem;
    }

    .cd--vertical .cd__status {
        top: -24px;

        @include card-size(".cd__status", "large", $cd-class: ".cd--vertical") {
            top: -28px;
        }
    }

    .cd--vertical .cd__kicker {
        margin: 12px 0 -32px;
    }

    .cd--vertical .cd__headline {
        @include card-size(".cd__headline", "medium", $cd-class: ".cd--vertical") {
            background-color: $gray-1;
        }

        @include card-size(".cd__headline", "medium", $zn-class: ".zn.t-dark", $cd-class: ".cd--vertical") {
            background-color: $gray-12;
        }
    }

    .cd--vertical .cd__headline a {
        font-weight: 700;
        letter-spacing: -.1px;
        line-height: 1;
        padding: 1rem 0 0 0;

        @include card-size(".cd__headline a", "small", $cd-class: ".cd--vertical") {
            font-size: 22px;
            line-height: 28px;
        }

        @include card-size(".cd__headline a", "medium", $cd-class: ".cd--vertical") {
            font-size: 32px;
            line-height: 40px;
            padding-right: .25rem
        }

        @include card-size(".cd__headline a", "large", $cd-class: ".cd--vertical") {
            font-size: 36px;
            line-height: 48px;
        }

        @include hover-content-selection(".cd__headline a span:not(.cd__headline-icon)", ".cd__headline a:hover span:not(.cd__headline-icon)", $cd-class: ".cd--vertical") {
            box-shadow: inset 0 -5px 0 $gray-1, inset 0 -6px 0 $gray-4;
        }

        @include hover-content-selection(".cd__headline a span:not(.cd__headline-icon)", ".cd__headline a:hover span:not(.cd__headline-icon)", $cd-class: ".cd--vertical", $cd-size: "medium") {
            box-shadow: inset 0 -7px 0 $gray-1, inset 0 -8px 0 $gray-4;
        }

        @include hover-content-selection(".cd__headline a span:not(.cd__headline-icon)", ".cd__headline a:hover span:not(.cd__headline-icon)", $cd-class: ".cd--vertical", $cd-size: "large") {
            box-shadow: inset 0 -9px 0 $gray-1, inset 0 -10px 0 $gray-4;
        }
    }

    .cd--vertical .link-banner + .cd__headline a {
        padding: 0;
    }

    .cd.cd--vertical .cd__kicker + .cd__headline a,
    .cd.cd--vertical .cd__kicker + .link-banner {
        padding-top: 36px;
    }

    .cd--vertical .cd__post-headline {
        padding-bottom: 4px;

        @include card-size(".cd__post-headline", "medium", $cd-class: ".cd--vertical") {
            padding-bottom: 6px;
        }

        @include card-size(".cd__post-headline", "large", $cd-class: ".cd--vertical") {
            padding-bottom: 7px;
        }
    }

    .cd.cd--vertical .cd__headline-icon {
        @include card-size(".cd__headline-icon", "small", $cd-class: ".cd--vertical") {
            font-size: 20px;
        }

        @include card-size(".cd__headline-icon", "medium", $cd-class: ".cd--vertical") {
            font-size: 25px;
        }
    }

    //////////////////////////////////////////////////////////////////////////// Vertical Strip
    .cn-list-large-vertical .cd.cd.cd--vertical.cd--video .cd__content,
    .cn-list-large-vertical .cd.cd.cd--vertical.cd--gallery .cd__content,
    .cn-list-small-vertical .cd.cd.cd--vertical.cd--video .cd__content,
    .cn-list-small-vertical .cd.cd.cd--vertical.cd--gallery .cd__content,
    .cn-list-small-vertical-1x1 .cd.cd.cd--vertical.cd--video .cd__content,
    .cn-list-small-vertical-1x1 .cd.cd.cd--vertical.cd--gallery .cd__content,
    .cn-list-small-vertical-3x4 .cd.cd.cd--vertical.cd--video .cd__content,
    .cn-list-small-vertical-3x4 .cd.cd.cd--vertical.cd--gallery .cd__content {
        padding-bottom: 2rem;
    }

    %list-vertical-containers {
        .cd__wrapper {
            position: relative;
        }

        .cd--video .cd__wrapper,
        .cd--gallery .cd__wrapper {
            padding-bottom: $vertical-politics-media-icon-size/2;
        }

        .media__icon {
            display: none;
        }

        .banner-text {
            text-align: center;
        }

        .cd__content {
            border-color: $gray-3;
            border-style: solid;
            border-width: 0 1px 1px;

            // Override important rules
            background: 0 !important;
        }

        .cd .cd__content {
            top: 0;
        }

        .cd--vertical.cd.cd .cd__content {
            padding: 0 0 1rem;
        }

        .cd.cd.cd--has-media .media + .cd__content {
            position: static !important;
        }

        .cd.cd--vertical .cd__headline {
            width: 100% !important;
        }

        .cd .cd__headline a {
            font-weight: 400;
            padding-left: 10px;
            padding-right: 10px;
        }

        [data-eq-state$="medium"].cd.cd--vertical .cd__headline a {
            font-size: 26px;
            line-height: 36px;
        }

        .cd__kicker,
        .cd__auxiliary,
        .cd__description {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .cd.cd--small.cd--vertical .cd__headline a {
            padding: 1rem 1rem 0;
        }

        .cd.cd--vertical .cd__kicker + .cd__headline a,
        .cd.cd--vertical .cd__kicker + .link-banner {
            padding: 36px 1rem 0;
        }

        .cd--video .cd__headline-text:before,
        .cd--gallery .cd__headline-text:before {
            background: $gray-1;
            border: $vertical-politics-media-icon-border-width solid $gray-1;
            bottom: -$vertical-politics-media-icon-border-width;
            font-size: $vertical-politics-media-icon-size;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            width: $vertical-politics-media-icon-size;
        }

        .cd__status {
            bottom: auto;
            left: 50%;
            margin: 0 auto;
            text-align: center;
            transform: translateX(-50%);
            white-space: nowrap;
        }

        .cd.cd .cd__status {
            top: 0;
        }

        .cd__kicker,
        .cd__headline,
        .cd__auxiliary,
        .cd__description {
            text-align: center;
        }

        .cd__headline-icon:before {
            content: "";
        }

        .cd__auxiliary {
            line-height: 20px;
        }
    }

    .cn-list-large-vertical {
        .cd--video .cd__headline-text:before {
            @include icon($icon--type-video);
        }

        .cd--gallery .cd__headline-text:before {
            @include icon($icon--type-gallery);
        }
    }

    .cn-list-large-vertical,
    .cn-list-small-vertical,
    .cn-list-small-vertical-1x1,
    .cn-list-small-vertical-3x4 {
        @extend %list-vertical-containers;
    }

    //////////////////////////////////////////////////////////////////////////// List Cards
    .cn-list-hierarchical-no-leading-headline {
        .cd__content {
            @include card-size(".cd__content", "medium", $cn-class: ".cn-list-hierarchical-no-leading-headline", $cd-class: ".cd--vertical.cd--idx-0") {
                margin-top: 0;
            }
        }

        .cd--idx-0 .cd__kicker {
            margin-bottom: 0;
        }
    }

    .cn-list-hierarchical-xs {
        .cd--vertical .cd__content .link-banner {
            @include card-size(".cd__content .link-banner", "medium",  $cn-class: ".cn-list-hierarchical-xs", $cd-class: ".cd--vertical") {
                width: calc(100% - 24px) !important;
            }

            @include card-size(".cd__content .link-banner", "full16x9",  $cn-class: ".cn-list-hierarchical-xs", $cd-class: ".cd--vertical") {
                width: calc(100% - 48px) !important;
            }
        }

        .cd--vertical .cd__headline {
            @include card-size(".cd__headline", "medium",  $cn-class: ".cn-list-hierarchical-xs", $cd-class: ".cd--vertical") {
                background-color: $gray-1;
                width: calc(100% - 24px) !important;
            }

            @include card-size(".cd__headline", "full16x9",  $cn-class: ".cn-list-hierarchical-xs", $cd-class: ".cd--vertical") {
                width: calc(100% - 48px) !important;
            }
        }

        .cd--vertical .cd__description {
            @include card-size(".cd__description", "medium", $cn-class: ".cn-list-hierarchical-xs", $cd-class: ".cd--vertical") {
                width: calc(100% - 24px) !important;
            }

            @include card-size(".cd__description", "full16x9", $cn-class: ".cn-list-hierarchical-xs", $cd-class: ".cd--vertical") {
                width: calc(100% - 48px) !important;
            }
        }
    }

    .cn-list-xs li + li .banner-text {
        padding-top: 1rem;
    }

    .cn-list-large-horizontal .cd__status {
        display: inline-block;
        margin-bottom: 8px;
        position: static;

        @include card-size(".cd__status", "medium", $cn-class: ".cn-list-large-horizontal") {
            position: absolute;
        }
    }

    .cn-list-large-horizontal .cd__description {
        display: none;

        @include card-size(".cd__description", "medium", $cn-class: ".cn-list-large-horizontal") {
            display: block;
        }
    }

    .cn-list-hierarchical-xs .cd--vertical .cd__content .link-banner,
    .cn-list-hierarchical-piped .cd--vertical .cd__content .link-banner,
    .cn-list-hierarchical-small-horizontal .cd--vertical .cd__content .link-banner {
        @include card-size(".cd__content .link-banner", "medium", $cn-class: ".cn-list-hierarchical-xs") {
            width: calc(100% - 24px) !important;
        }

        @include card-size(".cd__content .link-banner", "full16x9", $cn-class: ".cn-list-hierarchical-xs") {
            width: calc(100% - 48px) !important;
        }

        @include card-size(".cd__content .link-banner", "medium", $cn-class: ".cn-list-hierarchical-piped") {
            width: calc(100% - 24px) !important;
        }

        @include card-size(".cd__content .link-banner", "full16x9", $cn-class: ".cn-list-hierarchical-piped") {
            width: calc(100% - 48px) !important;
        }

        @include card-size(".cd__content .link-banner", "medium", $cn-class: ".cn-list-hierarchical-small-horizontal") {
            width: calc(100% - 24px) !important;
        }

        @include card-size(".cd__content .link-banner", "full16x9", $cn-class: ".cn-list-hierarchical-small-horizontal") {
            width: calc(100% - 48px) !important;
        }
    }

    .cn-list-hierarchical-xs .cd__headline,
    .cn-list-hierarchical-piped .cd__headline,
    .cn-list-hierarchical-small-horizontal .cd__headline {
        @include card-size(".cd__headline", "medium", $cn-class: ".cn-list-hierarchical-xs") {
            background-color: $gray-1;
            width: calc(100% - 24px) !important;
        }

        @include card-size(".cd__headline", "full16x9", $cn-class: ".cn-list-hierarchical-xs") {
            width: calc(100% - 48px) !important;
        }

        @include card-size(".cd__headline", "medium", $cn-class: ".cn-list-hierarchical-piped") {
            background-color: $gray-1;
            width: calc(100% - 24px) !important;
        }

        @include card-size(".cd__headline", "full16x9", $cn-class: ".cn-list-hierarchical-piped") {
            width: calc(100% - 48px) !important;
        }

        @include card-size(".cd__headline", "medium", $cn-class: ".cn-list-hierarchical-small-horizontal") {
            background-color: $gray-1;
            width: calc(100% - 24px) !important;
        }

        @include card-size(".cd__headline", "full16x9", $cn-class: ".cn-list-hierarchical-small-horizontal") {
            width: calc(100% - 48px) !important;
        }
    }

    .cn-list-hierarchical-xs .cd__description,
    .cn-list-hierarchical-piped .cd__description,
    .cn-list-hierarchical-small-horizontal .cd__description {
        @include card-size(".cd__description", "medium", $cn-class: ".cn-list-hierarchical-xs") {
            width: calc(100% - 24px) !important;
        }

        @include card-size(".cd__description", "full16x9", $cn-class: ".cn-list-hierarchical-xs") {
            width: calc(100% - 48px) !important;
        }

        @include card-size(".cd__description", "medium", $cn-class: ".cn-list-hierarchical-piped") {
            width: calc(100% - 24px) !important;
        }

        @include card-size(".cd__description", "full16x9", $cn-class: ".cn-list-hierarchical-piped") {
            width: calc(100% - 48px) !important;
        }

        @include card-size(".cd__description", "medium", $cn-class: ".cn-list-hierarchical-small-horizontal") {
            width: calc(100% - 24px) !important;
        }

        @include card-size(".cd__description", "full16x9", $cn-class: ".cn-list-hierarchical-small-horizontal") {
            width: calc(100% - 48px) !important;
        }
    }

    //////////////////////////////////////////////////////////////////////////// Grid

    .cn-grid-small {
        .cd.cd.cd .cd__headline-text {
            @include vertical-politics-font;
        }

        &[data-eq-state~="2-column-grid"] {
            .cd.cd .cd__headline a {
                font-weight: 400;
                font-size: 14px;
                line-height: 1.43;
                padding-top: 8px;

                @media (min-width: $col-6) {
                    font-size: 16px;
                    line-height: 1.5;
                }
            }
        }

        &[data-eq-state~="3-column-grid"] {
            .cd.cd .cd__headline a {
                font-size: 18px;
                line-height: 24px;
                padding-top: 12px;
            }
        }

        &[data-eq-state~="4-column-grid"] {
            .cd.cd .cd__headline a {
                font-size: 20px;
                line-height: 1.4;
            }
        }

        .cd.cd .cd__headline a {
            @include hover-content-selection(".cd__headline a span:not(.cd__headline-icon)", ".cd__headline a:hover span:not(.cd__headline-icon)", $cn-class: ".cn-grid-small") {
                box-shadow: inset 0 -3px 0 $gray-1, inset 0 -4px 0 $gray-4;
            }

            @include hover-content-selection(".cd__headline a span:not(.cd__headline-icon)", ".cd__headline a:hover span:not(.cd__headline-icon)", $cn-class: ".cn-grid-small", $cd-size: "medium") {
                box-shadow: inset 0 -5px 0 $gray-1, inset 0 -6px 0 $gray-4;
            }

            @include hover-content-selection(".cd__headline a span:not(.cd__headline-icon)", ".cd__headline a:hover span:not(.cd__headline-icon)", $cn-class: ".cn-grid-small", $cd-size: "large") {
                box-shadow: inset 0 -7px 0 $gray-1, inset 0 -8px 0 $gray-4;
            }
        }

        .cd.cd--vertical .cd__kicker + .cd__headline a {
            padding-top: 36px;
        }

        .cd.cd .cd__post-headline {
            padding-bottom: 1px;
        }
    }

    //////////////////////////////////////////////////////////////////////////// Large Carousel Signle Card
    .cn-carousel-small-paginated {
        @extend %list-vertical-containers;

        .cd__content {
            @include card-size(".cd__content", "medium", $cn-class: ".cn-carousel-small-paginated") {
                margin: -28px 10px 0;
                position: relative !important;
                width: calc(100% - 20px);
                z-index: 1;
            }

            @include card-size(".media + .cd__content", "medium", $cn-class: ".cn-carousel-small-paginated", $cd-class: ".cd.cd.cd--has-media") {
                position: relative !important;
            }

            @include card-size(".cd__content", "large", $cn-class: ".cn-carousel-small-paginated") {
                left: auto;
                right: 80px;
                top: 50%;
                transform: translateY(-60%);
                width: 380px;
                z-index: 1;
            }

            @include card-size(".media + .cd__content", "large", $cn-class: ".cn-carousel-small-paginated", $cd-class: ".cd.cd.cd--has-media") {
                position: absolute !important;
            }

            @include theme-override(".cd__content", $cn-class: ".cn-carousel-small-paginated", $cd-class: ".cd.cd--vertical.cd--has-media:not(.cd--media__video-demand):not(.cd--media__go-free-preview)") {
                background: $gray-1 !important;
            }
        }

        .cd__headline a {
            @include card-size(".cd__headline a", "large", $cn-class: ".cn-carousel-small-paginated") {
                font-size: 40px;
                font-weight: 600;
            }

            @include hover-content-selection(".cd__headline a span:not(.cd__headline-icon)", ".cd__headline a:hover span:not(.cd__headline-icon)", $cd-size: "large") {
                box-shadow: inset 0 -9px 0 $gray-1, inset 0 -10px 0 $gray-4;
            }
        }

        .cd__post-headline {
            @include card-size(".cd__post-headline", "large", $cn-class: ".cn-carousel-small-paginated") {
                padding-bottom: 9px;
            }
        }
    }
}
