@import "_utilities";

@mixin vertical-politics-container {
    //////////////////////////////////////////////////////////////////////////// Resets
    .cn__title {
        @include theme-override(".cn__title") {
            background: 0;
        }
        @include theme-override(".cn__title--link:hover .cn__title") {
            background: 0;
        }
    }

    .cn__title--link {
        padding: 0;
    }

    @include theme-override('.media + .cd__content', $cn-class: '.cn-list-small-vertical', $cd-class: '.cd--has-media[data-eq-state]') {
        background: $gray-1 !important;
    }

    //////////////////////////////////////////////////////////////////////////// Container Title
    .cn__title {
        border-bottom: 1px solid $gray-3;
        color: $gray-12;
        font-size: 14px;
        letter-spacing: 2px;
        line-height: 20px;
        margin: 0 0 12px;
        padding: 0 0 14px;
        position: relative;
        text-transform: uppercase;
        line-height: 1;
        @include vertical-politics-font;

        &:after {
            background-color: $vertical-politics-blue;
            bottom: 0;
            content: "";
            height: .25rem;
            left: 0;
            position: absolute;
            transition: width .2s ease-in-out;
            width: 1rem;
        }
    }

    .cn__title--link:hover .cn__title:after {
        width: 100%;
    }

    .cn__title--link:before {
        content: none;
    }

    //////////////////////////////////////////////////////////////////////////// Lead+ Container Titles
    .cn-list-xs .cn__title,
    .cn-list-hierarchical-xs .cn__title,
    .cn-list-large-horizontal .cn__title,
    .cn-list-small-horizontal .cn__title,
    .cn-list-hierarchical-piped .cd__title,
    .cn-list-hierarchical-small-horizontal .cn__title {
        margin: 0;
        border: 0;
    }
}
