@mixin vertical-politics-footer {
    //////////////////////////////////////////////////////////////////////////// Resets
    .l-footer__content {
        margin-top: 0;
    }

    .m-footer-nav {
        padding: 0;
        color: inherit;
    }
    // End Resets

    //////////////////////////////////////////////////////////////////////////// Footer
    .l-footer {
        background-color: $gray-1;
        color: $gray-10;
        position: relative;

        &:before {
            border-top: 2px solid #e6e6e6;
            content: "";
            left: 0;
            position: absolute;
            top: 55px;
            width: 100%;
            z-index: 0;
        }
    }

    .l-footer__content {
        @media (min-width: $vertical-politics-nav-breakpoint) {
            margin: 32px auto 0;
            padding: 0;
        }
    }

    .l-footer__buckets {
        @media (min-width: $vertical-politics-nav-breakpoint) {
            height: $vertical-politics-nav-height--skinny;
            text-align: center;
        }
    }

    .l-footer .logo-links {
        background: #fff;
        margin: 0 auto;
        padding: 0 1rem;
        position: relative;
        text-align: center;
    }

    .l-footer__buckets .buckets {
        @media (min-width: $vertical-politics-nav-breakpoint) {
            display: inline-block;
        }
    }

    .m-footer__bottom__text {
        color: $vertical-politics-gray-3;
        font-size: 12px;
        font-weight: 400;
        margin: 12px 0 0;
        text-align: center;

        @media (min-width: $vertical-politics-nav-breakpoint) {
            margin: 32px 0 0;
        }
    }

    .m-footer__bottom__text a {
        color: $vertical-politics-gray-4;
        font-weight: 400;

        &:hover {
            color: $vertical-politics-blue;
        }
    }
}
