@mixin vertical-politics-header {
    // Resets
    &.pg.pg .skinny .nav .buckets {
        @media (min-width: $vertical-politics-nav-breakpoint) {
            position: static;
        }
    }

    .nav-header {
        height: auto;
    }

    &.nav-open .nav .menu-collapse {
        background: 0;
    }

    &.nav-open .nav .buckets {
        transform: none;
    }

    .nav .drawer > .buckets {
        width: auto;
    }
    // End Resets

    &.nav-open {
        @media (min-width: $col-10) and (max-width: $vertical-politics-nav-breakpoint - 1px) {
            height: 100%;
            overflow: hidden;
            overflow-scrolling: none;
            position: fixed;
        }
    }

    .nav {
        box-sizing: border-box;
        position: relative;
        height: auto;

        @media (min-width: $col-10) {
            background: 0;
        }

        @media (min-width: $vertical-politics-nav-breakpoint) {
            background: $gray-1;
            border-bottom: 1px solid $gray-3;
            height: $vertical-politics-nav-height--expanded;
            padding: $vertical-politics-nav-padding 10px $vertical-politics-nav-padding 0;
            transition: all .2s ease-in-out;
        }

        @media (min-width: $grid-width + 20px) {
            padding: $vertical-politics-nav-padding 0;
        }

        @at-root {
            html:not(.iemobile):not(.ios):not(.android) .pg-politics .skinny .nav {
                @media (min-width: $col-10) {
                    height: auto;
                }
            }
        }
    }

    &.pg.pg .skinny .nav {
        @media (min-width: $vertical-politics-nav-breakpoint) {
            height: $vertical-politics-nav-height--skinny + 1px;
            padding: 0 10px 0 0;
        }

        @media (min-width: $grid-width + 20px) {
            padding: 0;
        }
    }

    .nav__container {
        background: $gray-2;
        border-bottom: 1px solid $gray-3;
        height: $vertical-politics-nav-height--skinny;
        @include z-index($navigation-layer, navigation-container);

        @media (min-width: $vertical-politics-nav-breakpoint) {
            background: $gray-1;
            border-bottom: 0;
            float: left;
        }
    }

    .nav-search--mobile {
        position: absolute;
        right: $vertical-politics-nav-height--skinny;
        top: 0;

        @media (min-width: $vertical-politics-nav-breakpoint) {
            display: none;
        }
    }

    .nav-search--desktop {
        display: none;
        float: right;

        @media (min-width: $vertical-politics-nav-breakpoint) {
            display: block;
        }
    }

    .nav-search__icon {
        display: block;
        height: $vertical-politics-nav-height--skinny;
        overflow: hidden;
        text-align: center;
        width: $vertical-politics-nav-height--skinny;

        &:before {
            box-sizing: content-box;
            color: $gray-10;
            font-size: 22px;
            line-height: $vertical-politics-nav-height--skinny;
            padding: 2px 0 0;
            transform: scaleX(-1);
            @include icon($icon--search);

            &:hover {
                color: $vertical-politics-blue;
            }
        }
    }

    .nav-search--mobile .nav-search__icon {
        width: $vertical-politics-nav-height--skinny / 2;
    }

    .menu-collapse {
        height: $vertical-politics-nav-height--skinny;
        position: absolute;
        right: 0;
        top: 0;
        width: $vertical-politics-nav-height--skinny;

        @media (min-width: $col-10) {
            display: block;
        }

        @media (min-width: $vertical-politics-nav-breakpoint) {
            display: none;
        }
    }

    .menu-collapse .hamburger {
        &,
        &:before,
        &:after {
            background-color: $gray-10;
        }
    }

    &.nav-open .menu-collapse .hamburger {
        background-color: transparent;
    }

    .drawer {
        overflow: auto;
        position: relative;

        @media (min-width: $vertical-politics-nav-breakpoint) {
            overflow: auto;
        }
    }

    &.nav-open .drawer {
        height: 100vh;
        height: calc(100vh - #{$vertical-politics-nav-height--skinny});

        @media (min-width: $vertical-politics-nav-breakpoint) {
            height: auto;
        }
    }

    .drawer__container {
        background: $gray-2;
        border-bottom: 1px solid $gray-3;
        position: absolute;
        transform: translate3d(0, -100%, 0);
        transition: all .2s ease-in-out;
        width: 100%;

        @media (min-width: $vertical-politics-nav-breakpoint) {
            background-color: $gray-1;
            border: 0;
            position: static;
            transform: none;
            transition: none;
            width: auto;
        }
    }

    &.nav-open .drawer__container {
        transform: translate3d(0, 0, 0);
    }
    &.nav-open.breaking-news--showing .drawer__container {
        padding-bottom: 100px;
    }

    .nav .buckets {
        @media (min-width: $vertical-politics-nav-breakpoint) {
            float: left;
            margin: 0 0 0 2.75rem;
        }
    }

    .skinny .nav .buckets .bucket > a {
        @media (min-width: $vertical-politics-nav-breakpoint) {
            line-height: 50px;
        }
    }

    .nav .social {
        @media (min-width: $vertical-politics-nav-breakpoint) {
            float: right;
        }
    }
}
