@mixin vertical-politics-logo {
    //////////////////////////////////////////////////////////////////////////// Resets
    .logo {
        background: 0;
        height: auto;
        position: static;
        width: auto;
    }
    // End Resets

    //////////////////////////////////////////////////////////////////////////// Logo
    .logo {
        &:after {
            clear: both;
            content: "";
            display: table;

             @media (min-width: $vertical-politics-nav-breakpoint) {
                content: none;
            }
        }
    }

    .logo-links {
        box-sizing: content-box;
        height: $vertical-politics-nav-height--skinny;
        width: 172px;
    }

    .logo-links__cnn {
        background-color: $red-2;
        background-image: url(@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/logo_cnn.svg);
        float: left;
        height: $vertical-politics-nav-height--skinny;
        width: $vertical-politics-nav-height--skinny;
    }

    .logo-links__politics {
        background-image: url(@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/logo_politics.svg);
        background-position: left center;
        background-repeat: no-repeat;
        float: left;
        height: $vertical-politics-nav-height--skinny;
        margin-left: .4rem;
        width: 115px;
    }
}
