@mixin vertical-politics-page {
    //////////////////////////////////////////////////////////////////////////// Video Leaf Page Top
    .media__video-headline {
        font-weight: 500;
        @include vertical-politics-font;
    }

    .media__video-description {
        @include theme-override(".media__video-description") {
            color: $gray-12;
            font-size: 1rem;
        }
    }

    .media__video-description + .metadata__source-name {
        display: block;
        font-size: 1rem;
        font-weight: 500;
        margin: .5rem 0 0;
        @include vertical-politics-font;

        a {
            color: $vertical-politics-blue;

            &:hover {
                color: $vertical-politics-blue;
            }
        }
    }

    //////////////////////////////////////////////////////////////////////////// Article Page
    padding-top: $vertical-politics-nav-height--skinny;

    @media (min-width: $vertical-politics-nav-breakpoint) {
        padding-top: $vertical-politics-nav-height--expanded;
    }

    &.pg-section .zn-header-wrapper {
        display: none;
    }

    .pg-headline,
    .metadata,
    .el-editorial-source,
    .zn-body__paragraph h3,
    .metadata-header__title,
    .pg-special-article .update-time,
    .metadata-header__description-toggle,
    .metadata-header__description--paragraph,
    .pg-special-article .metadata__byline__author {
        @include vertical-politics-font;
    }

    &.pg-article .ad.ad--epic .ad-ad_bnr_atf_01 {
        background: 0;
    }

    .pg-headline {
        font-size: 26px;
        font-weight: 500;
        letter-spacing: -.01em;
        line-height: 32px;
        margin: 8px 0 0;
        padding: 0;

        @include breakpoint($col-6) {
            font-size: 36px;
            line-height: 48px;
            margin: 20px auto 0;
        }

        @include breakpoint($col-10) {
            font-size: 48px;
            line-height: 64px;
            margin: 15px auto 0;
        }

        @include breakpoint($col-12) {
            font-size: 56px;
            margin: 27px auto 0;
        }
    }

    %metadata,
    .metadata {
        color: $gray-8;
        font-size: 14px;
        line-height: 24px;
        margin: 8px 0 0;

        @include breakpoint($col-10) {
            font-size: 16px;
        }
    }

    .pg-special-article .update-time,
    .pg-special-article .metadata__byline {
        @extend %metadata;
        margin: 8px auto 0;
        -webkit-font-smoothing: antialiased;
    }

    .metadata__byline {
        font-weight: 400;
        margin: 0;
    }

    .metadata__show {
        margin: 0;
    }

    .metadata__byline__author a {
        &,
        &:hover {
            color: $vertical-politics-blue;
        }
    }

    .update-time {
        line-height: 1;
        margin: 1em auto 2em;

        &:before {
            content: none;
        }

        @include breakpoint($col-6) {
            margin: 1em auto 2em;
        }
    }

    .metadata > a + .metadata__info .update-time {
        @include breakpoint($col-6) {
            margin: 1em auto 0;
        }
    }

    .metadata-header__title {
        font-size: 26px;
        font-weight: 500;
        letter-spacing: -.01em;
        line-height: 32px;
        margin-bottom: 0;

        @include breakpoint($col-6) {
            font-size: 36px;
            line-height: 48px;
        }

        @include breakpoint($col-10) {
            font-size: 48px;
            line-height: 64px;
        }
    }

    .metadata-header__description--paragraph {
        color: $gray-7;
        font-size: 16px;
        line-height: 20px;
        margin: .25rem 0 1rem;

        @include breakpoint($col-10) {
            font-size: 18px;
            line-height: 24px;
        }
    }

    .metadata-header__description-toggle {
        color: $gray-7;
        font-size: 12px;
        font-weight: 500;
        margin: .5rem 0 1rem;
    }

    .metadata-header__description-toggle.hide-desc {
        margin-top: .25rem;
    }

    .pg-special-article .m-share {
        margin-bottom: 0;
        margin-top: 2rem;

        @media (min-width: $col-13) {
            margin-top: 0;
        }
    }

    .pg-special-article .zn-body {
        margin-top: 1rem;

        @media (min-width: $col-6) {
            margin-top: 2rem;
        }
    }

    .zn-body__paragraph h3 {
        display: block;
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
        margin: 32px 0 -8px;
        padding: 0;

        @include breakpoint($col-6) {
            font-size: 26px;
            line-height: 40px;
            margin: 32px 0 -5px;
        }

        @include breakpoint($col-8) {
            &:before {
                content: none;
            }
        }

        @include breakpoint($col-10) {
            font-size: 32px;
        }
    }

    .zn-body__paragraph a {
        color: $vertical-politics-blue;

        &:hover {
            text-decoration: underline;
        }
    }
}
