@import "_buckets";
@import "_logo";
@import "_social";
@import "_header";
@import "_footer";
@import "_story-elements";
@import "_video-end-slate";

@import "_static-header";
@import "_static-footer";

@import "_page";
@import "_card";
@import "_container";
@import "_zone";

$vertical: "politics";

$vertical-politics-light-gray: #f2f2f2;
$vertical-politics-light-gray-2: #fefefe;
$vertical-politics-light-gray-3: #d9d9d9;
$vertical-politics-dark-gray: #707070;
$vertical-politics-black: #262626;
$vertical-politics-black-2: #222;
$vertical-politics-blue: #3061f3;

$vertical-politics-red: #ff3f3f;
$vertical-politics-gray: #313131;
$vertical-politics-gray-2: #606060;
$vertical-politics-gray-3: #959595;
$vertical-politics-gray-4: #141414;

$vertical-politics-nav-breakpoint: 900px;
$vertical-politics-nav-padding: 24px;
$vertical-politics-nav-height--skinny: 50px;
$vertical-politics-nav-height--expanded: $vertical-politics-nav-height--skinny + (2 * $vertical-politics-nav-padding);

$vertical-politics-media-icon-size: 30px;
$vertical-politics-media-icon-border-width: 8px;

// Rules around special font
// Use mixin here as we can't extend placeholders inside media queries
@mixin vertical-politics-font {
    font-family: 'CNN Condensed', $sans-serif;
    font-feature-settings: 'kern';
    text-rendering: optimizeLegibility;
}

.pg-vertical.pg-politics {
    @if $is-static == 'header' {
        @media (min-width: $vertical-politics-nav-breakpoint) {
            padding-top: $vertical-politics-nav-height--expanded;
        }

        @include vertical-politics-buckets;
        @include vertical-politics-logo;
        @include vertical-politics-social;
        @include vertical-politics-header;
        @include vertical-politics-static-header;
    } @else if $is-static == 'footer' {
        @include vertical-politics-buckets;
        @include vertical-politics-logo;
        @include vertical-politics-social;
        @include vertical-politics-footer;
        @include vertical-politics-static-footer;
    } @else {
        @include vertical-politics-buckets;
        @include vertical-politics-logo;
        @include vertical-politics-social;
        @include vertical-politics-header;
        @include vertical-politics-footer;
        @include vertical-politics-page;
        @include vertical-politics-card;
        @include vertical-politics-container;
        @include vertical-politics-zone;
        @include vertical-politics-story-elements;
        @include vertical-politics-video-end-slate;
    }
}

.pg-article .element-raw.appearance-standard .cnn-erm {
    margin: 10px 10px 10px 0;
    width: 310px;
    @include breakpoint($col-6) {
        float: left;
    }
}
.pg-article .element-raw.appearance-fullwidth .cnn-erm {
    float: left;
}
