@mixin vertical-politics-social {
    //////////////////////////////////////////////////////////////////////////// Resets
    .social a {
        font-size: inherit;
        color: inherit;
    }
    // End Resets

    //////////////////////////////////////////////////////////////////////////// Share Bar
    .gigya-sharebar-element + .gigya-sharebar-element {
        margin: 0 0 0 8px;
    }

    .m-share__rail .gigya-sharebar-element + .gigya-sharebar-element {
        margin: 0 0 8px;
    }

    //////////////////////////////////////////////////////////////////////////// Social Links
    .social {
        color: $gray-10;
        list-style: none;
        margin: 0 auto;
        padding: 2rem 0;
        position: relative;
        width: 80px;

        @media (min-width: $vertical-politics-nav-breakpoint) {
            padding: 0;
        }

        &:before {
            background-color: $gray-4;
            content: "";
            display: block;
            height: 1px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            top: 0;
            width: 88px;

            @media (min-width: $vertical-politics-nav-breakpoint) {
                content: none;
            }
        }

        &:after {
            clear: both;
            content: "";
            display: table;
        }
    }

    .social__link {
        float: left;
        font-size: 20px;
        text-align: center;
        transition: color .1s ease-in-out;
        width: 20px;

        &:hover {
            color: $vertical-politics-blue;
        }

        @media (min-width: $vertical-politics-nav-breakpoint) {
            height: $vertical-politics-nav-height--skinny
        }

        & + .social__link {
            margin-left: 10px;
        }
    }

    .social__link a {
        line-height: 20px;

        @media (min-width: $vertical-politics-nav-breakpoint) {
            line-height: $vertical-politics-nav-height--skinny;
        }
    }

    .social__link--facebook a:before {
        @include icon($icon--social-facebook);
    }

    .social__link--twitter a:before {
        @include icon($icon--social-twitter);
    }

    .social__link--instagram a:before {
        @include icon($icon--social-instagram);
    }
}
