// Static Footer CSS
//
// Since the static footer does not use the vertical-specific dust file, styles
// need to be added in addition to the regular footer styles to keep things as
// similar as possible.

@mixin vertical-politics-static-footer {
    .m-footer__title {
        display: none;
    }

    .m-footer__bucket_group {
        @media (min-width: 12px) {
            margin: 12px 0 0;
            padding: 0;
        }
    }

    .m-footer__bucket__sections {
        text-align: center;
        width: 100%;
    }

    .m-footer__bucket ul {
        list-style: none;
    }

    .m-footer__section__link__list {
        font-family: CNN Condensed;
        font-size: 12px;
        margin-top: 30px;

        @media (min-width: $vertical-politics-nav-breakpoint) {
            display: inline-block;
            margin: 0;
        }
    }

    .m-footer__bucket__follow {
        display: block;
        margin: 0 auto;
        padding: 2rem 0;
        position: relative;
        width: 80px;

        @media (min-width: $vertical-politics-nav-breakpoint) {
            padding: 0;
        }

        &:before {
            background-color: $gray-4;
            content: "";
            display: block;
            height: 1px;
            left: -4px;
            position: absolute;
            top: 0;
            width: 88px;

            @media (min-width: $vertical-politics-nav-breakpoint) {
                content: none;
            }
        }

        &:after {
            clear: both;
            content: "";
            display: table;
        }
    }

    .m-footer__follow__link {
        float: left;
        width: 20px;
    }

    .m-footer__follow__link + .m-footer__follow__link {
        margin-left: 10px;
    }

    .m-footer__follow__link a {
        color: $gray-10;
        font-size: 20px;
    }

    .m-footer__follow__fb a:before {
        @include icon($icon--social-facebook);
    }

    .m-footer__follow__twtr a:before {
        @include icon($icon--social-twitter);
    }

    .m-footer__follow__instagram a:before {
        @include icon($icon--social-instagram);
    }

    .m-footer__copyright a:nth-of-type(2):before {
        content: "";
        display: block;
    }

    .m-footer__copyright br {
        @media (min-width: $vertical-politics-nav-breakpoint) {
            display: none;
        }
    }
}
