// Static Header CSS
//
// Since the static header does not use the vertical-specific dust file, styles
// need to be added in addition to the regular header styles to keep things as
// similar as possible.

@mixin vertical-politics-static-header {
    .header-links,
    .cnn-home-link,
    .search__field,
    .search__toggle {
        display: none;
    }

    @at-root {
        html:not(.iemobile):not(.ios):not(.android) .pg-politics .skinny .nav {
            @media (min-width: $col-10) {
                height: $vertical-politics-nav-height--skinny + 1px;
            }
        }

        html:not(.iemobile):not(.ios):not(.android) .pg-vertical.pg-politics .skinny .nav .drawer.utilities {
            @media (min-width: $col-10) {
                max-height: $vertical-politics-nav-height--skinny;
            }

            @media (min-width: $vertical-politics-nav-breakpoint) {
                max-height: 0;
            }
        }
    }

    .logo {
        float: left;
        position: absolute !important;

        @media (min-width: $vertical-politics-nav-breakpoint) {
            position: static !important;
        }
    }

    .drawer.utilities {
        background: $gray-2;
        border-bottom: 1px solid $gray-3;
        height: $vertical-politics-nav-height--skinny;
        line-height: $vertical-politics-nav-height--skinny;
        pointer-events: none;
        top: 0;

        @media (min-width: $vertical-politics-nav-breakpoint) {
            display: none;
        }
    }

    .drawer.buckets {
        background: $gray-2;
        height: 0;
        left: 0;
        padding: 0;
        position: absolute;
        top: $vertical-politics-nav-height--skinny;
        width: 100%;

        @media (min-width: $vertical-politics-nav-breakpoint) {
            background: 0;
            float: left;
            height: $vertical-politics-nav-height--skinny;
            position: static;
            width: calc(100% - 216px);
        }
    }

    &.nav-open .drawer.buckets {
        height: auto;
    }

    .drawer.buckets > ul {
        padding: 40px 0;

        @media (min-width: $vertical-politics-nav-breakpoint) {
            padding: 0;
        }
    }

    .nav .bucket > a {
        border: 0;

        &:hover {
            color: $gray-10;
        }
    }

    .nav .drawer > ul li {
        @media (min-width: $col-10) {
            display: block;
        }
    }

    .menu-collapse {
        pointer-events: all;
    }
}
