@mixin vertical-politics-story-elements {
    //////////////////////////////////////////////////////////////////////////// Resets
    .metadata__source {
        margin: 0;
    }

    .el__embedded .media__caption {
        margin-top: 0;

        &:before {
            content: none;
        }

        &:hover {
            color: inherit;
        }
    }
    // End Resets

    //////////////////////////////////////////////////////////////////////////// Embeds
    .el__embedded {
        .media__caption {
            border: 1px solid $gray-3;
            border-top: 0;
            display: block;
            padding: 14px 10px;
        }

        &.el__embedded--open .media__video .media__caption {
            padding: 4px 10px 14px;
        }

        .media__caption .el__storyelement__header {
            @include vertical-politics-font;

            @include theme-override(".el__embedded .media__caption .el__storyelement__header") {
                color: $gray-12;
                font-weight: 400;
            }
        }

        .media__caption .el__storyelement__gray {
            @include vertical-politics-font;

            @include theme-override(".el__embedded .media__caption .el__storyelement__gray") {
                color: $gray-7;
            }
        }

        &.el__embedded--open .metadata {
            padding: 14px 10px 0;
            border-left: 1px solid $gray-3;
            border-right: 1px solid $gray-3;
        }
    }

    //////////////////////////////////////////////////////////////////////////// Article-specific Embeds
    .el__article--embed:hover .media__image {
        opacity: .8;
    }

    .el__article--embed .media__caption a {
        color: $gray-12;
        @include vertical-politics-font;

        &:hover {
            box-shadow: inset 0 -3px 0 $gray-1, inset 0 -4px 0 $gray-4;
        }
    }

    //////////////////////////////////////////////////////////////////////////// Fact Box

    .el__factbox--title {
        font-size: 14px;
        font-weight: $bold;
        letter-spacing: 2px;
        text-transform: uppercase;
        @include vertical-politics-font;
    }

    .el__leafmedia--factbox {
        .el__storycontent {
            border: 0;
            background-color: $newsletter-gray-7;
            color: $gray-8;
            padding: 12px;
        }

        ol,
        ul {
            padding: 0 0 0 18px;
        }

        a {
            color: $vertical-politics-blue;

            &:hover {
                color: $vertical-politics-blue;
                text-decoration: underline;
            }
        }
    }

    //////////////////////////////////////////////////////////////////////////// Pull Quote
    .el__leafmedia--pullquote {
        .pullquote > blockquote:before {
            color: $vertical-politics-blue;
            font-size: 18px;
            height: 18px;
        }

        .pullquote__quote {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            margin-bottom: 8px;
            @include vertical-politics-font;

        }

        .pullquote__author {
            color: $gray-8;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 3px;
            line-height: 1.67;
            text-transform: uppercase;
            @include vertical-politics-font;

        }
    }

    //////////////////////////////////////////////////////////////////////////// Story Highlights
    .el__leafmedia--storyhighlights {
        .el__headline {
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 2px;
            line-height: 1.43;
            text-transform: uppercase;
            @include vertical-politics-font;
        }

        .el__storyhighlights__item {
            background-color: $newsletter-gray-7;
            border: 0;
            padding: 10px 14px;
        }

        .el__storyhighlights__item + .el__storyhighlights__item {
            margin-top: 2px;
        }
    }
}
