$vertical: "politics" !default;

@function getSelectorScope($vertical: $vertical, $pg-class: '', $zn-class: '', $cn-class: '', $cd-class: '', $cd-size: null) {
    $selector: ".pg.pg-vertical.pg-#{$vertical}#{$pg-class} #{$zn-class} #{$cn-class}";

    @if ($cd-size == "") {
        $selector: "#{$selector} .cd#{$cd-class}[data-eq-state]";
    } @elseif ($cd-size != null) {
        $selector: "#{$selector} .cd#{$cd-class}[data-eq-state~=\"#{$cd-size}\"]";
    } @else {
        $selector: "#{$selector} #{$cd-class}";
    }

    @return $selector;
}

@mixin hover-content-selection($element, $self-hover, $vertical: $vertical, $pg-class: '', $zn-class: '', $cn-class: '', $cd-class: '', $cd-size: null) {
    @at-root {
        #{getSelectorScope($vertical, $pg-class, $zn-class, $cn-class, $cd-class, $cd-size)} .cd__content #{$self-hover},
        #{getSelectorScope($vertical, $pg-class, $zn-class, $cn-class, $cd-class, $cd-size)} .media:hover + .cd__content #{$element},
        #{getSelectorScope($vertical, $pg-class, $zn-class, $cn-class, $cd-class, $cd-size)} .link-banner:hover + #{$element},
        #{getSelectorScope($vertical, $pg-class, $zn-class, $cn-class, $cd-class, $cd-size)} .link-banner:hover + .cd__wrapper .cd__content #{$element} {
            @content;
        }
    }
}

@mixin theme-override($element, $vertical: $vertical, $pg-class: '', $zn-class: '', $cn-class: '', $cd-class: '', $cd-size: null) {
    @at-root {
        #{getSelectorScope($vertical, $pg-class + ".t-dark", $zn-class, $cn-class, $cd-class, $cd-size)} #{$element},
        #{getSelectorScope($vertical, $pg-class + ".t-light", $zn-class, $cn-class, $cd-class, $cd-size)} #{$element},
        #{getSelectorScope($vertical, $pg-class, $zn-class + ".zn.t-dark", $cn-class, $cd-class, $cd-size)} #{$element},
        #{getSelectorScope($vertical, $pg-class, $zn-class + ".zn.t-light", $cn-class, $cd-class, $cd-size)} #{$element} {
            @content;
        }
    }
}

@mixin politics-theme($element, $pg-theme: "", $zn-theme: "", $vertical: $vertical, $pg-class: "", $zn-class: "", $cn-class: "", $cd-class: "", $cd-size: null) {
    $selector: "";

    // if zone not page
    @if ($zn-theme == "light") {
        $selector: #{$element}, #{getSelectorScope($vertical, $pg-class + ".pg.t-dark", $zn-class  + ".zn.t-light", $cn-class, $cd-class, $cd-size)} #{$element};
    } @elseif ($zn-theme == "dark") {
        $selector: #{getSelectorScope($vertical, $pg-class, $zn-class  + ".zn.t-dark", $cn-class, $cd-class, $cd-size)} #{$element};
    }

    // if page not zone
    @if ($pg-theme == "dark") {
        $selector: #{getSelectorScope($vertical, $pg-class + ".pg.t-dark", $zn-class, $cn-class, $cd-class, $cd-size)} #{$element};
    }

    @at-root {
        #{$selector} {
            @content;
        }
    }
}

@mixin card-size($element, $cd-size, $vertical: $vertical, $pg-class: '', $zn-class: '', $cn-class: '', $cd-class: '') {
    @at-root {
        #{getSelectorScope($vertical, $pg-class, $zn-class, $cn-class, $cd-class, $cd-size)} #{$element} {
            @content;
        }
    }
}

// Rules around special font
// Use mixin here as we can't extend placeholders inside media queries
@mixin vertical-politics-font {
    font-family: 'CNN Condensed', $sans-serif;
    font-feature-settings: 'kern';
    text-rendering: optimizeLegibility;
}
