@mixin vertical-politics-video-end-slate {
    //////////////////////////////////////////////////////////////////////////// Resets
    .video__end-slate__carousel .cd.cd--vertical[data-eq-state~="medium"] .cd__headline a {
        line-height: 1;
        font-size: 1rem;
        padding-right: 0;
    }
    // End Rests

    //////////////////////////////////////////////////////////////////////////// End Slate Carousel
    .video__end-slate__carousel .cd--vertical .cd__content {
        @include card-size(".cd__content", "medium", $cn-class:".video__end-slate__carousel", $cd-class: ".cd--vertical") {
            margin-top: 0;
        }
    }

    .video__end-slate__carousel .cd--vertical .cd__content {
        @include card-size(".cd__headline", "medium", $cn-class:".video__end-slate__carousel", $cd-class: ".cd--vertical") {
            background-color: transparent;
        }
    }

    .video__end-slate__carousel .cd__headline a {
        color: $gray-1;

        @include hover-content-selection(".cd__headline a span:not(.cd__headline-icon)", ".cd__headline a:hover span:not(.cd__headline-icon)", $cn-class:".video__end-slate__carousel") {
            box-shadow: inset 0 -3px 0 $black, inset 0 -4px 0 $gray-8;
        }

        @include hover-content-selection(".cd__headline a span:not(.cd__headline-icon)", ".cd__headline a:hover span:not(.cd__headline-icon)", $cn-class:".video__end-slate__carousel", $cd-size: "medium") {
            box-shadow: inset 0 -5px 0 $black, inset 0 -6px 0 $gray-8;
        }

        @include hover-content-selection(".cd__headline a span:not(.cd__headline-icon)", ".cd__headline a:hover span:not(.cd__headline-icon)", $cn-class:".video__end-slate__carousel", $cd-size: "large") {
            box-shadow: inset 0 -7px 0 $black, inset 0 -8px 0 $gray-8;
        }
    }

    .video__end-slate__carousel .cd__headline-icon {
        display: none;
    }
}
