$vertical-politics-column-leading: 28px;

@mixin vertical-politics-zone {
    //////////////////////////////////////////////////////////////////////////// Reset
    .zn-header__text {
        padding: 0;
        position: static;
    }

    .zn-header__stripes:after {
        content: none;
    }

    &.pg-section .el-entitlement {
        float: none;
        position: static;
    }
    // End Reset

    //////////////////////////////////////////////////////////////////////////// Zones
    .pg-no-rail .zn + .zn,
    .pg-side-of-rail .zn + .zn {
        padding-top: 32px;
    }

    //////////////////////////////////////////////////////////////////////////// Header Text
    .zn-header__text,
    .zn-header_preview__text,
    .zn .zn-banner .banner-text {
        @include vertical-politics-font;
    }

    .zn-header {
        margin-bottom: 32px;
        position: relative;
        text-align: center;
    }

    &.pg-section .branding-header-content .zn-header {
        margin: 0;
        padding: 0;
    }

    .zn-header__text {
        display: inline-block;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1.8px;
        line-height: 1.11;
        overflow: visible;
        text-transform: uppercase;
        width: auto;

        &:after {
            background-color: $gray-2;
            bottom: 0;
            content: "";
            height: .25rem;
            left: 0;
            position: absolute;
            width: 100%;
        }
    }

    .zn-header__text a {
        display: block;
        padding-bottom: 1rem;
    }

    .zn .zn-header__text a:hover {
        color: inherit;
    }

    //////////////////////////////////////////////////////////////////////////// Header Stripes
    .zn-header__stripes {
        display: block;
        position: relative;

        &:before {
            background-color: $gray-10;
            bottom: -6px;
            content: "";
            height: .25rem;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            transition: width .2s ease-in-out;
            width: 1rem;
            @include z-index($content-layer, interactive-controls);
        }
    }

    .zn-header__text a + .zn-header__stripes {
        margin-top: -1rem;
        pointer-events: none;
    }

    .zn-header__text a:hover + .zn-header__stripes:before {
        width: 100%;
    }

    //////////////////////////////////////////////////////////////////////////// Entitlements
    &.pg-section .branding-header-content {
        text-align: center;
    }

    &.pg-section .el-entitlement {
        display: inline-block;
        margin: 8px 0 0;
    }

    //////////////////////////////////////////////////////////////////////////// Balanced Zone
    .zn-balanced .zn__containers > .column:nth-of-type(2n+3),
    .zn-balanced .zn__containers > .column:nth-of-type(2n+4) {
        @media (min-width: $col-6) and (max-width: $col-12) {
            margin-top: $vertical-politics-column-leading;
        }
    }

    .zn-balanced .zn__containers > .column:nth-of-type(3n+4),
    .zn-balanced .zn__containers > .column:nth-of-type(3n+5),
    .zn-balanced .zn__containers > .column:nth-of-type(3n+6) {
        @media (min-width: $col-12) {
            margin-top: $vertical-politics-column-leading;
        }
    }

    //////////////////////////////////////////////////////////////////////////// Grid Zone
    .pg-no-rail .zn-balanced .zn__containers > .column + .column,
    .pg-side-of-rail .zn-balanced .zn__containers > .column + .column {
        margin-top: $vertical-politics-column-leading;

        @media (min-width: $col-6) {
            margin-top: 0;
        }
    }

    .zn-balanced .zn__containers > .column:nth-of-type(2n+3),
    .zn-balanced .zn__containers > .column:nth-of-type(2n+4) {
        @media (min-width: $col-6) and (max-width: $col-12) {
            margin-top: $vertical-politics-column-leading;
        }
    }

    .zn-balanced .zn__containers > .column:nth-of-type(3n+4),
    .zn-balanced .zn__containers > .column:nth-of-type(3n+5),
    .zn-balanced .zn__containers > .column:nth-of-type(3n+6) {
        @media (min-width: $col-12) {
            margin-top: $vertical-politics-column-leading;
        }
    }

    // This is a hack on top of the zones, which should be avoided. However, the
    // column-policy mixin is calculating the width the first column in the
    // left-fluid zone 20px shy of what's actually required.
    .zn-left-fluid .zn__containers {
        @media (min-width: $col-12) {
            .zn__column--idx-0 {
                padding-right: 640px;
            }

            .zn__column--idx-1 {
                padding-left: 13px;
                padding-right: 0;
            }

            .zn__column--idx-2 {
                padding-left: 13px;
            }
        }
    }
}
