//  Themes
//
//  File: quiet/base/_themes.scss
//
//  Description:
//  Import themes and map them to global theme SASS Map. Official theme definitions can
//  be found here: http://docs/download/attachments/57879109/zoneThemes_072414_mb.jpg
//
//  =================================================
//

//  Import light-theme
@import "light/_light-theme";

//  Import dark-theme
@import "dark/_dark-theme";

// Import green-theme override
@import "overrides/green/_green-theme";


//  =================================================
//
//  Themes: Map all themes to be traversable.
//
//  Description:
//  Add all themes to their appropriate keys to be
//  built via @each in SASS.
//
//  =================================================

$themes: (
    light: $light-theme,
    dark: $dark-theme,
    "green": $green-theme
);


//  =================================================
//
// Hidden Override
//
// Description:
// Forcefully hide Zone content.
//
//  =================================================

.zn.t-hidden {
    display: none !important;
}
