//
// card
//
// file: cards/_card.scss
//
// description:
// Card module
// -----------------------------------------------------------------------------

//
// Styles
// -----------------------------------------------------------------------------

.cd {
    @include copy(14, 18);
    @include theme(color, card copy standard color);

    &--lang-ar,
    &--lang-ar-sa {
        direction: rtl;
    }
}

// Set card colors on transparent/background zones
// -----------------------------------------------------------------------------

@each $theme-id in map-keys($themes) {
    @if map-fetch($themes, $theme-id zone background) {
        .t-#{$theme-id},
        .pg .t-#{$theme-id} {
            &.zn--transparent {
                .cd {
                    .cd__wrapper {
                        background: map-fetch($themes, $theme-id zone background);
                        background: safe-rgba(map-fetch($themes, $theme-id zone background), map-fetch($themes, $theme-id card background alpha));
                    }

                    &--horizontal {
                        .cd__content {
                            padding-right: 7px;
                        }
                    }

                    &--vertical[data-eq-state$="xsmall"],
                    &--vertical[data-eq-state$="small"],
                    &--extra-small {
                        .cd__content {
                            padding-left: 7px;
                            padding-right: 7px;
                        }
                    }
                }

                .cd .cd--tool__muted-player {
                    .cd__content {
                        background: map-fetch($themes, $theme-id zone background);
                        background: safe-rgba(map-fetch($themes, $theme-id zone background), map-fetch($themes, $theme-id card background alpha));
                    }
                }

                .cd .cd__content--featured {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            &.zn.zn--has-background,
            &.zn.zn-right-stack-bg-bleed {
                .cd__wrapper {
                    background: map-fetch($themes, $theme-id zone background);
                    background: safe-rgba(map-fetch($themes, $theme-id zone background), map-fetch($themes, $theme-id card background alpha));
                }

                .cd--tool__muted-player {
                    .cd__content {
                        background: map-fetch($themes, $theme-id zone background);
                        background: safe-rgba(map-fetch($themes, $theme-id zone background), map-fetch($themes, $theme-id card background alpha));
                    }
                }
            }

            &.zn.zn--has-background .cn-section-preview .cd__wrapper,
            &.zn.m-navigation__mega-nav-item .cn-section-preview .cd .cd__wrapper {
                background: 0 0;
            }

            &.zn-right-stack-bg-inline .zn-wrapper__media[data-eq-state$="breakout"] + .zn-containers .cd--horizontal.cd--has-media {
                background: map-fetch($themes, $theme-id zone background);
            }
        }

        .mega-nav .t-#{$theme-id}.m-navigation__mega-nav-item {
            .cd--vertical[data-eq-state$="small"] {
                .cd__content {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}

// REUSABLE STYLES for card components to follow ///////


// Overlay style for card contents
@mixin overlay-card-contents {
    .cd__content {
        bottom: 0;
        left: 0;
        padding-left: 10px;
        padding-right: 10px;
        position: absolute;
        width: 100%;

        // Added this to handle the special case needed for positioning in full-bleed zones
        .zn-left-fluid-bg-bleed & {
            position: relative;
        }

        @include theme(background, card background overlay);
    }
}

//Re-useable styles used for vertical card contents
@mixin verticle-card-contents {
    .cd {
        margin-bottom: 30px;

        .cd__content {
            margin: 0 10px;
            padding: 10px 10px 15px;
            position: relative;
            text-align: center;
            width: auto !important;

            @include breakpoint($col-4, $col-5) {
                margin: {
                    left: 30px;
                    right: 30px;
                }
            }

            @include breakpoint($col-6) {
                margin: {
                    left: 30px;
                    right: 30px;
                }
            }
        }

        &__kicker,
        &__auxiliary,
        &__description {
            display: none;
        }

        &__headline {
            line-height: 1.2 !important;
            font-size: 21 + 0px;
            font-size: (21 + 0px) / $base-font-size + 0rem !important;

            &-section-text {
                color: $gray-7;
                line-height: 1;
                margin-bottom: 5px;

                @include font-size(18);
                @include vertical-container-font;
            }

            &-text {
                padding: 0;
            }
        }
    }
}

//********************************** DEFAULT STYLES FOR CARDS + CARD COMPONENTS ******************************************************//

.cd {
    //----------------- card wrapper ---------------------/

    &__wrapper {
        border-color: transparent;
        position: relative;

        @include clearfix;
        @include theme(background, card background color);

        // Use a light border-bottom color between cards
        .cn-list-xs .cd--has-siblings:not(.cd--idx-0) &,
        .cn-section-preview .cd--has-siblings:not(.cd--idx-0) &,
        .cn-list-large-vertical .cd--has-siblings:not(.cd--idx-0) &,
        .cn-list-small-vertical .cd--has-siblings:not(.cd--idx-0) &,
        .cn-list-small-vertical-1x1 .cd--has-siblings:not(.cd--idx-0) &,
        .cn-list-small-vertical-3x4 .cd--has-siblings:not(.cd--idx-0) &,
        .cn-list-hierarchical-xs .cd--has-siblings:not(.cd--idx-0) &,
        .cn-list-large-horizontal .cd--has-siblings:not(.cd--idx-0) &,
        .cn-list-small-horizontal .cd--has-siblings:not(.cd--idx-0) &,
        .cn-list-hierarchical-small-horizontal .cd--has-siblings:not(.cd--idx-0) & {
            // Simulate border-collapse
            margin-top: 0;

            @each $theme-id in map-keys($themes) {
                @if map-fetch($themes, $theme-id card background color) {
                    .t-#{$theme-id},
                    .pg .zn.t-#{$theme-id} {
                        background: map-fetch($themes, $theme-id card background color);
                        border-color: transparent;
                    }
                }
            }
        }

        .cn-section-preview .cd--has-siblings.cd--idx-3 & {
            margin-top: 0;
        }

        @each $theme-id in map-keys($themes) {
            .t-#{$theme-id} &.cd--tool,
            .pg .t-#{$theme-id} &.cd--tool {
                background: transparent;
            }
        }
    }

    //----------------- card branding ---------------------/

    &__branding {
        margin: 0 0 10px;
        padding: 0 0 5px;

        @include clearfix($useOverflow: true);
        @include headline-16;
        @include theme(border-bottom, card divider border-bottom);

        a {
            @include theme(color, card copy standard color);

            &:hover {
                @include theme(color, el link hover, $force-theming:true);
            }
        }

        &__image {
            float: left;
            height: 40px;
            margin-right: $gutter-width / 2;
            width: 40px;
        }

        &__sub {
            @include copy(12px, 18px)
        }
    }

    //----------------- card status AKA flag ---------------------/

    &__status {
        bottom: 100%;
        left: 0;
        padding: 12px $gutter-width / 2;
        position: absolute;
        text-transform: uppercase;

        &.cd__status--video-demand {
            bottom: auto;
            top:0;
            @include z-index($content-layer, content-masking);
        }

        @include copy(12, 16, $bold);

        // This chunk is not using the `theme` mixin because the class generation
        // for `$flag-id` adds a level of complication. Maybe, one day, it could be
        // done. For now, copying and pasting `is-container-override` logic will
        // solve the issue.
        @each $theme-id in map-keys($themes) {
            .t-#{$theme-id} &,
            .pg .t-#{$theme-id} & {

                @if (map-has-key(map-get($themes, $theme-id), is-container-override) == false) {
                    @each $flag-id in map-keys(map-fetch($themes, $theme-id el flags)) {
                        &.cd__status--#{$flag-id} {
                            background: map-fetch($themes, $theme-id el flags $flag-id background);
                            color: map-fetch($themes, $theme-id el flags $flag-id color);
                        }
                    }
                }
            }
        }
    }

    //----------------- card contents ---------------------/

    &__content {
        padding: 7px 0;
        position: relative;

        // set backgrounds for transparent zones - pardon the specificity battling ;)
        .zn--transparent.zn--bg-bleed .cd.cd--card &,
        .zn-right-stack-bg-inline .zn-wrapper__media[data-eq-state$="breakout"] + div .cd--large & {
            body.pg:not(.pg-vertical) &,
            body.pg-politics & {
                background: 0 0 !important;
                padding-left: 10px;
                padding-right: 10px;
                position: relative;
            }
        }

        .zn--has-background &,
        .zn--transparent & {
            padding-left: 7px;
            padding-right: 7px;
        }
    }

    //----------------- kicker text ---------------------/

    &__kicker {
        @extend %auxiliary;

        margin: 0 0 5px;
        text-transform: uppercase;

        @include copy(12px, 16px, $bold);

        a {
            @include theme(color, card copy meta color);

            &:hover {
                @include theme(color, el link hover);
            }
        }
    }

    //----------------- pre headline ---------------------/

    &__pre-headline {
        letter-spacing: 0;
        text-transform: uppercase;

        @include theme(color, card copy highlight color);
    }

    //----------------- card headline ---------------------/

    &__headline {
        // Links in headline
        font-weight: $light;

        &-text:after {
            content: " "; // Trailing space in the event that there's a post-wool.
        }

        .cd--has-banner & {
            @include copy(20, 24, $light);
        }

        a {
            display: block;

            &:hover,
            &:hover .cd__pre-headline,
            &:hover .cd__post-headline,
            &:hover .cd__headline-text {
                @include theme(color, el link hover);
            }

            &:hover .cd__headline-icon:before {
                @include theme(color, el link hover, $force-theming:true);
            }

            .cd__headline-icon:before {
                @include theme(color, card story-icon color);
            }
        }

        &-icon:before {
            font-weight: $light;
        }
    }

    //----------------- post headline ---------------------/

    &__post-headline {
        display: inline-block;
        font-family: $sans-serif-interface;
        font-style: italic;
        font-weight: $light;
        letter-spacing: 0;
        margin: 5px 0 0;

        // @TODO look into a way to not scope .pg/.zn specific implementation
        @include theme(color, card copy meta color);
    }

    &__auxiliary {
        @extend %auxiliary;

        margin: 5px 0;

        @include copy(14px, 18px, $medium);
    }

    //----------------- timestamp ---------------------/

    &__timestamp {
        color: $gray-8;
        float: right;
        font-weight: $bold;
        margin-left: 20px;

        @include font-size(12);

        .cn-list-xs & {
            padding: 5px 0;
        }

        &-red {
            color: $red-2;
        }
    }

    //----------------- overlay ---------------------/

    &__overlay {
        background: rgba(0,0,0,.1);
        color: $white;
        font-size: 3em;
        font-weight: $light;
        height: 100%;
        line-height: 75px;
        position: absolute;
        text-align: center;
        width: 100%;

        @include z-index($content-layer);
    }

    .media_overlay_text:hover .media__image {
        opacity: .25;
    }

    .media_overlay_text:hover .cd__headline a {
        @include theme(color, el link hover);
    }


    //----------------- description/tout ---------------------/

    &__description {
        margin: 5px 0 0;
        padding-bottom: 7px;

        @include copy(16px, 22px, $light);

        ul {
            padding: 0 0 0 20px;

            li {
                list-style-type: disc;
            }
        }

        a {
            @include copy(14px, 18px, $bold);
            @include theme(color, el link color);
        }
    }


    //----------------- card media ---------------------/

    .media {
        display: block;
        overflow: hidden;
        position: relative;

        &:hover .media__icon:before {
            color: $link-hover;
        }

        .img__preloader {
            display: none;
        }

        img[src*="data:image/gif;base64"] {
            &[data-eq-state$="xsmall"] + .img__preloader:before {
                @include font-size(20);
            }

            & + .img__preloader {
                display: block;

                @include stretch;

                &:before {
                    transform: translate(-50%, -50%);

                    @include font-size(26);
                    @include icon($icon--social-more);
                    @include stretch(50%, false, false, 50%);
                    @include theme(color, card divider color);
                }
            }
        }

        // Modifiers

        &__image {
            display: block;
        }

        &__icon {
            background: rgba($gray-13, .30);
            color: $gray-1;
            padding: 5px;

            @include copy(18px, 18px);
            @include stretch(false, false, 0, 0);

            &.icon-media-video:after,
            &.icon-media-video360:after {
                content: attr(data-post-text);
                font-style: normal;
                margin-left: 5px;

                @include copy(14, 18, $light);
            }
        }

        &__label {
            color: $white;
            font-family: $sans-serif-interface;
            font-weight: $bold;
            padding: $gutter-width / 4;

            @include stretch(false, 0, 0, false);
            @include font-size(11);
            @include copy(11px, 11px, $bold);
        }

        &__overlay {
            background-color: $gray-10;
            height: 100%;
            opacity: .7;
            width: 100%;

            @include stretch(0, false, false, 0);
        }

        &__over-text {
            background-color: $red-1;
            background-color: rgba($red-1, .75);
            bottom: 0;
            color: $gray-1;
            padding: 10px;
            position: absolute;

            @include copy(12, 12, $bold);
            @include z-index($overlay-layer);
        }

        &:hover .media__over-text {
            background-color: rgba($red-1, 1);
        }

        video {
            @include z-index($content-layer, content);
        }
    }

    //------------ default (size-less) card styles ---------------/

    &--extra-small {
        .media__icon.icon-media-video:after,
        .media__icon.icon-media-video360:after {
            display: none;
        }
    }

    &--horizontal,
    &--extra-small {
        @include theme(border-top, card divider border-bottom);

        &.cd--has-media {
            padding-bottom: 5px;

            &.cd--large {
                padding-bottom: 10px;
            }
        }

        .cd__headline {
            @include copy(15, 20, $light);
        }

    }

    &--horizontal.cd--has-media {
        @include clearfix;

        .media {
            float: left;
            width: 25%;
        }

        .cd__content {
            float: left;
            padding-left: 10px;
            width: 75%;
        }

        &.cd--large .cd__content {
            padding-left: 15px;
        }
    }

    &--vertical {

        .cd__headline {
            @include copy(20, 24, $light);
        }
    }
}

//********************************** CARD PROPERTIES BY SIZE ***********************************************************************//

[data-eq-state$="xsmall"].cd {
    .cd__headline {
        padding-right: $gutter-width / 2;
    }

    .cd__headline-icon:before {
        display: none;
    }
}

[data-eq-state$="xsmall"].cd--horizontal {
    .media__icon.icon-media-video:after,
    .media__icon.icon-media-video360:after {
        display: none;
    }
}
//--------------------------- SMALL CARDS (~3-6 columns)-------------------------------/

[data-eq-state$="small"].cd {

    .banner-text {
        word-wrap: break-word;
    }

    &:not(.cd--extra-small) {
        .cd__headline-icon:before {
            display: none;
        }
    }

    .media__icon {
        padding: 5px;
    }

    &--vertical {
        .cd--content {
            padding-bottom: 7px;
            padding-top: 10px;
        }

        .cd__headline {
            @include copy(20, 24, $light);
        }

        &.cd--has-banner .cd__headline {
            @include copy(16, 20, $light);
        }

        .cd__description {
            @include copy(14, 20, $light);
        }

        &.cd--has-media.cd--headline-only {
            @include overlay-card-contents;
        }

        &.cd--media__video-demand {
            .media__video--thumbnail-wrapper {
                .metadata {
                    display: none;
                }
            }
        }
    }
}

[data-eq-state$="small"].cd--horizontal {
    .media__icon.icon-media-video:after,
    .media__icon.icon-media-video360:after {
        display: none;
    }
}

//--------------------------- MEDIUM CARDS (~6-10 columns) -------------------------------/

[data-eq-state$="medium"].cd {

    .cd__kicker {
        @include copy(14, 18, $bold);
    }

    &__status {
        @include copy(16, 20, $bold);
    }

    &--horizontal {

        .cd__headline-icon {
            display: none;
        }

        &.cd--has-media {
            .media {
                width: 40%;
            }

            .cd__content {
                width: 60%;
            }
        }
    }

    &--extra-small, &--horizontal {
        .cd__headline {
            @include copy(20, 24, $light);
        }
    }

    &--vertical {
        .media__icon {
            display: none;
        }

        .cd__headline {
            @include copy(30, 34, $light);
        }

        &.cd--has-banner .cd__headline {
            @include copy(24, 28, $light);
        }

        // if the card has media, is not a video demand player, is not a CNNgo free preview player, is not an image and is medium, overlay the card contents
        &.cd--has-media:not(.cd--media__video-demand):not(.cd--media__go-free-preview) {
            @include overlay-card-contents;
        }

        &.cd--media__video-demand {
            .media__video {
                margin-bottom: 0;
            }

            .cd__headline-icon:before {
                display: none;
            }

            .media__video--thumbnail-wrapper {
                .metadata {
                    display: none;
                }
            }
        }
    }
}

//----------------------- LARGE/FULL WIDTH CARDS (~10+ columns) ---------------------------/

[data-eq-state$="large"].cd,
[data-eq-state$="full16x9"].cd {
    padding-bottom: 10px;

    .cd__kicker {
        @include copy(16, 20, $bold);
    }

    &__status {
        @include copy(16, 20, $bold);
    }

    &--horizontal {
        padding-top: 0;

        .cd__headline {
            @include copy(24, 28, $light);
        }

        .cd__headline-icon {
            display: none;
        }

        &.cd--has-media {
            .media {
                width: 40%;
            }

            .cd__content {
                width: 60%;
            }
        }
    }

    &--extra-small {
        padding-bottom: 3px;
        padding-top: 3px;

        .cd__headline {
            @include copy(24, 28, $light);
        }
    }

    &--vertical {
        .media__icon {
            display: none;
        }

        .cd__headline {
            @include copy(36, 40, $light);
        }

        &.cd--has-banner .cd__headline {
            @include copy(28, 32, $light);
        }

        // if the card has media, is not a video demand player, is not a CNNgo free preview player, is not an image and is large, overlay the card contents
        &.cd--has-media:not(.cd--media__video-demand):not(.cd--media__go-free-preview) {
            @include overlay-card-contents;
        }

        &.cd--media__video-demand {
            .media__video {
                margin-bottom: 0;
            }

            .cd__headline-icon:before {
                display: none;
            }

            .media__video--thumbnail-wrapper {
                .metadata {
                    display: none;
                }
            }
        }
    }
}

// Added to address problems with piped headlines getting cut-off in tablet views
.zn.zn--has-background .zn__show_background {
    & [data-eq-state$="medium"].cd--vertical,
    & [data-eq-state$="large"].cd--vertical {
        &.cd--has-media:not(.cd--media__video-demand):not(.cd--media__go-free-preview) .cd__content {
            position: relative;
        }
    }
}

//********************************** CARD HEADLINE ICONS ***********************************************************************//

.cd--video .cd__headline-icon:before {
    @extend %headline-media-icon;
    @include icon($icon--type-video);
}

.cd--gallery .cd__headline-icon:before {
    @extend %headline-media-icon;
    @include icon($icon--type-gallery);
}

.cd--audio .cd__headline-icon:before {
    @extend %headline-media-icon;
    @include icon($icon--type-audio);
}

.cd--image .cd__headline-icon:before {
    @extend %headline-media-icon;
    @include icon($icon--type-gallery);
}

.cd--infographic .cd__headline-icon:before {
    @extend %headline-media-icon;
    @include icon($icon--type-chart);
}

.cd--map .cd__headline-text-icon:before {
    @extend %headline-media-icon;
    @include icon($icon--type-map);
}

.cd--games .cd__headline-icon:before {
    @extend %headline-media-icon;
    @include icon($icon--games);
}

// Zone + Container Card Modifiers
// -----------------------------------------------------------------------------

.zn-single-column,
.zn-balanced,
.zn-left-fluid,
.zn-left-fluid-bg-bleed {
    .cn-list-large-horizontal,
    .cn-stack--large-horizontal {
        .media ~ .cd__content {
            min-height: 203px;
        }
    }
}

.zn-single-column,
.zn-balanced,
.zn-left-fluid,
.zn-left-fluid-bg-bleed,
.zn-70-30,
.zn-60-40,
.zn-left-fluid-right-stack {
    .cn-list-large-horizontal,
    .cn-stack--large-horizontal {
        .media ~ .cd__content {
            float: right;

            @include breakpoint($col-10, $col-13) {
                min-height: 178px;
            }

            @include breakpoint(0, $col-10) {
                min-height: 120px;
            }
        }
    }
}

.zn-70-30,
.zn-60-40,
.zn-left-fluid-right-stack {
    .cn-list-large-horizontal,
    .cn-stack--large-horizontal {
        .media ~ .cd__content {
            min-height: 114px;
        }
    }
}

.cn[data-eq-state$="2-column-grid"] .cd[data-eq-state$="xsmall"] .cd__headline {
    @include copy(15, 20, $light);
}

.cn-stack--large-vertical {
    li + li .cd[data-eq-state$="medium"],
    li + li .cd[data-eq-state$="large"]
    li + li .cd[data-eq-state$="full16x9"] {
        margin-top: $gutter-width;
    }
}

.cn-list-hierarchical-no-leading-headline {
    .cd--idx-0 .cd__headline {
        display: none;
    }
}

.cn-list-hierarchical-piped {
    .cd__branding {
        display: none;
    }
    .cd--idx-0 .cd__branding {
        display: block;
    }

    .cd__description-piped-links {
        ul {
            padding: 0;

            li {
                display: inline;

                &:after {
                    content: "|";
                    display: inline;
                    margin: 0 5px;
                }

                &:last-child:after {
                    display: none;
                }

                a {
                    @include copy(16px, 18px, $normal);
                }


                &.icon-gallery a:after,
                &.icon-video a:after {
                    position: relative;
                    bottom: 1px;
                    left: 3px;

                    @include icon($icon--type-gallery);
                }

                &.icon-video a:after {
                    @include icon($icon--media-play);
                }
            }
        }
    }

    .cd[data-eq-state$="small"] {
        .cd__description-piped-links {
            padding: 5px 0 0;

            ul {
                li {
                    display: block;
                    padding: 0 0 0 7px;
                    position: relative;

                    @include copy(14px, 22px, $normal);

                    &:before {
                        background-color: #c00;
                        content: " ";
                        display: inline;
                        height: 14px;
                        left: 0px;
                        overflow: hidden;
                        position: absolute;
                        top: 4px;
                        width: 2px;
                    }

                    &:after {
                        display: none;
                    }

                    a {
                        color: $gray-8;
                        font-weight: $normal;

                        &:hover {
                            color: $cnn-red;
                        }
                    }

                }
            }
        }
    }

    .zn.t-dark & {
        .cd__description-piped-links {
            ul li a {
                color: $gray-1;

                &:hover {
                    color: $cnn-red;
                }
            }
        }
    }
}


// Main container card styles.  Making Style section styles for vertical cards global
.cn-list-small-vertical,
.cn-list-small-vertical-1x1,
.cn-list-small-vertical-3x4 {

    body.pg:not(.pg-vertical--style) & {
        .cd__headline-text:before  {
            display: block !important;
            margin-top: -1px;
            @include font-size(22);
        }

        .cd.cd--video .cd__headline-text:before  {
            @include icon($icon--type-video);
        }

        .cd.cd--gallery .cd__headline-text:before {
            @include icon($icon--type-gallery);
        }

        .cd.cd--audio .cd__headline-text:before {
            @include icon($icon--type-audio);
        }

        .cd.cd--image .cd__headline-text:before {
            @include icon($icon--type-gallery);
        }

        .cd.cd--infographic .cd__headline-text:before {
            @include icon($icon--type-chart);
        }

        .cd.cd--map .cd__headline-text:before {
            @include icon($icon--type-map);
        }

        .cd.cd--games .cd__headline-text:before {
            @include icon($icon--games);
        }
    }

    @include verticle-card-contents;

    .zn.t-dark & {
        [data-eq-state].cd.cd--has-media .media + .cd__content {
            background-color: rgba($gray-12, 0.9);

            @include stretch(false, 0, 0, 0);
        }
    }

    .zn.t-light & {
        [data-eq-state].cd.cd--has-media .media + .cd__content {
            background-color: rgba($gray-3, 0.9);

            @include stretch(false, 0, 0, 0);
        }
    }

    .cd__headline-icon,
    .media__icon {
        display: none;
    }
}

.cn-list-small-vertical-1x1,
.cn-list-small-vertical-3x4 {
    .zn.t-dark & {
        [data-eq-state].cd.cd--has-media .media + .cd__content {
            margin-bottom: 10px;
        }
    }
    .zn.t-light & {
        [data-eq-state].cd.cd--has-media .media + .cd__content {
            margin-bottom: 10px;
        }
    }
}

// Specific 16:9 container card styles
.cn-list-small-vertical {
    [data-eq-state].cd.cd--has-media .media + .cd__content {
        margin-top: -23px;
        position: relative !important;
        width: auto !important;
    }
}
// Card headline overlays the card label when card is beneath a superhero zone & full bleed, so added 10px margin top to fix the issue.
.zn-left-fluid-bg-bleed,
.zn-right-stack-bg-bleed {
    .cn-list-small-vertical {
        [data-eq-state].cd.cd--has-media.cd--has-siblings.cd--idx-0 .media + .cd__content {
            margin-top: 10px;
        }
    }
}

.zn.t-dark .cn-list-small-vertical {
    [data-eq-state].cd.cd--has-media .media + .cd__content {
        background-color: rgba($gray-11, 1) !important;
    }
}
.zn.t-light .cn-list-small-vertical {
    [data-eq-state].cd.cd--has-media .media + .cd__content {
        background-color: rgba($gray-3, 1) !important;
    }
}
// End Making Style section styles for vertical cards global


// Banner
// -----------------------------------------------------------------------------


.banner-text {
    @extend %el-banner;

    background-color: transparent;
    display: block;

    // Replaces js screaming headline with viewport unit font size (CNNWE-71 + CNNWE-131)
    $bannerMin: 5;
    $bannerMax: 47;
    $bannerIncrement: 3;

    //These are the DXG specified min and max font sizes for the banners
    $bannerMinFontSize: 36px;
    $bannerMaxFontSize: 136px;
    $bannerMaxFontSize3qrt: 106px;

    $bannerViewPortMinFontSize: 36px;

    // for all uppercase banners, lower each case by a set percentage (5%)
    $bannerUpperCasePerc: .87;

    //Doing some math magic
    $bannerFontSizeDiff: $bannerMaxFontSize - $bannerMinFontSize;
    $bannerRangeDiff: $bannerMax - $bannerMin;

    $bannerFontSizeIncrement: $bannerFontSizeDiff / ($bannerRangeDiff / $bannerIncrement);

    &.screaming-banner-text {

        a.link-banner:hover & {
            color: inherit !important;
        }

        white-space: normal;
        width: 100%;
        font-size: 36px; // define default size for xsmall and small size (45+ char)

        @include cardBannerVW(36px, $bannerViewPortMinFontSize);

        $i: $bannerMin;
        $j: 0;

        @while $i <= $bannerMax {
            $f: ($bannerMaxFontSize - $bannerFontSizeIncrement * $j) + cardBannerRangeModifer($i);

            &.banner-text-size--char-#{$i} {
                font-size: $f;

                @include cardBannerVW($f);

                &-uc {
                    font-size: $f * $bannerUpperCasePerc;

                    @include cardBannerVW($f * $bannerUpperCasePerc);
                }
            }

            $i: $i + $bannerIncrement;
            $j: $j + 1;
        }

        //override generated font range for smaller character counts
        $bannerFontOverride1: 150px;
        $bannerFontOverride2: 136px;

        &.banner-text-size--char-5,
        &.banner-text-size--char-8,
        &.banner-text-size--char-5-uc,
        &.banner-text-size--char-8-uc {
            font-size: $bannerFontOverride1 !important;

            // VW based solution for mobile viewports in max char headlines
            @include breakpoint(0, $col-10) {
                font-size: bannerGetVW($bannerFontOverride1, $col-12) !important;
            }
        }

        &.banner-text-size--char-11,
        &.banner-text-size--char-11-uc {
            font-size: $bannerFontOverride2 !important;

            // VW based solution for mobile viewports in max char headlines
            @include breakpoint(0, $col-10) {
                font-size: bannerGetVW($bannerFontOverride2, $col-12) !important;
            }

        }
    }

    .cd__content & { //these banners inside cd__content are below the card, in the content area and should be left-aligned
        text-align: left;
    }

    &--natural {
        padding-bottom: 5px;
        word-wrap: break-word;

        [data-eq-state$="small"].cd--vertical & {
            @include copy(26, 30, $medium);
        }

        [data-eq-state$="medium"].cd--vertical & {
            @include copy(36, 40, $medium);
        }

        [data-eq-state$="large"].cd--vertical & {
            @include copy(46, 50, $medium);
        }

        a.link-banner:hover & {
            color: inherit !important;
        }
    }
}

.banner-text--featured {

    background-color: $black;
    color: $white;
    position: relative;
    display: inline-block;
    padding-right: 5px;
    width: 100%;
    word-spacing: -.05em;
    word-wrap: break-word;

    @include copy(16, 20, $medium);

    a.link-banner:hover {
        color: $link-hover !important;

        h2 {
            color: inherit !important;
        }
    }

    strong {
        font-weight: $medium;
    }

    a {
        @include unstyled-link;

        &:hover {
            color: $link-hover;
        }
    }

    .bannerText-featured {
        float: right;
        padding: 5px;
    }

    .cnngo-logo {
        background: url('@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/logo-cnngo.png') no-repeat 0 0;
        background-size: contain;
        float: right;
        height: 30px;
        margin: 0 auto;
        width: 60px;
    }
}


// Person card
// 1. Font color, size, and style slightly different.
// 2. Forced line-break on vertical version
// -----------------------------------------------------------------------------

$pcard-fontsize-horizontal: 16;
$pcard-fontsize-vertical: 26;

.cd--person.cd {
    // author name
    .cd__headline-text {
        @include font-size($pcard-fontsize-horizontal);
        @include line-height(14, $pcard-fontsize-horizontal);
    }

    // author title
    .cd__post-headline {
        color: $gray-9;
        font-style: normal;
        font-weight: $bold;

        @include font-size(14);
    }
}

.cd__content {
    .cd__headline {
        // for Wool
        .cd__headline-text + .cd__post-headline {
            display: inline;
        }
    }
}
.cd--person.cd--vertical {
    // author name
    .cd__headline-text {
        //force wordwrap
        display: block;
        overflow: visible;
        width: 0;

        @include font-size($pcard-fontsize-vertical);
        @include line-height(28, $pcard-fontsize-vertical);
    }
}

.cn__column.carousel__content__item {
    .cd__content,
    .cd__headline {
        &-text {
            @include font-size(14);
            font-weight: $light !important;
        }
    }
}

// Sponsored Video card thumbnail
// -----------------------------------------------------------------------------

.cd--spon__overlay {
    height: 100%;
    width: 100%;

    &__media-wrapper {
        height: 79px;
        width: 140px;

        .sponsored-playing {
            background-color: $bgcolor-sponsorHeader;
        }

        @include stretch;
    }

    &__media {
        @include stretch;
    }

    @include stretch;
    @include z-index($overlay-layer, modal-controls);
}

// To display Breaking news flag properly in containers having Video content.
.zn-left-fluid-bg-bleed, .zn-balanced {
    .cn-list-hierarchical-piped, .cn-list-hierarchical-xs {
        .cd--media__video-demand {
            .media__video {
                margin-bottom: 0;
            }
        }
    }
}
