//
// animation classes
//
// file: loud/_animation.scss
//
// description:
// These are classes that must be global to prevent video CSS issues.
//
// -----------------------------------------------------------------------------

// This must be global to prevent video CSS issues.
.mp4-animations {
    width: 100%;
}

// This is just global because it doesn't make sense to add an entire CSS file
// request for a single CSS rule.
video.autoplaysinline::-webkit-media-controls {
    display: none !important;
    -webkit-appearance: none;
}

video.autoplaysinline::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}
