//
// Image gradients for CNN.com zones
//
// file: pattern-library/loud/_background-image-gradients.scss
//
// description:
//   BEM styles for adding gradient overlays to zone and page background images.
//
// required markup:
//    <!-- Page markup. Note the modifier on image-gradient -->
//    <div class="bg-light">
//        <div class="image-gradient image-gradient--page">
//            <div class="image-gradient__top">
//            <div class="image-gradient__bottom">
//        </div>
//    </div>
//
//    <!-- Zone markup. Note the modifier on image-gradient -->
//    <div class="t-dark">
//        <div class="image-gradient image-gradient--zone">
//            <div class="image-gradient__top">
//            <div class="image-gradient__bottom">
//        </div>
//    </div>
//
// -----------------------------------------------------------------------------


%image-gradient-absolute {
    position: absolute;
    width: 100%;
}

.image-gradient {
    @extend %image-gradient-absolute;
    top: 0;

    &__top {
        @extend %image-gradient-absolute;
        top: -1px;

        /* override for profile pages */
        .pg-profiles & {
            display: none;
        }
    }

    &__bottom {
        @extend %image-gradient-absolute;
        bottom: -1px;
    }

    &--page {
        padding-top: $ratio-4x3;

        @include z-index($background-layer, zone-background);

        @include breakpoint($col-10) {
            padding-top: $ratio-16x9;
        }

        .pg-profiles & {
            padding-top: $ratio-16x9;
        }

        @each $theme-id in map-keys($themes) {
            .pg.t-#{$theme-id} & {
                @include breakpoint($col-6) {
                    @if map-fetch($themes, $theme-id page body gradients upper height) {
                        .image-gradient__top {
                            height: map-fetch($themes, $theme-id page body gradients upper height);

                            @include safe-css2-gradient-bg(
                                to bottom,
                                safe-rgba(
                                    map-fetch($themes, $theme-id page body gradients upper start color),
                                    map-fetch($themes, $theme-id page body gradients upper start alpha)
                                ),
                                map-fetch($themes, $theme-id page body gradients upper end)
                            );
                        }
                    }

                    @if map-fetch($themes, $theme-id page body gradients lower height) {
                        .image-gradient__bottom {
                            height: map-fetch($themes, $theme-id page body gradients lower height);

                            @include safe-css2-gradient-bg(
                                to bottom,
                                map-fetch($themes, $theme-id page body gradients lower start color),
                                map-fetch($themes, $theme-id page body gradients lower end)
                            );
                        }
                    }
                }
            }
        }
    }

    &--zone {
        height: 100%;
        @each $theme-id in map-keys($themes) {
            .t-#{$theme-id} &,
            .pg .t-#{$theme-id} & {
                @if map-fetch($themes, $theme-id zone gradients upper height) {
                    .image-gradient__top {
                        height: map-fetch($themes, $theme-id zone gradients upper height);
                        @include safe-css2-gradient-bg(
                            to bottom,
                            safe-rgba(
                                map-fetch($themes, $theme-id zone gradients upper start color),
                                map-fetch($themes, $theme-id zone gradients upper start alpha)
                            ),
                            map-fetch($themes, $theme-id zone gradients upper end)
                        );
                    }
                }

                @if map-fetch($themes, $theme-id zone gradients lower height) {
                    .image-gradient__bottom {
                        height: map-fetch($themes, $theme-id zone gradients lower height);
                        @include safe-css2-gradient-bg(
                            to bottom,
                            map-fetch($themes, $theme-id zone gradients lower start color),
                            map-fetch($themes, $theme-id zone gradients lower end)
                        );
                    }
                }
            }
        }
    }

    .pg-article &,
    .pg-video &,
    .pg-gallery & {
        display: none;
    }
}
