//
// global base
//
// file: loud/_base.scss
//
// description:
// Base elements and class styles to be applied site-wide
//
// -----------------------------------------------------------------------------

// This version of the box model calculates padding as part of the width,
// making it easier implement a grid that uses percentage widths and gutters.
// See http://www.paulirish.com/2012/box-sizing-border-box-ftw/

* {
    box-sizing: border-box;
}

html {
    font-size: $base-font-size / 16px + 0em;

    @include line-height($base-line-height, $base-font-size);
}

body {
    background-color: $black;
    color: $body-text-color;
    font-family: $sans-serif;
}

a {
    color: $blue-dark;
    text-decoration: none;

    transition: color .2s;

    &:hover {
        color: $cnn-red;
    }
}

img {
    display: block;
    height: auto;
    width: 100%;
}

p {
    margin-top: 0;
}

dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    a {
        @extend %unstyled-link;
    }
}

hr {
    border: 0;
    border-top: 1px solid;
}
