//
// FORM STYLES
//
// file: _forms.scss
//
// description:
// Reusable form styles for CNN.com.
//
// Items to note:
//
//     - This will wrap items in an actual <form>, or a form-like group of things using class .form
//     - Never wrap labels and inputs without a reason
//     - If you want to group elements (buttons, inputs, selects) so they flow inline and reflow to stack on smaller browsers,
//       use the .inline class on a containing div
//     - If you want to group elements as block-level, use the .form-group class
//     - All select elements need to be wrapped in a div with class .select- this allows us to use fancy icon pseudo classes for
//       the down arrow
//
// -----------------------------------------------------------------------------

.pg-wrapper form,
.pg-wrapper .form {

    input,
    button,
    select,
    textarea {
        &:disabled {
            opacity: .4;
        }
    }

    button,
    button.el-button {
        border: 0;
        border-radius: 0;
        float: none;
        min-width: 90px;

        @include copy(14px, 30px, $normal);
        @include theme(background, el button background);
        @include theme(color, el button color);

        &:hover,
        &:active {
            @include theme(background, el button hover background);
            @include theme(color, el button hover color);
        }
    }

    label {
        color: $gray-8;
        display: block;

        @include font-size(13);
    }

    textarea,
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        background: $gray-1;
        border: 1px solid $gray-4;
        color: $gray-8;
        display: block;
        padding: 5px 8px;
        width: 100%;

        @include font-size(18);

        &.error {
            border: 2px solid $red-2;
            color: $red-2;
        }

        + label,
        + .inline,
        .inline + &,
        + button {
            margin-top: 1em;
        }
    }

    .form-error {
        color: $red-2;
    }

    .select {
        display: inline-block;
        position: relative;
        vertical-align: top;

        select {
            appearance: none;
            background: transparent;
            border: 1px solid $gray-4;
            border-radius: 0;
            color: $gray-8;
            display: inline-block;
            min-width: 100px;
            padding: .2rem 1.8rem .2rem .5rem;

            @include font-size(18);
        }

        &:after {
            color: $gray-6;
            position: absolute;
            right: .4rem;
            top: .6rem;

            @include icon($icon--arrow-down);
        }
    }

    .select + .select,
    button  + button {
        margin-left: 1em;
    }

    .inline     + .inline,
    .inline     + label,
    .form-group + label,
    .form-group + .form-group,
    .select     + label,
    .select     + button,
    .form-group + button,
    .inline     + button {
        margin-top: 1em;
    }

    @include breakpoint($col-8) {
        .inline {
            display: inline-block;
            margin-top: 1em;
            max-width: 48%;
            vertical-align: top;
        }

        .inline + .inline {
            margin-left: 3%;
        }
    }
}
