//
// layout
//
// file: loud/_layout.scss
//
// description:
// Common classes for implementing gridded layout
//
// -----------------------------------------------------------------------------

.l-container {
    padding: 0 $gutter-width / 2;
    @include clearfix;
    @include container;

    @include breakpoint ($col-14) {
        padding-left: 0;
        padding-right: 0;
    }
}
