//
// Locator maps classes
//
// file: loud/_maps.scss
//
// -----------------------------------------------------------------------------

%labelStyle {
    padding: 4px 8px;
    @include copy(16px, 16px, $light);
}

.el__leafmedia--map {
    clear: both;
    margin-bottom: 20px;
    position: relative;

    &:before {
        content: '';
        display: block;
    }
}

.el__locator-map-container {
    position: relative;

    &.active {
        visibility: visible;
    }

    &.inactive {
        visibility: hidden;
    }

    .el__locator-map {
        width: 100%;
        padding-bottom: 56.25%;

        & .callout {
            background: $red-2;
            color: $white;
            @extend %labelStyle;
        }

        & .default {
            background: $gray-10;
            color: $white;
            @extend %labelStyle;
        }

        & .labelOnly {
            background: transparent;
            color: $gray-10;
            @extend %labelStyle;
        }
    }

    .overlay-map {
        border: 2px solid $gray-10;
        height: 160px;
        position: absolute;
        width: 185px;

        // To hide the Google logo and watermark on the inset map.
        & .gm-style-cc, .gm-style > div:nth-child(2) {
            display: none;
        }
    }

    &[data-eq-state$="xsmall"] .overlay-map,
    &[data-eq-state$="small"] .overlay-map {
        display: none;
    }
}

.media__map--thumbnail {
    position: absolute;
    width: 100%;

    @include z-index($content-layer, content-masking);
}
