$cdnHost: "@@cdn.assetHost";

@media print {

    .zn-body__paragraph {
        font-size: 14px !important;
        line-height: 1.25 !important;
    }

    body {
        padding-top: 0 !important;
        width: 100%;
    }

    .pg-rail-tall__wrapper {
        padding: 0 !important;
    }

    .zn-story-bottom,
    .l-footer,
    .ad,
    .ad-epic,
    .el__leafmedia--featured-video-collection .owl-carousel,
    .pg-rail,
    .el__gallery .owl-filmstrip,
    .el__gallery--fullstandardwidth .owl-filmstrip,
    .nav-header,
    .m-share,
    .zn-leaf-footer-article-zone,
    .zn-large-media .el__leafmedia--featured-video-collection,
    .usr-msg,
    .sibling {
        display: none !important;
    }

    .el__embedded,
    .el__leafmedia {
        page-break-after: auto;
        page-break-before: auto;
        page-break-inside: avoid;
    }

    .el__leafmedia--instagram,
    .el__leafmedia--vine,
    .el__leafmedia--raw-html {
        height: auto !important;
        width: 50% !important;
        margin: 0 auto !important;

        iframe {
            max-height: 500px !important;
            width: 300px !important;
        }
    }

    h1.pg-headline:before {
        background: url("@@cdn.assetHost@@cdn.assetPath/@@baseVersion/assets/logo_cnn_badge_2up.png") no-repeat 0 0;
        background-size: 100% 100%;
        content: '';
        display: inline-block;
        height: 35px;
        margin-right: 10px;
        width: 35px;
    }
}
