//
// video global classes
//
// file: loud/_video-global.scss
//
// description:
// These are classes that must be global to prevent video CSS issues.  The
// classes that are currently in this file should be moved back into _video.scss
// when/if possible.
//
// -----------------------------------------------------------------------------

.el__video-collection__meta-wrapper {
    margin: 0 auto $gutter-width;
    overflow: hidden;

    .media__video-headline {
        margin-bottom: 15px;

        @include copy(32, 40, 300);

        html.mobile & {
            @include copy(28, 34, 300);
        }
    }

    .media__video-description {
        &.media__video-description--inline {
            @include copy(18, 30, 300);
            html.phone & {
                @include copy(16, 24, 300);
            }
        }
    }

    .video__metadata__source-name,
    .metadata__source-name {
        @include copy(18, 30, 300);
        html.phone & {
            @include copy(16, 24, 300);
        }
    }

    [data-meta="mobile-collection"] & {
        display: block;

        @include breakpoint($col-12) {
            display: none;
        }
    }

    &[data-meta="desktop-collection"] {
        display: none;

        @include breakpoint($col-12) {
            display: block;
        }
    }
}

.media__video-description {
    & p {
        margin: 15px 0;
    }

    &.media__video-description--inline {
        display: inline;
        margin-right: 5px;
    }

    @include copy(12px, 18px);
    @include theme(color, page metadata color);

    @include breakpoint($col-6, $col-12) {
        @include copy(14px, 20px);
    }

    @include breakpoint($col-12) {
        @include copy(16px, 22px);
    }
}

.pg-video .pg-rail-short .media__video-description {

    @include breakpoint($col-12) {
        line-height: 1.2;

        @include font-size(18);
    }
}

#one-tap-video {
    height: 100%;
    left: -624em;
    position: absolute;
    top: -642em;
    width: 100%;
}

.mobile-video-backdrop {
    background-color: #000000;
    display: none;
    height: 4000px;
    left: -500px;
    position: fixed;
    top: -500px;
    width: 4000px;

    @include z-index($overlay-layer, modal);

    &.active {
        display: block;
    }
}
