$green-theme-card: (
    title: (
        standard: (
            background-color: #6fb22e,
            color: $gray-1,
            hover: (
                background-color: #8cbb5b,
            )
        ),
        pg-rail: (
            background-color: #6fb22e,
            color: $gray-11,
            hover: (
                background-color: #8cbb5b,
            )
        )
    )
);
