{!
    usage: {>"views/cards/tool/ireport" /}
!}
{#cardContents}
    <script>
        jQuery(document).ready(function(){
            jQuery.ajax({
                type: 'GET',
                url: '{serviceUrl|s}',
                async: false,
                contentType: 'application/json',
                jsonpCallback: 'ireport',
                cache: true,
                dataType: 'jsonp',
                success: function(data) {
                    jQuery(document.getElementById('js-{$idx}-description-{topicId}')).text(data['{topicId}'].subhead);
                    
                    if(('{headlineText}').length == 0){
                    jQuery(document.getElementById('js-{$idx}-headlineText-{topicId}')).text(data['{topicId}'].title);
                    }
                },
                error: function(error, status) {
                    throw(error);
                }
            });
        });
    </script>

    <div class="el__ireport">
        {> "views/cards/card" $var-card-id="{topicId}"/}
    </div>
{/cardContents}
