{!
    usage: {>"views/cards/tool/mycnn-alerts" /}

    This card loads the mycnn javascript library needed for any of the mycnn tool cards
!}

<header>Alerts</header>

<p>Sign up to receive breaking news alerts from CNN!</p>

<h4>Email Alerts</h4>

<div id="mycnn-alerts-message" class="mycnn-alerts-ermsg"></div>

<div class="mycnn-alerts__emails form">

    <a href="#" id="mycnn-alerts-edit-email">Click here to edit your email address</a><br />
    {@eq key="{.isSubscribed}" value="true"}
        <button id="mycnn-alerts-unsubscribe-button" class="el-button">Unsubscribe</button>
    {:else}
        <button id="mycnn-alerts-sign-up-button" class="el-button">Sign up</button>
    {/eq}
</div>

<h4>Mobile Alerts</h4>

<div class="mycnn-alerts__images">
    <div class="mycnn-alert__image">
        <a href="https://play.google.com/store/apps/details?id=com.cnn.mobile.android.phone&amp;feature=search_result" target="_blank">
            <img class="mycnn-alerts__image" src="{config.cdn.chrome}/.element/img/3.0/mobile/google-play.png">
        </a>
    </div>
    <div class="mycnn-alert__image">
        <a href="https://itunes.apple.com/us/app/cnn-app-for-iphone/id331786748?mt=8" target="_blank">
            <img class="mycnn-alerts__image" src="{config.cdn.chrome{/.element/img/3.0/mobile/apple-app-store.png">
        </a>
    </div>
    <div class="mycnn-alert__image">
        <a href="http://apps.microsoft.com/windows/en-us/app/cnn-app-for-windows/ece35909-eded-4a0a-9a31-ca63e464be01" target="_blank">
            <img class="mycnn-alerts__image" src="{config.cdn.chrome}/.element/img/3.0/mobile/windows-app.png">
        </a>
    </div>
</div>

<p>Install CNN Mobile and enable push notifications to receive app alerts</p>

